<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo == 1">CREAR EMPRESA</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR EMPRESA</mat-card-title>
  <!--<nb-card-header *ngIf="idTipo == 3">Baja de Empresa</nb-card-header>-->
  <mat-card-content>
    <form [formGroup]="empresaForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1">
            <div class="form-group">

<!--              <label for="nombre">Nombre</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="letrasNumeros"-->
<!--                     placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!empresaForm.controls['nombre'].valid&&empresaForm.controls['nombre'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0;"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="letrasNumeros"
                       placeholder="NOMBRE" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!empresaForm.controls['nombre'].valid&&empresaForm.controls['nombre'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="descripcion">Descripción</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="letrasNumeros"-->
<!--                     placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!empresaForm.controls['descripcion'].valid&&empresaForm.controls['descripcion'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <textarea matInput type="text" class="form-control" style="padding: 0;"
                       formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="letrasNumeros"
                          placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
                <mat-hint *ngIf="!empresaForm.controls['descripcion'].valid&&empresaForm.controls['descripcion'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="idTipo == 2">
            <div class="form-group">
<!--              <label for="nombre">Nombre</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="letrasNumeros"-->
<!--                     placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!empresaForm.controls['nombre'].valid&&empresaForm.controls['nombre'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0;"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="letrasNumeros"
                       placeholder="NOMBRE" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!empresaForm.controls['nombre'].valid&&empresaForm.controls['nombre'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="descripcion">Descripción</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="letrasNumeros"-->
<!--                     placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!empresaForm.controls['descripcion'].valid&&empresaForm.controls['descripcion'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <textarea matInput type="text" class="form-control" style="padding: 0;"
                       formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="letrasNumeros"
                          placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
                <mat-hint *ngIf="!empresaForm.controls['descripcion'].valid&&empresaForm.controls['descripcion'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja la empresa</mat-hint>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button id="submit" mat-button *ngIf="idTipo == 1" (click)="guardarEmpresa()"
              [disabled]="!empresaForm.valid">Guardar
      </button>
      <button id="submit" mat-button *ngIf="idTipo == 2" (click)="updateEmprea()" [disabled]="!empresaForm.valid">
        Modificar
      </button>
      <!--<button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaEmpresa()">Dar de baja
      </button>-->
      <button id="submit" mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>
