<mat-card>
  <mat-card-title>
     DESACTIVAR  EQUIPO
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="desactivarEquipoForm">

      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <label for="estado"> Estado</label>
            <p-dropdown [options]="estadoInventario" formControlName="estado" placeholder="Seleccione Grupo"
                         id="estado"
                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>

          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <button nbButton  type="submit" (click)="EliminarEquipo()"
                  [disabled]="!desactivarEquipoForm.valid" class="btn-block">Guardar</button>
        </div>

      </div>
    </form>
  </mat-card-content>
</mat-card>
