<!--<div class="panel-header panel-header-sm"></div>-->
<!--<div class="main-content">-->
  <!--<div class="container-fluid">-->
    <!--<div class="row" style="padding-bottom: 25px;">-->
      <!--<div class="col">-->
        <!--<mat-toolbar color="primary">REPORTE PRODUCTIVIDAD</mat-toolbar>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-lg-2 col-md-12 col-sm-12">-->
        <!--<mat-card>-->
          <!--<mat-card-header>-->
            <!--<mat-card-title> SEDE </mat-card-title>-->
          <!--</mat-card-header>-->
          <!--<mat-card-content id="sede"></mat-card-content>-->
        <!--</mat-card>-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-12 col-sm-12">-->
        <!--<mat-card>-->
          <!--<mat-card-header>-->
            <!--<mat-card-title>  SUBAREA </mat-card-title>-->
          <!--</mat-card-header>-->
          <!--<mat-card-content id="campanas">-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->
      <!--</div>-->
      <!--<div class="col-lg-6 col-md-12 col-sm-12 ">-->
        <!--<mat-card>-->
          <!--<mat-card-header>-->
            <!--<div class="row">-->
              <!--<div class="col-lg-10 col-md-12 col-sm-12">-->
                <!--<mat-form-field>-->
                  <!--<mat-label>Filtrar</mat-label>-->
                  <!--<input matInput (keyup)="applyFilter($event.target.value)">-->
                  <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--</mat-form-field>-->
              <!--</div>-->
            <!--</div>-->
          <!--</mat-card-header>-->
          <!--<mat-card-content>-->
            <!--<div>-->
              <!--<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">-->
                <!--&lt;!&ndash; Position Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="poliza">-->
                  <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>POLIZA</th>-->
                  <!--<td mat-cell *matCellDef="let element">{{ element.nombre }}</td>-->
                <!--</ng-container>-->
                <!--<ng-container matColumnDef="nombre">-->
                  <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>-->
                  <!--<td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>-->
                <!--</ng-container>-->
                <!--<ng-container matColumnDef="tiempo">-->
                  <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>TIEMPO EN LA EMPRESA</th>-->
                  <!--<td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>-->
                <!--</ng-container>-->
                <!--<ng-container matColumnDef="PNE">-->
                  <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>PNE</th>-->
                  <!--<td mat-cell *matCellDef="let element">{{ element.subarea }}</td>-->
                <!--</ng-container>-->
                <!--<ng-container matColumnDef="PNA">-->
                  <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>PNA</th>-->
                  <!--<td mat-cell *matCellDef="let element">{{ element.subarea }}</td>-->
                <!--</ng-container>-->
                <!--<ng-container matColumnDef="PNC">-->
                  <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>PNC</th>-->
                  <!--<td mat-cell *matCellDef="let element">{{ element.subarea }}</td>-->
                <!--</ng-container>-->
                <!--<tr mat-header-row *matHeaderRowDef="cols"></tr>-->
                <!--<tr mat-row *matRowDef="let row; columns: cols"></tr>-->
              <!--</table>-->
              <!--<mat-paginator-->
                <!--[pageSizeOptions]="[5, 10, 20]"-->
                <!--showFirstLastButtons-->
              <!--&gt;</mat-paginator>-->
            <!--</div>-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->

