#filtros {
  width: 100%;
}

mat-form-field {
  width: 30%;
  margin-right: 2%;
}

mat-checkbox {
  margin: 2%;
  font-weight: bold;
}

button {
  float: right;
  display: inline-block;
  margin-right: 3%;
}

mat-card .button-input button {
  background-color: #354089;
  color: #fff;
}

mat-card .button-input button:hover {
  background: rgb(226, 28, 81);
  background: linear-gradient(90deg, rgba(226, 28, 81, 1) 0%, rgba(53, 64, 137, 1) 100%);
  transition: all 0.5s;
}

mat-datepicker-toggle {
  height: 100%;
}

.mat-column-select {
  overflow: initial;
}
.mat-table {
  width: 100%;
}

.mat-header-cell {
  color: #fff!important;
}

#filtro {
  width: 80%;
}

.calendarios {
  width: 20%;
}
