<mat-card>
  <mat-card-title>Control de llamadas </mat-card-title>
  <mat-card-content>
    <div id="filtros">
      <mat-form-field class = "calendarios">
        <input matInput [min] = "fechaMinima" [max] = fechaMaxima [matDatepicker]="fecha1" [(ngModel)] = "fechaInicio"
               (dateInput)="activarFechaFinal()" placeholder="Fecha inicial" disabled>
        <mat-datepicker-toggle matSuffix [for]="fecha1"></mat-datepicker-toggle>
        <mat-datepicker #fecha1 disabled = "false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class = "calendarios">
        <input matInput [min] = fechaMinima2 [max] = fechaMaxima [matDatepicker]="fecha2" [(ngModel)] = "fechaFin"
               placeholder="Fecha final" disabled>
        <mat-datepicker-toggle matSuffix [for]="fecha2"></mat-datepicker-toggle>
        <mat-datepicker #fecha2 [disabled] = "desactivarParametros" [startAt]="fechaMinima2"></mat-datepicker>
      </mat-form-field>

        <mat-form-field class = "calendarios">
          <input matInput placeholder="Número telefónico" maxlength="10" minlength="3" (input)="activaBoton()"
                 [formControl]="telefonoFormControl" [pKeyFilter]="numeros" [errorStateMatcher]="matcher">
          <mat-error>
            <a *ngIf="telefonoFormControl.hasError('required'); else telefonoInvalido">
              Este campo es <strong>obligatorio</strong>
            </a>
            <ng-template #telefonoInvalido>
              Ingresa un número de teléfono <strong>válido</strong>
            </ng-template>
          </mat-error>
        </mat-form-field>
      <mat-checkbox [(ngModel)]="acd" [disabled] = "desactivarParametros" (change)="activaBoton()">ACD</mat-checkbox>
      <mat-checkbox [(ngModel)]="manual" [disabled] = "desactivarParametros" (change)="activaBoton()">Manual</mat-checkbox>

      <button mat-raised-button name = "buscar"color="primary" [disabled]="!activarBotonBuscar" (click) = "getLlamadas()" class="button">
        {{textoBotonBuscar}}
      </button>
    </div>

    <div class="input">
      <mat-form-field id="filtro">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" class="button" (click)="abrirLink()"
              [disabled]="desactivarDescargarSeleccion">Descargar selección</button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class = "mat-elevation-z8">
      <ng-container matColumnDef="seleccion">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox #ref (change)="$event ? masterToggle(ref) : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null ;comprobacionDatos();"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </table>
    <mat-paginator [pageSize]="10" (page)="pageChange()" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
