<div class="row" *ngIf="idTipo === '1'">
  <div class="col-lg-12">
    <mat-card>
      <mat-card-header>
        <div class="title">
          <div class="text-title">ACTUALIZAR DATOS PERSONALES DEL EMPLEADO: {{precandidato.nombre + ' '+precandidato.apellidoPaterno + ' ' + precandidato.apellidoMaterno}}
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <h4 *ngIf="empleadoEliminado === true" class="btn-warning text-center">¡Atención este empleado ha sido Eliminado!</h4>
        <form [formGroup]="updateEmpleadoForm">
          <div class="campo">
            <div class="regresar" routerLink="/modulos/rrhh/empleados">
              <mat-icon >keyboard_arrow_left</mat-icon><span>REGRESAR</span>
            </div>
            <span style="color: #e21c51; opacity: 0;">Los campos con * son OBLIGATORIOS</span>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <span class="title-create">DATOS GENERALES</span>
                  <hr>


                  <mat-form-field>
                    <input matInput type="text" class="form-control"
                           formControlName="nombre" oninput="this.value = this.value.toUpperCase()"
                           maxlength="50" [pKeyFilter]="puntoLetras"
                           placeholder="NOMBRE" id="nombre"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['nombre'].valid&&updateEmpleadoForm.controls['nombre'].dirty">
                      Ingresa un Nombre valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text" pKeyFilter="alpha" class="form-control"
                           formControlName="apellidoPaterno"
                           oninput="this.value = this.value.toUpperCase()" maxlength="50"
                           [pKeyFilter]="soloLetras"
                           placeholder="APELLIDO PATERNO" id="apellidoPaterno"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['apellidoPaterno'].valid&&updateEmpleadoForm.controls['apellidoPaterno'].dirty">
                      Ingresa un Apellido Paterno valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text" pKeyFilter="alpha" class="form-control"
                           formControlName="apellidoMaterno"
                           oninput="this.value = this.value.toUpperCase()" maxlength="50"
                           [pKeyFilter]="soloLetras"
                           placeholder="APELLIDO MATERNO" id="apellidoMaterno"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['apellidoMaterno'].valid&&updateEmpleadoForm.controls['apellidoMaterno'].dirty">
                      Ingresa un Apellido Materno valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text" id="curp" class="form-control" formControlName="curp"
                           placeholder="CURP" maxlength="18"
                           minlength="18" oninput="this.value = this.value.toUpperCase()"
                           onDrop="return false" onPaste="return false" autocomplete="off">
                    <mat-hint text="Se requiere un Curp Correcto"
                              *ngIf="!updateEmpleadoForm.controls['curp'].valid&&updateEmpleadoForm.controls['curp'].dirty">
                      Ingresa un CURP valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <mat-label>GÉNERO</mat-label>
                    <mat-select formControlName="genero" id="genero">
                      <mat-option *ngFor="let g of genero" [value]="g.value">
                        {{g.label}}
                      </mat-option>
                    </mat-select>
                    <mat-hint text="Se requiere llenar el campo" *ngIf="!updateEmpleadoForm.controls['genero'].valid&&
                              updateEmpleadoForm.controls['genero'].dirty"></mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="email" formControlName="email" class="form-control"
                           oninput="this.value = this.value.toUpperCase()"
                           id="correo" placeholder="CORREO ELECTRÓNICO"/>
                    <mat-hint text="Se requiere llenar el campo correctamente"
                              *ngIf="!updateEmpleadoForm.controls['email'].valid&&updateEmpleadoForm.controls['email'].dirty">
                      Ingresa un Correo Electronico valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="FECHA DE NACIMIENTO" formControlName="fechaNacimiento"
                           max="2002-01-01"
                           id="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2 ></mat-datepicker>
                    <mat-hint *ngIf="!updateEmpleadoForm.controls['fechaNacimiento'].valid&&updateEmpleadoForm.controls['fechaNacimiento'].dirty">
                      Ingresa una Fecha de Nacimiento valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <mat-label>PAÍS DE ORIGEN</mat-label>
                    <mat-select formControlName="idPais" id="paisOrigen">
                      <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id">
                        {{pais.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-hint text="Se requiere llenar el campo" *ngIf="!updateEmpleadoForm.controls['idPais'].valid&&updateEmpleadoForm.controls['idPais'].dirty">
                      Ingresa un Pais de Origen valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <mat-label>ESTADO CIVIL</mat-label>
                    <mat-select formControlName="idEstadoCivil" id="estadoCivil">
                      <mat-option *ngFor="let civil of estadoCivil" [value]="civil.id">
                        {{ civil.descripcion }}
                      </mat-option>
                    </mat-select>
                    <mat-hint text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['idEstadoCivil'].valid&&updateEmpleadoForm.controls['idEstadoCivil'].dirty">
                    </mat-hint>
                  </mat-form-field>
                </div>


                <div class="form-group">

                  <mat-form-field>
                    <mat-label>GRADO DE ESCOLARIDAD</mat-label>
                    <mat-select formControlName="idEscolaridad" id="gradoEscolaridad">
                      <mat-option *ngFor="let es of escolaridad" [value]="es.id">
                        {{ es.nivel }}
                      </mat-option>
                    </mat-select>
                    <mat-hint status="danger" text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['idEscolaridad'].valid&&updateEmpleadoForm.controls['idEscolaridad'].dirty">
                      Se requiere llenar el campo
                    </mat-hint>
                  </mat-form-field>
                </div>


                <div class="form-group">

                <mat-form-field>
                  <mat-label>ESTADO DE ESCOLARIDAD</mat-label>
                  <mat-select formControlName="idEstadoEscolaridad" id="estadoEscolaridad">
                    <mat-option *ngFor="let estado of estadoEscolar" [value]="estado.id">
                      {{ estado.estado }}
                    </mat-option>
                  </mat-select>
                  <mat-hint text="Se requiere llenar el campo"
                            *ngIf="!updateEmpleadoForm.controls['idEstadoEscolaridad'].valid&&updateEmpleadoForm.controls['idEstadoEscolaridad'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
            </div>
            </div>

            <div class="col-md-6"> <!-- Segunda Columna -->
              <div *ngIf="idTipo === '1'">
                <div class="form-group">
                  <span class="title-create">TRASLADO</span>
                  <hr>

                  <mat-form-field>
                    <input matInput type="text" formControlName="calle" class="form-control"
                           oninput="this.value = this.value.toUpperCase()" maxlength="50"
                           [pKeyFilter]="letrasNumeros"
                           placeholder="CALLE" id="calle"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['calle'].valid&&updateEmpleadoForm.controls['calle'].dirty">
                      Ingresa una Calle valida
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text" formControlName="numeroInterior" class="form-control"
                           oninput="this.value = this.value.toUpperCase()" maxlength="20"
                           id="numeroInterior"
                           placeholder="NÚMERO INTERIOR" [pKeyFilter]="numero"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint status="danger" text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['numeroInterior'].valid&&updateEmpleadoForm.controls['numeroInterior'].dirty">
                      Ingresa un Numero valido
                    </mat-hint>
                  </mat-form-field>
                </div>


                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text" formControlName="numeroExterior"
                           placeholder="NÚMERO EXTERIOR" id="numeroExterior" class="form-control"
                           oninput="this.value = this.value.toUpperCase()" maxlength="10" [pKeyFilter]="numero"
                           onDrop="return false" onPaste="return false" autocomplete="off">
                    <mat-hint status="danger" text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['numeroExterior'].valid&&updateEmpleadoForm.controls['numeroExterior'].dirty">
                      Ingresa un Numero valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text" pKeyFilter="num" class="form-control" id="codigoPostal"
                           formControlName="cp" placeholder="00000" maxlength="5" minlength="5"
                           (keyup)="getColonias($event.target.value)" placeholder="CÓDIGO POSTAL"
                           onDrop="return false" onPaste="return false" autocomplete="off">
                    <mat-hint status="danger" text="Se requieren 5 dígitos"
                              *ngIf="mostrar">Ingresa un Codigo Postal valido</mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <mat-label>COLONIA</mat-label>
                    <mat-select formControlName="colonia" id="colonia">
                      <mat-option *ngFor="let colonia of colonias" [value]="colonia.value">
                        {{colonia.label}}
                      </mat-option>
                    </mat-select>
                    <mat-hint text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['genero'].valid&&updateEmpleadoForm.controls['genero'].dirty">
                      Ingresa un Codigo Postal valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text" id="telefonoFijo" placeholder="TELÉFONO FIJO" minlength="10" maxlength="10"
                           class="form-control"
                           formControlName="telefonoFijo" [pKeyFilter]="numero"
                           onDrop="return false" onPaste="return false" autocomplete="off">
                    <mat-hint text="Se requiere 10 digitos"
                              *ngIf="!updateEmpleadoForm.controls['telefonoFijo'].valid&&updateEmpleadoForm.controls['telefonoFijo'].dirty">
                      Ingresa un Telefono Fijo valido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text" class="form-control"
                           formControlName="telefonoMovil" [pKeyFilter]="numero"
                           placeholder="TELÉFONO MÓVIL" id="telefonoMovil" minlength="10" maxlength="10"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint text="Se requiere 10 digitos"
                              *ngIf="!updateEmpleadoForm.controls['telefonoMovil'].valid&&updateEmpleadoForm.controls['telefonoMovil'].dirty">
                      Ingresa un Telefono Móvil válido
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">

                    <mat-form-field>
                      <mat-label>TIEMPO DE TRASLADO</mat-label>
                      <mat-select formControlName="tiempoTraslado" id="tiempoTraslado">
                        <mat-option *ngFor="let tiempo of tiempoLlegada" [value]="tiempo.value">
                          {{tiempo.label}}
                        </mat-option>
                      </mat-select>
                      <mat-hint text="Se requiere llenar el campo"
                                *ngIf="!updateEmpleadoForm.controls['tiempoTraslado'].valid&&updateEmpleadoForm.controls['tiempoTraslado'].dirty">
                        Ingresa un Tiempo de Traslado valido
                      </mat-hint>
                    </mat-form-field>

                </div>

                <div class="form-group">
<!--                  <label for="medioTraslado">Medio de Traslado<span style="color: #0bbb79;">*</span></label>-->
<!--                  <p-dropdown [options]="medio" formControlName="idMedioTraslado"-->
<!--                              placeholder="Seleccione un Medio de Traslado"-->
<!--                              (onChange)="getLineas($event.value)" id="medioTraslado"-->
<!--                              [style]="{'width':'100%'}"></p-dropdown>-->
<!--                  <nb-alert status="danger" text="Se requiere llenar el campo"-->
<!--                            *ngIf="!updateEmpleadoForm.controls['idMedioTraslado'].valid&&updateEmpleadoForm.controls['idMedioTraslado'].dirty">-->
<!--                    Ingresa un Medio de Traslado valido-->
<!--                  </nb-alert>-->
                  <mat-form-field>
                    <mat-label>MEDIO DE TRASLADO</mat-label>
                    <mat-select formControlName="idMedioTraslado" id="medioTraslado" (selectionChange)="getLineas($event.value)">
                      <mat-option *ngFor="let medio of medioTransporte" [value]="medio.id">
                        {{medio.medio}}
                      </mat-option>
                    </mat-select>
                    <mat-hint text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['idMedioTraslado'].valid&&updateEmpleadoForm.controls['idMedioTraslado'].dirty">
                      Ingresa un Medio de Traslado valido
                    </mat-hint>
                  </mat-form-field>
                </div>


                <div class="form-group"
                     *ngIf="updateEmpleadoForm.value.idMedioTraslado == 1 || updateEmpleadoForm.value.idMedioTraslado == 2">
<!--                  <label for="lineaMetro">Linea del Metro</label>-->
<!--                  <p-dropdown #lineaDropdown [options]="lineas" formControlName="lineaMetro"-->
<!--                              placeholder="Seleccione una Linea"-->
<!--                              id="lineaMetro" (onChange)="getEstaciones($event.value)"-->
<!--                              [style]="{'width':'100%'}"></p-dropdown>-->
<!--                  <nb-alert status="danger" text="Se requiere llenar el campo"-->
<!--                            *ngIf="!updateEmpleadoForm.controls['lineaMetro'].valid&&updateEmpleadoForm.controls['lineaMetro'].dirty">-->
<!--                    Ingresa un Linea de Metro valido-->
<!--                  </nb-alert>-->

                  <mat-form-field>
                    <mat-label>LINEA DEL METRO</mat-label>
                    <mat-select formControlName="lineaMetro" id="lineaMetro" (selectionChange)="getEstaciones($event.value)" #lineaDropdown>
                      <mat-option *ngFor="let line of lineas" [value]="line.label" >
                        {{line.label}}
                      </mat-option>
                    </mat-select>
                    <mat-hint  text="Se requiere llenar el campo"
                              *ngIf="!updateEmpleadoForm.controls['lineaMetro'].valid&&updateEmpleadoForm.controls['lineaMetro'].dirty">
                      Ingresa un Linea de Metro valido
                    </mat-hint>
                  </mat-form-field>
                </div>


                <div class="form-group"
                     *ngIf="updateEmpleadoForm.value.idMedioTraslado == 1 || updateEmpleadoForm.value.idMedioTraslado == 2">
<!--                  <label for="estaciones">Estación</label>-->
<!--                  <p-dropdown #estacionesDropdown [options]="estaciones" formControlName="idEstacion" id="estaciones"-->
<!--                              placeholder="Seleccione una Estacion"-->
<!--                              [style]="{'width':'100%'}"></p-dropdown>-->

                  <mat-form-field>
                    <mat-label>ESTACIÓN</mat-label>
                    <mat-select formControlName="idEstacion" id="estaciones">
                      <mat-option *ngFor="let estacion of estaciones" [value]="estacion.value">
                        {{estacion.label}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="form-group justify-content-center" style="text-align: center;" *ngIf="idTipo === '1'">
          <!--<button nbButton type="submit" class="btn-block" (click)="saveFoto()">-->
          <!--Actualizar foto-->
          <!--</button>-->
          <button mat-button type="submit" style="width: 20%;margin-bottom: 4%; " id="submit"
                  [disabled]="!updateEmpleadoForm.valid || inactivo === true" class="btn-block"
                  (click)="saveDatosEmpleadosPersonales()">Actualizar datos personales
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>








<div class="row" *ngIf="idTipo === '0'">
  <div class="col-lg-12">
    <mat-card>
      <mat-card-header>
        <div class="title">
          <div class = "titulo-foto">
            <div class="text-title">
              ACTUALIZAR DATOS EMPRESARIALES DEL EMPLEADO: {{precandidato.nombre}} {{precandidato.apellidoPaterno}} {{precandidato.apellidoMaterno}}
            </div>

            <div class="foto">
              <ng-container *ngIf="!fotoDisponible; then mensaje; else foto"></ng-container>
              <ng-template #mensaje >
                <span style="color: white;">Foto no disponible</span>
              </ng-template>
              <ng-template #foto>
                <img [src]="fotoEmpleado" class="imgRedonda"/>
              </ng-template>
            </div>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <h4 *ngIf="empleadoEliminado === true" class="btn-warning text-center">¡Atención este empleado ha sido Eliminado!</h4>
<!--        <span style="font-weight: bold; font-size: 12px;">LOS CAMPOS CON <strong style="font-size: 17px; color: #0bbb79;">*</strong> SON OBLIGATORIOS</span><br><br>-->
        <form [formGroup]="updateDatosEmpresariaes">
          <div class="campo">
            <div class="regresar" routerLink="/modulos/rrhh/empleados">
              <mat-icon >keyboard_arrow_left</mat-icon><span>REGRESAR</span>
            </div>
            <span style="color: #e21c51; opacity: 0;">Los campos con * son OBLIGATORIOS</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
<!--                <label>Fecha de ingreso<span style="color: #0bbb79;">*</span></label>-->
<!--                <input pInputText type="date" formControlName="fechaIngreso" class="form-control" id="fechaIngreso"/>-->
<!--                <nb-alert status="danger" text="Se requiere llenar el campo"-->
<!--                          *ngIf="!updateDatosEmpresariaes.controls['fechaIngreso'].valid&&updateDatosEmpresariaes.controls['fechaIngreso'].dirty">-->
<!--                  Ingresa una Fecha de Ingreso valida-->
<!--                </nb-alert>-->

                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="FECHA DE INGRESO" formControlName="fechaIngreso"
                         id="fechaIngreso">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-hint *ngIf="!updateDatosEmpresariaes.controls['fechaIngreso'].valid&&updateDatosEmpresariaes.controls['fechaIngreso'].dirty">
                    Ingresa una Fecha de Ingreso valida
                  </mat-hint>
                </mat-form-field>

              </div>

              <div class="form-group">
<!--                <label for="idBanco">Banco<span style="color: #0bbb79;">*</span></label>-->
<!--                <p-dropdown [options]="banco" formControlName="idBanco" placeholder="banco"-->
<!--                            id="idBanco" [style]="{'width':'100%'}"></p-dropdown>-->
                <mat-form-field>
                  <mat-label>BANCO</mat-label>
                  <mat-select formControlName="idBanco" id="idBanco">
                    <mat-option *ngFor="let banco of bancos" [value]="banco.id">
                      {{banco.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group">
<!--                <label for="ctaClabe">Cuenta CLABE<span style="color: #0bbb79;">*</span></label>-->
<!--                <input pInputText type="text" class="form-control"-->
<!--                       placeholder="Se requieren de 10 digitos" id="ctaClabe" minlength="10"-->
<!--                       formControlName="ctaClabe" maxlength="10" pKeyFilter="num"-->
<!--                       onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--                <nb-alert status="danger" text="Se requiere de 16 a 18 digitos"-->
<!--                          *ngIf="!updateDatosEmpresariaes.controls['ctaClabe'].valid&&updateDatosEmpresariaes.controls['ctaClabe'].dirty">-->
<!--                  Ingresa una cuenta Clabe valida-->
<!--                </nb-alert>-->
                <mat-form-field>
                  <input matInput type="text" class="form-control"
                         placeholder="CUENTA CLABE" id="ctaClabe" formControlName="ctaClabe" pKeyFilter="num"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint text="Se requiere de 16 a 18 digitos"
                            *ngIf="!updateDatosEmpresariaes.controls['ctaClabe'].valid&&updateDatosEmpresariaes.controls['ctaClabe'].dirty">
                    Ingresa una cuenta Clabe valida
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="TARJETA SECUNDARIA" class="form-control" formControlName="tarjetaSecundaria"
                         oninput="this.value = this.value.toUpperCase()" maxlength="16" pKeyFilter="num"
                         id="tarjetaSecundaria" onDrop="return false" onPaste="return false" autocomplete="off">
                  <mat-hint *ngIf="!updateDatosEmpresariaes.controls['tarjetaSecundaria'].valid&&updateDatosEmpresariaes.controls['tarjetaSecundaria'].dirty">
                    Los digitos deben ser 16</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
<!--                <label for="puestoDetalle">Detalle del Puesto<span style="color: #0bbb79;">*</span></label>-->
<!--                <input pInputText type="text" class="form-control"-->
<!--                       formControlName="puestoDetalle" oninput="this.value = this.value.toUpperCase()" maxlength="40" [pKeyFilter]="soloLetras"-->
<!--                       placeholder="Campo Obligatorio" id="puestoDetalle"-->
<!--                       onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--                <nb-alert status="danger" text="Se requiere llenar el campo"-->
<!--                          *ngIf="!updateDatosEmpresariaes.controls['puestoDetalle'].valid&&updateDatosEmpresariaes.controls['puestoDetalle'].dirty">-->
<!--                  Ingresa un Detalle de Puesto valido-->
<!--                </nb-alert>-->
                <mat-form-field>
                  <input matInput type="text" class="form-control"
                         formControlName="puestoDetalle" oninput="this.value = this.value.toUpperCase()" maxlength="40" [pKeyFilter]="soloLetras"
                         placeholder="DETALLE DEL PUESTO" id="puestoDetalle"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint text="Se requiere llenar el campo"
                            *ngIf="!updateDatosEmpresariaes.controls['puestoDetalle'].valid&&updateDatosEmpresariaes.controls['puestoDetalle'].dirty">
                    Ingresa un Detalle de Puesto valido
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
<!--                <label for="idGrupo">Grupo Empresarial (1)</label>-->
<!--                <p-dropdown [options]="grupo" formControlName="idGrupo" placeholder="Seleccione Grupo"-->
<!--                            (onChange)="getEmpresa($event.value)" id="idGrupo"-->
<!--                            [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--                <nb-alert status="danger" *ngIf="mostrarGrupo">Agrega una opcion desde su catálogo</nb-alert>-->

                <mat-form-field>
                  <mat-label>GRUPO EMPRESARIAL (1)</mat-label>
                  <mat-select formControlName="idGrupo" id="idGrupo" (selectionChange)="getEmpresa($event.value)">
                    <mat-option *ngFor="let grupo of Grupos" [value]="grupo.id">
                      {{grupo.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarGrupo">Agrega una opcion desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
<!--                <label for="idEmpresa">Empresa (2)</label>-->
<!--                <p-dropdown [options]="empresa" formControlName="idEmpresa" placeholder="Seleccione Empresa"-->
<!--                            id="idEmpresa" (onChange)="getSedes($event.value)"-->
<!--                            [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--                <nb-alert status="danger" *ngIf="mostrarEmpresa">Agrega una opcion desde su catálogo</nb-alert>-->

                <mat-form-field>
                  <mat-label>EMPRESA (2)</mat-label>
                  <mat-select formControlName="idEmpresa"  id="idEmpresa" (selectionChange)="getSedes($event.value)">
                    <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
                      {{empresa.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarEmpresa">Agrega una opcion desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <mat-label>SEDE (3)</mat-label>
                  <mat-select formControlName="idSede" id="idSede" (selectionChange)="getArea($event.value)">
                    <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                      {{sede.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
                </mat-form-field>
              </div>
              <!--<div class="form-group">-->
                <!--<mat-form-field>-->
                  <!--<mat-label>MARCA EMPRESARIAL</mat-label>-->
                  <!--<mat-select formControlName="idMarcaEmpresarial" id="idMarcaEmpresarial" (selectionChange)="getArea($event.value)">-->
                    <!--<mat-option *ngFor="let datos of marcaEmpresarial" [value]="datos.id">-->
                      <!--{{datos.marca}}-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                  <!--<mat-hint *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>-->
                <!--</mat-form-field>-->
              <!--</div>-->

              <div class="form-group">
                <mat-form-field>
                  <mat-label>AREA (4)</mat-label>
                  <mat-select formControlName="idArea" id="idArea" (selectionChange)="getSubarea($event.value)">
                    <mat-option *ngFor="let area of areas" [value]="area.id">
                      {{area.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarArea">Agrega una opcion desde su catálogo</mat-hint>
                </mat-form-field>
              </div>


              <div class="form-group">
<!--                <label for="idSubarea">Subarea (5)</label>-->
<!--                <p-dropdown [options]="subarea" formControlName="idSubarea" placeholder="Seleccione subarea" (onChange)="getPuesto($event.value)"-->
<!--                            id="idSubarea" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--                <nb-alert status="danger" *ngIf="mostrarSubarea">Agrega una opcion desde su catálogo</nb-alert>-->

                <mat-form-field>
                  <mat-label>SUBAREA (5)</mat-label>
                  <mat-select formControlName="idSubarea" id="idSubarea" (selectionChange)="getPuesto($event.value)">
                    <mat-option *ngFor="let sub of subareas" [value]="sub.id">
                      {{sub.subarea}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarSubarea">Agrega una opcion desde su catálogo</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group">
                <!--                <label for="idPuesto">Puesto (6)</label>-->
                <!--                <p-dropdown [options]="puesto" formControlName="idPuesto" placeholder="Seleccione puesto"-->
                <!--                            id="idPuesto" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
                <mat-form-field>
                  <mat-label>PUESTO (6)</mat-label>
                  <mat-select formControlName="idPuesto" id="idPuesto">
                    <mat-option *ngFor="let puesto of puestos" [value]="puesto.id">
                      {{puesto.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-6"> <!-- Segunda Columna -->

              <div class="form-group">
<!--                <label for="idTipoPuesto">Tipo Puesto (7)</label>-->
<!--                <p-dropdown [options]="tipoPuesto" formControlName="idTipoPuesto" placeholder="Seleccione Tipo Puesto"-->
<!--                            id="idTipoPuesto" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
                <mat-form-field>
                  <mat-label>TIPO PUESTO (7)</mat-label>
                  <mat-select formControlName="idTipoPuesto" id="idTipoPuesto">
                    <mat-option *ngFor="let puesto of puestoTipo" [value]="puesto.id">
                      {{puesto.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <mat-label>TURNO</mat-label>
                  <mat-select formControlName="idTurnoEmpleado" id="idTurno">
                    <mat-option *ngFor="let turno of Turnos" [value]="turno.id">
                      {{turno.turno}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarPuesto">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <mat-label>HORARIO</mat-label>
                  <mat-select formControlName="horario" id="idHorario">
                    <mat-option *ngFor="let turno of Turnos" [value]="turno.id">
                      {{turno.horario}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarPuesto">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
<!--                <label for="imss">IMSS (NSS)</label>-->
<!--                <input type="text" formControlName="imss" id="imss" class="form-control"-->
<!--                       maxlength="11" minlength="11" [pKeyFilter]="letrasNumeros" oninput="this.value = this.value.toUpperCase()"-->
<!--                       onDrop="return false" onPaste="return false" autocomplete="off">-->
<!--                <nb-alert status="danger" text="Se requiere once digitos"-->
<!--                       *ngIf="!updateDatosEmpresariaes.controls['imss'].valid&&updateDatosEmpresariaes.controls['imss'].dirty">-->
<!--                       Ingresa un NSS valido-->
<!--                </nb-alert>-->

                <mat-form-field >
                  <input matInput type="text" formControlName="imss" id="imss" class="form-control" placeholder="IMSS (NSS)"
                         maxlength="11" minlength="11" [pKeyFilter]="letrasNumeros" oninput="this.value = this.value.toUpperCase()"
                         onDrop="return false" onPaste="return false" autocomplete="off">
                  <mat-hint text="Se requiere once digitos"
                            *ngIf="!updateDatosEmpresariaes.controls['imss'].valid&&updateDatosEmpresariaes.controls['imss'].dirty">
                    Ingresa un NSS valido
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" id="rfc" formControlName="rfc" class="form-control" oninput="this.value = this.value.toUpperCase()"
                         minlength="13" maxlength="13" [pKeyFilter]="letrasNumeros" placeholder="RFC"
                         onDrop="return false" onPaste="return false" autocomplete="off">
                  <mat-hint text="Se requiere un RFC correcto"
                            *ngIf="!updateDatosEmpresariaes.controls['rfc'].valid&&updateDatosEmpresariaes.controls['rfc'].dirty">
                    Ingresa un RFC Valido
                  </mat-hint>
                </mat-form-field>
              </div>

                <div class="form-group">
                  <mat-form-field>
                    <input matInput type="text" class="form-control" pKeyFilter="num"
                           formControlName="sueldoDiario" maxlength="7"
                           placeholder="SUELDO DIARIO" id="sueldoDiario"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint text="El monto tiene que ser menor a 5,0000"
                              *ngIf="!updateDatosEmpresariaes.controls['sueldoDiario'].valid&&updateDatosEmpresariaes.controls['sueldoDiario'].dirty">
                      Ingresa un sueldo diario
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">
<!--                  <label for="sueldoMensual">Sueldo Mensual</label>-->
<!--                  <input pInputText type="text" class="form-control" pKeyFilter="num"-->
<!--                         formControlName="sueldoMensual" maxlength="7"-->
<!--                         placeholder="Campo Obligatorio" id="sueldoMensual"-->
<!--                         onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--                  <nb-alert status="danger" text="El monto tiene que ser mayor a 2600"-->
<!--                            *ngIf="!updateDatosEmpresariaes.controls['sueldoMensual'].valid&&updateDatosEmpresariaes.controls['sueldoMensual'].dirty">-->
<!--                    Ingresa un sueldo Mensual-->
<!--                  </nb-alert>-->

                  <mat-form-field>
                    <input matInput type="text" class="form-control" pKeyFilter="num"
                           formControlName="sueldoMensual" maxlength="7"
                           placeholder="SUELDO MENSUAL" id="sueldoMensual"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint text="El monto tiene que ser mayor a 2600"
                              *ngIf="!updateDatosEmpresariaes.controls['sueldoMensual'].valid&&updateDatosEmpresariaes.controls['sueldoMensual'].dirty">
                      Ingresa un sueldo Mensual
                    </mat-hint>
                  </mat-form-field>
                </div>

                <div class="form-group">
<!--                  <label for="kpiMensual">KPI mensual<span style="color: #0bbb79;">*</span></label>-->
<!--                  <input pInputText type="text"  class="form-control"-->
<!--                         formControlName="kpiMensual"  maxlength="50" pKeyFilter="num"-->
<!--                         placeholder="Campo Obligatorio" id="kpiMensual" [maxlength]="5"-->
<!--                         onDrop="return false" onPaste="return false" autocomplete="off"/>-->
                  <!--<nb-alert status="danger" *ngIf="!empleadoForm.controls['kpiMensual'].valid&&empleadoForm.controls['kpiMensual'].dirty">-->
                    <!--Se requiere un monto menor a 10000</nb-alert>-->
                  <mat-form-field>
                    <input matInput type="text"  class="form-control"
                           formControlName="kpiMensual"  maxlength="5" pKeyFilter="num"
                           placeholder="KPI MENSUAL" id="kpiMensual"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                  </mat-form-field>
                </div>

                <div class="form-group">
<!--                  <label for="kpiTrimestral">KPI trimestral<span style="color: #0bbb79;">*</span></label>-->
<!--                  <input pInputText type="text"  class="form-control"-->
<!--                         formControlName="kpiTrimestral"  maxlength="50" pKeyFilter="num"-->
<!--                         placeholder="Campo Obligatorio" id="kpiTrimestral" [maxlength]="5"-->
<!--                         onDrop="return false" onPaste="return false" autocomplete="off"/>-->
                  <!--<nb-alert status="danger" *ngIf="!empleadoForm.controls['kpiTrimestral'].valid&&empleadoForm.controls['kpiTrimestral'].dirty">-->
                    <!--Se requiere un monto menor a 10000</nb-alert>-->
                  <mat-form-field>
                    <input matInput type="text"  class="form-control"
                           formControlName="kpiTrimestral"  maxlength="5" pKeyFilter="num"
                           placeholder="KPI TRIMESTRAL" id="kpiTrimestral" [maxlength]="5"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                  </mat-form-field>
                </div>

                <div class="form-group">
<!--                  <label for="kpiSemestral">KPI semestral<span style="color: #0bbb79;">*</span></label>-->
<!--                  <input pInputText type="text"  class="form-control"-->
<!--                         formControlName="kpiSemestral"  maxlength="50" pKeyFilter="num"-->
<!--                         placeholder="Campo Obligatorio" id="kpiSemestral" [maxlength]="5"-->
<!--                         onDrop="return false" onPaste="return false" autocomplete="off"/>-->
                  <!--<nb-alert status="danger" *ngIf="!empleadoForm.controls['kpiSemestral'].valid&&empleadoForm.controls['kpiSemestral'].dirty">-->
                    <!--Se requiere un monto menor a 10000</nb-alert>-->
                  <mat-form-field>
                    <input matInput type="text"  class="form-control"
                           formControlName="kpiSemestral"  maxlength="50" pKeyFilter="num"
                           placeholder="KPI SEMESTRAL" id="kpiSemestral" [maxlength]="5"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                  </mat-form-field>
                </div>

              </div>
            </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="actions">
          <button id="submit" mat-button (click)="activarCamara()" class="btn-block">Tomar nueva foto</button>
          <button id="submit" mat-button [disabled]="!updateDatosEmpresariaes.valid || inactivo === true" class="btn-block" (click)="update()">Actualizar datos
            empresariales
          </button>
        </div>

      </mat-card-actions>
    </mat-card>
  </div>
</div>

<p-dialog header="Captura la fotografía del empleado" [(visible)]="ventanaFoto" [modal]="true" [responsive]="true" [closable]="false"
          [width]="800" [minY]="70">
    <div style="text-align: center;">
      <video style="border: 1px solid black;"
             title="Web Cam"
             #video autoplay style="display:none;"></video>
      <canvas
        style="border: 1px solid black;
          margin-left: 5%;"
        title="Web Cam"
        #canvasVideo></canvas>
      <canvas
        style="border: 1px solid black;
          margin-left: 5%;"
        title="Foto Tomada"
        #canvas></canvas>
    </div>
  <p-footer>
    <button nbButton   type="submit" (click)="cancelarFoto()">Cancelar</button>
    <button nbButton   type="submit" (click)="tomarFoto()">Tomar foto</button>
    <button nbButton   type="submit" (click)="guardarFoto()" [disabled]="!fotoTomada">Guardar</button>
  </p-footer>
</p-dialog>


<!--<div class="form-group">-->
<!--<label for="idPuesto">Puesto</label>-->
<!--<p-dropdown [options]="puest" formControlName="idPuesto" placeholder="Puesto"-->
<!--id="idPuesto" [style]="{'width':'100%'}"></p-dropdown>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="idPuestotipo">Tipo de Puesto</label>-->
<!--<p-dropdown [options]="puestotipo" formControlName="idPuestoTipo" placeholder=" Puesto tipo"-->
<!--id="idPuestoTipo" [style]="{'width':'100%'}"></p-dropdown>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="idBanco">Banco</label>-->
<!--<p-dropdown [options]="banco" formControlName="idBanco" placeholder="banco"-->
<!--id="idBanco" [style]="{'width':'100%'}"></p-dropdown>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="ctaClabe">Cuenta CLABE</label>-->
<!--<input pInputText type="text"  class="form-control"-->
<!--placeholder="Se requieren de 16 a 18 digitos" id="ctaClabe" minlength="16"-->
<!--formControlName="ctaClabe"  maxlength="18" pKeyFilter="num"-->
<!--onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--<nb-alert status="danger" text="Se requiere de 16 a 18 digitos"-->
<!--*ngIf="!updateEmpleadoForm.controls['ctaClabe'].valid&&updateEmpleadoForm.controls['ctaClabe'].dirty"></nb-alert>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="puestoDetalle">Detalle del Puesto</label>-->
<!--<input pInputText type="text"  class="form-control"-->
<!--formControlName="puestoDetalle" oninput="this.value = this.value.toUpperCase()" maxlength="40" [pKeyFilter]="soloLetras"-->
<!--placeholder="Campo Obligatorio" id="puestoDetalle"-->
<!--onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--<nb-alert status="danger" text="Se requiere llenar el campo"-->
<!--*ngIf="!updateEmpleadoForm.controls['puestoDetalle'].valid&&updateEmpleadoForm.controls['puestoDetalle'].dirty"></nb-alert>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="idSubarea">Campaña</label>-->
<!--<p-dropdown [options]="subarea" formControlName="idSubarea" placeholder="Subarea"-->
<!--id="idSubarea" [style]="{'width':'100%'}"></p-dropdown>-->
<!--<nb-alert status="danger" text="Se requiere llenar el campo"-->
<!--*ngIf="!updateEmpleadoForm.controls['idSubarea'].valid&&updateEmpleadoForm.controls['idSubarea'].dirty"></nb-alert>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="idEmpresa">Empresa</label>-->
<!--<p-dropdown [options]="empres" formControlName="idEmpresa" placeholder="idEmpresa"-->
<!--id="idEmpresa" [style]="{'width':'100%'}"></p-dropdown>-->
<!--<nb-alert status="danger" text="Se requiere llenar el campo"-->
<!--*ngIf="!updateEmpleadoForm.controls['idEmpresa'].valid&&updateEmpleadoForm.controls['idEmpresa'].dirty"></nb-alert>-->
<!--</div>-->
