.imgRedonda {
  width: 130px;
  height: 130px;
  border-radius: 100px;
}

.titulo-foto {
  padding-bottom: 2%;
}
mat-card {
  font-family: 'Montserrat', Arial;
  padding: 0!important;
}

mat-form-field {
  width: 70%;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}


.title{
  width: 100%;
  text-align: center;
  background-color: #354089;
  margin-bottom: 5%;
  border-radius: 0px 0px 15px 15px;
}


input {
  height: 35px;
  width: 100%;
  border: none;
  padding: 0;
  font-weight: 500;
  color: #111218;
}

input:focus {

  border: none;
}


.mat-hint {
  color: tomato;
}

.form-control:focus {
  border: none;
}
.form-control {
  border: none;
  padding: 0px;
  background-color: transparent;
}

#submit {
  width: 30%;
  margin: 0 auto;
  background-color: #111218;
  color: #fff;
  border: 1px solid #111218;
  display: block;
}
#submit:disabled {
  border: 1px solid #138d75;
  background-color: transparent;
  color: #138d75;
  opacity: 0.6;
}

form{
  width: 100%;
  margin: 0 auto;
}

mat-option {
  font-weight: 600;
}

.titulo-foto {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}
.text-title {
  position: relative;
  display: block;
  color: white;
  padding: 2.5% 0%;
  font-family: Montserrat, Arial;
  font-size: 1.15em;
  letter-spacing: 2px;
}

.foto {
  width: 100%;
}

.actions {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row {
  text-align: center;
}


hr{
  width: 70%;
  margin: 2% auto;
  opacity: 0;
}

mat-card .campo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88%;
  color: #111218;
  margin: auto;
  margin-bottom: 5%;
}
.regresar mat-icon {
  font-size: 3.5em;
  cursor: pointer;
  color: #354089;
}
.regresar span {
  margin-top: 19px;
  margin-left: 12px;
  font-size: 0.8em;
  color: #354089;
  font-weight: bold;
}

.campo .regresar {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  margin-top: -10px;
  cursor: pointer;
}





