<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getExtensiones()">
    </div>
  </div>

  <div class="button-input">
    <div [hidden]="!escritura" class="button">
        <button mat-button (click)="getExtension()" routerLinkActive="active" >
          CREAR EXTENSIONES
        </button>
    </div>

    <mat-card-title>
      EXTENSIONES
    </mat-card-title>

    <div class="input">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>

      <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SUBÁREA </th>
          <td mat-cell *matCellDef="let element"> {{element.subarea}} </td>
        </ng-container>
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ÁREA </th>
          <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
          <td mat-cell *matCellDef="let element"> {{element.descrip}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20,50]" showFirstLastButtons></mat-paginator>

    </div>
  </mat-card-content>
</mat-card>
