<mat-card class="view">


  <div class="header">
    <span id="titulo-modals">DATOS RAMO</span>
  </div>

  <mat-card-content>
    <div class="nombre" id="box">
      <p id="title"><span>ALIAS:</span> {{alias}}</p>
    </div>

    <div class="apellidoPaterno" id="box">
      <p id="title"><span>DESCRIPCION:</span> {{descripcion}}</p>
    </div>

    <div class="apellidoMaterno" id="box">
      <p id="title"><span>NOMBRE COMERCIAL:</span> {{nombreComercial}}</p>
    </div>

    <div class="telefono" id="box">
      <p id="title"><span>ESTADO:</span> {{estado}}</p>
    </div>

    <div class="vacante" id="box">
      <p id="title"><span>PRIORIDADES:</span> {{prioridades}}</p>

    </div>

    <div class="sede" id="box">
      <p id="title"><span>TIPO RAMO:</span> {{tipoRamo}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div [hidden]="!escritura" id="actions">
      <button mat-button (click)="updateRamo()">ACTUALIZAR</button>
      <mat-icon (click)="dismiss()">highlight_off</mat-icon>
    </div>
  </mat-card-actions>

</mat-card>
