<mat-card>
  <mat-card-title>ACTUALIZACIONES</mat-card-title>
  <mat-card-content>
    <div class="container">
      <ul>
        <li>Se actualizaron los estilos de los botones</li>
        <li>Se actualizaron los modals</li>
        <li>Se eliminaron datos para mostrar</li>
        <li>Modificación de iconos</li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
      <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>
</mat-card>
