<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEquipo()">
    </div>
  </div>

  <div  class="button-input">
    <div [hidden]="!escritura" class="button">
      <button mat-button (click)="crearHDDE()" *ngIf=" tipoEquipo === 'discoduroexterno'"> CREAR DISCO DURO EXTERNO</button>
      <button mat-button (click)="crearHDDI()" *ngIf=" tipoEquipo === 'disco duro interno' ||  tipoEquipo === 'discoduroInterno'"> CREAR DISCO DURO INTERNO</button>
      <button mat-button (click)="crearHDDE()" *ngIf=" tipoEquipo === 'disco duro externo'"> CREAR DISCO DURO EXTERNO</button>
      <button mat-button (click)="crearChrBt()" *ngIf=" tipoEquipo === 'chrome bit' || tipoEquipo === 'chromeBit'"> CREAR CHROME BIT</button>
      <button mat-button (click)="crearAPS()" *ngIf=" tipoEquipo === 'aps'"> CREAR APS</button>
      <button mat-button (click)="crearBiometricos()" *ngIf=" tipoEquipo === 'biometricos'"> CREAR BIOMETRICOS</button>
      <button mat-button (click)="crearDvr()" *ngIf=" tipoEquipo === 'dvr'"> CREAR DVR</button>
      <button mat-button (click)="crearCamaras()" *ngIf=" tipoEquipo === 'camara'"> CREAR CAMARAS</button>
      <button mat-button (click)="crearBarraMulti()" *ngIf=" tipoEquipo === 'barra-multicontacto'|| tipoEquipo === 'barramulticontacto'"> CREAR BARRA MULTICONTACTO</button>
      <button mat-button (click)="crearFuenteCorriente()" *ngIf=" tipoEquipo === 'corriente-camara'|| tipoEquipo === 'corrientecamara'"> FUENTE DE CORRIENTE</button>
    </div>

    <mat-card-title>
      INVENTARIO SOPORTE
    </mat-card-title>
    <div class="input">
      <mat-form-field>

        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <mat-card-content>

    <!--{{x}}-->
    <div>
      <mat-tab-group (selectedTabChange)="getEquipos($event.tab.textLabel)">
        <mat-tab label="DISCO DURO EXTERNO"> </mat-tab>
        <mat-tab label="DISCO DURO INTERNO">  </mat-tab>
        <mat-tab label="CHROME BIT"> </mat-tab>
        <mat-tab label="APS"> </mat-tab>
        <mat-tab label="BIOMETRICOS"> </mat-tab>
        <mat-tab label="DVR"> </mat-tab>
        <mat-tab label="CAMARA"> </mat-tab>
        <mat-tab label="BARRA-MULTICONTACTO"> </mat-tab>
        <mat-tab label="CORRIENTE-CAMARA"> </mat-tab>
      </mat-tab-group>

      <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center"> DETALLE </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <mat-icon (click) ="verDetalles(element.id, tipoEquipo)" id="verDetalles"
                      pTooltip="Ver detalles" mat-raised-button>
              remove_red_eye
            </mat-icon>

            <!--<nb-actions size="small">-->
            <!--<nb-action class="eva eva-eye-outline custom-icon" pTooltip="Detalles" (click) ="verDetalles(element.id, tipoEquipos)">-->
            <!--</nb-action>-->
            <!--</nb-actions>-->
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
          <td mat-cell *matCellDef="let element"> <p *ngIf="element.nombre === null">NO. ASIGNADO</p> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO </th>
          <td mat-cell *matCellDef="let element"> <p *ngIf="element.usuario === null">NO. ASIGNADO</p>{{element.usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="folio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NO. SERIE </th>
          <td mat-cell *matCellDef="let element" > {{element.folio}}
          </td>
        </ng-container>
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreMarca}} </td>
        </ng-container>
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVO </th>
          <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef  style="text-align: center;"> ACCIONES </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center">
            <mat-card-actions>
              <div class="actions">

                <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipo === 'disco duro externo' " (click) ="modificarHDDE(element.id)">
                  edit
                </mat-icon>
                <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipo === 'discoduroexterno' " (click) ="modificarHDDE(element.id)">
                  edit
                </mat-icon>


                <mat-icon pTooltip="Modificar" *ngIf=" tipoEquipo === 'disco duro interno'" (click) ="modificarHDDI(element.id)">edit
                </mat-icon>
                <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipo === 'chrome bit'" (click) ="modificarChrBt(element.id)">edit
                </mat-icon>
                <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipo === 'aps'" (click) ="modificarAPS(element.id)">edit
                </mat-icon>
                <mat-icon pTooltip="Modificar" *ngIf=" tipoEquipo === 'biometricos'"  (click) ="modificarBiometricos(element.id)">edit
                </mat-icon>
                <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipo === 'dvr'" (click) ="modificarDvr(element.id)">edit
                </mat-icon>
                <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipo === 'camara'" (click) ="modificarCamaras(element.id)">edit
                </mat-icon>
                <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipo === 'barra-multicontacto'" (click) ="modificarBarraMulti(element.id)">edit
                </mat-icon>
                <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipo === 'corriente-camara'" (click) ="modificarFuenteCorriente(element.id)">edit
                </mat-icon>

                <mat-icon pTooltip="Asignar Equipo"   *ngIf ="element.idEmpleado === null" (click)="asignarEquipo(element.id, tipoEquipo)">desktop_mac
                </mat-icon>
                <mat-icon pTooltip="Desasignar Equipo"   *ngIf ="element.idEmpleado !== null" (click)="desasignarEquipo(element.id)">phonelink_off
                </mat-icon>
                <mat-icon pTooltip="Eliminar Equipo"   *ngIf ="element.activo === 1 && element.idEmpleado === null"
                          (click)="eliminarEquipo(element.id, tipoEquipo)" id="delete">
                  delete_forever
                </mat-icon>
              </div>
            </mat-card-actions>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
