<nb-card>
  <nb-card-header>Baja Solicitud</nb-card-header>
  <nb-card-body>
    <form [formGroup]="crearSolicitudForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <nb-alert status="danger">Se dará de baja esta solicitud</nb-alert>
            <label for="fechaCita">Fecha de Baja</label>
            <input nbInput type="date" formControlName="fechaCita"  shape="semi-round" placeholder="Fecha de cita"
                   id="fechaCita" fullWidth />
            <nb-alert status="danger" *ngIf="!crearSolicitudForm.controls['fechaDescartado'].valid&&crearSolicitudForm.controls['fechaDescartado'].dirty">
              Se requiere una fecha adecuada</nb-alert>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="bajaSolicitud()" [disabled]="!crearSolicitudForm.valid">Dar de baja</button>
    <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>
  </nb-card-footer>
</nb-card>
