nb-card {
  transform: translate3d(0, 0, 0);
  height: 100%;
}

table {
  width: 100%;
}


.custom-icon {
  color: #0bbb79;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 15px;
}

.ajuste {
  width: auto;
}
.mat-header-cell {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*='ajuste'] {
    width: 250px;
  }
}

nb-card-header {
  padding-bottom: 0;
}
