<mat-card>
  <mat-card-title>
   PÁGINAS ASEGURADORAS
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="idCampana">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> IDCAMPANA </th>
        <td mat-cell *matCellDef="let element"> {{element.idCampana}} </td>
      </ng-container>
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
        <td mat-cell *matCellDef="let element">{{element.url}}  </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
        <td mat-cell *matCellDef="let element">  {{element.descripcion | uppercase}}</td>
      </ng-container>
      <ng-container matColumnDef="fechaRegistro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA REGISTRO </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date: "dd/MMMM/yyyy" | uppercase }} </td>
      </ng-container>
      <ng-container matColumnDef="fechaActualizacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA ACTUALIZACION </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaActualizacion | date: "dd/MMMM/yyyy" | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon  [routerLink]="['/modulos/marketing/aseguradoras', element.id ]"
                                                            pTooltip="Ver Aseguradoras" mat-raised-button style="margin: 0px 5px"
        >visibility</mat-icon>
          <mat-icon  (click)="actualizarPagina(element.id )"
                     pTooltip="Editar Pagina" mat-raised-button style="margin: 0px 5px"
          >edit</mat-icon>
          <mat-icon  (click)="verconfiguracion(element.id )"
                     pTooltip="Ver Configuracion" mat-raised-button style="margin: 0px 5px"
          >settings_applications</mat-icon>
          <mat-icon  (click)="agregarConfiguracion(element.id ) " *ngIf="element.configuracion === ''"
                     pTooltip="agregar Configuracion" mat-raised-button style="margin: 0px 5px"
          >note_add</mat-icon>

        </td>

      </ng-container>
      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>
