<!--<nb-card>-->
<!--<nb-card-header>-->

<!--<p>crear usuario</p>-->
<!--<HR>-->
<!--</nb-card-header>-->
<!--<nb-card-body>-->


<!--<form [formGroup]="userform">-->
<!--<div class="row justify-content-center">-->
<!--<div class="col-md-12">-->

<!--{{id}}-->
<!--<hr>-->
<!--{{emails}}-->

<!--<div class="form-group">-->
<!--<label for="usuario">Usuario</label>-->
<!--<input nbInput type="text" formControlName="usuario"  class="form-control"-->
<!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="usuario" />-->
<!--<nb-alert status="danger" *ngIf="!userForm.controls['usuario'].valid&&userForm.controls['usuario'].dirty">-->
<!--!</nb-alert>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="password">Password</label>-->
<!--<input nbInput type="text" formControlName="password"  class="form-control"-->
<!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="password" />-->
<!--<nb-alert status="danger" *ngIf="!userForm.controls['password'].valid&&userForm.controls['password'].dirty">-->
<!--!</nb-alert>-->
<!--</div>-->

<!--<div class="form-group">-->

<!--<nb-select placeholder="Seleccione la subarea " [(ngModel)]="area"-->
<!--[ngModelOptions]="{standalone: true}" name="cpu" id="area">-->
<!--<nb-option *ngFor="let area of area" value="{{area.id}}" >{{area.id}}</nb-option>-->
<!--</nb-select>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<nb-select placeholder="Seleccione el tipo  " [(ngModel)]="tipo"-->
<!--[ngModelOptions]="{standalone: true}" name="tipo" id="tipo">-->
<!--<nb-option *ngFor="let tipo of tipo" value="{{tipo.id}}" >{{tipo.id}}</nb-option>-->
<!--</nb-select>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--</form>-->
<!--</nb-card-body>-->

<!--<nb-card-footer>-->
<!--<button nbButton hero status="primary" (click)="agendarCita()">Guardar</button> <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>-->
<!--</nb-card-footer>-->
<!--</nb-card>-->
