.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

input {
  border: none;
}

.form-control {
  border: none;
  font-size: 1rem;
}
.form-control:focus {
  border: none;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: #111218;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #111218 !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #111218 !important;
}
.mat-form-field-invalid .mat-input-element {
  caret-color: #111218;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

mat-card-header {
  text-align: center;
  margin: 0px auto;
}

mat-card {
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}

.mat-hint {
  color: tomato!important;
  transition: all 0.5s;
}

mat-card-actions {
  text-align: right;
}
mat-card-actions button {
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}

