<mat-card class="example-form">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo === 1">CREAR TIPO PRODUCTO</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR TIPO PRODUCTO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="tipoProductoCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">

            <mat-form-field>
              <input matInput type="text" formControlName="tipo" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="TIPO" style="padding: 0;"/>
              <mat-hint *ngIf="!tipoProductoCreateForm.controls['tipo'].valid&&tipoProductoCreateForm.controls['tipo'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarTipoProducto()" [disabled]="!tipoProductoCreateForm.valid">Guardar</button> <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
    <mat-card-actions *ngIf="idTipo === 2">
      <button mat-button (click)="updateTipoProducto()" [disabled]="!tipoProductoCreateForm.valid">Actualizar</button> <button mat-button (click)="dismiss()">Cerrar</button>
    </mat-card-actions>
</mat-card>
