<mat-card class="example-form">

    <mat-card-title *ngIf="idTipo === 1">CREAR MARCA</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">MODIFICAR MARCA</mat-card-title>


  <mat-card-content>
    <form [formGroup]="marcaCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text"  class="form-control"
                     formControlName="nombreMarca" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                     placeholder="MARCA" id="marca" onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint *ngIf="!marcaCreateForm.controls['nombreMarca'].valid&&marcaCreateForm.controls['nombreMarca'].dirty">
                El Campo es requerido </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions >

      <button id="submit" mat-button *ngIf="idTipo == 1" (click)="guardarMarca()" [disabled]="!marcaCreateForm.valid && !marcaCreateForm.dirty">Guardar</button>
      <button id="submit" mat-button *ngIf="idTipo == 2" (click)="updateMarca()" [disabled]="!marcaCreateForm.valid || inactivo === true">Modificar</button>
      <button id="submit" mat-button (click)="dismiss()">Cerrar</button>

  </mat-card-actions>
</mat-card>
