.example-form {
  min-width: 350px;
  width: 100%;
}

input {
  border: none;
}

.mat-card-title:last-child {
  font-weight: 300;

}

.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}

.mat-form-field-invalid .mat-input-element {
  caret-color: #111218;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

mat-card {
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}

button {
  color: white;
}

mat-card-actions {
  text-align: right;
}
