<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getSocios(1)">
    </div>
  </div>

  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button id="vacanteButton" mat-raised-button (click)="crearSocios()">CREAR SOCIO</button>
    </div>
    <mat-card-title>SOCIOS</mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <button class="button-detalle" (click)="verDatos(element.id)">
              <mat-icon  id="verDetalles" pTooltip="Ver detalles" mat-raised-button>remove_red_eye</mat-icon>
<!--              <mat-icon  class="mat-icon-disabled" *ngIf="element.idEstadoSocio !== 1" mat-raised-button>remove_red_eye</mat-icon>-->
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="nombreComercial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE COMERCIAL</th>
          <td mat-cell *matCellDef="let element"> {{element.nombreComercial}} </td>
        </ng-container>
        <ng-container matColumnDef="alias">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ALIAS</th>
          <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
        </ng-container>
        <ng-container matColumnDef="razonSocial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> RAZON SOCIAL</th>
          <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
        </ng-container>
        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIORIDAD</th>
          <td mat-cell *matCellDef="let element"> {{element.prioridades}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES</th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon (click)="asignarEjecutivoCuenta(element.id)" pTooltip="Asignar Contacto" mat-raised-button
              >person_add
              </mat-icon>
              <mat-icon (click)="AsignarUrl(element.id)" pTooltip="Asignar Url" mat-raised-button
              >alternate_email
              </mat-icon>
              <mat-icon (click)="asignarPresupuesto(element.id)" pTooltip="Asignar Objetivo de Venta" mat-raised-button
              >attach_money
              </mat-icon>
              <mat-icon (click)="asignarContratos(element.id)" pTooltip="Subir Contrato" mat-raised-button
              >cloud_upload
              </mat-icon>
              <mat-icon (click)="asignarRamo(element.id)" pTooltip="Asignar Ramo" mat-raised-button
              >group
              </mat-icon>
<!--              <mat-icon (click)="desactivarSocio(element.id)" id="delete" pTooltip="Desactivar" mat-raised-button *ngIf="element.idEstadoSocio === 1">person_add_disabled-->
<!--              </mat-icon>-->
<!--              <mat-icon (click)="reactivarSocio(element.id)" id="reactivar" pTooltip="Reactivar" mat-raised-button *ngIf="element.idEstadoSocio !== 1">done_all-->
<!--              </mat-icon>-->
              <mat-icon (click)="bajaSocio(element.id)"  id="delete" pTooltip="Dar de baja" mat-raised-button
              >delete_forever
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
