.example-form {
  min-width: 350px;
  width: 100%;
}

input {
  border: none;
}

.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus {
  border: none;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

#nombre, #grupo {
  padding: 0px;
}

mat-card-header {
   text-align: center;
   margin: 0px auto;
 }



mat-card {
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}

.mat-hint {
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions {
  text-align: right;
}
mat-card-actions button{
  background-color: #111218;
  color: white;
}

