<mat-card class="example-form">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo == 1">CREAR VACANTE</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR VACANTE</mat-card-title>
    <mat-card-subtitle>Selecciona las opciones de los desplegables según su numeración</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <h4 *ngIf="vacanteEliminada === true" class="btn-warning">¡Atención esta vacante ha sido Eliminada!</h4>
    <form [formGroup]="vacanteCreateForm" class="example-form">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input class="form-control" matInput type="text"
                     formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                     [pKeyFilter]="letras" style="padding: 0;"
                     placeholder="Nombre de la vacante" id="nombre" onDrop="return false"
                     onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!vacanteCreateForm.controls['nombre'].valid&&vacanteCreateForm.controls['nombre'].dirty">
                Nombre <strong>obligatorio</strong>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>GRUPOS (1)</mat-label>
              <mat-select formControlName="idGrupo" (selectionChange)="getEmpresa($event.value)">
                <mat-option *ngFor="let datos of Grupos"
                            [value]="datos.id">
                  {{datos.nombre}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarGrupo">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>


          <div class="form-group">
            <!--            <p-dropdown [options]="empresa" formControlName="idEmpresa" placeholder="Seleccione Empresa"-->
            <!--                        id="idEmpresa" (onChange)="getEmpresa($event.value)"($event.value)"-->
            <!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->


            <mat-form-field>
              <mat-label>EMPRESA (2)</mat-label>
              <mat-select formControlName="idEmpresa" (selectionChange)="getSedes($event.value)">
                <mat-option *ngFor="let datos of empresas" [value]="datos.id">
                  {{datos.nombre}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarEmpresa">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
            <!--            <nb-alert status="danger" *ngIf="mostrarEmpresa">Agrega una opcion desde su catálogo</nb-alert>-->
          </div>

          <div class="form-group">

            <!--            <p-dropdown [options]="Sede" formControlName="idSede" placeholder="Seleccione Sede"-->
            <!--                     (onChange)="getArea($event.value)" id="idSede" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
            <!--            <nb-alert status="danger" *ngIf="mostrarSede">Agrega una opcion desde su catálogo</nb-alert>-->

            <mat-form-field>
              <mat-label>SEDE (3)</mat-label>
              <mat-select formControlName="idSede" (selectionChange)="getArea($event.value)">
                <mat-option *ngFor="let datos of Sedes" [value]="datos.id">
                  {{datos.nombre}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <!--***************************************COLUMNA DOS***********************************************************************************-->
        <div class="col-sm-6">
          <div class="form-group">

            <mat-form-field style="margin-top: 16px;">
              <mat-label>ÁREA (4)</mat-label>
              <mat-select formControlName="idArea" (selectionChange)="getSubarea($event.value)">
                <mat-option *ngFor="let datos of areas" (onChange)="getSubarea($event.value)"
                            [value]="datos.id">
                  {{datos.nombre}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarArea">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>SUB ÁREA (5)</mat-label>
              <mat-select formControlName="idSubarea" >
                <mat-option *ngFor="let datos of subareas"
                            [value]="datos.id">
                  {{datos.subarea}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarSubarea">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>


          <div class="form-group">
            <mat-form-field>
              <mat-label>PUESTO (6)</mat-label>
              <mat-select formControlName="idPuesto" [disabled]="activoPuesto">
                <mat-option *ngFor="let datos of puestos"
                            [value]="datos.id">
                  {{datos.nombre}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarPuesto">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>


          <div class="form-group">
            <mat-form-field>
              <mat-label>TIPO PUESTO (7)</mat-label>
              <mat-select formControlName="idTipoPuesto" [disabled]="activoPuesto">
                <mat-option *ngFor="let datos of tipoPuestos"
                            [value]="datos.id">
                  {{datos.nombre}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="idTipo == 3">Se dara de baja este tipo de puesto</mat-hint>
            </mat-form-field>
          </div>
        </div>

        <!--            <nb-alert status="danger" *ngIf="idTipo == 3">Se dara de baja este tipo de puesto</nb-alert>-->

      </div>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button *ngIf="idTipo == 1" (click)="guardarVacante()" [disabled]="!vacanteCreateForm.valid || inactivo === true">Guardar
    </button>
    <button mat-button *ngIf="idTipo == 2" (click)="updateVacante()" [disabled]="!vacanteCreateForm.valid || inactivo === true">Modificar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
