<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo === 1">CREAR DIVISA</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR DIVISA</mat-card-title>
  <mat-card-content>
    <form [formGroup]="divisaCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <!--            <label for="tipo">Tipo</label>-->
            <!--            <input matInput type="text" formControlName="tipo" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off"/>-->
            <!--            <mat-hint status="danger" *ngIf="!tipoGiroCreateForm.controls['tipo'].valid&&tipoGiroCreateForm.controls['tipo'].dirty">-->
            <!--              Se requiere llenar el campo</mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="divisa" class="form-control" id="divisa" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" style="padding: 0;" placeholder="NOMBRE"/>
              <mat-hint *ngIf="!divisaCreateForm.controls['divisa'].valid&&divisaCreateForm.controls['divisa'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <!--            <label for="tipo">Tipo</label>-->
            <!--            <input matInput type="text" formControlName="tipo" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off"/>-->
            <!--            <mat-hint status="danger" *ngIf="!tipoGiroCreateForm.controls['tipo'].valid&&tipoGiroCreateForm.controls['tipo'].dirty">-->
            <!--              Se requiere llenar el campo</mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="descripcion" class="form-control" id="descripcion" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" style="padding: 0;" placeholder="DESCRIPCIÓN"/>
              <mat-hint *ngIf="!divisaCreateForm.controls['descripcion'].valid&&divisaCreateForm.controls['descripcion'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarDivisa()" [disabled]="!divisaCreateForm.valid">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateDivisa()" [disabled]="!divisaCreateForm.valid">Actualizar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
