<mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getPreEmpleado(1)">
    </div>
  </div>
  <mat-card-content>
    <div>

      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          PRE EMPLEADOS
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef id="align-detail">DETALLE</th>
          <td mat-cell *matCellDef="let element" id="align-detail">
            <!--            <nb-action class="eva eva-eye-outline custom-icon" ></nb-action>-->
            <mat-icon
              pTooltip="Ver detalles" id="verDetalles"
              (click)="verDatos(element.idCandidato)"
              >remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="preEmpleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">{{ element.preEmpleado }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="empresa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>EMPRESA</th>
          <td mat-cell *matCellDef="let element">{{ element.empresa }}</td>
        </ng-container>

        <ng-container matColumnDef="puesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PUESTO</th>
          <td mat-cell *matCellDef="let element">{{ element.puesto }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBAREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <ng-container  matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef id="align-detail">ACCIONES</th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div  class="actions">
              <mat-icon
                [routerLink]="[
                  '/modulos/rrhh/empleados/create',
                  element.idCandidato,
                  element.idPrecandidato
                ]"
                pTooltip="Crear Empleado"
                >person_add</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
