<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="padding-bottom: 25px;">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>FECHA INICIO</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="ui-g ui-fluid">
              <div class="ui-lg-5 ui-md-4 ui-sm-12">
                <mat-form-field>
                  <input [(ngModel)]="rangeDates[0]" matInput [matDatepicker]="picker1" placeholder="FECHA DE INICIO"  [value]="rangeDates[0]">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="ui-lg-5 ui-md-4 ui-sm-12">
                <mat-form-field>
                  <input [(ngModel)]="rangeDates[1]" matInput [matDatepicker]="picker2" placeholder="FECHA DE FIN" [value]="rangeDates[1]">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="ui-lg-2 ui-md-3 ui-sm-12">
                <div class="row container-fluid">
                  <div class="col-lg-6 col-md-6 col-sm-1">
                    <button [disabled]="rangeDates == null" mat-raised-button (click)="getEmpleados(rangeDates)">Desplegar</button>
                  </div>
                  <div class="reload-all">
                    <div class="icon-all">
                      <div class="col-lg-6 col-md-6 col-sm-1">
                        <button  mat-mini-fab color='primary' pTooltip="Recargar Datos" aria-label="icon-button with a home icon" style="margin-left: 40px" id="recharge">
                          <mat-icon>cached</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row" style="padding-bottom: 25px;" id="SVG">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>EMPLEADOS</mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph1">
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>AREA DESEMPEÑO</mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph2">
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>ESCOLARIDAD</mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph3">
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row" style="...">
      <div class="col-lg-12 col-md-12 col-sm-12 ">
        <mat-card>
          <mat-card-header>
            <div class="row container-fluid">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <mat-card-title>{{this.label}} {{this.dates}}</mat-card-title>
              </div>
              <div class="container-fluid col-lg-4 col-md-3 col-sm-3">
                <mat-card-title>{{this.label2}} {{this.dates2}}</mat-card-title>
              </div>
              <div class="col-lg-4 col-md-3 col-sm-3">
                <mat-card-title>{{this.label3}} {{this.dates3}}</mat-card-title>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-form-field>
                  <mat-label>Filtrar</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="container-fluid">
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="idestadoCivil">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado Civil</th>
                  <td mat-cell *matCellDef="let element">{{ edoCivil[element.idEstadoCivil] }}</td>
                </ng-container>
                <ng-container matColumnDef="cp">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Postal</th>
                  <td mat-cell *matCellDef="let element">{{ element.cp }}</td>
                </ng-container>
                <ng-container matColumnDef="puesto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Puesto</th>
                  <td mat-cell *matCellDef="let element">{{ element.puesto }}</td>
                </ng-container>
                <ng-container matColumnDef="puestoDetalle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Puesto Actual</th>
                  <td mat-cell *matCellDef="let element">{{ element.puestoDetalle }}</td>
                </ng-container>
                <ng-container matColumnDef="fechaIngreso">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Ingreso</th>
                  <td mat-cell *matCellDef="let element">{{ element.fechaIngreso }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cols"></tr>
                <tr mat-row *matRowDef="let row; columns: cols"></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div> <!--  </nb-card-body>-->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
