<mat-card>


  <mat-card-title>GENERA UNA PREGUNTA</mat-card-title>


  <!--  <div class="button-input">-->
  <mat-card-content>
    <div class="reload-all">
      <div class="icon-all">
        <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA">
      </div>
    </div>

    <div class="container">
      <form class="row" [formGroup]="preguntaFormGroup"
            (ngSubmit)="agregarPreg(pregunta.value, input.value, inputElement.value)">

        <mat-form-field>
          <mat-label>SELECCIONA UNA SEDE</mat-label>
          <mat-select formControlName="sede" matNativeControl #sede [(ngModel)]="selectedidSede"
                      (selectionChange)="getAreasBySede()" name="sede">
            <mat-option value="0">Selecciona una Sede
            </mat-option>
            <mat-option *ngFor="let s of sedes" [value]="s.id">
              {{s.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label>SELECCIONA EL ÁREA</mat-label>
          <mat-select formControlName="area" matNativeControl #areaP [(ngModel)]="selectedArea" name="areas">
            <mat-option value="0">Selecciona una Área</mat-option>
            <mat-option *ngFor="let a of areas" [value]="a.id">
              {{a.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--         <h4>Escriba Pregunta</h4>-->
        <mat-form-field>
          <input matInput formControlName="pregunta" #inputPreg required #pregunta placeholder="Escriba Pregunta">
        </mat-form-field>

        <!--          <h4>Fecha Inicio</h4>-->
        <mat-form-field>
          <input matInput formControlName="fechaI" #input [matDatepicker]="picker" placeholder="FECHA DE INICIO">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <!--          <h4>Fecha Fin</h4>-->
        <mat-form-field>
          <input matInput formControlName="fechaF" #inputElement [matDatepicker]="picker1" placeholder="FECHA FINAL">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-card-actions>
          <button class="button" mat-button [disabled]="!preguntaFormGroup.valid">AGREGAR
            <mat-icon mat-list-icon>add</mat-icon>
          </button>
        </mat-card-actions>
        <!--      <h2 mat-subheader> Preguntas Activas</h2>-->

        <mat-list-item *ngFor="let t of title">
          <mat-icon mat-list-icon>live_help</mat-icon>
          <h4 mat-line>{{t.title}}</h4>
        </mat-list-item>
      </form>
    </div>

  </mat-card-content>
</mat-card>
