* {
  box-sizing: border-box;
}

mat-card {
  padding: 0;
  font-family: 'Montserrat', Arial;
}

mat-card-title {
  padding-top: 4%;
}

mat-card-content {
  padding: 0% 5%;
  padding-bottom: 3%;
}


.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.mat-header-cell {
  background-color: #111218;
  color: white;
}

mat-form-field {
  width: 20%;
}
