<mat-card class="example-form">
  <mat-card-title *ngIf="idTipo === 1">Crear Tipo Cobertura</mat-card-title>
  <mat-card-title *ngIf="idTipo === 2">Actualizar Tipo Cobertura</mat-card-title>
  <mat-card-content>
    <form [formGroup]="tipoCoberturaCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="cobertura" class="form-control" id="cobertura" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="COBERTURA" style="padding: 0"/>
              <mat-hint status="danger" *ngIf="!tipoCoberturaCreateForm.controls['cobertura'].valid&&tipoCoberturaCreateForm.controls['cobertura'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarTipoCobertura()" [disabled]="!tipoCoberturaCreateForm.valid">Guardar</button> <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
    <mat-card-actions *ngIf="idTipo === 2">
      <button mat-button (click)="updateTipoCobertura()" [disabled]="!tipoCoberturaCreateForm.valid">Actualizar</button> <button mat-button (click)="dismiss()">Cerrar</button>
    </mat-card-actions>
</mat-card>
