<mat-card class="view">
  <div class="header">
    <span id="titulo-modals">DATOS EMPLEADO</span>
  </div>

  <mat-card-content>
    <div class="nombre" id="box">
      <p id="title"><span>NOMBRE:</span> {{nombre}}</p>
    </div>

    <div class="apellidoPaterno" id="box">
      <p id="title"><span>CORREO ELECTRÓNICO:</span> {{email}}</p>
    </div>

    <div class="apellidoMaterno" id="box">
      <p id="title"><span>TELÉFONO FIJO:</span> {{fijo}}</p>
    </div>

    <div class="telefono" id="box">
      <p id="title"><span>TELÉFONO MÓVIL:</span> {{movil}}</p>
    </div>

    <div class="vacante" id="box">
      <p id="title"><span>FECHA INGRESO:</span> {{fechaIngreso}}</p>

    </div>

    <div class="correo" id="box">
      <p id="title"><span>SUB AREA:</span> {{subarea}}</p>

    </div>

    <div class="cp" id="box">
      <p id="title"><span>SEDE:</span> {{sede}}</p>
    </div>

    <div class="edad" id="box">
      <p id="title"><span>PUESTO:</span> {{puesto}}</p>
    </div>

    <div class="sede" id="box">
      <p id="title"><span>EMPRESA:</span> {{empresa}}</p>
    </div>

    <div class="fecha" id="box">
      <p id="title"><span>GRUPO:</span> {{grupo}}</p>
    </div>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>

</mat-card>



