
* {
  font-family: 'Montserrat', Arial;
}

mat-form-field {
  width: 70%;
}

hr{
  width: 70%;
  margin: 2% auto;
}
mat-card {
  padding: 0;
}

.title {
  width: 100%;
  text-align: center;
  background-color: #354089;
  margin-bottom: 2%;
  border-radius: 0px 0px 15px 15px;
}
.title .text-title {
  position: relative;
  display: block;
  color: white;
  padding: 2.5% 0%;
  font-family: Montserrat, Arial;
  font-size: 1.4em;
  letter-spacing: 2px;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}

  input {
  height: 35px;
  width: 100%;
  border: none;
  padding: 0;
  font-weight: 500;
  color: #111218;
}

input:focus {

  border: none;
}


.mat-hint {
  color: tomato;
}

.form-control:focus {
  border: none;
}
.form-control {
  border: none;
  padding: 0px;
  background-color: transparent;
}

#submit {
  width: 10%;
  margin: 0 auto;
  background-color: #111218;
  color: #fff;
  border: 1px solid #111218;
  display: block;
}
#submit:disabled {
  border: 1px solid #138d75;
  background-color: transparent;
  color: #138d75;
  opacity: 0.6;
}

form{
  width: 80%;
  margin: 0 auto;
}

mat-option {
  font-weight: 600;
}


