<div class="row">
  <div class="col-lg-12">
    <mat-card>
      <mat-card-header>
        <div class="title">
          <div class="text-title">CREAR EMPLEADO: {{nombre}}</div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="empleadoForm">
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                  <mat-form-field>
                    <input matInput type="text"  class="form-control"
                           formControlName="id" oninput="this.value = this.value.toUpperCase()" maxlength="4" pKeyFilter="num"
                           (keyup)="buscarNumeroEmpleado($event.target.value)" placeholder="NÚMERO DE EMPLEADO" id="id"
                           onDrop="return false" onPaste="return false" autocomplete="off"/>
                    <mat-hint *ngIf="!empleadoForm.controls['puestoDetalle'].valid&&empleadoForm.controls['puestoDetalle'].dirty">
                      Se requiere llenar el campo</mat-hint>
                  </mat-form-field>

                </div>
              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="FECHA DE INGRESO" formControlName="fechaIngreso" id="fechaIngreso">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>


              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <mat-label>GRUPO EMPRESARIAL</mat-label>
                  <mat-select formControlName="idGrupo" id="idGrupo" (selectionChange)="getEmpresa($event.value)">
                    <mat-option *ngFor="let empresa of Grupos" [value]="empresa.id">
                      {{empresa.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarGrupo">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <!--Empresa-->
              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <mat-label>EMPRESA</mat-label>
                  <mat-select formControlName="idEmpresa" id="idEmpresa" (selectionChange)="getSedes($event.value)">
                    <mat-option *ngFor="let e of empresas" [value]="e.id">
                      {{e.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarEmpresa">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <mat-label>SEDE</mat-label>
                  <mat-select formControlName="idSede" id="idSede" (selectionChange)="getArea($event.value)">
                    <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                      {{sede.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarSede">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>


              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <mat-label>AREA</mat-label>
                  <mat-select formControlName="idArea" id="idArea" (selectionChange)="getSubarea($event.value)">
                    <mat-option *ngFor="let area of areas" [value]="area.id">
                      {{area.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarArea">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <mat-label>SUBAREA</mat-label>
                  <mat-select formControlName="idSubarea" id="idSubarea">
                    <mat-option *ngFor="let sub of subareas" [value]="sub.id">
                      {{sub.subarea}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarSubarea">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <mat-label>PUESTO</mat-label>
                  <mat-select formControlName="idPuesto" id="idPuesto">
                    <mat-option *ngFor="let puesto of puestos" [value]="puesto.id">
                      {{puesto.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarPuesto">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <mat-label>TIPO PUESTO</mat-label>
                  <mat-select formControlName="idTipoPuesto" id="idTipoPuesto">
                    <mat-option *ngFor="let puesto of puestos" [value]="puesto.id">
                      {{puesto.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="mostrarPuesto">Agrega una opción desde su catálogo</mat-hint>
                </mat-form-field>
              </div>

                <div class="form-group" *ngIf="existeNumeroEmpleado">
                  <mat-form-field>
                    <mat-label>TURNO</mat-label>
                    <mat-select formControlName="idTurnoEmpleado" id="idTurno">
                      <mat-option *ngFor="let turno of Turnos" [value]="turno.id">
                        {{turno.turno}}
                      </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="mostrarPuesto">Agrega una opción desde su catálogo</mat-hint>
                  </mat-form-field>
                </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <input matInput placeholder="DETALLE DE PUESTO" class="form-control" formControlName="puestoDetalle"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" [pKeyFilter]="soloLetras"
                         id="puestoDetalle" onDrop="return false" onPaste="return false" autocomplete="off">
                  <mat-hint status="danger" *ngIf="!empleadoForm.controls['puestoDetalle'].valid&&empleadoForm.controls['puestoDetalle'].dirty">
                    Se requiere llenar el campo</mat-hint>
                </mat-form-field>
              </div>

            </div>



            <!--SECTION 2-->
            <div class="col-md-6">
              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <input matInput placeholder="SUELDO DIARIO" class="form-control" formControlName="sueldoDiario"
                         oninput="this.value = this.value.toUpperCase()" maxlength="4" pKeyFilter="num"
                         id="sueldoDiario" onDrop="return false" onPaste="return false" autocomplete="off">
                  <mat-hint *ngIf="!empleadoForm.controls['sueldoDiario'].valid&&empleadoForm.controls['sueldoDiario'].dirty">
                    El monto tiene que ser mayor a 88 pesos y menor a 5000</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <input matInput placeholder="SUELDO MENSUAL" class="form-control" formControlName="sueldoMensual"
                         oninput="this.value = this.value.toUpperCase()" maxlength="5" pKeyFilter="num"
                         id="sueldoMensual" onDrop="return false" onPaste="return false" autocomplete="off">
                  <mat-hint *ngIf="!empleadoForm.controls['sueldoMensual'].valid&&empleadoForm.controls['sueldoMensual'].dirty">
                    El monto tiene que ser mayor a 2600</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <!--<label for="ctaClabe">Cuenta Clabe<span style="color: #0bbb79;">*</span></label>-->
                <nb-radio-group id="asistencia" (valueChange)="habilita()">
                  <nb-radio #radioCuenta name="si" value="1">Cuenta Clabe<span style="color: #0bbb79;">*</span></nb-radio>
                  <nb-radio #radioClave name="no" value="0">Clave Interbancaria<span style="color: #0bbb79;">*</span></nb-radio>
                </nb-radio-group>
                <mat-form-field>
                  <input matInput type="text"  class="form-control"
                         placeholder="CUENTA CLABE" id="ctaClabe"
                         formControlName="ctaClabe"  pKeyFilter="num" maxlength="{{maxNum}}" minlength="{{minNum}}"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint status="danger" *ngIf="!empleadoForm.controls['ctaClabe'].valid&&empleadoForm.controls['ctaClabe'].dirty">
                    Se requieren los dígitos correspondientes</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <input matInput placeholder="TARJETA SECUNDARIA" class="form-control" formControlName="tarjetaSecundaria"
                         oninput="this.value = this.value.toUpperCase()" maxlength="16" pKeyFilter="num"
                         id="tarjetaSecundaria" onDrop="return false" onPaste="return false" autocomplete="off">
                  <mat-hint *ngIf="!empleadoForm.controls['tarjetaSecundaria'].valid&&empleadoForm.controls['tarjetaSecundaria'].dirty">
                    Los digitos deben ser 16</mat-hint>
                </mat-form-field>
              </div>

              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <mat-label>BANCO</mat-label>
                  <mat-select formControlName="idBanco" id="idBanco">
                    <mat-option *ngFor="let banco of bancos" [value]="banco.id">
                      {{banco.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>

                  <input matInput type="text"  class="form-control"
                         formControlName="kpiMensual"  maxlength="50" pKeyFilter="num"
                         placeholder="KPI MENSUAL" id="kpiMensual" [maxlength]="5"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="!empleadoForm.controls['kpiMensual'].valid&&empleadoForm.controls['kpiMensual'].dirty">
                    Se requiere un monto menor a $10,000</mat-hint>
                </mat-form-field>
              </div>


              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <input matInput type="text"  class="form-control"
                         formControlName="kpiTrimestral"  maxlength="50" pKeyFilter="num"
                         placeholder="KPI TRIMESTRAL" id="kpiTrimestral" [maxlength]="5"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint status="danger" *ngIf="!empleadoForm.controls['kpiTrimestral'].valid&&empleadoForm.controls['kpiTrimestral'].dirty">
                    Se requiere un monto menor a $10,000</mat-hint>
                </mat-form-field>
              </div>


              <div class="form-group" *ngIf="existeNumeroEmpleado">
                <mat-form-field>
                  <input matInput type="text"  class="form-control"
                         formControlName="kpiSemestral"  maxlength="50" pKeyFilter="num"
                         placeholder="KPI SEMESTRAL" id="kpiSemestral" [maxlength]="5"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint status="danger" *ngIf="!empleadoForm.controls['kpiSemestral'].valid&&empleadoForm.controls['kpiSemestral'].dirty">
                    Se requiere un monto menor a $10,000</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions *ngIf="existeNumeroEmpleado">
        <div class="row justify-content-center">
          <button mat-button type="submit" (click)="saveEmpleados()" style="margin-bottom: 5%;" id="submit"
                  [disabled]="!empleadoForm.valid || inactivo === true" class="btn-block">Guardar</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

