<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo == 1">CREAR MOTIVO DE BAJA</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR MOTIVO DE BAJA</mat-card-title>
  <mat-card-content>
    <h4 *ngIf="motivobajaEliminado === true" class="btn-warning text-center">¡Atención este motivo de baja ha sido Eliminado!</h4>
    <form [formGroup]="motivoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1">
            <div class="form-group">

<!--              <label for="motivo">Motivo de Baja</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="motivo" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger" *ngIf="!motivoForm.controls['estado'].valid&&motivoForm.controls['estado'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0"
                       formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="soloLetras"
                       placeholder="MOTIVO DE BAJA" id="motivo" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!motivoForm.controls['estado'].valid&&motivoForm.controls['estado'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>

            </div>
            <div class="form-group">
<!--              <label for="etapa">Etapa para la cual estará habilitado este motivo de baja</label>-->
<!--              <p-dropdown [options]="etapas" formControlName="idEtapa" id="etapa"-->
<!--                          placeholder="Seleccione la etapa" [style]="{'width':'100%'}" ></p-dropdown>-->
<!--              <nb-alert status="danger" *ngIf="!motivoForm.controls['idEtapa'].valid&&motivoForm.controls['idEtapa'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <mat-label>ETAPA POR LA CUAL ESTARÁ HABILITADO ESTE MOTIVO DE BAJA</mat-label>
                <mat-select formControlName="idEtapa" id="etapa">
                  <mat-option *ngFor="let estapa of etapasModulos" [value]="estapa.id" style="font-weight: 500">
                    {{estapa.etapa}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!motivoForm.controls['idEtapa'].valid&&motivoForm.controls['idEtapa'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="idTipo == 2">
            <div class="form-group">
<!--              <label for="motivoU">Motivo de Baja</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="motivoU" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger" *ngIf="!motivoForm.controls['estado'].valid&&motivoForm.controls['estado'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0; font-weight: 500"
                       formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="soloLetras"
                       placeholder="MOTIVO DE BAJA" id="motivoU" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!motivoForm.controls['estado'].valid&&motivoForm.controls['estado'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="etapa">Etapa para la cual estará habilitado este motivo de baja</label>-->
<!--              <p-dropdown [options]="etapas" formControlName="idEtapa" id="etapa"-->
<!--                          placeholder="Seleccione la etapa" [style]="{'width':'100%'}" ></p-dropdown>-->
<!--              <nb-alert status="danger" *ngIf="!motivoForm.controls['idEtapa'].valid&&motivoForm.controls['idEtapa'].dirty"-->
<!--                        El Campo es requerido></nb-alert>-->

              <mat-form-field>
                <mat-label>ETAPA POR LA CUAL ESTARÁ HABILITADO ESTE MOTIVO DE BAJA</mat-label>
                <mat-select formControlName="idEtapa" id="etapa" style="font-weight: 500;">
                  <mat-option *ngFor="let estapa of etapasModulos" [value]="estapa.id" >
                    {{estapa.etapa}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!motivoForm.controls['idEtapa'].valid&&motivoForm.controls['idEtapa'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-button id="submit" *ngIf="idTipo == 1" (click)="crearMotivo()" [disabled]="!motivoForm.valid">Guardar</button>
      <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateMotivo()" [disabled]="!motivoForm.valid">Modificar</button>
      <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>
