<mat-card class="m-3">
  <mat-card-header >
    <mat-card-title *ngIf="idTipo === 1">CREAR PROCESADOR</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">MODIFICAR PROCESADOR</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="procesadorCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text"  class="form-control"
                     formControlName="nombreProcesador" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                     placeholder="PROCESADOR" id="procesador" onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint *ngIf="!procesadorCreateForm.controls['nombreProcesador'].valid&&procesadorCreateForm.controls['nombreProcesador'].dirty">
                El Campo es requerido </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button id="submit" mat-button *ngIf="idTipo == 1" (click)="guardarProcesador()" [disabled]="!procesadorCreateForm.valid && !procesadorCreateForm.dirty">Guardar</button>
    <button id="submit" mat-button *ngIf="idTipo == 2" (click)="updateProcesador()" [disabled]="!procesadorCreateForm.valid || inactivo === true">Modificar</button>
    <button id="submit" mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
