<mat-card class="view">

  <div class="header">
    <span id="titulo-modals">DATOS PRE EMPLEADO.</span>
  </div>

  <mat-card-content>
      <div class="row">
        <div class="col-md-4">
          <h6><b>DATOS PERSONALES</b></h6>

          <div class="nombre" id="box">
              <p id="title"><span>NOMBRE:</span> {{nombre}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>FECHA DE NACIMIENTO:</span> {{fechaNacimiento}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>GÉNERO:</span> {{genero}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>ESTADO CIVIL:</span> {{estadoCivil}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>CURP:</span> {{curp}}</p>

            </div>

            <div class="nombre" id="box">
              <p id="title"><span>ESCOLARIDAD:</span> {{escolaridad}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>ESTADO ESCOLAR:</span> {{estadoEscolar}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>CORREO ELECTRÓNICO:</span> {{email}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>TELÉFONO MÓVIL:</span> {{telefonoMovil}}</p>
            </div>

            <div class="nombre" id="box">
              <p *ngIf="telefonoFijo" id="title"><span>TELÉFONO FIJO:</span> {{telefonoFijo}}</p>
              <p *ngIf="!telefonoFijo" id="title"><span>TELÉFONO FIJO:</span> SIN DATOS</p>
            </div>
        </div>
        <div class="col-md-4">
            <h6><b>DATOS DE DIRECCIÓN</b></h6>

            <div class="nombre" id="box">
              <p id="title"><span>CALLE:</span> {{calle}}</p>
            </div>

            <div class="nombre" id="box">
              <p *ngIf="numeroInterior" id="title"><span>NÚMERO INTERIOR:</span> {{numeroInterior}}</p>
              <p *ngIf="!numeroInterior" id="title"><span>NÚMERO INTERIOR:</span> SIN DATOS</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>NÚMERO EXTERIOR:</span> {{numeroExterior}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>CÓDIGO POSTAL:</span> {{cp}}</p>
            </div>
            <h6><b>DATOS DE TRASLADO</b></h6>

            <div class="nombre" id="box">
              <p id="title"><span>COLONIA:</span> {{colonia}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>TIEMPO DE TRASLADO:</span> {{tiempoTraslado}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>MEDIO DE TRASLADO:</span> {{medio}}</p>
            </div>

            <div class="nombre" id="box">
              <p *ngIf="lineas" id="title"><span>LINEA:</span> {{lineas}}</p>
            </div>

            <div class="nombre" id="box">
              <p *ngIf="estacion" id="title"><span>ESTACIÓN:</span> {{estacion}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <h6><b>DATOS EMPRESARIALES</b></h6>

            <div class="nombre" id="box">
              <p id="title"><span>FECHA DE INGRESO:</span> {{fechaIngreso}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>CALIFICACIÓN DE PSICOMÉTRICO:</span> {{calificacionPsicometrico}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>CALIFICACIÓN DE EXAMEN:</span> {{calificacionExamen}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>COMENTARIOS:</span> {{comentarios}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>GRUPO:</span> {{grupo}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>EMPRESA:</span> {{empresa}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>SEDE:</span> {{sede}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>SUB AREA:</span> {{subarea}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>PUESTO:</span> {{puesto}}</p>
            </div>

            <div class="nombre" id="box">
              <p id="title"><span>TIPO DE PUESTO:</span> {{puestoTipo}}</p>
            </div>
        </div>
      </div>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>

</mat-card>
