<mat-card class="example-form">
  <mat-card-header>
    <mat-card-title>ASISTENCIA ROLL-PLAY</mat-card-title>
    <div *ngIf="idTipo !==2 && activoAsistencia === true">
      <mat-card-subtitle>DÍA {{diaCapacitacion}}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <h4 *ngIf="seguimientoEliminado === true" class="btn-warning text-center">¡Atención este roll play ha sido
      Eliminado!</h4>
    <mat-card-subtitle *ngIf="activoAsistencia === false">AÚN NO INICIA ROLL-PLAY</mat-card-subtitle>

    <form [formGroup]="formAsistencia" *ngIf="activoAsistencia === true">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="idTipo !== 2">

            <div class="form-group">
              <nb-radio-group id="asistencia" (valueChange)="habilita()">
                <nb-radio #radioSi name="si" value="1">Asistio</nb-radio>
                <nb-radio #radioNo name="no" value="0">No Asistio</nb-radio>
              </nb-radio-group>
            </div>

            <div class="form-group" *ngIf="asistio">
              <label for="horaAsistenciaG" style="color: #354089; font-weight: 500; font-size: 0.75em;">Hora de
                cita</label>
              <input nbInput type="time" (change)="habilita()" formControlName="horaAsistenciaG" (change)="habilita()"
                     shape="semi-round" min="9:00" max="5:00"
                     id="horaAsistenciaG" fullWidth style="outline: none; border: none; padding: 0px; color: #111218;
                                            font-weight: 500; border-bottom: 1.5px solid #354089; border-radius: 0px;"/>


              <mat-hint
                *ngIf="!formAsistencia.controls['horaAsistenciaG'].valid&&formAsistencia.controls['horaAsistenciaG'].dirty">
                Se requiere una hora adecuada
              </mat-hint>
            </div>

          </div>
        </div>
        <!--****************************Aqui empieza el form para actualizar las asistencias****************************************************************-->

        <div class="row col-sm-12" *ngIf="idTipo === 2">

          <div class="form-group col-sm-4" *ngIf="visible1">

            <label id="diaAsistencia1">DÍA ROLL-PLAY: 1</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(1, $event)" formControlName="fechaAsistencia1" shape="semi-round"
                     id="fechaAsistencia1" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(1, $event)"
                            formControlName="detalleAsistencia1" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia1" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth style="padding: 0px;"></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia1'].valid && formAsistencia.controls['detalleAsistencia1'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>
            <div class="mat-button button">
              <div class="button" *ngIf="anadir1 !== 0" (click)="agregarAsistencia(1)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>

          <!--              DIA 2-->
          <div class="form-group col-sm-4" *ngIf="visible2">

            <label id="diaAsistencia2">DÍA ROLL-PLAY: 2</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(2, $event)" formControlName="fechaAsistencia2" shape="semi-round"
                     id="fechaAsistencia2" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(2, $event)"
                            formControlName="detalleAsistencia2" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia2" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia2'].valid && formAsistencia.controls['detalleAsistencia2'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>

            <div class="mat-button button">
              <!--<mat-icon (click)="agregarAsistencia(2)" *ngIf="anadir2 !== 0">add_circle</mat-icon>-->
              <div class="button" *ngIf="anadir2 !== 0" (click)="agregarAsistencia(2)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>


          <!--              DIA 3-->
          <div class="form-group col-sm-4" *ngIf="visible3">

            <label id="diaAsistencia3">DÍA ROLL-PLAY: 3</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(3, $event)" formControlName="fechaAsistencia3"
                     shape="semi-round"
                     id="fechaAsistencia3" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput (ngModelChange)="modificarDetalle(3, $event)" formControlName="detalleAsistencia3"
                            shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia3" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia3'].valid && formAsistencia.controls['detalleAsistencia3'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>

            <div class="mat-button button" (click)="agregarAsistencia(3)">
              <!--<mat-icon (click)="agregarAsistencia(3)" *ngIf="anadir3 !== 0">add_circle</mat-icon>-->
              <div class="button" *ngIf="anadir3 !== 0">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>

          <!--              DIA 4-->
          <div class="form-group col-sm-4" *ngIf="visible4">

            <label id="diaAsistencia4">DÍA ROLL-PLAY: 4</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(4, $event)" formControlName="fechaAsistencia4"
                     shape="semi-round"
                     id="fechaAsistencia4" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>


            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(4, $event)"
                            formControlName="detalleAsistencia4" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia4" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia4'].valid && formAsistencia.controls['detalleAsistencia4'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>

            <div class="mat-button button">
              <div class="button" *ngIf="anadir4 !== 0" (click)="agregarAsistencia(4)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>

          <!--              DIA 5-->
          <div class="form-group col-sm-4" *ngIf="visible5">

            <label id="diaAsistencia5">DÍA ROLL-PLAY: 5</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker4" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(5, $event)" formControlName="fechaAsistencia5"
                     shape="semi-round"
                     id="fechaAsistencia5" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(5, $event)"
                            formControlName="detalleAsistencia5" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia5" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia5'].valid && formAsistencia.controls['detalleAsistencia5'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>

            <div class="mat-button button">
              <div class="button" *ngIf="anadir5 !== 0" (click)="agregarAsistencia(5)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>

          <!--              DIA 6-->
          <div class="form-group col-sm-4" *ngIf="visible6">

            <label id="diaAsistencia6">DÍA ROLL-PLAY: 6</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker5" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(6, $event)" formControlName="fechaAsistencia6"
                     shape="semi-round"
                     id="fechaAsistencia6" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
              <mat-datepicker #picker5></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(6, $event)"
                            formControlName="detalleAsistencia6" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia6" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia6'].valid && formAsistencia.controls['detalleAsistencia6'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>

            <div class="mat-button button">
              <div class="button" *ngIf="anadir6 !== 0" (click)="agregarAsistencia(6)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>


          <!--              DIA 7-->
          <div class="form-group col-sm-4" *ngIf="visible7">

            <label id="diaAsistencia7">DÍA ROLL-PLAY: 7</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker6" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(7, $event)" formControlName="fechaAsistencia7"
                     shape="semi-round"
                     id="fechaAsistencia7" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
              <mat-datepicker #picker6></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(7, $event)"
                            formControlName="detalleAsistencia7" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia7" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia7'].valid && formAsistencia.controls['detalleAsistencia7'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>

            <div class="mat-button button">
              <div class="button" *ngIf="anadir7 !== 0" (click)="agregarAsistencia(7)">
                <mat-icon >add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-4" *ngIf="visible8">

            <label id="diaAsistencia8">DÍA ROLL-PLAY: 8</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker7" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(8, $event)" formControlName="fechaAsistencia8"
                     shape="semi-round"
                     id="fechaAsistencia8" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
              <mat-datepicker #picker7></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(8, $event)"
                            formControlName="detalleAsistencia8" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia8" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia8'].valid && formAsistencia.controls['detalleAsistencia8'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>
            <div class="mat-button button">
              <div class="button" *ngIf="anadir8 !== 0" (click)="agregarAsistencia(8)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-4" *ngIf="visible9">

            <label id="diaAsistencia9">DÍA ROLL-PLAY: 9</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker8" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(9, $event)" formControlName="fechaAsistencia9"
                     shape="semi-round"
                     id="fechaAsistencia9" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
              <mat-datepicker #picker8></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(9, $event)"
                            formControlName="detalleAsistencia9" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia9" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia9'].valid && formAsistencia.controls['detalleAsistencia9'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>

            <div class="mat-button button">

              <div class="button" *ngIf="anadir9 !== 0" (click)="agregarAsistencia(9)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-4" *ngIf="visible10">

            <label id="diaAsistencia10">DÍA ROLL-PLAY: 10</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker9" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(10, $event)" formControlName="fechaAsistencia10"
                     shape="semi-round"
                     id="fechaAsistencia10" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
              <mat-datepicker #picker9></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                   <textarea matInput type="text" (ngModelChange)="modificarDetalle(10, $event)"
                             formControlName="detalleAsistencia10" shape="semi-round"
                             placeholder="COMENTARIOS ROLL-PLAY"
                             id="detalleAsistencia10" onDrop="return false" onPaste="return false"
                             oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia10'].valid && formAsistencia.controls['detalleAsistencia10'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>


            <div class="mat-button button">
              <div class="button" *ngIf="anadir10 !== 0" (click)="agregarAsistencia(10)">
                <mat-icon>add_circle</mat-icon>

                <span>Añadir</span>
              </div>
            </div>
          </div>

          <!--              DIA 11-->
          <div class="form-group col-sm-4" *ngIf="visible11">
                   <!--<button nbButton hero size="xsmall" status="primary" (click)="agregarAsistencia(11)" *ngIf="anadir11 !== 0">Añadir</button>&ndash;&gt;-->

            <label id="diaAsistencia11">DÍA ROLL-PLAY: 11</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker10" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(11, $event)"
                     formControlName="fechaAsistencia11" shape="semi-round"
                     id="fechaAsistencia11" onDrop="return false" onPaste="return false" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
              <mat-datepicker #picker10></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(11, $event)"
                            formControlName="detalleAsistencia11" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia11" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia11'].valid && formAsistencia.controls['detalleAsistencia11'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>


            <div class="mat-button button">
              <div class="button" *ngIf="anadir11 !== 0" (click)="agregarAsistencia(11)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>

          <!--              DIA 12-->
          <div class="form-group col-sm-4" *ngIf="visible12">
            <label id="diaAsistencia12">DÍA ROLL-PLAY: 12</label><br/>

            <mat-form-field>
              <input matInput [matDatepicker]="picker11" placeholder="FECHA ROLL-PLAY"
                     (ngModelChange)="modificarFecha(12, $event)"
                     formControlName="fechaAsistencia12" shape="semi-round"
                     id="fechaAsistencia12" onDrop="return false" onPaste="return false"
                     fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
              <mat-datepicker #picker11></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput type="text" (ngModelChange)="modificarDetalle(12, $event)"
                            formControlName="detalleAsistencia12" shape="semi-round" placeholder="COMENTARIOS ROLL-PLAY"
                            id="detalleAsistencia12" onDrop="return false" onPaste="return false"
                            oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint
                *ngIf="!formAsistencia.controls['detalleAsistencia12'].valid && formAsistencia.controls['detalleAsistencia12'].dirty">
                Se requieren detalles asistencia
              </mat-hint>
            </mat-form-field>


            <div class="mat-button button">
              <div class="button" *ngIf="anadir12 !== 0" (click)="agregarAsistencia(12)">
                <mat-icon>add_circle</mat-icon>
                <span>Añadir</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="!guarTrue" (click)="generarAsistencia()" *ngIf="idTipo !== 2">GUARDAR</button>
    <button mat-button (click)="updateAsistencia()" *ngIf="idTipo === 2 && activoAsistencia === true">ACTUALIZAR
    </button>
    <button mat-button (click)="dismiss()">CERRAR</button>
  </mat-card-actions>
</mat-card>
