 b
<mat-card class="example-form">
  <div class="reload-all">
    <div class="icon-all">
      <!--<img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEquipo()">-->
    </div>
  </div>

  <div class="button-input">
    <div class="button"></div>
    <mat-card-title>
      ASIGNAR EQUIPO
    </mat-card-title>

    <div class="input">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <mat-card-content>
    <div>


      <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre + " " + element.apellidoPaterno + " " + element.apellidoMaterno}} </td>
        </ng-container>
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CORREO </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SEDE </th>
          <td mat-cell *matCellDef="let element"> {{element.sede}} </td>
        </ng-container>
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ÁREA </th>
          <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>
        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SUB ÁREA </th>
          <td mat-cell *matCellDef="let element"> {{element.subarea}} </td>
        </ng-container>
        <ng-container matColumnDef="asignar Equipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ASIGNAR EQUIPO</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon  pTooltip="Crear Usuario" (click)="asignarEquipo(element.id)">add_box</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
