table {
  width: 100%;
}

.mat-header-cell{
  color: #fff;
}

mat-icon {
  color: #354089;
}

.example-form {
  min-width: 350px;
  width: 100%;
}

input{
  border: none;
  padding: 0;
}

.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}

.mat-cell {
  font-weight: normal;
}

.mat-form-field {
  width: 100%;
}

.input {
  width: 20%;
  text-align: right;
}

.button-input {
  justify-content: space-between;
}

.button-input .button {
  width: 20%;
}
