.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

input{
  border: none;
  padding: 0!important;
}

.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus {
  border: none;
}



mat-form-field {
  margin-right: 12px;
  width: 100%;
}


mat-card{
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}

mat-card-actions{
  text-align: right;
}
mat-card-actions button{
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled{
  background-color: transparent;
}

mat-checkbox {
  color: #354089;
  font-weight: 500;
}

.mat-hint {
  color: tomato!important;
}

