<mat-card>
  <mat-card-title *ngIf="idTipo === 1">ASIGNAR CONTACTO</mat-card-title>
  <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR CONTACTO</mat-card-title>
  <mat-card-content>
    <form [formGroup]="ejecutivoCuentaCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group">
            <!--            <label for="nombre">Nombre</label>-->
            <!--            <input matInput type="text" formControlName="nombre" class="form-control" id="nombre" oninput="this.value = this.value.toUpperCase()" placeholder="Campo Obligatorio"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="soloLetras"/>-->
            <!--            <mat-hint *ngIf="!ejecutivoCuentaCreateForm.controls['nombre'].valid&&ejecutivoCuentaCreateForm.controls['nombre'].dirty">-->
            <!--              Se requiere llenar el campo-->
            <!--            </mat-hint>-->
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="nombre"
                class="form-control"
                id="nombre"
                oninput="this.value = this.value.toUpperCase()"
                placeholder="NOMBRE"
                onDrop="return false"
                onPaste="return false"
                autocomplete="off"
                [pKeyFilter]="soloLetras"
              />
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['nombre'].valid &&
                  ejecutivoCuentaCreateForm.controls['nombre'].dirty
                "
              >
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <!--            <label for="apellidoPaterno">Apellido Paterno</label>-->
            <!--            <input matInput type="text" formControlName="apellidoPaterno" class="form-control" id="apellidoPaterno" oninput="this.value = this.value.toUpperCase()" placeholder="Campo Obligatorio"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="soloLetras"/>-->
            <!--            <mat-hint -->
            <!--                      *ngIf="!ejecutivoCuentaCreateForm.controls['apellidoPaterno'].valid&&ejecutivoCuentaCreateForm.controls['apellidoPaterno'].dirty">-->
            <!--              Se requiere llenar el campo-->
            <!--            </mat-hint>-->
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="apellidoPaterno"
                class="form-control"
                id="apellidoPaterno"
                oninput="this.value = this.value.toUpperCase()"
                placeholder="APELLIDO PATERNO"
                onDrop="return false"
                onPaste="return false"
                autocomplete="off"
                [pKeyFilter]="soloLetras"
              />
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['apellidoPaterno']
                    .valid &&
                  ejecutivoCuentaCreateForm.controls['apellidoPaterno'].dirty
                "
              >
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <!--            <label for="apellidoMaterno">Apellido Materno</label>-->
            <!--            <input matInput type="text" formControlName="apellidoMaterno" class="form-control" id="apellidoMaterno" oninput="this.value = this.value.toUpperCase()" placeholder="Campo Obligatorio"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="soloLetras"/>-->
            <!--            <mat-hint -->
            <!--                      *ngIf="!ejecutivoCuentaCreateForm.controls['apellidoMaterno'].valid&&ejecutivoCuentaCreateForm.controls['apellidoMaterno'].dirty">-->
            <!--              Se requiere llenar el campo-->
            <!--            </mat-hint>-->
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="apellidoMaterno"
                class="form-control"
                id="apellidoMaterno"
                oninput="this.value = this.value.toUpperCase()"
                placeholder="APELLIDO MATERNO"
                onDrop="return false"
                onPaste="return false"
                autocomplete="off"
                [pKeyFilter]="soloLetras"
              />
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['apellidoMaterno']
                    .valid &&
                  ejecutivoCuentaCreateForm.controls['apellidoMaterno'].dirty
                "
              >
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
          <!--  21/05/2019        -->

          <div class="form-group">
            <!--            <label for="email">Correo</label>-->
            <!--            <input nbInput type="email" formControlName="email" placeholder="Campo Obligatorio" id="email"-->
            <!--                   oninput="this.value = this.value.toUpperCase()"-->
            <!--                   class="form-control"-->
            <!--                   onDrop="return false" onPaste="return false"/>-->
            <!--            <mat-hint  *ngIf="!ejecutivoCuentaCreateForm.controls['email'].valid&&ejecutivoCuentaCreateForm.controls['email'].dirty">-->
            <!--              Es requerido un correo correcto</mat-hint>-->
            <mat-form-field>
              <input
                matInput
                type="email"
                formControlName="email"
                placeholder="CORREO"
                id="email"
                oninput="this.value = this.value.toUpperCase()"
                class="form-control"
                onDrop="return false"
                onPaste="return false"
              />
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['email'].valid &&
                  ejecutivoCuentaCreateForm.controls['email'].dirty
                "
              >
                Es requerido un correo correcto</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <!--            <label for="puesto">Puesto</label>-->
            <!--            <input matInput type="text" formControlName="puesto" class="form-control" id="puesto" oninput="this.value = this.value.toUpperCase()" placeholder="Campo Obligatorio"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="soloLetras"/>-->
            <!--            <mat-hint -->
            <!--                      *ngIf="!ejecutivoCuentaCreateForm.controls['puesto'].valid&&ejecutivoCuentaCreateForm.controls['puesto'].dirty">-->
            <!--              Se requiere llenar el campo-->
            <!--            </mat-hint>-->
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="puesto"
                class="form-control"
                id="puesto"
                oninput="this.value = this.value.toUpperCase()"
                placeholder="PUESTO"
                onDrop="return false"
                onPaste="return false"
                autocomplete="off"
                [pKeyFilter]="soloLetras"
              />
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['puesto'].valid &&
                  ejecutivoCuentaCreateForm.controls['puesto'].dirty
                "
              >
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
          <!--          -->
        </div>
        <div class="col-md-6">
          <!--  21/05/2019        -->

          <div class="form-group">
            <!--            <label for="direccion">Dirección</label>-->
            <!--            <input matInput type="text" formControlName="direccion" class="form-control" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letrasNumeros"-->
            <!--                   placeholder="Dirección completa" id="direccion" [pKeyFilter]="letrasNumeros" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
            <!--            <mat-hint  *ngIf="!ejecutivoCuentaCreateForm.controls['direccion'].valid&&ejecutivoCuentaCreateForm.controls['direccion'].dirty">-->
            <!--              Se requiere llenar el campo </mat-hint>-->
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="direccion"
                class="form-control"
                oninput="this.value = this.value.toUpperCase()"
                maxlength="50"
                [pKeyFilter]="letrasNumeros"
                placeholder="DIRECCIÓN"
                id="direccion"
                [pKeyFilter]="letrasNumeros"
                onDrop="return false"
                onPaste="return false"
                autocomplete="off"
              />
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['direccion'].valid &&
                  ejecutivoCuentaCreateForm.controls['direccion'].dirty
                "
              >
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
          <!--          -->
          <div class="form-group">
            <!--            <label for="telefono">Telefono de Oficina</label>-->
            <!--            <input matInput type="text" formControlName="telefono" class="form-control" id="telefono" placeholder="Campo Obligatorio" maxlength="8"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="numero"/>-->
            <!--            <mat-hint -->
            <!--                      *ngIf="!ejecutivoCuentaCreateForm.controls['telefono'].valid&&ejecutivoCuentaCreateForm.controls['telefono'].dirty">-->
            <!--              Se requiere llenar el campo adecuadamente-->
            <!--            </mat-hint>-->

            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="telefono"
                class="form-control"
                id="telefono"
                placeholder="TELÉFONO"
                maxlength="10"
                onDrop="return false"
                onPaste="return false"
                autocomplete="off"
                [pKeyFilter]="numero"
              />
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['telefono'].valid &&
                  ejecutivoCuentaCreateForm.controls['telefono'].dirty
                "
              >
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <!--            <label for="ext">Extensión</label>-->
            <!--            <input matInput type="text" formControlName="ext" class="form-control" id="ext" placeholder="Campo Obligatorio" maxlength=""-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="numero" [maxlength]="6" />-->
            <!--            <mat-hint -->
            <!--                      *ngIf="!ejecutivoCuentaCreateForm.controls['ext'].valid&&ejecutivoCuentaCreateForm.controls['ext'].dirty">-->
            <!--              Se requiere llenar el campo adecuadamente-->
            <!--            </mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="ext" class="form-control" id="ext" placeholder="EXTENSIÓN"
                maxlength="" onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="numero"
                [maxlength]="6"/>
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['ext'].valid &&
                  ejecutivoCuentaCreateForm.controls['ext'].dirty
                "
              >
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <!--            <label for="celular">Telefono Celular</label>-->
            <!--            <input matInput type="text" formControlName="celular" class="form-control" id="celular" maxlength="10" placeholder="Se requieren 10 digitos"-->
            <!--                [maxlength]="10"   onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="numero"/>-->
            <!--            <mat-hint -->
            <!--                      *ngIf="!ejecutivoCuentaCreateForm.controls['celular'].valid&&ejecutivoCuentaCreateForm.controls['celular'].dirty">-->
            <!--              Se requiere llenar el campo adecuadamente-->
            <!--            </mat-hint>-->
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="celular"
                class="form-control"
                id="celular"
                maxlength="10"
                placeholder="TELÉFONO CELULAR"
                [maxlength]="10"
                onDrop="return false"
                onPaste="return false"
                autocomplete="off"
                [pKeyFilter]="numero"
              />
              <mat-hint
                *ngIf="
                  !ejecutivoCuentaCreateForm.controls['celular'].valid &&
                  ejecutivoCuentaCreateForm.controls['celular'].dirty
                "
              >
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
            <mat-checkbox
              (click)="favoritoSelec()"
              [checked]="favoritoBool"
              formControlName="favorito"
              >MARCAR COMO FAVORITO</mat-checkbox
            >
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button
      mat-button
      (click)="guardarEjecutivoCuenta()"
      [disabled]="!ejecutivoCuentaCreateForm.valid || this.submitted === true"
    >
      Guardar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button
      mat-button
      (click)="updateEjecutivoCuenta()"
      [disabled]="!ejecutivoCuentaCreateForm.valid"
    >
      Actualizar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
