<mat-card class="example-form">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo === 1">ASIGNAR RAMO</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR RAMO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="asignarRamoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
            <mat-form-field>
              <mat-label>TIPO RAMO</mat-label>
              <mat-select formControlName="idTipoRamo" id="idTipoRamo">
                <mat-option *ngFor="let ramo of tipoRamo" [value]="ramo.id">
                  {{ramo.tipo}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!asignarRamoForm.controls['idTipoRamo'].valid&&asignarRamoForm.controls['idTipoRamo'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>PRIORIDAD</mat-label>
              <mat-select formControlName="prioridad" id="prioridad">
                <mat-option *ngFor="let priori of prioridadVal" [value]="priori.value">
                  {{priori.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <textarea matInput type="text" formControlName="descripcion" class="form-control" id="descripcion"
                        oninput="this.value = this.value.toUpperCase()" placeholder="DESCRIPCIÓN"
                        onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
              <mat-hint *ngIf="!asignarRamoForm.controls['descripcion'].valid&&asignarRamoForm.controls['descripcion'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button id="submit"  (click)="guardarRamo()"
            [disabled]="!asignarRamoForm.valid">Guardar
    </button>
    <button mat-button id="submit"  (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button id="submit"  (click)="updateRamo()" [disabled]="!asignarRamoForm.valid">Actualizar</button> <button mat-button  (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
