button {
  color: #fff !important;
}

input:focus {
  outline: none !important;
  border: none !important;
}

#title {
  margin-bottom: 5% !important;
}

mat-card {
  border: none!important;
  box-shadow: none!important;
}
