<mat-card class="example-form">
  <mat-card-title id="title">REGISTRO PÓLIZA</mat-card-title>
  <!--<mat-card-title *ngIf="mostrar === true">ACTUALIZAR PROSPECTO</mat-card-title>-->

  <mat-card-content>
    <span>
      INTRODUCE LOS SIGUIENTES DATOS CORRECTAMENTE:
    </span>
    <form [formGroup]="registroForm">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <mat-form-field>
              <mat-label>TIPO PAGO *</mat-label>
              <mat-select formControlName="idTipoPago">
                <mat-option *ngFor="let tipoPago of tipoPagos" [value]="tipoPago.id" id="idTipoPago">
                  {{tipoPago.tipoPago}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!registroForm.controls['idTipoPago'].valid&&registroForm.controls['idTipoPago'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>ESTADO POLIZA *</mat-label>
              <mat-select formControlName="idEstadoPoliza">
                <mat-option *ngFor="let estadoPoliza of estadoPolizas" [value]="estadoPoliza.id" id="idEstadoPoliza">
                  {{estadoPoliza.estado}}
                </mat-option>
              </mat-select>
              <mat-hint
                *ngIf="!registroForm.controls['idEstadoPoliza'].valid&&registroForm.controls['idEstadoPoliza'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <!--<mat-form-field>-->
            <!--<mat-label>TIPO SUB RAMO *</mat-label>-->
            <!--<mat-select formControlName="idTipoSubRamo">-->
            <!--<mat-option *ngFor="let sub of SubRamo" [value]="sub.value" id="idTipoSubRamo">-->
            <!--{{sub.label}}-->
            <!--</mat-option>-->
            <!--</mat-select>-->
            <!--<mat-hint-->
            <!--*ngIf="!registroForm.controls['idTipoSubRamo'].valid&&registroForm.controls['idTipoSubRamo'].dirty">-->
            <!--Se requiere llenar el campo-->
            <!--</mat-hint>-->
            <!--</mat-form-field>-->

            <mat-form-field>
              <mat-label>PRODUCTO SOCIO *</mat-label>
              <mat-select formControlName="idProductoSocio">
                <mat-option *ngFor="let pSocio of productoSocios" [value]="pSocio.value" id="idProductoSocio">
                  {{pSocio.label}}
                </mat-option>
              </mat-select>
              <mat-hint
                *ngIf="!registroForm.controls['idProductoSocio'].valid&&registroForm.controls['idProductoSocio'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-checkbox #checkin *ngIf="urlPreventa === 1">URL PREVENTA</mat-checkbox>

          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <mat-form-field>
              <mat-label>FLUJO POLIZA *</mat-label>
              <mat-select formControlName="idFlujoPoliza">
                <mat-option *ngFor="let flujoPolizas of flujoPolizas" [value]="flujoPolizas.id" id="idFlujoPoliza">
                  {{flujoPolizas.estado}}
                </mat-option>
              </mat-select>
              <mat-hint
                *ngIf="!registroForm.controls['idFlujoPoliza'].valid&&registroForm.controls['idFlujoPoliza'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" formControlName="poliza" id="poliza"
                     oninput="this.value = this.value.toUpperCase()"
                     placeholder="POLIZA" onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!registroForm.controls['poliza'].valid&&registroForm.controls['poliza'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA DE INICIO" id="fechaInicio" formControlName="fechaInicio">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!registroForm.controls['fechaInicio'].valid&&registroForm.controls['fechaInicio'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" formControlName="primaNeta" id="primaNeta" maxlength="10"
                     placeholder="PRIMA NETA" onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!registroForm.controls['primaNeta'].valid&&registroForm.controls['primaNeta'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <!--<div *ngIf="mostrar === true">-->
        <!--<mat-hint *ngIf="productoExist === false"> No hay productos existentes. Por favor cree un Nuevo Producto</mat-hint>-->
        <!--</div>-->
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button matStepperNext (click)="crearRegistro()"
            [disabled]="!registroForm.valid ">Registrar
    </button>
    <button mat-button color="accent" (click)="fileInput.click()">
      <mat-icon class="icon" style="margin-right: 5px;">cloud_upload</mat-icon>
      SUBIR ARCHIVOS
      <input hidden multiple type="file" #fileInput (change)="createNewFile($event)"/>
    </button>
    <!--<button mat-button  (click)="updateProspecto()"-->
    <!--[disabled]="!prospectoCreateForm.valid " *ngIf="mostrar === true">Actualizar-->
    <!--</button>-->
    <!--<button mat-button  (click)="dismiss()">Cerrar</button>-->
  </mat-card-actions>
</mat-card>
