<nb-card class="m-3">
  <nb-card-header *ngIf="idTipo == 1">Información de equipo(s)</nb-card-header>
  <nb-card-header *ngIf="idTipo == 2">Asignar equipo</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group" *ngIf="idTipo == 2">
            <p-dropdown [options]="equiposDisponibles()" id="equiposDisponibles" placeholder="Dispositivos disponibles"> </p-dropdown>
          <!--<p-dropdown [options]="options" id="equiposAsignados" placeholder="Selecciona un equipo"
                                           (onChange)="informacionEquipo()"> </p-dropdown>-->
        </div>
        <p *ngIf="idTipo == 2">Información del dispositivo</p>
        <div class="form-group" *ngIf="idTipo == 2">

          <!--<p-dropdown [options]="options" id="equiposAsignados" placeholder="Selecciona un equipo"
                                           (onChange)="informacionEquipo()"> </p-dropdown>-->
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-between">
    <button nbButton hero size="xsmall" status="primary" (click)="dismiss()">Cerrar</button>
    <!--<button nbButton hero size="xsmall" status="primary" (click)="guardarEquipo()" *ngIf="idTipo == 2">Guardar</button>-->
  </nb-card-footer>
</nb-card>
