@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    width: 350px;
    max-height: 96%;
  }
}

@media only screen and (max-width: 500px) {
  @include nb-install-component() {
    nb-card {
      width: 90vw;
      max-height: 95%;
    }
  }
}
