
table {
  width: 50%;
  margin: 0 auto;
}




.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}

td.mat-cell {
  font-size: 12px;
}


/*Globalss*/
button:disabled{
  background-color: #fff;
}

table .mat-header-cell{
  background-color: #111218;
  color: white;
}


.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

td.mat-cell{
  font-size: 10px;
}

.mat-input-element{
  color: #111218;
}


mat-card-content .search{
  width: 100%;
  text-align: right;
}

/*Input search*/
.mat-form-field {
  font-size: 14px;
  width: 50%;
}

mat-card .button-input{
  width: 50%;
  display: flex;
  margin: 0 auto;
}

mat-card .button{
  width: 50%;
}
mat-card .input{
  width: 80%;
  text-align: end;
}

.mat-raised-button{
  background-color: #111218;
  color: #ffffff;
}

button{
  background-color: #111218;
  color: #fff;
}
