<mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA">
    </div>
  </div>
  <mat-card-title>
    MARCA
  </mat-card-title>

  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button mat-button (click)="crearMarca()">CREAR MARCA</button>
    </div>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA</th>
          <td mat-cell *matCellDef="let element"> {{element.nombreMarca}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef id="align-detail" > ACCIONES </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon id="short-icon" (click)="updateMarca(element.id)"
                        pTooltip="Actualizar datos de Marca">update</mat-icon>
              <mat-icon class="short-icon" id="delete" (click)="bajaMarca(element.id)"
                        pTooltip="Baja de Marca">delete_forever</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
