<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>AGENDAR LLAMDA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formAgendarLlamada">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group">

            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" formControlName="fechaCita"  shape="semi-round" placeholder="Fecha de llamada" [min] ="minDate"
                     (keyup)="validarFechaEscritaManualmente($event.target.value)" id="fechaCita" fullWidth name="somedate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="horaCita" style="color: #354089; font-weight: 500; font-size: 0.75em;">Hora de llamada</label>
            <input nbInput type="time" formControlName="horaCita" shape="semi-round" min="9:00" max="17:00"
                   id="horaCita" fullWidth style="outline: none; border: none; padding: 0px; color: #111218;
                   font-weight: 500; border-bottom: 1.5px solid #354089; border-radius: 0px;"/>


            <mat-hint *ngIf="!formAgendarLlamada.controls['horaCita'].valid && formAgendarLlamada.controls['horaCita'].dirty">
              Se requiere una hora adecuada</mat-hint>

          </div>
        </div>
      </div>
    </form>
    <iframe title="MostrarLlamada" width="1450"
            height="470" src="http://192.168.11.246/agent" *ngIf="mostrarIframe"></iframe>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button (click)="agendarLlamada()" [disabled]="verificarFormulario() || inactivo === true">Agendar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>

</mat-card>
