<mat-card class="example-form">
  <mat-card-title>
    ACTUALIZAR PÁGINA
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="actualizarPaginaForm">

      <div class="form-group" >

        <div class="form-group">
          <mat-form-field>
            <mat-label>GRUPO EMPRESARIAL (1)</mat-label>
            <mat-select formControlName="idGrupo" id="idGrupo" (selectionChange)="getEmpresa($event.value)">
              <mat-option *ngFor="let grupo of Grupos" [value]="grupo.id">
                {{grupo.nombre}}
              </mat-option>
            </mat-select>
            <mat-hint  *ngIf="mostrarGrupo">Agrega una opcion desde su catálogo</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>EMPRESA (2)</mat-label>
            <mat-select formControlName="idEmpresa" id="idEmpresa" (selectionChange)="getSedes($event.value)">
              <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
                {{empresa.nombre}}
              </mat-option>
            </mat-select>
            <mat-hint  *ngIf="mostrarEmpresa">Agrega una opcion desde su catálogo</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>SEDE (3)</mat-label>
            <mat-select formControlName="idSede" id="idSede" (selectionChange)="getArea($event.value)">
              <mat-option *ngFor="let Sede of Sedes" [value]="Sede.id">
                {{Sede.nombre}}
              </mat-option>
            </mat-select>
            <mat-hint  *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
          </mat-form-field>
        </div>
        <!--<div class="form-group">-->
          <!--<mat-form-field>-->
            <!--<mat-label>MARCA EMPRESARIAL (4)</mat-label>-->
            <!--<mat-select formControlName="idMarcaEmpresarial" id="idMarcaEmpresarial" (selectionChange)="getMarcaEmpresarial($event.value)">-->
              <!--<mat-option *ngFor="let Marca of marcas" [value]="Marca.id">-->
                <!--{{Marca.marca}}-->
              <!--</mat-option>-->
            <!--</mat-select>-->
            <!--<mat-hint  *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <div class="form-group">
          <mat-form-field>
            <mat-label>ÁREA (4)</mat-label>
            <mat-select formControlName="idArea" id="idArea" (selectionChange)="getSubarea($event.value)">
              <mat-option *ngFor="let area of areas" [value]="area.id">
                {{area.nombre}}
              </mat-option>
            </mat-select>
            <mat-hint  *ngIf="mostrarArea">Agrega una opcion desde su catálogo</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>SUBÁREA (5)</mat-label>
            <mat-select formControlName="idCampana" id="idSubarea" >
              <mat-option *ngFor="let sub of subareas" [value]="sub.id">
                {{sub.subarea}}
              </mat-option>
            </mat-select>
            <mat-hint  *ngIf="mostrarSubarea">Agrega una opcion desde su catálogo</mat-hint>
          </mat-form-field>
        </div>

        <div class="form-group"  >

          <mat-form-field class="example-full-width">
            <input class="form-control" matInput type="text" formControlName="url"
                   placeholder="URL" id="url"  />
            <mat-hint *ngIf="!actualizarPaginaForm.controls['url'].valid&&actualizarPaginaForm.controls['url'].dirty">
              URL <strong>obligatorio</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group"  >

          <mat-form-field class="example-full-width">
            <input class="form-control" matInput type="text" formControlName="descripcion"
                   placeholder="DESCRIPCION" id="descripcion"  />
            <mat-hint *ngIf="!actualizarPaginaForm.controls['descripcion'].valid&&actualizarPaginaForm.controls['descripcion'].dirty">
              Descripcion <strong>obligatorio</strong>
            </mat-hint>
          </mat-form-field>
        </div>

      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardar()" [disabled]="!actualizarPaginaForm.valid"> Guardar</button>

    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>
