<mat-card>
      <mat-card-title *ngIf="idTipo == 1"> CREAR LAPTOP </mat-card-title>
      <mat-card-title *ngIf="idTipo == 2"> MODIFICAR LAPTOP </mat-card-title>
  <mat-card-content>
    <form [formGroup]="laptopCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div *ngIf="idTipo == 1 || idTipo == 2" >
            <div class="form-group">

<!--              <label for="numeroSerie">Numero de serie</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="numeroSerie" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="numeroSerie" />-->
<!--              <nb-alert status="danger" *ngIf="!laptopCreateForm.controls['numeroSerie'].valid &&laptopCreateForm.controls['numeroSerie'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="numeroSerie" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="NÚMERO DE SERIE" id="numeroSerie" />
                <mat-hint *ngIf="!laptopCreateForm.controls['numeroSerie'].valid &&laptopCreateForm.controls['numeroSerie'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>

            </div>
            <div class="form-group">
<!--              <label for="idMarca">Marca</label>-->
<!--              &lt;!&ndash;<input pInputText type="text"  class="form-control"&ndash;&gt;-->
<!--                     &lt;!&ndash;formControlName="marca" oninput="this.value = this.value.toUpperCase()" maxlength="50"&ndash;&gt;-->
<!--                     &lt;!&ndash;placeholder="Campo Obligatorio" id="marca" />&ndash;&gt;-->
<!--              <p-dropdown [options]="marca" formControlName="idMarca" placeholder="Campo Obligatorio"-->
<!--                          id="idMarca" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--              <nb-alert status="danger" *ngIf="!laptopCreateForm.controls['idMarca'].valid &&laptopCreateForm.controls['idMarca'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->

              <mat-form-field>
                <mat-label>MARCA</mat-label>
                <mat-select formControlName="idMarca" id="idMarca">
                  <mat-option *ngFor="let m of marcas" [value]="m.id">
                    {{m.nombreMarca}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!laptopCreateForm.controls['idMarca'].valid &&laptopCreateForm.controls['idMarca'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="modelo">Modelo</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="modelo" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="modelo" />-->
<!--              <nb-alert status="danger" *ngIf="!laptopCreateForm.controls['modelo'].valid &&laptopCreateForm.controls['modelo'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="modelo" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="MODELO" id="modelo" />
                <mat-hint *ngIf="!laptopCreateForm.controls['modelo'].valid &&laptopCreateForm.controls['modelo'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>


            </div>

            <div class="form-group">
<!--              <label for="idProcesador">Procesador</label>-->
<!--              <p-dropdown [options]="procesador" formControlName="idProcesador" placeholder="Campo Obligatorio"-->
<!--                          id="idProcesador" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!laptopCreateForm.controls['idProcesador'].valid&&laptopCreateForm.controls['idProcesador'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->

              <mat-form-field>
                <mat-label>PROCESADOR</mat-label>
                <mat-select formControlName="idProcesador" id="idProcesador">
                  <mat-option *ngFor="let p of procesadores" [value]="p.id">
                    {{p.nombreProcesador}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!laptopCreateForm.controls['idProcesador'].valid&&laptopCreateForm.controls['idProcesador'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="hdd">HDD</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="hdd" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="hdd" />-->
<!--              <nb-alert status="danger" *ngIf="!laptopCreateForm.controls['hdd'].valid &&laptopCreateForm.controls['hdd'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="hdd" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="HDD" id="hdd" />
                <mat-hint *ngIf="!laptopCreateForm.controls['hdd'].valid &&laptopCreateForm.controls['hdd'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div>
            <div class="form-group">
<!--              <label for="ram">RAM</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="ram" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="ram" />-->
<!--              <nb-alert status="danger" *ngIf="!laptopCreateForm.controls['ram'].valid &&laptopCreateForm.controls['ram'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="ram" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="RAM" id="ram" style="padding: 0"/>
                <mat-hint *ngIf="!laptopCreateForm.controls['ram'].valid &&laptopCreateForm.controls['ram'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>


            <div class="form-group">
<!--              <label for="idObservacionesInventario">Observaciones Inventario</label>-->
<!--              <p-dropdown [options]="ObservacionesInventario" formControlName="idObservacionesInventario" placeholder="Observaciones Inventario"-->
<!--                          id="idObservacionesInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field>
                <mat-label>OBSERVACIONES INVENTARIO</mat-label>
                <mat-select formControlName="idObservacionesInventario" id="idObservacionesInventario">
                  <mat-option *ngFor="let obs of observaciones" [value]="obs.id">
                    {{obs.observaciones}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="idEstadoInventario">Estado Inventario</label>-->
<!--              <p-dropdown [options]="estadoInventario" formControlName="idEstadoInventario" placeholder="Estado Inventario"-->
<!--                          id="idEstadoInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field style="margin-top: 10%;">
                <mat-label>ESTADO INVENTARIO</mat-label>
                <mat-select formControlName="idEstadoInventario" id="idEstadoInventario">
                  <mat-option *ngFor="let e of estado" [value]="e.id">
                    {{e.estado}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group" >

              <mat-form-field>
                <mat-label>ORIGEN DE EQUIPO </mat-label>
                <mat-select formControlName="origenRecurso" id="origenEquipo" >
                  <mat-option *ngFor="let origen of origenEquipos"
                              [value]="origen.value">
                    {{origen.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group">

              <mat-form-field style="margin-top: 8%;">
                <mat-label>SEDE </mat-label>
                <mat-select formControlName="idTipoSede" id="idSede" >
                  <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                    {{sede.descripcion}}
                  </mat-option>
                </mat-select>
                <mat-hint  *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="comentarios">Comentarios</label> <br>-->
<!--              <textarea pInputTextarea  id="comentarios" type="text" formControlName="comentarios" class="form-control"-->
<!--                        oninput="this.value = this.value.toUpperCase()" maxlength="30" pKeyFilter="letrasNumeros"></textarea>-->
<!--              <nb-alert status="danger" *ngIf="!laptopCreateForm.controls['comentarios'].valid&&laptopCreateForm.controls['comentarios'].dirty">-->
<!--                Se requiere llenar el campo</nb-alert>-->
              <mat-form-field style="margin-top: -8%;">
                <textarea matInput  id="comentarios" type="text" formControlName="comentarios" class="form-control"
                          oninput="this.value = this.value.toUpperCase()" maxlength="30" pKeyFilter="letrasNumeros"
                          placeholder="COMENTARIOS" style="padding: 0;"></textarea>
                <mat-hint *ngIf="!laptopCreateForm.controls['comentarios'].valid&&laptopCreateForm.controls['comentarios'].dirty">
                  Se requiere llenar el campo</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

    <mat-card-actions>
      <div class="actions">
        <button mat-button *ngIf="idTipo == 1" (click)="guardarLaptop()" [disabled]="!laptopCreateForm.valid">Guardar
        </button>
        <button mat-button *ngIf="idTipo == 2" (click)="updateLaptop()" [disabled]="!laptopCreateForm.valid">Modificar
        </button>
        <button mat-button (click)="dismiss()">Cerrar</button>
      </div>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
