<mat-card>
   <mat-card-title>
     DATOS USUARIOS
   </mat-card-title>
  <mat-card-content>

    <span><b> Nombre : </b> {{nombre}}</span> <span *ngIf="!nombre"> Datos inexistentes</span> <br/> <br/>
    <span><b> Id Empleado : </b> {{idEmpleado}}</span> <span *ngIf="!idEmpleado "> Datos inexistentes</span> <br/> <br/>
    <span><b> Id Campaña : </b> {{idCampania}}</span> <span *ngIf="!idCampania "> Datos inexistentes</span> <br/> <br/>
    <span><b> Id Extension : </b> {{idExtension}}</span> <span *ngIf="!idExtension "> Datos inexistentes</span> <br/> <br/>
    <span><b> Id Protocolo : </b> {{idProtocolo}} </span> <span *ngIf="!idProtocolo "> Datos inexistentes</span> <br/> <br/>
    <span><b> Id PerfilMarcacion : </b> {{idPerfilMarcacion}}</span> <span *ngIf="!idPerfilMarcacion "> Datos inexistentes</span> <br/>
    <span>
      <span *ngIf="unidadOrganizativa != null && !seleccionUnidadOrganizativa">
        <br/>
        <b> Ruta de unidad organizativa : </b> {{unidadOrganizativa}}
      </span>
      <span *ngIf="unidadOrganizativa == null && !seleccionUnidadOrganizativa">
        <br/>
        <b> Ruta de unidad organizativa : </b> Datos inexistentes
      </span>
      <mat-form-field *ngIf="seleccionUnidadOrganizativa">
          <input type="text" placeholder="Selecciona la unidad organizativa a buscar" matInput [formControl]="myControl"
                 [errorStateMatcher] = "unidadOrganizativaExiste" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let unidadSeleccionada of filteredOptions | async" [value]="unidadSeleccionada">
              {{unidadSeleccionada}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="unidadOrganizativaExiste">
            Unidad organizativa inválida
          </mat-error>
      </mat-form-field>
    </span> <br/> <br/>

    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Alias">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ALIAS </th>
          <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
        </ng-container>
        <ng-container matColumnDef="Borrar Alias">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef mat-sort-header > BORRAR ALIAS </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <mat-icon nbTooltip="Borrar Alias" (click)="borrarAlias(element.alias)" id="delete">
              delete_forever
            </mat-icon> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="cols; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>

    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="actions">

      <button [hidden]="!escritura" mat-button (click)="activarDropDown()" *ngIf="!seleccionUnidadOrganizativa; else modificar">
        Modificar unidad organizativa
      </button>
      <ng-template #modificar>
        <button [hidden]="!escritura" mat-button (click)="activarDropDown()"
                *ngIf="seleccionUnidadOrganizativa && unidadOrganizativaExiste.isErrorState(myControl);else guardar">
          Mostrar unidad organizativa
        </button>
      </ng-template>
      <ng-template #guardar>
        <button [hidden]="!escritura" mat-button (click)="guardarUnidadOrganizativa()">
          Guardar unidad organizativa
        </button>
      </ng-template>
      <button mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>
