.example-form {
  min-width: 350px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
input{
  border: none;
  padding: 0;
}

.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}


mat-form-field {
  margin-right: 12px;
  width: 100%;
}

mat-card{
  padding: 2.5% 7%;
  box-shadow: 5px 5px 30px black;
  height: 100% !important;
  overflow: scroll !important;
}
.mat-hint{
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions{
  text-align: right;
}
mat-card-actions button{
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled{
  background-color: transparent;
}

span b {
  color: #354089;
}
table {
  width: 100%;
}

.mat-header-cell {
  background-color: #354089;
}
