mat-card {
  padding: 0;
  font-family: "Montserrat", Arial;
}
.title {
  width: 100%;
  text-align: center;
  background-color: #354089;
  margin-bottom: 2%;
  border-radius: 0px 0px 15px 15px;
}
.title .text-title {
  position: relative;
  display: block;
  color: white;
  padding: 2.5% 0%;
  font-family: Montserrat, Arial;
  font-size: 1.4em;
  letter-spacing: 2px;
}
.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
table {
  width: 100%;
}
.mat-header-cell{
  background-color: #111218;
  color: white;
}

td.mat-cell{
  font-size: 12px;
}
