<mat-card>
  <mat-card-header>
    <div class="title">
      <div class="text-title">REACTIVAR PRIVILEGIOS</div>
    </div>
  </mat-card-header>
  <div class="button-input">
    <mat-card-title></mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input
          matInput
          placeholder=""
          (keyup)="applyFilter($event.target.value)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <mat-card-content>
    <div>
      <div >
        <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

          <ng-container matColumnDef="subarea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SUBÁREA </th>
            <td mat-cell *matCellDef="let element"> {{element.subarea}} </td>
          </ng-container>

          <ng-container matColumnDef="puesto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PUESTO </th>
            <td mat-cell *matCellDef="let element"> {{element.puestoNombre}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>

          <ng-container matColumnDef="modificar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > MODIFICAR </th>
            <td [hidden]="!escritura" mat-cell *matCellDef="let element">
              <div>
                <mat-icon
                  pTooltip="Baja GrupoUduario"
                  (click)="activaGrupoUsuario(element.id)">lock</mat-icon>
              </div>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="cols"></tr>
          <tr mat-row *matRowDef="let row; columns: cols;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
