<mat-card class="example-form">

    <mat-card-title *ngIf="idTipo == 1"> CREAR MONITOR </mat-card-title>
    <mat-card-title *ngIf="idTipo == 2"> MODIFICAR MONITOR </mat-card-title>

  <mat-card-content>
    <form [formGroup]="monitorCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="form-group">

<!--              <label for="numSerie">Numero de Serie</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="numSerie" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="numSerie" />-->
<!--              <nb-alert status="danger" *ngIf="!monitorCreateForm.controls['numSerie'].valid&&monitorCreateForm.controls['numSerie'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="numSerie" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="NÚMERO DE SERIE" id="numSerie" />
                <mat-hint *ngIf="!monitorCreateForm.controls['numSerie'].valid&&monitorCreateForm.controls['numSerie'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="idMarca">Marca</label>-->
<!--              &lt;!&ndash;<input pInputText type="text"  class="form-control"&ndash;&gt;-->
<!--                     &lt;!&ndash;formControlName="marca" oninput="this.value = this.value.toUpperCase()" maxlength="50"&ndash;&gt;-->
<!--                     &lt;!&ndash;placeholder="Campo Obligatorio" id="marca" />&ndash;&gt;-->
<!--              <p-dropdown [options]="marca" formControlName="idMarca" placeholder="Campo Obligatorio"-->
<!--                          id="idMarca" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--              <nb-alert status="danger" *ngIf="!monitorCreateForm.controls['idMarca'].valid&&monitorCreateForm.controls['idMarca'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->

              <mat-form-field>
                <mat-label>MARCA</mat-label>
                <mat-select formControlName="idMarca" id="idMarca">
                  <mat-option *ngFor="let m of marcas" [value]="m.id">
                    {{m.nombreMarca}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="dimensiones">Dimensiones</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="dimensiones" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="dimensiones" />-->
<!--              <nb-alert status="danger" *ngIf="!monitorCreateForm.controls['dimensiones'].valid&&monitorCreateForm.controls['dimensiones'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="dimensiones" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="DIMENSIONES" id="dimensiones" />
                <mat-hint *ngIf="!monitorCreateForm.controls['dimensiones'].valid&&monitorCreateForm.controls['dimensiones'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>


            <div class="form-group">

<!--              <label for="idEstadoInventario">Estado Inventario</label>-->
<!--              <p-dropdown [options]="estadoInventario" formControlName="idEstadoInventario" placeholder="Estado Inventario"-->
<!--                          id="idEstadoInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field>
                <mat-label>ESTADO INVENTARIO</mat-label>
                <mat-select formControlName="idEstadoInventario" id="idEstadoInventario">
                  <mat-option *ngFor="let e of estado" [value]="e.id">
                    {{e.estado}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">


        <div class="form-group">
<!--              <label for="idObservacionesInventario">Observaciones Inventario</label>-->
<!--              <p-dropdown [options]="ObservacionesInventario" formControlName="idObservacionesInventario" placeholder="Estado Inventario"-->
<!--                          id="idObservacionesInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field style="margin-top: 8%;">
                <mat-label>OBSERVACIONES INVENTARIO</mat-label>
                <mat-select formControlName="idObservacionesInventario" id="idObservacionesInventario">
                  <mat-option *ngFor="let obs of observaciones" [value]="obs.id">
                    {{obs.observaciones}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group" >

              <mat-form-field>
                <mat-label>ORIGEN DE EQUIPO </mat-label>
                <mat-select formControlName="origenRecurso" id="origenEquipo" >
                  <mat-option *ngFor="let origen of origenEquipos"
                              [value]="origen.value">
                    {{origen.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          <div class="form-group">

            <mat-form-field style="margin-top: 8%;">
              <mat-label>SEDE (3)</mat-label>
              <mat-select formControlName="idTipoSede" id="idSede" >
                <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                  {{sede.descripcion}}
                </mat-option>
              </mat-select>
              <mat-hint  *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>

            <div class="form-group">
<!--              <label for="comentarios">Comentarios</label> <br>-->
<!--              <textarea pInputTextarea  id="comentarios" type="text" formControlName="comentarios" class="form-control"-->
<!--                        oninput="this.value = this.value.toUpperCase()" maxlength="30"></textarea>-->
<!--              <nb-alert status="danger" *ngIf="!monitorCreateForm.controls['comentarios'].valid&&monitorCreateForm.controls['comentarios'].dirty">-->
<!--                Se requiere llenar el campo</nb-alert>-->
              <mat-form-field>
                <textarea matInput  id="comentarios" type="text" formControlName="comentarios" class="form-control"
                          oninput="this.value = this.value.toUpperCase()" maxlength="30" placeholder="COMENTARIOS" style="padding: 0"></textarea>
                <mat-hint *ngIf="!monitorCreateForm.controls['comentarios'].valid&&monitorCreateForm.controls['comentarios'].dirty">
                  Se requiere llenar el campo</mat-hint>
              </mat-form-field>
            </div>


        </div>
      </div>
    </form>
    <mat-card-actions>
      <div class="actions">
        <button mat-button *ngIf="idTipo == 1" (click)="guardarMonitor()" [disabled]="!monitorCreateForm.valid">Guardar</button>
        <button mat-button *ngIf="idTipo == 2" (click)="updateMonitor()" [disabled]="!monitorCreateForm.valid">Modifiar</button>
        <button mat-button (click)="dismiss()">Cerrar</button>
      </div>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
