<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo == 1">CREAR MEDIO DE TRANSPORTE</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR MEDIO DE TRANSPORTE</mat-card-title>
  <!--<nb-card-header *ngIf="idTipo == 3">Baja Medio de Transporte</nb-card-header>-->
  <mat-card-content>
    <h4 *ngIf="mediotransporteElimindo === true" class="btn-warning text-center">¡Atención este medio de transporte ha sido Eliminado!</h4>
    <form [formGroup]="medioTransporteForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1">
            <div class="form-group">

<!--              <label for="medio">Medio de Transporte</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="medio" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="medio" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger" *ngIf="!medioTransporteForm.controls['medio'].valid&&medioTransporteForm.controls['medio'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0; font-weight: 500;"
                       formControlName="medio" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="soloLetras"
                       placeholder="MEDIO DE TRANSPORTE" id="medio" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!medioTransporteForm.controls['medio'].valid&&medioTransporteForm.controls['medio'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>

            </div>
          </div>
          <div *ngIf="idTipo == 2">
            <div class="form-group">
<!--              <label for="medio">Medio de Transporte</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="medio" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="medio" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger" *ngIf="!medioTransporteForm.controls['medio'].valid&&medioTransporteForm.controls['medio'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0; font-weight: 500;"
                       formControlName="medio" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="soloLetras"
                       placeholder="MEDIO DE TRANSPORTE" id="medio" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!medioTransporteForm.controls['medio'].valid&&medioTransporteForm.controls['medio'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja este medio de transporte</mat-hint>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <div class="actions">
      <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarMedioTransporte()" [disabled]="!medioTransporteForm.valid">Guardar
      </button>
      <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateMedioTransporte()" [disabled]="!medioTransporteForm.valid">Modificar
      </button>
      <!--<button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaMedioTransporte()">Dar de baja
      </button>-->
      <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>

