<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo == 1">AÑADIR GRUPO</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR GRUPO</mat-card-title>
  <mat-card-content>
    <form [formGroup]="grupoCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1 || idTipo == 2">
            <div class="form-group">
              <mat-form-field>
                <mat-label>PAÍS</mat-label>
                <mat-select formControlName="idPais" id="idPais">
                  <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id">
                    {{pais.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="NOMBRE" id="nombre"/>
                <mat-hint
                          *ngIf="!grupoCreateForm.controls['nombre'].valid && grupoCreateForm.controls['nombre'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field>
                <textarea matInput type="text" class="form-control" style="padding: 0"
                       formControlName="descripcion" oninput="this.value = this.value.toUpperCase()"
                          placeholder="DESCRIPCIÓN" id="descripcion"></textarea>
                <mat-hint *ngIf="!grupoCreateForm.controls['descripcion'].valid && grupoCreateForm.controls['descripcion'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarGrupo()"
            [disabled]="!grupoCreateForm.valid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateGrupo()"
            [disabled]="!grupoCreateForm.valid">Modificar
    </button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
