<nb-card>
  <nb-card-header>
  </nb-card-header>
  <nb-card-body>

    <p>ADMINISTRADOR</p>
    <form [formGroup]="auditoriaForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

            <div class="form-group" *ngIf="bandera === true || bandera2 === false" >
              <label for="correosdisponible">Correos disponibles</label>
              <p-dropdown [options]="correosdisponibles" formControlName="correosdisponibles" placeholder="Seleccione los correos disponibles"

                          id="correosdisponible" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getcorreoprincial($event.value)"></p-dropdown>


          </div>
          <div class="form-group" *ngIf="bandera === true || bandera2 === false" >
            <input pInputText type="text" formControlName="emailprincipal" class="form-control"
                   id="correomismo" (keyup)="getcorreoporarea($event.target.value)" />

          </div>
          <div class="form-group" *ngIf="estadoCorreo5 == true ">
            <label > {{estadofinal5}} </label>

          </div>
          <div class="form-group" *ngIf="estadoCorreo5 == false ">
            <label > {{estadofinal5}} </label>

          </div>
          <div class="form-group" *ngIf="bandera === true || bandera2 === false">
            <label for="privilegioss">Permisos  </label>
            <p-dropdown [options]="grupUsuario" formControlName="privilegioscontrol" placeholder="Seleccione el permiso de grupo de usuario "
                        id="privilegioss" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>
          </div>




          <div class="form-group" *ngIf="bandera === false && bandera2 !== true">
            <label for="correoSubareas">Correos disponibles todas las subareas</label>
            <p-dropdown [options]="correosdisponibles" formControlName="correosdisponibleSubareas" placeholder="Seleccione los correos disponibles en todas las subareas"

                        id="correoSubareas" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getcorreoprincialSubareas($event.value)"></p-dropdown>
          </div>




          <div class="form-group" *ngIf="bandera2 === true">
            <label for="dominios"> Tipo de Dominios disponibles</label>
            <p-dropdown [options]="tiposdominios" formControlName="tiposdominios" placeholder="Seleccione tipo disponibles"

                        id="dominios" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getadmin($event.value)"></p-dropdown>
          </div>
          <div class="form-group" *ngIf="bandera2 === true" >
            <label for="dominioss">Dominios disponibles</label>
            <p-dropdown [options]="domainss" formControlName="dominio" placeholder="Seleccione los dominios disponibles"

                        id="dominioss" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getdomainss($event.value)"></p-dropdown>
          </div>
          <div class="form-group" *ngIf="extensionbandera === true">
            <label for="extensioncontrol1">Extension disponible  </label>
            <p-dropdown [options]="extensiones" formControlName="extensioncontrol" placeholder="Seleccione la extension disponible"
                        id="extensioncontrol1" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getextension($event.value)"></p-dropdown>
          </div>
          <div class="form-group" *ngIf="extensionbandera === true ">
            <label for="privilegios">Permisos  </label>
            <p-dropdown [options]="grupUsuario" formControlName="privilegioscontrol" placeholder="Seleccione el permiso de grupo de usuario "
                        id="privilegios" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>
        </div>
          <div class="form-group" *ngIf="bandera2 === true" >
            <label for="extensioncontrol">Extension disponible Nuevo Ejecutivo </label>
            <p-dropdown [options]="extensiones" formControlName="extensioncontrol" placeholder="Seleccione la extension disponible"
                        id="extensioncontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getextension($event.value)"></p-dropdown>

          </div>
          <div class="form-group" *ngIf="bandera2 === true ">
            <label for="privilegios2">Permisos  Nuevo </label>
            <p-dropdown [options]="grupUsuario" formControlName="privilegioscontrol" placeholder="Seleccione el permiso de grupo de usuario "
                        id="privilegios2" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>
          </div>
          <div class="form-group"  *ngIf="banderaemailmodificado === true " >
            <div class="form-group" *ngIf="estadoCorreo2 != false">
              <!--<label for="correomodificarsuper"> Correo ya se encuentra en uso modifica el nombre </label>-->
            </div>
            <input pInputText type="text" formControlName="emailmodificado" class="form-control"
                   id="correomodificarsuper" (keyup)="getcorreofinal($event.target.value)" />
          </div>
          <div class="form-group" *ngIf="estadoCorreo3 == true ">
            <label > {{estadofinal}} </label>

          </div>
          <div class="form-group" *ngIf="estadoCorreo3 == false ">
            <label > {{estadofinal}} </label>

          </div>


      </div>
      </div>
    </form>

  </nb-card-body>


  <nb-card-footer>

    <button nbButton hero status="primary" (click)="guardar()" *ngIf=" estadoCorreo3 === false" >Guardar</button>
    <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>

  </nb-card-footer>
</nb-card>


