<mat-card class="m-3">
  <mat-card-header >
    <mat-card-title *ngIf="idTipo == 1">CREAR COMPETENCIA CANDIDATO</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR COMPETENCIA CANDIDATO</mat-card-title>
  </mat-card-header>
    <!--<nb-card-header *ngIf="idTipo == 3">Baja Competencia Candidato</nb-card-header>-->
  <mat-card-content>
    <h4 *ngIf="competenciacandidatoEliminado === true" class="btn-warning text-center">¡Atención esta competencia de candidato ha sido Eliminada!</h4>
    <form [formGroup]="competenciaCandidatoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1">
            <div class="form-group">

  <!--            <label for="descripcion">Descripcion</label>-->
  <!--            <input pInputText type="text"  class="form-control"-->
  <!--                   formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
  <!--                   placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off" />-->
  <!--            <nb-alert status="danger" *ngIf="!competenciaCandidatoForm.controls['descripcion'].valid&&competenciaCandidatoForm.controls['descripcion'].dirty">-->
  <!--              El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0;"
                       formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off" />
                <mat-hint *ngIf="!competenciaCandidatoForm.controls['descripcion'].valid&&competenciaCandidatoForm.controls['descripcion'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="idTipo == 2">
            <div class="form-group">

<!--              <label for="descripcion">Descripcion</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger" *ngIf="!competenciaCandidatoForm.controls['descripcion'].valid&&competenciaCandidatoForm.controls['descripcion'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0"
                       formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!competenciaCandidatoForm.controls['descripcion'].valid&&competenciaCandidatoForm.controls['descripcion'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja la competencia del candidato</mat-hint>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-between">
    <button id="submit" mat-button *ngIf="idTipo == 1" (click)="gurdarCrearCompetenciaCandidato()" [disabled]="!competenciaCandidatoForm.valid">Guardar
    </button>
    <button id="submit" mat-button *ngIf="idTipo == 2" (click)="updateCompetenciaCandidato()" [disabled]="!competenciaCandidatoForm.valid">Modificar
    </button>
    <!--<button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaCompetencia()">Dar de baja
    </button>-->
    <button id="submit" mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
