<mat-card class="example-form">
  <mat-card-title>
    AGREGAR ASEGURADORA
  </mat-card-title>
  <mat-card-content>


    <form [formGroup]="agregarAseguradoraForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group" >

            <mat-form-field class="example-full-width">
              <input class="form-control" matInput type="text" formControlName="nombreAseguradora" oninput="this.value = this.value.toUpperCase()"
                     placeholder="NOMBRE DE LA ASEGURADORA" id="nombreAseguradora"  />
              <mat-hint *ngIf="!agregarAseguradoraForm.controls['nombreAseguradora'].valid&&agregarAseguradoraForm.controls['nombreAseguradora'].dirty">
                NOMBREASEGURADORA <strong>obligatorio</strong>
              </mat-hint>
            </mat-form-field>

          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardarAseguradora()" [disabled]="!agregarAseguradoraForm.valid"> Guardar</button>
    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>

