<mat-card class="mat-card-example">
  <mat-card-header >
    <mat-card-title *ngIf="idTipo == 1">CREAR FLUJO POLIZA</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR FLUJO POLIZA</mat-card-title>
  </mat-card-header>

  <!--<nb-card-header *ngIf="idTipo == 3">Baja Banco</nb-card-header>-->
  <mat-card-content>
    <form [formGroup]="EstadoCreateform">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="FLUJO POLIZA" id="estado" onDrop="return false" onPaste="return false" autocomplete="off" style="outline: none;border: none; padding: 0px" />
                <mat-hint *ngIf="!EstadoCreateform.controls['estado'].valid&&EstadoCreateform.controls['estado'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarTipoEstado()" [disabled]="!EstadoCreateform.valid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateTipoEstado()" [disabled]="!EstadoCreateform.valid">Modificar
      <!--</button>
      <button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaBanco()">Dar de Baja-->
    </button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

