<mat-card class="example-form">
  <mat-card-title>SELECCIONA LA FECHA DE REACTIVACIÓN</mat-card-title>
  <mat-card-content>
    <h4 *ngIf="precandidatoReactivado === true" class="btn-warning text-center">¡Atención esta baja ya ha sido Reactivada!</h4>
    <form [formGroup]="activaEmpleadoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
<!--            <label for="fechaBaja">Fecha de Activacion</label>-->
<!--            <input nbInput type="date" formControlName="fechaBaja"  shape="semi-round" id="fechaBaja" fullWidth/>-->
<!--            <nb-alert status="danger" *ngIf="!activaEmpleadoForm.valid && activaEmpleadoForm.dirty">-->
<!--              Se requiere una fecha adecuada, estás escogiendo un día no laborable</nb-alert>-->
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA DE ACTIVACIÓN" formControlName="fechaBaja"
                     shape="semi-round" id="fechaBaja" fullWidth>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!activaEmpleadoForm.valid && activaEmpleadoForm.dirty">
                Se requiere una fecha adecuada, estás escogiendo un día no laborable</mat-hint>
            </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button *ngIf="idTipo !== 2" mat-button (click)="activarEmpleado()"
            [disabled]="verificarFormulario() || inactivo === true">Reactivar</button>
    <button *ngIf="idTipo === 2" mat-button (click)="activarPrecandidato()"
            [disabled]="verificarFormulario() || inactivo === true">Reactivar</button>
    <button mat-button (click)="dismiss()">Cancelar</button>
  </mat-card-actions>
</mat-card>
