<mat-card>
  <mat-card-header>
    <div class="title">
      <div class="text-title">AGREGAR PRIVILEGIOS</div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="permisosForm">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="nombre"
                placeholder="NOMBRE"
                class="form-control"
                oninput="this.value = this.value.toUpperCase()"
                maxlength="40"
                id="nombre"
                autocomplete="off"
              />
              <mat-hint
                *ngIf="
                  !permisosForm.controls['nombre'].valid &&
                  permisosForm.controls['nombre'].dirty
                "
              >
                ¡El Nombre es requerido!</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>GRUPO EMPRESARIAL (1)</mat-label>
              <mat-select
                formControlName="idGrupo"
                id="idGrupo"
                (selectionChange)="getEmpresa($event.value)"
              >
                <mat-option *ngFor="let grupo of Grupos" [value]="grupo.id">
                  {{ grupo.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarGrupo"
                >Agrega una opcion desde su catálogo</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>EMPRESA (2)</mat-label>
              <mat-select
                formControlName="idEmpresa"
                id="idEmpresa"
                (selectionChange)="getSedes($event.value)"
              >
                <mat-option
                  *ngFor="let empresa of empresas"
                  [value]="empresa.id"
                >
                  {{ empresa.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarEmpresa"
                >Agrega una opcion desde su catálogo</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>SEDE (3)</mat-label>
              <mat-select
                formControlName="idSede"
                id="idSede"
                (selectionChange)="getArea($event.value)"
              >
                <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                  {{ sede.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarSede"
                >Agrega una opcion desde su catálogo</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <TABLE>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>DESCARGA PNC</mat-label>
                    <mat-select formControlName="descargarPNC" id="seleccionm">
                      <mat-option
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>DESCARGA PNE</mat-label>
                    <mat-select formControlName="descargarPNE" id="seleccio2">
                      <mat-option
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </TABLE>

            <br />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <mat-label>ÁREA (4)</mat-label>
              <mat-select
                formControlName="idArea"
                id="idArea"
                (selectionChange)="getSubarea($event.value)"
              >
                <mat-option
                  *ngFor="let area of areas"
                  (onChange)="getSubarea($event.value)"
                  [value]="area.id"
                >
                  {{ area.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarArea"
                >Agrega una opcion desde su catálogo</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>SUBÁREA (5)</mat-label>
              <mat-select
                formControlName="idSubarea"
                id="idSubarea"
                (selectionChange)="getPuesto()"
              >
                <mat-option *ngFor="let sub of subareas" [value]="sub.id">
                  {{ sub.subarea }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarSubarea"
                >Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>PUESTO (6)</mat-label>
              <mat-select formControlName="idPuesto" [disabled]="activoPuesto" (selectionChange)="getPermisosVisualizacion()">
                <mat-option *ngFor="let puesto of puestos" [value]="puesto.id">
                  {{ puesto.nombre}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarPuesto">No existe puesto crear uno</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>PERMISOS DE VISUALIZACIÓN</mat-label>
              <mat-select formControlName="idPermisosVisualizacion">
                <mat-option *ngFor="let permiso of permisosVisualizacion" [value]="permiso.id">
                  {{ permiso.descripcion }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarPermisoVisualizacion">No existe puesto crear uno</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="descripcion"
                  placeholder="DESCRIPCIÓN"
                  class="form-control"
                  oninput="this.value = this.value.toUpperCase()"
                  maxlength="40"
                  id="descripcion"
                  autocomplete="off"
                />
                <mat-hint
                  *ngIf="
                    !permisosForm.controls['descripcion'].valid &&
                    permisosForm.controls['descripcion'].dirty"
                >
                  ¡El Nombre es requerido!</mat-hint
                >
              </mat-form-field>
            </div>
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>RECURSOS HUMANOS</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="table">
              <table>
                <tr>
                  <th id="title-table" style="color: #354089;">MODULOS</th>
                  <th id="title-table" style="color: #354089;">ACTIVO</th>
                  <th id="title-table" style="color: #354089;">ESCRITURA</th>
                </tr>

                <tr *ngFor="let permiso of permisos_rh">
                  <th>{{ permiso }}</th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ACTIVO{{ permiso }}"
                      id="seleccion1"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ESCRITURA{{ permiso }}"
                      id="seleccion2"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>TI</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="table">
              <table>
                <tr>
                  <th id="title-table" style="color: #354089;">MODULOS</th>
                  <th id="title-table" style="color: #354089;">ACTIVO</th>
                  <th id="title-table" style="color: #354089;">ESCRITURA</th>
                </tr>

                <tr *ngFor="let ti of permisos_ti">
                  <th>{{ ti }}</th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ACTIVO{{ ti }}"
                      id="seleccionti1"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ESCRITURA{{ ti }}"
                      id="seleccionti2"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>MARKETING</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="table">
              <table>
                <tr>
                  <th id="title-table" style="color: #354089;">MODULOS</th>
                  <th id="title-table" style="color: #354089;">ACTIVO</th>
                  <th id="title-table" style="color: #354089;">ESCRITURA</th>
                </tr>

                <tr *ngFor="let m of permisos_m">
                  <th>{{ m }}</th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ACTIVO{{ m }}"
                      id="seleccionm1"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ESCRITURA{{ m }}"
                      id="seleccionm2"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>COMERCIAL</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="table">
              <table>
                <tr>
                  <th id="title-table" style="color: #354089;">MODULOS</th>
                  <th id="title-table" style="color: #354089;">ACTIVO</th>
                  <th id="title-table" style="color: #354089;">ESCRITURA</th>
                </tr>

                <tr *ngFor="let c of permisos_c">
                  <th>{{ c }}</th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ACTIVO{{ c }}"
                      id="seleccionc1"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ESCRITURA{{ c }}"
                      id="seleccionc2"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <button
            mat-button
            id="submit"
            type="submit"
            (click)="guardarGrupoUsuario()"
            [disabled]="!permisosForm.valid"
            class="btn-block"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
