<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEquipos(tipoEquipos)">
    </div>
  </div>

  <div class="button-input">
    <div class="box" style="width: 50%"></div>

    <mat-card-title>
      BAJA INVENTARIO
    </mat-card-title>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <mat-card-content>

    <!--{{x}}-->
    <div>
      <mat-tab-group (selectedTabChange)="getEquipos($event.tab.textLabel)">
        <mat-tab label="DISCO DURO EXTERNO"> </mat-tab>
        <mat-tab label="DISCO DURO INTERNO">  </mat-tab>
        <mat-tab label="CHROME BIT"> </mat-tab>
        <mat-tab label="APS"> </mat-tab>
        <mat-tab label="BIOMETRICOS"> </mat-tab>
        <mat-tab label="DVR"> </mat-tab>
        <mat-tab label="CAMARA"> </mat-tab>
        <mat-tab label="BARRA-MULTICONTACTO"> </mat-tab>
        <mat-tab label="CORRIENTE-CAMARA"> </mat-tab>
      </mat-tab-group>

      <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            DETALLE
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon pTooltip="Detalles" (click) ="verDetalles(element.id, opcionequipo)" id="verDetalles">
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="folio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
          <td mat-cell *matCellDef="let element" > {{element.folio}}
          </td>
        </ng-container>
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreMarca}} </td>
        </ng-container>
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVO </th>
          <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center;">
            <div class="actions">
              <mat-icon pTooltip="Activar Equipo" *ngIf ="element.activo === 0"
                        (click)="ActivarEquipo(element.id, tipoEquipos)">
                power_settings_new
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
