<mat-card class="view">

  <!--correo celular genero nombre edad-->

  <div class="header">
    <span id="titulo-modals">DATOS SOLICITUDES</span>
  </div>

  <mat-card-content>
    <div class="nombre" id="box">
      <p id="title"><span>NOMBRE:</span> {{nombre}}</p>
    </div>

    <div class="apellidoPaterno" id="box">
      <p id="title"><span>EMAIL:</span> {{correo}}</p>
    </div>

    <div class="apellidoMaterno" id="box">
      <p id="title"><span>NUMERO CELULAR:</span> {{numero}}</p>
    </div>

    <div class="telefono" id="box">
      <p id="title"><span>GENERO:</span> {{genero}}</p>
    </div>

    <div class="vacante" id="box">
      <p id="title"><span>EDAD:</span> {{edad}}</p>

    </div>


    <div class="col-md-12">
      <div class="title">
        <span>DETALLE DE SOLICITUD</span>
      </div>
      <div class="detalles">

        <div class="col">
          <div class="box">
            <p><span>CP: </span> {{cp}} </p>
            <p *ngIf="mostrarDetalle"><span>CLAVE: </span> {{clave}} </p>
            <p><span>MARCA: </span> {{marca}} </p>
          </div>

        </div>
        <div class="col">
          <div class="box">
            <p><span>MODELO: </span> {{modelo}} </p>
            <p><span>PAQUETE: </span> {{paquete}} </p>
            <p><span>SERVICIO: </span> {{servicio}} </p>
          </div>

        </div>
        <div class="col">
          <div class="box">
            <p *ngIf="mostrarDetalle"><span>DESCUENTO: </span> {{descuento}} </p>
            <p><span>MOVIMIENTO: </span> {{movimiento}} </p>
            <p><span>ASEGURADORA: </span> {{aseguradora}} </p>
            <p><span>DESCRIPCION: </span> {{descripcion}} </p>
          </div>

        </div>
      </div>

    </div>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>

</mat-card>
