<mat-card class="m-3">
  <mat-card-header >
    <mat-card-title *ngIf="idTipo == 1">CREAR BANCO</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">Modificar Turno</mat-card-title>
  </mat-card-header>

  <!--<nb-card-header *ngIf="idTipo == 3">Baja Turno</nb-card-header>-->
  <mat-card-content>
    <h4 *ngIf="turnoEliminado === true" class="btn-warning text-center">¡Atención este turno ha sido Eliminado!</h4>
    <form [formGroup]="turnoCreateform">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="turno" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="TURNO" id="turno" onDrop="return false" onPaste="return false" autocomplete="off" />
                <mat-hint *ngIf="!turnoCreateform.controls['turno'].valid&&turnoCreateform.controls['turno'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja este turno</mat-hint>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="horario" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="HORARIO" id="horario" onDrop="return false" onPaste="return false" autocomplete="off" />
                <mat-hint *ngIf="!turnoCreateform.controls['horario'].valid&&turnoCreateform.controls['horario'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja este turno</mat-hint>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarCrearTurno()" [disabled]="!turnoCreateform.valid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateTurno()" [disabled]="!turnoCreateform.valid">Modificar
      <!--</button>
      <button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaTurno()">Dar de Baja-->
    </button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

