<mat-card class="example-form">
  <mat-card-title>
    ACTUALIZAR CAMPAÑA CATEGORIA
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="actualizarCampanaCategoriaForm">


    <div class="form-group" >


      <div class="form-group">
        <mat-form-field>
          <mat-label>CAMPAÑA MARKETING</mat-label>
          <mat-select formControlName="idCampana" id="idCampana" >
            <mat-option *ngFor="let campana of campanasMarketing" [value]="campana.id">
              {{campana.nombre}}
            </mat-option>
          </mat-select>
<!--          <mat-hint  *ngIf="mostrarGrupo">Agrega una opcion desde su catálogo</mat-hint>-->
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>CATEGORIA</mat-label>
          <mat-select formControlName="idSubRamo" id="idCategoria" >
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{categoria.descripcion}}
            </mat-option>
          </mat-select>
<!--          <mat-hint  *ngIf="mostrarGrupo">Agrega una opcion desde su catálogo</mat-hint>-->
        </mat-form-field>
      </div>

      <div class="form-group"  >

        <mat-form-field class="example-full-width">
          <input class="form-control" matInput type="text" formControlName="comentarios"
                 placeholder="COMENTARIO" id="comentario" oninput="this.value = this.value.toUpperCase()"  />
          <mat-hint *ngIf="!actualizarCampanaCategoriaForm.controls['comentarios'].valid&&actualizarCampanaCategoriaForm.controls['comentario'].dirty">
            Comentario <strong>obligatorio</strong>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardarActualizar()" [disabled]="!actualizarCampanaCategoriaForm.valid"> Guardar</button>

    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>
