<mat-card class="example-form">
  <mat-card-title>ALTA IMSS</mat-card-title>
  <mat-card-subtitle>{{nombre}}</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="formAsignarImss">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
<!--            <label for="fechaAltaIMSS">Fecha de alta</label>-->
<!--            <input type="date" id="fechaAltaIMSS" formControlName="fechaAltaIMSS" class="form-control">-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!formAsignarImss.controls['fechaAltaIMSS'].valid&&formAsignarImss.controls['fechaAltaIMSS'].dirty">-->
<!--              Se requiere una fecha adecuada-->
<!--            </nb-alert>-->

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA DE ALTA" id="fechaAltaIMSS" formControlName="fechaAltaIMSS">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!formAsignarImss.controls['fechaAltaIMSS'].valid&&formAsignarImss.controls['fechaAltaIMSS'].dirty">
                Se requiere una fecha adecuada
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="imss">NUMERO DE SEGURIDAD SOCIAL</label>-->
<!--            <input type="text" formControlName="imss" id="imss" class="form-control"-->
<!--                   maxlength="11" minlength="11" [pKeyFilter]="letrasNumeros"-->
<!--                   oninput="this.value = this.value.toUpperCase()" onDrop="return false" onPaste="return false" autocomplete="off">-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!formAsignarImss.controls['imss'].valid&&formAsignarImss.controls['imss'].dirty">-->
<!--              Se requiere un numero de seguridad social correcto-->
<!--            </nb-alert>-->
            <mat-form-field>
              <input matInput type="text" formControlName="imss" id="imss" class="form-control"
                     maxlength="11" minlength="11" [pKeyFilter]="letrasNumeros" placeholder="NUMERO DE SEGURIDAD SOCIAL" style="padding: 0px"
                     oninput="this.value = this.value.toUpperCase()" onDrop="return false" onPaste="return false" autocomplete="off">
              <mat-hint *ngIf="!formAsignarImss.controls['imss'].valid&&formAsignarImss.controls['imss'].dirty">
                Se requiere un numero de seguridad social correcto
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label >RAZON SOCIAL</label>-->
<!--            <p-dropdown [options]="razon" formControlName="razonSocial" placeholder="Seleccione Razon Social"-->
<!--                        id="razonSocial"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!formAsignarImss.controls['razonSocial'].valid&& formAsignarImss.controls['razonSocial'].dirty">-->
<!--              Se requiere una razon social-->
<!--            </nb-alert>-->

            <mat-form-field>
              <mat-label>RAZÓN SOCIAL</mat-label>
              <mat-select formControlName="razonSocial" id="razonSocial">
                <mat-option *ngFor="let razon of razonSocial" [value]="razon.id">
                  {{razon.alias}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!formAsignarImss.controls['razonSocial'].valid&& formAsignarImss.controls['razonSocial'].dirty">
                Se requiere una razon social
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label >COMETARIOS</label>-->
<!--            <textarea nbInput type="text" formControlName="comentarios" id="comentarios" class="form-control"-->
<!--                    [pKeyFilter]="letrasNumeros"-->
<!--                     oninput="this.value = this.value.toUpperCase()" onDrop="return false" onPaste="return false" autocomplete="off"></textarea>-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!formAsignarImss.controls['comentarios'].valid&&formAsignarImss.controls['comentarios'].dirty">-->
<!--              Se requiere un comentario-->
<!--            </nb-alert>-->
            <mat-form-field>
              <textarea matInput type="text" formControlName="comentarios" id="comentarios" class="form-control"
                        [pKeyFilter]="letrasNumeros" placeholder="COMENTARIOS" columns="15" style="padding: 0px;"
                        oninput="this.value = this.value.toUpperCase()" onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
              <mat-hint *ngIf="!formAsignarImss.controls['comentarios'].valid&&formAsignarImss.controls['comentarios'].dirty">
                Se requiere un comentario
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button [disabled]="!formAsignarImss.valid || !formAsignarImss.dirty" (click)="asignarImss()">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

