<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>ASIGNAR PRE EMPLEADOS</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4 *ngIf="seguimientoPracticoEliminado === true" class="btn-warning text-center">¡Atención este asignación ha sido Eliminado!</h4>
    <form [formGroup]="etapaPracticaForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
<!--            <label for="rollPlay">RollPlay</label>-->
<!--            <p-dropdown [options]="rollPlay" formControlName="calificacionRollPlay" id="rollPlay"-->
<!--                        [style]="{'width':'100%'}" placeholder="Aprobado"></p-dropdown>-->

            <mat-form-field>
              <mat-label>ROLL PLAY</mat-label>
              <mat-select formControlName="calificacionRollPlay" id="rollPlay">
                <mat-option *ngFor="let roll of rollPlay" [value]="roll.value">
                  {{roll.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="descripcion">Comentario</label> <br>-->
<!--            <textarea pInputTextarea id="descripcion" type="text" formControlName="comentariosFaseDos"-->
<!--                      class="form-control"-->
<!--                      oninput="this.value=this.value.toUpperCase()" maxlength="30"-->
<!--                      [pKeyFilter]="letrasNumeros"-->
<!--                      onDrop="return false" onPaste="return false" autocomplete="off"></textarea>-->
<!--            <nb-alert status="danger" *ngIf="!etapaPracticaForm.controls['comentariosFaseDos'].valid&&etapaPracticaForm.controls['comentariosFaseDos'].dirty">-->
<!--              Se requiere el campo lleno</nb-alert>-->
           <mat-form-field>
              <textarea matInput id="descripcion" type="text" formControlName="comentariosFaseDos"
                        class="form-control" placeholder="COMENTARIO" style="padding: 0;"
                        oninput="this.value=this.value.toUpperCase()" maxlength="30"
                        [pKeyFilter]="letrasNumeros"
                        onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
              <mat-hint *ngIf="!etapaPracticaForm.controls['comentariosFaseDos'].valid&&etapaPracticaForm.controls['comentariosFaseDos'].dirty">
                Se requiere el campo lleno</mat-hint>
           </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button (click)="guardarEtapaPractica()" [disabled]="!etapaPracticaForm.valid || inactivo === true">Guardar</button>
      <button mat-button (click)="ocultar()">Cerrar</button>
  </mat-card-actions>
</mat-card>


















