<mat-card class="example-form">

    <mat-card-title *ngIf="idTipo === 1">ASIGNAR URL</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">EDITAR URL</mat-card-title>
  
  <mat-card-content>
    <form [formGroup]="urlCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="url" class="form-control" id="url" placeholder="URL"
                     onDrop="return false" style="padding: 0;"/>
              <mat-hint *ngIf="!urlCreateForm.controls['url'].valid&&urlCreateForm.controls['url'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">

          <mat-form-field>
            <textarea matInput type="text" formControlName="descripcion" class="form-control" id="descripcion" oninput="this.value = this.value.toUpperCase()"
                      onDrop="return false" onPaste="return false" autocomplete="off" placeholder="DESCRIPCIÓN" style="padding: 0;"></textarea>
            <mat-hint *ngIf="!urlCreateForm.controls['descripcion'].valid&&urlCreateForm.controls['descripcion'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf ='idTipo === 1'>
    <button mat-button (click)="guardarUrl()" [disabled]="!urlCreateForm.valid">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateUrl()" [disabled]="!urlCreateForm.valid">Actualizar</button> 
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
