<mat-card class="example-form">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo ==1">CREAR ESCOLARIDAD</mat-card-title>
    <mat-card-title *ngIf="idTipo ==2">MODIFICAR ESCOLARIDAD</mat-card-title>
    <mat-card-title *ngIf="idTipo ==3">BAJA ESCOLARIDAD</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <h4 *ngIf="escolaridadEliminado === true" class="btn-warning text-center">¡Atención esta escolaridad ha sido Eliminada!</h4>
    <form [formGroup]="escolaridadCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo ==1">
            <div class="form-group">

<!--              <label for="nivel">NIvel de Escolaridad</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="nivel" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="nivel" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!escolaridadCreateForm.controls['nivel'].valid&&escolaridadCreateForm.controls['nivel'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0"
                       formControlName="nivel" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="soloLetras"
                       placeholder="NIVEL DE ESCOLARIDAD" id="nivel" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint
                          *ngIf="!escolaridadCreateForm.controls['nivel'].valid&&escolaridadCreateForm.controls['nivel'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>

            </div>
          </div>
          <div *ngIf="idTipo == 2">
            <div class="form-group">
<!--              <label for="nivel">NIvel de Escolaridad</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="nivel" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="nivel" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!escolaridadCreateForm.controls['nivel'].valid&&escolaridadCreateForm.controls['nivel'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0"
                       formControlName="nivel" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="soloLetras"
                       placeholder="NIVEL DE ESCOLARIDAD" id="nivel" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!escolaridadCreateForm.controls['nivel'].valid&&escolaridadCreateForm.controls['nivel'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja valor de Escolaridad</mat-hint>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarEscolaridad()"
            [disabled]="!escolaridadCreateForm.valid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateEscolaridad()"
            [disabled]="!escolaridadCreateForm.valid">Modificar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 3" (click)="bajaEscolaridad()">Dar de baja
    </button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

