<mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getSeguimiento(1)">
    </div>
  </div>
      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          ROLL-PLAY
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

  <mat-card-content>
    <div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef id="align-detail">DETALLE</th>
          <td mat-cell *matCellDef="let element" id="align-detail">
            <mat-icon pTooltip="Ver detalles" (click)="verDatos(element.id)" id="verDetalles"
              >remove_red_eye</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.nombre +
                " " +
                element.apellidoPaterno +
                " " +
                element.apellidoMaterno
            }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="calificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            CALIFICACIÓN
          </th>
          <td mat-cell *matCellDef="let element">{{ element.calificacion }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBAREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th
            [hidden]="!escritura"
            mat-header-cell
            *matHeaderCellDef
            id="align-detail"
          >
            <span>ACCIONES</span>
          </th>
          <td mat-cell *matCellDef="let element" id="align-detail">
            <div [hidden]="!escritura" class="actions">
              <mat-icon
                *ngIf ="activarAsignar(element.asistencia)"
                (click)="asignarPractica(element.id)"
                pTooltip="Envíar a Asignaciones"
                >person_add</mat-icon
              >
              <mat-icon
                (click)="
                  updateSeguimiento(
                    element.id,
                    element.idPrecandidato,
                    element.nombre,
                    element.apellidoPaterno,
                    element.apellidoMaterno
                  )
                "
                pTooltip="Actualizar Roll-Play"
                >cached</mat-icon
              >
              <mat-icon
                (click)="registroAsistencia(element.id)"
                pTooltip="Asistencia"
                >done_all</mat-icon
              >
              <mat-icon
                [hidden]="element.asistencia === null"
                (click)="updateAsistencia(element.id)"
                pTooltip="Editar Asistencia"
                >edit</mat-icon
              >
              <mat-icon id="delete"
                (click)="bajaSeguimiento(element.idPrecandidato)"
                pTooltip="Baja de Roll-Play"
                >delete_forever</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
