nb-card {
  transform: translate3d(0, 0, 0);
}

.custom-icon {
  color: #0bbb79;
  font-size: 20px;
}

.ajuste {
  width: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*='ajuste'] {
    width: 250px;
  }
}

nb-card-header {
  padding-bottom: 0;
}
