mat-card {
  //width: 800px;
  max-width : 1200px;
  max-height: 1000px;
  border : solid 2px #000000;
  background : #fff;
  color : #000;
  padding : 4px;
  width : 700px;
  height : 700px;
  overflow : auto;
}

.mat-card-header {
  text-align: center;
  display: block;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
textarea{
  border: none;
}
.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}
mat-card-actions{
  text-align: right;
}
mat-card-actions button{
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled{
  background-color: transparent;
}
