<mat-card>
  <mat-card-title>
    <div *ngIf="tipo === 1">
    <h1> VER CONFIGURACION </h1>
    </div>
    <div *ngIf="tipo === 2">
      <h1> AGREGAR CONFIGURACION </h1>
    </div>

  </mat-card-title>
  <mat-card-content>
    <div *ngIf=" pagina != undefined && tipo === 1">
      <pre>{{textoFormateado}}</pre>
    </div>

    <div *ngIf="tipo === 2">
      <form [formGroup]="configuracionForm">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-group" >

              <mat-form-field class="example-full-width">
                <textarea class="form-control" matInput type="text" formControlName="configuracion"
                          placeholder="CONFIGURACION" id="configuracion" cols="40" rows="25" readonly="readonly" > </textarea>
                <mat-hint *ngIf="!configuracionForm.controls['configuracion'].valid&&configuracionForm.controls['configuracion'].dirty">
                  CONFIGURACION <strong>obligatorio</strong>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>

      </form>
    </div>

  </mat-card-content>
  <mat-card-actions>

    <button *ngIf = "tipo === 2" mat-button style="margin: 8px" (click)="guardarCampos()" [disabled]="!configuracionForm.valid"> Guardar</button>
    <button *ngIf = "tipo === 1"  mat-button style="margin: 8px" ngxClipboard [cbContent]="textoFormateado"> Copiar </button>
    <button *ngIf = "tipo === 2" mat-button style="margin: 8px" (click)="pegar()" > Pegar </button>

    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>

  </mat-card-actions>
</mat-card>
