<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="idTipo ===1">ASIGNAR OBJETIVO DE VENTA</mat-card-title>
    <mat-card-title *ngIf="idTipo ===2">ACTUALIZAR OBJETIVO DE VENTA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="asignarPresupuestoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="presupuesto" class="form-control" id="presupuesto" placeholder="OBJETIVO"
                     onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="numeros" (keyup)="formatoNumerosConComas($event.target.value)"
                     maxlength="15" style="padding: 0"/>
              <mat-hint
                *ngIf="!asignarPresupuestoForm.controls['presupuesto'].valid&&asignarPresupuestoForm.controls['presupuesto'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput [matDatepicker]="dp" placeholder="MES Y AÑO" formControlName="anio" id="anio"
                     onDrop="return false" onPaste="return false" autocomplete="off" >
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year">
              </mat-datepicker>
              <mat-hint *ngIf="!asignarPresupuestoForm.controls['anio'].valid && asignarPresupuestoForm.controls['anio'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
<!--          -->
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarPresupuesto()" [disabled]="!asignarPresupuestoForm.valid">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updatePresupuesto()" [disabled]="!asignarPresupuestoForm.valid">Actualizar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
