<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="padding-bottom: 25px;">
      <div class="col">
        <mat-toolbar color="primary">REPORTE USUARIO</mat-toolbar>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <mat-card id="dash">
          <mat-card-header id="valor" style="display: block">
            <mat-card-title >INVENTARIO DE {{ tipoEquipos | uppercase }} </mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph"> </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <mat-card>
          <mat-card-header>
            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12">
                <mat-card-title> TOTAL DE {{ tipoEquipos | uppercase }}: {{ contadorPermisos }} </mat-card-title>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <mat-form-field>
                  <mat-label>Filtrar</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)" />
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div>
                <mat-tab-group (selectedTabChange)="getEquipos($event.tab.textLabel)" value="CPU">
                    <mat-tab label="CPU"> </mat-tab>
                    <mat-tab label="MONITOR">  </mat-tab>
                    <mat-tab label="LAPTOP"> </mat-tab>
                    <mat-tab label="TABLET"> </mat-tab>
                    <mat-tab label="TECLADO"> </mat-tab>
                    <mat-tab label="MOUSE"> </mat-tab>
                    <mat-tab label="DIADEMA"> </mat-tab>
                </mat-tab-group>
              <table
                mat-table
                [dataSource]="dataSource"
                matSort
                class="mat-elevation-z8"
              >
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    NOMBRE
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    <div *ngIf="element.nombre === null">SIN NOMBRE</div>
                      {{element.nombre}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="usuario">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    USUARIO
                  </th>
                  <td mat-cell *matCellDef="let element">
                      <div *ngIf="element.usuario === null">NO. ASIGNADO</div>
                      {{element.usuario}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="nombreMarca">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    MARCA
                  </th>
                  <td *matCellDef="let element" mat-cell>
                      <div *ngIf="element.nombreMarca === null">NO. ASIGNADO</div>
                    {{ element.nombreMarca }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cols"></tr>
                <tr mat-row *matRowDef="let row; columns: cols"></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
