//mat-card{
//  padding: 5% 7%;
//  box-shadow: 5px 5px 30px black;
//}

mat-card {
  width: 800px;

}
.mat-card-header {
  text-align: center;
  display: block;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
input{
  border: none;
}
.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

.mat-hint{
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions{
  text-align: right;
}
mat-card-actions button{
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
