<mat-card class="mat-card-content">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo === 1">CREAR TIPO BAJA SOCIOS</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR TIPO BAJA SOCIOS</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="bajaSociosCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="estado" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="TIPO" style="padding: 0;"/>
              <mat-hint *ngIf="!bajaSociosCreateForm.controls['estado'].valid && bajaSociosCreateForm.controls['estado'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarBajaSocios()" [disabled]="!bajaSociosCreateForm.valid">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateBajaSocios()" [disabled]="!bajaSociosCreateForm.valid">Actualizar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
