<mat-card>
  <div class="image">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>

  <mat-card-title>PROCESANDO DOCUMENTO...</mat-card-title>

  <mat-card-actions>
    <button id="cancel" mat-stroked-button>CANCELAR</button>
    <button mat-stroked-button>ACEPTAR</button>
  </mat-card-actions>
</mat-card>
