<mat-card class="example-form">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo === 1">CREAR TIPO RAMO</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR TIPO RAMO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="tipoRamoCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <!--            <label for="tipo">Tipo</label>-->
            <!--            <input matInput type="text" formControlName="tipo" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off"/>-->
            <!--            <mat-hint status="danger" *ngIf="!tipoRamoCreateForm.controls['tipo'].valid&&tipoRamoCreateForm.controls['tipo'].dirty">-->
            <!--              Se requiere llenar el campo</mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="tipo" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" style="padding: 0;" placeholder="TIPO"/>
              <mat-hint status="danger" *ngIf="!tipoRamoCreateForm.controls['tipo'].valid&&tipoRamoCreateForm.controls['tipo'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarTipoRamo()" [disabled]="!tipoRamoCreateForm.valid">GUARDAR</button>
    <button mat-button (click)="dismiss()">CERRAR</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateTipoRamo()" [disabled]="!tipoRamoCreateForm.valid">ACTUALIZAR</button>
    <button mat-button (click)="dismiss()">CERRAR</button>
  </mat-card-actions>
</mat-card>
