<mat-card class="view">
  <div class="header">
    <div id="titulo-modals">
      DATOS EJECUTIVO DE CUENTA
    </div>
  </div>
  
  <mat-card-content>
    <div id="box">
      <p id="title"><span>ALIAS: </span>{{alias}}</p>
    </div>
    <div id="box">
      <p id="title"><span>NOMBRE: </span>{{nombre}}</p>
    </div>
    <div id="box">
      <p id="title"><span>APELLIDO PATERNO: </span>{{apellidoPaterno}}</p>
    </div>
    <div id="box">
      <p id="title"><span>APELLIDO MATERNO: </span>{{apellidoMaterno}}</p>
    </div>
    <div id="box">
      <p id="title"><span>TELÉFONO: </span>{{telefono}}</p>
    </div>
    <div id="box">
      <p id="title"><span>EXT: </span>{{ext}}</p>
    </div>
    <div id="box">
      <p id="title"><span>CELULAR: </span>{{celular}}</p>
    </div>
  </mat-card-content>


  <div [hidden]="!escritura" id="actions">
    <button mat-button  (click)="updateEjecutivoCuenta()">Modificar</button>
    <button mat-button (click)="bajaEjecutivoCuenta()">Baja</button>
  </div>
    <mat-card-actions class="d-flex justify-content-end">
      <mat-icon (click)="dismiss()" pTooltip="Cerrar">highlight_off</mat-icon>
    </mat-card-actions>
</mat-card>
