* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#actions button{
  background-color: #354089;
  color: white;
  width: 70%;
  margin: 10px;
}

#actions button:hover {
  opacity: 0.75;
}

#actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
