<!--<nb-card>-->
<!--  <mat-card-title>-->
<!--    Tipo Producto-->
<!--  </mat-card-title>-->
<!--  <nb-card-body>-->
<!--    <p-table #dt [columns]="cols" [value]="tipoProducto" [scrollable]="true" [paginator]="true" [rows]="15">-->
<!--      <ng-template pTemplate="caption">-->
<!--        <div class="d-flex justify-content-between align-items-center">-->
<!--          <button nbButton size="xsmall" (click)="crearProducto()" style="text-align: left"> Crear Tipo Producto</button>-->
<!--          <button size="xsmall" nbButton (click)="dt.exportCSV()" style="float:left">Descargar todo</button>-->
<!--        </div>-->
<!--        <br>-->
<!--        <div style="text-align: right">-->
<!--          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>-->
<!--          <input type="text" pInputText placeholder="B&uacute;squeda Global"-->
<!--                 (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"-->
<!--                 onDrop="return false" onPaste="return false">-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="colgroup" let-columns>-->
<!--        <colgroup>-->
<!--          <col *ngFor="let col of columns" class="ajuste">-->
<!--        </colgroup>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="header" let-columns>-->
<!--        <tr>-->
<!--          <th *ngFor="let col of columns">-->
<!--            {{col.header}}-->
<!--          </th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-tipoProducto>-->
<!--        <tr [pSelectableRow]="tipoProducto">-->
<!--          <td class="ui-resizable-column">{{tipoProducto.tipo}}</td>-->
<!--          <td>-->
<!--            <nb-actions size="small">-->
<!--              <nb-action class="eva eva-edit custom-icon" (click)="updateTipoProducto(tipoProducto.id)"-->
<!--                         pTooltip="Asignar Tipo Producto"></nb-action>-->
<!--              <nb-action class="eva eva-trash custom-icon" (click)="bajaTipoProducto(tipoProducto.id)"-->
<!--                         pTooltip="Baja Tipo Producto"></nb-action>-->
<!--            </nb-actions>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </p-table>-->
<!--  </nb-card-body>-->

<!--</nb-card>-->

<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getTipoProducto(1)">
    </div>
  </div>
  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button mat-raised-button (click)="crearProducto()">CREAR TIPO PRODUCTO</button>
    </div>
    <mat-card-title>TIPO PRODUCTO</mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO</th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <!-- Name Column -->

        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef style="text-align: center"> ACCIONES</th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions-comercial">
              <mat-icon (click)="updateTipoProducto(element.id)" pTooltip="Modificar Tipo Producto" mat-raised-button
              >edit
              </mat-icon>
              <mat-icon (click)="bajaTipoProducto(element.id)" id="delete" pTooltip="Eliminar Tipo Producto" mat-raised-button
              >delete_forever
              </mat-icon>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
