<mat-card class="example-form">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo == 1">ASIGNAR MEDIOS DE DIFUSIÓN</mat-card-title>

    <mat-card-title *ngIf="idTipo == 2">ACTUALIZAR MEDIOS DE DIFUSIÓN</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="mediosDifusionForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <mat-form-field>
              <mat-label>CAMPAÑA</mat-label>
              <mat-select formControlName="idCampana" id="idCampana">
                <mat-option *ngFor="let campanas of capanasMarketing" [value]="campanas.id">
                  {{campanas.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>PROVEEDOR LEAD</mat-label>
              <mat-select formControlName="idProveedor" id="idProveedor">
                <mat-option *ngFor="let proveedores of proovedorLead" [value]="proveedores.id">
                  {{proveedores.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput formControlName="regla" idmaxlength="100" oninput="this.value = this.value.toUpperCase()"
                     placeholder="REGLA" id="regla" onDrop="return false"
                     onPaste="return false" autocomplete="off">
              <mat-hint *ngIf="!mediosDifusionForm.controls['regla'].valid&&mediosDifusionForm.controls['regla'].dirty">
                Se requiere completar el campo
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">

            <mat-form-field>
              <input matInput type="text" formControlName="presupuesto" class="form-control" id="presupuesto" placeholder="PRESUPUESTO  "
                     onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="numeros" (keyup)="formatoNumerosConComas($event.target.value)"
                     maxlength="15" style="padding: 0"/>
              <mat-hint
                *ngIf="!mediosDifusionForm.controls['presupuesto'].valid&&mediosDifusionForm.controls['presupuesto'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
            <textarea matInput type="text" formControlName="descripcion" class="form-control" id="descripcion" oninput="this.value = this.value.toUpperCase()"
                      onDrop="return false" onPaste="return false" autocomplete="off" placeholder="DESCRIPCIÓN" style="padding: 0;"></textarea>
              <mat-hint *ngIf="!mediosDifusionForm.controls['descripcion'].valid&&mediosDifusionForm.controls['descripcion'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="guardarMediosDifusion()" [disabled]="!mediosDifusionForm.valid || inactivo === true"
            *ngIf="idTipo !== 2">Guardar
    </button>
    <button mat-button (click)="updateMediosDifusion()" [disabled]="!mediosDifusionForm.valid || inactivo === true"
            *ngIf="idTipo === 2">Actualizar
    </button>
    <button mat-button (click)="dismiss()" *ngIf="idTipo !== 2">Cerrar </button>
    <!--<button mat-button (click)="ocultar()">Cerrar</button>-->
  </mat-card-actions>
</mat-card>
