table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
mat-card #delete {
  color: #e21c51;
  transition: all 0.5s;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}
#vacanteButton:hover {
  background-color: #138d75;
}

.button-input {
  width: 100%;
  display: flex;
  margin-top: 2.5%;
}

.button {
  width: 50%;
}
.input {
  width: 50%;
  text-align: end;
}
.mat-form-field {
  width: 40%;
  color: #111218;
}
.mat-input-element {
  color: #111218;
}

.mat-raised-button {
  background-color: #111218;
  color: #ffffff;
}

.mat-header-cell {
  background-color: #111218;
  color: white;
}


.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.example-user-input {
  margin-right: 8px;
}

.tooltip {
  background-color: #138d75;
  color: white;
}

button:disabled {
  background-color: #fff;
}
