<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <!--<img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getMediosDifusion(1)">-->
    </div>
  </div>

  <div class="button-input">
    <div class="button">
    </div>
    <mat-card-title>MEDIO DE DIFUSIÓN</mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="idCampana">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CAMPAÑA</th>
          <td mat-cell *matCellDef="let element"> {{element.campana}} </td>
        </ng-container>
        <ng-container matColumnDef="idProvedor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PROVEEDOR</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION</th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> ACCIONES</th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon (click)="actualizarMediosDifusion(element.id)" pTooltip="Editar Medios"
              >edit
              </mat-icon>
              <mat-icon id="delete" (click)="bajaMedios(element.id)" pTooltip="Baja de Medios"
              >delete_forever
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
