<mat-card class="m-3">
  <mat-card-header >
    <mat-card-title *ngIf="idTipo == 1">CREAR COMPETENCIAS</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR COMPETENCIAS</mat-card-title>
  </mat-card-header>
  <!--<nb-card-header *ngIf="idTipo == 3">Baja Competencias</nb-card-header>-->
  <mat-card-content>
    <h4 *ngIf="competenciaEliminado === true" class="btn-warning text-center">¡Atención esta competencia ha sido Eliminada!</h4>
    <form [formGroup]="competenciaForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1">
          <div class="form-group">

<!--            <label for="escala">Escala</label>-->
<!--            <input pInputText type="number" class="form-control" formControlName="escala" maxlength="50"-->
<!--                   placeholder="Campo Obligatorio" id="escala"/>-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!competenciaForm.controls['escala'].valid&&competenciaForm.controls['escala'].dirty">-->
<!--              El Campo es requerido-->
<!--            </nb-alert>-->
              <mat-form-field>
                <input matInput type="number" min= "0" max = "10" class="form-control" formControlName="escala"
                       placeholder="ESCALA" id="escala" style="padding: 0;"/>
                <mat-hint *ngIf="!competenciaForm.controls['escala'].valid&&competenciaForm.controls['escala'].dirty">
                  <b>El campo es requerido y deben ser números del 0 al 10</b>
                </mat-hint>
              </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="estado">Estado</label>-->
<!--            <input pInputText type="text" class="form-control" formControlName="estado"-->
<!--                   oninput="this.value = this.value.toUpperCase()"-->
<!--                   placeholder="Campo Obligatorio" id="estado" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!competenciaForm.controls['estado'].valid&&competenciaForm.controls['estado'].dirty">-->
<!--              El Campo es requerido-->
<!--            </nb-alert>-->
            <mat-form-field>
              <input matInput type="text" class="form-control" formControlName="estado"
                     oninput="this.value = this.value.toUpperCase()" style="padding: 0;"
                     placeholder="ESTADO" id="estado" onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!competenciaForm.controls['estado'].valid&&competenciaForm.controls['estado'].dirty">
                El Campo es requerido
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="descripcion">Descripcion</label>-->
<!--            <input pInputText type="text" class="form-control" formControlName="descripcion"-->
<!--                   oninput="this.value = this.value.toUpperCase()"-->
<!--                   placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!competenciaForm.controls['descripcion'].valid&&competenciaForm.controls['descripcion'].dirty">-->
<!--              El Campo es requerido-->
<!--            </nb-alert>-->
            <mat-form-field>
              <input matInput type="text" class="form-control" formControlName="descripcion"
                     oninput="this.value = this.value.toUpperCase()" style="padding: 0;"
                     placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!competenciaForm.controls['descripcion'].valid&&competenciaForm.controls['descripcion'].dirty">
                El Campo es requerido
              </mat-hint>
            </mat-form-field>
          </div>
      </div>
          <div *ngIf="idTipo == 2">
            <div class="form-group">
<!--              <label for="escala">Escala</label>-->
<!--              <input pInputText type="number" class="form-control" formControlName="escala" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="escala"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!competenciaForm.controls['escala'].valid&&competenciaForm.controls['escala'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="number" min= "0" max = "10" class="form-control" formControlName="escala"
                       placeholder="ESCALA" id="escala"/>
                <mat-hint *ngIf="!competenciaForm.controls['escala'].valid&&competenciaForm.controls['escala'].dirty">
                  <b>El campo es requerido y deben ser números del 0 al 10</b>
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="estado">Estado</label>-->
<!--              <input pInputText type="text" class="form-control" formControlName="estado"-->
<!--                     oninput="this.value = this.value.toUpperCase()"-->
<!--                     placeholder="Campo Obligatorio" id="estado" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!competenciaForm.controls['estado'].valid&&competenciaForm.controls['estado'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" formControlName="estado"
                       oninput="this.value = this.value.toUpperCase()"
                       placeholder="ESTADO" id="estado" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!competenciaForm.controls['estado'].valid&&competenciaForm.controls['estado'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="descripcion">Descripcion</label>-->
<!--              <input pInputText type="text" class="form-control" formControlName="descripcion"-->
<!--                     oninput="this.value = this.value.toUpperCase()"-->
<!--                     placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!competenciaForm.controls['descripcion'].valid&&competenciaForm.controls['descripcion'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" formControlName="descripcion"
                       oninput="this.value = this.value.toUpperCase()"
                       placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!competenciaForm.controls['descripcion'].valid&&competenciaForm.controls['descripcion'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja la competencia</mat-hint>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button id="submit" mat-button *ngIf="idTipo == 1" (click)="guardarCompetencia()" [disabled]="!competenciaForm.valid">Guardar
    </button>
    <button id="submit" mat-button *ngIf="idTipo == 2" (click)="updateCompetencias()" [disabled]="!competenciaForm.valid">Modificar
    </button>
    <!--<button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaCompetencia()" >Dar de baja
    </button>-->
    <button id="submit" mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

