<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo == 1">CREAR ESTADO DE ESCOLARIDAD</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR ESTADO DE ESCOLARIDAD</mat-card-title>
  </mat-card-header>
  <!--<nb-card-header *ngIf="idTipo == 3">Baja Estado de Escolaridad</nb-card-header>-->
  <mat-card-content>
    <h4 *ngIf="estadoescolaridadEliminado === true" class="btn-warning text-center">¡Atención este estado escolaridad ha sido Eliminada!</h4>
    <form [formGroup]="estadoEscolaridadCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1">
            <div class="form-group">

<!--              <label for="estado">Estado</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="estado" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!estadoEscolaridadCreateForm.controls['estado'].valid&&estadoEscolaridadCreateForm.controls['estado'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0;"
                       formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="soloLetras"
                       placeholder="ESTADO" id="estado" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!estadoEscolaridadCreateForm.controls['estado'].valid&&estadoEscolaridadCreateForm.controls['estado'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="idTipo == 2">
            <div class="form-group">
<!--              <label for="estado">Estado</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="estado" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!estadoEscolaridadCreateForm.controls['estado'].valid&&estadoEscolaridadCreateForm.controls['estado'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0"
                       formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="soloLetras"
                       placeholder="ESTADO" id="estado" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint
                          *ngIf="!estadoEscolaridadCreateForm.controls['estado'].valid&&estadoEscolaridadCreateForm.controls['estado'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja valor de Estado Escolaridad</mat-hint>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarEstadoEscolaridad()"
            [disabled]="!estadoEscolaridadCreateForm.valid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateEscolaridadEstado()"
            [disabled]="!estadoEscolaridadCreateForm.valid">Modificar
    </button>
   <!-- <button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaEstadoEscolaridad()">Dar de baja
    </button>-->
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

