<nb-card>
  <nb-card-header>
  </nb-card-header>
  <nb-card-body>
    <p> trabajando... ModoSeguro</p>


  </nb-card-body>

  <nb-card-footer>
    <button nbButton hero status="primary" >Guardar</button> <button nbButton hero status="primary" >Cerrar</button>
  </nb-card-footer>
</nb-card>


