<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getPaises(1)">
    </div>
  </div>
  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button mat-button (click)="crearPaises()">CREAR PAÍS</button>
    </div>
    <mat-card-title>PAÍS</mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail" >
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon id="short-icon" (click)="updatePaises(element.id)"
                         pTooltip="Actualizar Datos de País">update</mat-icon>
              <mat-icon class="short-icon" id="delete" (click)="bajaPaises(element.id)"
                         pTooltip="Baja de País">delete_forever</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
