<mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getSolicitudes(1)">
    </div>
  </div>

  <div class="button-input">
    <div class="box" style="width: 100%;"></div>
    <mat-card-title>
      <span id="title">SOLICITUDES</span>
    </mat-card-title>

    <div class="search">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>


  <mat-card-content>
 <div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="text-align: center"> DETALLE </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <mat-icon (click)="verDatos(element.id)"  pTooltip="Ver detalles" mat-raised-button id="verDetalles"
                    >remove_red_eye</mat-icon >
<!--          <nb-action class="eva eva-eye-outline custom-icon" (click)="verDatos(element.id)"></nb-action></td>-->
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre + ' ' + element.apellidoPaterno + ' ' + element.apellidoMaterno}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="vacante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VACANTE </th>
        <td mat-cell *matCellDef="let element"> {{element.vacante}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="empleado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RECLUTADOR </th>
        <td mat-cell *matCellDef="let element"> {{element.empleado}} </td>
      </ng-container>

      <ng-container matColumnDef="sede">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SEDE </th>
        <td mat-cell *matCellDef="let element"> {{element.sede}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="fechaCita">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA / CITA </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaCita | date : 'd MMM y h:mm a'}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th  mat-header-cell *matHeaderCellDef style="text-align: center"> 
          <span [hidden]="!escritura">ACCIONES</span> 
        </th>
        <td [hidden]="!escritura" mat-cell *matCellDef="let element">

          <div class="actions">

            <mat-icon  (click)="actualizarSolicitud(element.id, element.idVacante)" pTooltip="Actualizar datos de solicitud">edit</mat-icon>
            <mat-icon  (click)="agendarCita(element.id)" pTooltip="Agendar Cita">event_note</mat-icon>
            <mat-icon  (click)="checkDocumentos(element.id)" *ngIf="element.fechaCita != null && element.documentos === 'incompleto'"  pTooltip="Check documentos">folder_shared</mat-icon>
            <mat-icon  *ngIf="element.fechaCita != null && element.documentos === 'completo'"
                                [routerLink]="['/modulos/rrhh/precandidatos/create/1',element.id]"
                                pTooltip="Crear Pre candidato">person_add</mat-icon>
            <mat-icon id="delete" (click)="bajaSolicitud(element.id)" pTooltip="Baja de solicitud">delete_forever</mat-icon>

          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    </mat-card-content>
</mat-card>
