.example-form {
  min-width: 350px;
  width: 100%;
}

.form-control:focus{
  border: none;
}

mat-card {
  padding: 5% 7%;
}

mat-card-title {
  margin-bottom: 30px;
}

.mat-hint {
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions {
  text-align: right;
}
mat-card-actions button {
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.button button {
  background-color: transparent;
  color: #111218;
  border: 1.5px solid #138d75;
  transition: all 0.5s;
}

