<mat-card class="example-form">
  <mat-card-title>CHECK DOCUMENTOS</mat-card-title>
  <mat-card-content>
    <h4 *ngIf="solicitudEliminada === true" class="btn-warning text-center">¡Atención esta solicitud ha sido Eliminada!</h4>
    <form #formulario (submit)="checkDocumentos();formulario.reset()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <nb-checkbox [(ngModel)]="documentos.imss" name="imss">IMSS</nb-checkbox>
          </div>
          <div class="form-group">
            <nb-checkbox [(ngModel)]="documentos.curp" name="curp">CURP</nb-checkbox>
          </div>
          <div class="form-group">
            <nb-checkbox [(ngModel)]="documentos.rfc" name="rfc">RFC</nb-checkbox>
          </div>
          <div class="form-group">
            <nb-checkbox [(ngModel)]="documentos.identificacionOficial" name="identificacionOficial">Identificación oficial</nb-checkbox>
          </div>
          <div class="form-group">
            <nb-checkbox [(ngModel)]="documentos.comprobanteEstudios" name="comprobanteEstudios">Comprobante de estudios</nb-checkbox>
          </div>
          <div class="form-group">
            <nb-checkbox [(ngModel)]="documentos.comprobanteDomicilio" name="comprobanteDomicilio">Comprobante de domicilio</nb-checkbox>
          </div>
          <div class="form-group">
            <nb-checkbox [(ngModel)]="documentos.actaNacimiento" name="actaNacimiento">Acta de nacimiento</nb-checkbox>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button (click)="checkDocumentos()" [disabled]="inactivo">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
