<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo == 1">CREAR EMPRESA</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR EMPRESA</mat-card-title>
  <mat-card-content>
    <form [formGroup]="empresaForm">
          <div *ngIf="idTipo == 1 || idTipo == 2">
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0;"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="letrasNumeros"
                       placeholder="NOMBRE" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!empresaForm.controls['nombre'].valid&&empresaForm.controls['nombre'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0"
                       formControlName="codigo" oninput="this.value = this.value.toUpperCase()" maxlength="10"
                       placeholder="CODIGO" id="codigo"/>
                <mat-hint
                  *ngIf="!empresaForm.controls['codigo'].valid && empresaForm.controls['codigo'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <textarea matInput type="text" class="form-control" style="padding: 0;"
                          formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                          [pKeyFilter]="letrasNumeros"
                          placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
                <mat-hint *ngIf="!empresaForm.controls['descripcion'].valid&&empresaForm.controls['descripcion'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button id="submit" mat-button *ngIf="idTipo == 1" (click)="guardarEmpresa()"
              [disabled]="!empresaForm.valid">Guardar
      </button>
      <button  id="actualizar" mat-button *ngIf="idTipo == 2" (click)="updateEmprea()" [disabled]="!empresaForm.valid">
        Modificar
      </button>
      <button id="baja" mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>
