<mat-card >
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEmpleado(1)">
    </div>
  </div>

  <mat-card-content>
    <div>
      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          EMPLEADOS
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef id="align-detail">DETALLE</th>
          <td mat-cell *matCellDef="let element" id="align-detail">
            <!--            <nb-action class="eva eva-eye-outline custom-icon" (click)="verDatos(element.id)"></nb-action>-->
            <mat-icon pTooltip="Ver detalles" (click)="verDatos(element.id)" id="verDetalles"
              >remove_red_eye</mat-icon
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            id="align-detail"
          >
            NO. EMPLEADO
          </th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.nombre +
                " " +
                element.apellidoPaterno +
                " " +
                element.apellidoMaterno
            }}
          </td>
        </ng-container>


        <ng-container matColumnDef="puesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PUESTO</th>
          <td mat-cell *matCellDef="let element">{{ element.puesto }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBAREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon [routerLink]="['/modulos/rrhh/updateEmpleado', element.id, element.idPrecandidato, 1]"
                pTooltip="Actualizar Datos Personales">cached</mat-icon>
              <mat-icon [routerLink]="['/modulos/rrhh/updateEmpleado', element.id, element.idPrecandidato, 0]"
                pTooltip="Actualizar Datos Empresariales">update</mat-icon>
              <mat-icon
                [hidden]="element.documentosAdministrativos === null"
                (click)="expedienteAdministrativo(element.documentosAdministrativos, element.id)"
                pTooltip="Expediente Administrativo">folder_open</mat-icon>
              <mat-icon
                [hidden]="element.documentosPersonales === null" (click)="expedientePersonal(element.documentosPersonales,
                 element.id)" pTooltip="Expediente Personal">folder_shared</mat-icon>
              <mat-icon
                [hidden]="element.documentosAdministrativos !== null"
                (click)="
                  createDocumentosAFolder(
                    element.id,
                    element.nombre +
                      ' ' +
                      element.apellidoPaterno +
                      ' ' +
                      element.apellidoMaterno +
                      '-' +
                      element.id
                  )
                "
                pTooltip="Crear Expediente Administrativo"
                >create_new_folder</mat-icon>
              <mat-icon [hidden]="element.documentosPersonales !== null" (click)=" createDocumentosPFolder(
                    element.id,
                    element.nombre +
                      ' ' +
                      element.apellidoPaterno +
                      ' ' +
                      element.apellidoMaterno +
                      '-' +
                      element.id
                  )
                "
                pTooltip="Crear Expediente Personal"
                >person_pin</mat-icon>
              <mat-icon
                id="delete"
                (click)="bajaEmpleado(element.idPrecandidato, element.id)"
                pTooltip="Baja de Empleado"
                >delete_forever</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
