<mat-card>
  <div class="reload-all">
    <div class="icon-all">
    <p *ngIf="tipoEquipos === 'CPU' || tipoEquipos ==='MONITOR' || tipoEquipos ==='LAPTOP' || tipoEquipos ==='TABLET'
       || tipoEquipos ==='TECLADO' || tipoEquipos ==='MOUSE'  || tipoEquipos ==='DIADEMA'; else elseBlock">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEquipos(tipoEquipos)">
    </p>
      <ng-template #elseBlock>  <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEquipo()"> </ng-template>
    </div>
  </div>

  <div class="button-input">
    <div class="box" style="width: 50%"></div>

    <mat-card-title>
      BAJA INVENTARIO
    </mat-card-title>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <mat-card-content>

    <!--{{x}}-->
    <div>
      <mat-tab-group (selectedTabChange)="getEquipos($event.tab.textLabel)">
        <mat-tab label="CPU"> </mat-tab>
        <mat-tab label="MONITOR">  </mat-tab>
        <mat-tab label="LAPTOP"> </mat-tab>
        <mat-tab label="TABLET"> </mat-tab>
        <mat-tab label="TECLADO"> </mat-tab>
        <mat-tab label="MOUSE"> </mat-tab>
        <mat-tab label="DIADEMA"> </mat-tab>
      </mat-tab-group>

      <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            DETALLE
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon pTooltip="Detalles" (click) ="verDetalles(element.id, opcionequipo)" id="verDetalles">
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroSerie">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NO. SERIE </th>
          <td mat-cell *matCellDef="let element" > <p *ngIf=" tipoEquipos === 'CPU'">{{element.numeroSerie}}</p>
            <p *ngIf=" tipoEquipos === 'MONITOR'">{{element.numSerie}}</p>
            <p *ngIf=" tipoEquipos === 'LAPTOP'">{{element.numeroSerie}}</p>
            <p *ngIf=" tipoEquipos === 'TABLET'">{{element.numFolio}}</p>
            <p *ngIf=" tipoEquipos === 'DIADEMA'">{{element.numFolio}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreMarca}} </td>
        </ng-container>
        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVO </th>
          <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center;">
              <div class="actions">
                <mat-icon pTooltip="Activar Equipo" *ngIf ="element.activo === 0"
                          (click)="ActivarEquipo(element.id, tipoEquipos)">
                  power_settings_new
                </mat-icon>
              </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
