<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getVacante(1)">
    </div>
  </div>

  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button id="vacanteButton" mat-raised-button (click)="crearVacante()">CREAR VACANTE</button>
    </div>

    <mat-card-title style="text-align: center; color: #354089;">
      VACANTES
    </mat-card-title>
    <!--    <div class="title">-->
    <!--      <span style="font-size: 1.7em; font-weight: 500">VACANTES</span>-->
    <!--    </div>-->
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            DETALLE
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon id="verDetalles" (click)="verDatos(element.id)" pTooltip="Ver detalles"
              mat-raised-button>
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        
        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBÁREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="puesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PUESTO</th>
          <td mat-cell *matCellDef="let element">{{ element.puesto }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                (click)="updateVacante(element.id)"
                pTooltip="Modificar vacante"
                mat-raised-button
                >edit
              </mat-icon>
              <mat-icon
                (click)="crearSolicitud(element.id)"
                pTooltip="Crear solicitud"
                mat-raised-button
                >person_add
              </mat-icon>
              <mat-icon
                (click)="generarUrl(element.id)"
                pTooltip="Generar url"
                mat-raised-button
              >alternate_email</mat-icon
              >
              <mat-icon
                id="delete"
                (click)="bajaVacante(element.id)"
                pTooltip="Dar de baja"
                mat-raised-button
                >delete_forever
              </mat-icon>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div> <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
