<!--<nb-card class="m-5">-->
  <!--<nb-card-header>DATOSUSUARIOS</nb-card-header>-->
  <!--<nb-card-body>-->

    <!--<h1> MODIFICAR PRIVILEGIOS</h1>-->
    <!--<form [formGroup]="permisosForm">-->

      <!--<div class="row justify-content-center">-->
        <!--<div class="col-md-6">-->
          <!--<div class="form-group">-->
            <!--<label for="nombre">Nombre</label>-->
            <!--<input nbInput type="text" formControlName="nombre" placeholder="Requerido" class="form-control"-->
                   <!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="nombre"-->
                   <!--autocomplete="off"/>-->
            <!--<nb-alert status="danger" *ngIf="!permisosForm.controls['nombre'].valid&&permisosForm.controls['nombre'].dirty">-->
              <!--¡El Nombre es requerido!</nb-alert>-->
          <!--</div>-->


          <!--<div class="form-group">-->
            <!--<label for="subareaSelected">Subarea</label>-->
            <!--<p-dropdown [options]="sub" formControlName="subareaSelected" placeholder="Seleccione la Subarea"-->
                        <!--id="subareaSelected" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

          <!--</div>-->


          <!--<div class="form-group">-->
            <!--<P>BOTONES </P>-->
            <!--<TABLE>-->
              <!--<tr><td>descargaPNC    </td><td>descargarPNE</td> </tr>-->
              <!--<tr><td><p-dropdown [options]="seleccion2" formControlName="descargarPNC" placeholder=""-->
                                  <!--id="seleccionm" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown></td>-->
                <!--<td>-->
                  <!--<p-dropdown [options]="seleccion2" formControlName="descargarPNE" placeholder=""-->
                              <!--id="seleccio2" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown></td></tr>-->
            <!--</TABLE>-->
            <!--<bR>-->




          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
          <!--<div class="form-group">-->
            <!--<label for="descripcion">Descripcion</label>-->
            <!--<input nbInput type="text" formControlName="descripcion" placeholder="Requerido" class="form-control"-->
                   <!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="descripcion"-->
                   <!--autocomplete="off"/>-->
            <!--<nb-alert status="danger" *ngIf="!permisosForm.controls['descripcion'].valid&&permisosForm.controls['descripcion'].dirty">-->
              <!--¡El Nombre es requerido!</nb-alert>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="puestoSelected">Puesto</label>-->
            <!--<p-dropdown [options]="puesto" formControlName="puestoSelected" placeholder="Seleccione el puesto"-->
                        <!--id="puestoSelected" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row justify-content-center">-->

        <!--<div class="col-md-4">-->
          <!--<p>MODULOS</p>-->
          <!--<p style="margin-bottom: 30.5px" *ngFor = 'let permiso of permisos'>-->

            <!--{{permiso}}-->

          <!--</p>-->

        <!--</div>-->

        <!--<div class="col-md-4">-->
          <!--ACTIVO-->
          <!--<p *ngFor = 'let permiso of permisos'>-->
            <!--<p-dropdown [options]="seleccion2" formControlName="ACTIVO{{permiso}}" placeholder=""-->
                        <!--id="seleccio3" [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
                        <!--placeholder=""></p-dropdown>-->
          <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--ESCRITURA-->
          <!--<p *ngFor = 'let permiso of permisos'>-->
            <!--<p-dropdown [options]="seleccion2" formControlName="ESCRITURA{{permiso}}" placeholder=""-->
                        <!--id="seleccio4" [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
                        <!--placeholder=""></p-dropdown>-->
          <!--</p>-->
        <!--</div>-->

      <!--</div>-->
      <!--<div class="row justify-content-center">-->
        <!--<div class="col-md-6">-->
          <!--<button nbButton  type="submit" (click)="guardarGrupoUsuario()"-->
                  <!--[disabled]="!permisosForm.valid" class="btn-block">Guardar</button>-->
        <!--</div>-->

      <!--</div>-->
    <!--</form>-->



  <!--</nb-card-body>-->
  <!--<nb-card-footer class="d-flex justify-content-end">-->
    <!--<button nbButton hero size="xsmall" status="primary" (click)="dismiss()">Cerrar</button>-->
  <!--</nb-card-footer>-->
<!--</nb-card>-->
