.card {
  width: 35%;
  margin: 0 auto;
  //background: rgb(53,64,137);
  //background: linear-gradient(115deg, rgba(53,64,137,1) 0%, rgba(226,28,81,1) 100%);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #fff;
}

input {
  height: 50px;
  border: 2px #dadfe6 solid;
}

h1 {
  font-family: Montserrat, Arial;
  color: #fff;
  font-weight: 500;
}

button {
  margin-top: 5em;
  margin-bottom: 8em;
  height: 50px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.9em;
  padding: 10px 20px;
  border:none;
  font-family: 'Montserrat', Arial;
  cursor: pointer;
  background: rgb(243,38,83);
  background: linear-gradient(115deg, rgba(243,38,83,1) 0%, rgba(25,110,175,1) 50%, rgba(24,80,152,1) 100%);
  border-radius: 5px;
  color: #fff;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  z-index: 2;
}

.titulo {
  margin-top: 5em;
}

form{
  text-align: center;
}

img{
  animation: jump 1s ease-in-out alternate infinite;
}

@keyframes jump{
  to{transform: scale(1.08);}
}

.container-full {
  background: rgb(243,38,83);
  background: linear-gradient(115deg, rgba(243,38,83,1) 0%, rgba(25,110,175,1) 50%, rgba(24,80,152,1) 100%);
  width: 100%;
  height: 100vh;
}

svg {
  width: 70%;
  margin-top: 10%;
}

.logo {
  text-align: center;
}


//BACKGROUNDS
//.back {
//  width: 100%;
//  height: 100vh;
//}

//.st0 {
//  animation: dash 1.5s linear;
//}
//.st1 {
//  animation: dash 1.8s linear;
//}
//.st2 {
//  animation: dash 2.1s linear;
//}
//.st3 {
//  animation: dash 2.4s linear;
//}
//
//ellipse {
//  opacity: 0;
//}
//
//@keyframes dash {
//  from {
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//  }
//}
