<!--<div class="back">-->
<!--  <div class="left"></div>-->
<!--  <div class="right"></div>-->
<!--</div>-->
<div class="container-full">

    <div class="card">

      <div class="logo">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 560 376" style="enable-background:new 0 0 560 376;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#185098;}
        .st1{fill:#F32653;}
        .st2{fill:#196EAF;}
        .st3{fill:#FFFFFF;}
        .st4{opacity:0.72;fill:none;}
        .st5{opacity:0.5;fill:none;}
        .st6{display:none;fill:none;}
        .st7{opacity:0.5;fill:none;}
      </style>
              <g>
                <path class="st0" d="M-1116.35,315.66c0.58,0.58,0.87,1.33,0.87,2.24c0,0.91-0.29,1.65-0.87,2.24c-0.58,0.58-1.33,0.87-2.24,0.87
          h-13.93v41.01c0,0.95-0.32,1.75-0.97,2.4c-0.65,0.65-1.45,0.97-2.4,0.97s-1.75-0.32-2.4-0.97c-0.65-0.65-0.97-1.45-0.97-2.4v-41.01
          h-13.99c-0.91,0-1.65-0.29-2.24-0.87c-0.58-0.58-0.88-1.33-0.88-2.24c0-0.91,0.29-1.65,0.88-2.24c0.58-0.58,1.33-0.87,2.24-0.87
          h34.66C-1117.68,314.79-1116.93,315.08-1116.35,315.66z"/>
                <path class="st0" d="M-1061.58,362.34c0,0.86-0.29,1.59-0.87,2.17c-0.58,0.58-1.37,0.87-2.37,0.87c-1.25,0-2.22-0.54-2.92-1.62
          l-11.14-17.88h-1.17h-8.29v16.13c0,0.95-0.31,1.75-0.94,2.4c-0.63,0.65-1.44,0.97-2.43,0.97c-0.95,0-1.75-0.32-2.4-0.97
          c-0.65-0.65-0.97-1.45-0.97-2.4v-43.86c0-0.99,0.32-1.8,0.97-2.43c0.65-0.63,1.45-0.94,2.4-0.94h11.66c3.2,0,6.06,0.67,8.58,2.01
          c2.53,1.34,4.49,3.22,5.9,5.64c1.4,2.42,2.11,5.18,2.11,8.29c0,3.07-0.78,5.79-2.33,8.16c-1.55,2.38-3.67,4.17-6.35,5.38
          l9.91,15.94C-1061.79,360.9-1061.58,361.61-1061.58,362.34z M-1080.04,339.67c2.94,0,5.35-0.83,7.26-2.49
          c1.9-1.66,2.85-3.81,2.85-6.45c0-2.85-0.95-5.18-2.85-7c-1.9-1.81-4.32-2.72-7.26-2.72h-8.29v18.66H-1080.04z"/>
                <path class="st0" d="M-1040.2,364.42c-0.65-0.65-0.97-1.45-0.97-2.4v-43.86c0-0.99,0.32-1.8,0.97-2.43
          c0.65-0.63,1.45-0.94,2.4-0.94c0.99,0,1.8,0.31,2.43,0.94c0.63,0.63,0.94,1.44,0.94,2.43v43.86c0,0.95-0.31,1.75-0.94,2.4
          c-0.63,0.65-1.44,0.97-2.43,0.97C-1038.75,365.39-1039.55,365.06-1040.2,364.42z"/>
                <path class="st0" d="M-969.87,340.09c0.63,0.63,0.94,1.44,0.94,2.43V358c0,1.04-0.35,1.84-1.04,2.4
          c-4.54,3.76-9.83,5.64-15.87,5.64c-4.62,0-8.84-1.14-12.67-3.43c-3.82-2.29-6.83-5.42-9.04-9.39c-2.2-3.97-3.3-8.36-3.3-13.15
          c0-4.75,1.1-9.1,3.3-13.05c2.2-3.95,5.22-7.08,9.04-9.39c3.82-2.31,8.04-3.47,12.67-3.47c3.28,0,6.12,0.43,8.52,1.3
          c2.4,0.86,4.83,2.29,7.29,4.28c0.52,0.39,0.86,0.79,1.04,1.2c0.17,0.41,0.26,0.9,0.26,1.46c0,0.86-0.31,1.58-0.94,2.14
          c-0.63,0.56-1.37,0.84-2.24,0.84c-0.78,0-1.51-0.28-2.2-0.84c-1.77-1.51-3.5-2.6-5.18-3.27c-1.68-0.67-3.87-1-6.54-1
          c-3.37,0-6.47,0.89-9.3,2.66c-2.83,1.77-5.08,4.18-6.74,7.22c-1.66,3.04-2.49,6.36-2.49,9.94c0,3.63,0.83,6.95,2.49,9.98
          c1.66,3.02,3.91,5.42,6.74,7.19c2.83,1.77,5.93,2.66,9.3,2.66c3.63,0,7.1-1.08,10.43-3.24v-11.53h-8.94c-0.99,0-1.8-0.28-2.43-0.84
          c-0.63-0.56-0.94-1.27-0.94-2.14c0-0.86,0.31-1.58,0.94-2.14c0.63-0.56,1.44-0.84,2.43-0.84h12.12
          C-971.29,339.15-970.5,339.46-969.87,340.09z"/>
                <path class="st0" d="M-907.06,362.08c0,0.91-0.32,1.68-0.97,2.33c-0.65,0.65-1.45,0.97-2.4,0.97c-0.65,0-1.26-0.18-1.85-0.55
          c-0.58-0.37-1-0.87-1.26-1.52l-3.63-9.07h-23.26l-3.69,9.07c-0.3,0.65-0.74,1.16-1.3,1.52c-0.56,0.37-1.17,0.55-1.81,0.55
          c-0.95,0-1.74-0.33-2.37-1c-0.63-0.67-0.94-1.46-0.94-2.36c0-0.43,0.11-0.93,0.32-1.49l18.21-43.47c0.65-1.51,1.71-2.27,3.17-2.27
          c1.55,0,2.61,0.76,3.17,2.27l18.27,43.6C-907.17,361.22-907.06,361.69-907.06,362.08z M-938.16,348.67h18.72l-9.26-23.06
          L-938.16,348.67z"/>
                <path class="st0" d="M-853.22,362.34c0,0.86-0.29,1.59-0.87,2.17c-0.58,0.58-1.37,0.87-2.37,0.87c-1.25,0-2.22-0.54-2.92-1.62
          l-11.14-17.88h-1.17h-8.29v16.13c0,0.95-0.31,1.75-0.94,2.4c-0.63,0.65-1.44,0.97-2.43,0.97c-0.95,0-1.75-0.32-2.4-0.97
          c-0.65-0.65-0.97-1.45-0.97-2.4v-43.86c0-0.99,0.32-1.8,0.97-2.43c0.65-0.63,1.45-0.94,2.4-0.94h11.66c3.2,0,6.06,0.67,8.58,2.01
          c2.53,1.34,4.49,3.22,5.9,5.64c1.4,2.42,2.11,5.18,2.11,8.29c0,3.07-0.78,5.79-2.33,8.16c-1.55,2.38-3.67,4.17-6.35,5.38
          l9.91,15.94C-853.44,360.9-853.22,361.61-853.22,362.34z M-871.68,339.67c2.94,0,5.35-0.83,7.26-2.49c1.9-1.66,2.85-3.81,2.85-6.45
          c0-2.85-0.95-5.18-2.85-7c-1.9-1.81-4.32-2.72-7.26-2.72h-8.29v18.66H-871.68z"/>
                <path class="st0" d="M-794.65,362.08c0,0.91-0.32,1.68-0.97,2.33c-0.65,0.65-1.45,0.97-2.4,0.97c-0.65,0-1.26-0.18-1.85-0.55
          c-0.58-0.37-1-0.87-1.26-1.52l-3.63-9.07h-23.26l-3.69,9.07c-0.3,0.65-0.74,1.16-1.3,1.52c-0.56,0.37-1.17,0.55-1.81,0.55
          c-0.95,0-1.74-0.33-2.37-1c-0.63-0.67-0.94-1.46-0.94-2.36c0-0.43,0.11-0.93,0.32-1.49l18.21-43.47c0.65-1.51,1.71-2.27,3.17-2.27
          c1.55,0,2.61,0.76,3.17,2.27l18.27,43.6C-794.76,361.22-794.65,361.69-794.65,362.08z M-825.75,348.67h18.72l-9.26-23.06
          L-825.75,348.67z"/>
                <path class="st0" d="M-773.37,364.45c-0.63-0.63-0.94-1.44-0.94-2.43v-43.86c0-0.99,0.31-1.8,0.94-2.43
          c0.63-0.63,1.41-0.94,2.37-0.94c0.47,0,0.95,0.12,1.42,0.36c0.47,0.24,0.86,0.53,1.17,0.87l28.25,37.58v-35.44
          c0-0.99,0.32-1.8,0.97-2.43c0.65-0.63,1.45-0.94,2.4-0.94c0.95,0,1.74,0.31,2.36,0.94c0.63,0.63,0.94,1.44,0.94,2.43v43.86
          c0,0.99-0.31,1.8-0.94,2.43c-0.63,0.63-1.41,0.94-2.36,0.94c-0.48,0-0.96-0.1-1.46-0.29c-0.5-0.19-0.88-0.49-1.13-0.87
          l-28.25-37.58v35.37c0,0.95-0.31,1.75-0.94,2.4c-0.63,0.65-1.44,0.97-2.43,0.97C-771.96,365.39-772.75,365.07-773.37,364.45z"/>
                <path class="st0" d="M-673.08,315.66c0.58,0.58,0.87,1.33,0.87,2.24c0,0.91-0.29,1.65-0.87,2.24c-0.58,0.58-1.33,0.87-2.24,0.87
          h-13.93v41.01c0,0.95-0.32,1.75-0.97,2.4c-0.65,0.65-1.45,0.97-2.4,0.97s-1.75-0.32-2.4-0.97c-0.65-0.65-0.97-1.45-0.97-2.4v-41.01
          h-13.99c-0.91,0-1.65-0.29-2.24-0.87c-0.58-0.58-0.88-1.33-0.88-2.24c0-0.91,0.29-1.65,0.88-2.24c0.58-0.58,1.33-0.87,2.24-0.87
          h34.66C-674.41,314.79-673.66,315.08-673.08,315.66z"/>
                <path class="st0" d="M-650.83,364.42c-0.65-0.65-0.97-1.45-0.97-2.4v-43.86c0-0.99,0.32-1.8,0.97-2.43
          c0.65-0.63,1.45-0.94,2.4-0.94h29.28c0.99,0,1.79,0.29,2.4,0.87c0.6,0.58,0.91,1.35,0.91,2.3c0,0.91-0.3,1.64-0.91,2.2
          c-0.61,0.56-1.4,0.84-2.4,0.84h-25.91v15.74h18.59c0.95,0,1.74,0.29,2.37,0.87c0.63,0.58,0.94,1.33,0.94,2.24
          c0,0.91-0.31,1.65-0.94,2.24c-0.63,0.58-1.42,0.87-2.37,0.87h-18.59v16.2h25.91c0.99,0,1.79,0.28,2.4,0.84
          c0.6,0.56,0.91,1.3,0.91,2.2c0,0.95-0.3,1.72-0.91,2.3c-0.61,0.58-1.4,0.87-2.4,0.87h-29.28
          C-649.38,365.39-650.18,365.06-650.83,364.42z"/>
      </g>
              <g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <path class="st1" d="M-960.83,134.93c0-34.74,28.16-62.91,62.9-62.92h0.02c17.37,0,31.46-14.09,31.46-31.46
                        c0-17.37-14.09-31.46-31.46-31.46l0,0l0,0c-69.51,0-125.84,56.35-125.84,125.84L-960.83,134.93z"/>
                      <path class="st2" d="M-1023.76,134.93c0,69.49,56.33,125.84,125.84,125.84s125.84-56.35,125.84-125.84H-835
                        c0,34.74-28.17,62.92-62.93,62.93c-34.74,0-62.92-28.17-62.93-62.93c0-17.37-14.09-31.46-31.46-31.46
                        C-1009.67,103.46-1023.75,117.55-1023.76,134.93z"/>
                      <path class="st0" d="M-897.91,9.08L-897.91,9.08v62.92l0,0c34.74,0,62.92,28.17,62.93,62.93l0,0h62.92l0,0
                        C-772.07,65.43-828.41,9.09-897.91,9.08z"/>
                      <ellipse class="st1" cx="-897.91" cy="40.55" rx="31.46" ry="31.46"/>
                      <ellipse class="st0" cx="-803.53" cy="134.93" rx="31.46" ry="31.46"/>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
                <circle class="st3" cx="-897.48" cy="134.46" r="89.47"/>
      </g>
              <g>
        <g>
          <path class="st0" d="M-894.04,207.42h-6.9c-5.43,0-9.87-4.44-9.87-9.87V103.3c0-5.43,4.44-9.87,9.87-9.87h6.9
            c5.43,0,9.87,4.44,9.87,9.87v94.25C-884.17,202.97-888.61,207.42-894.04,207.42z"/>
          <path class="st0" d="M-852.07,119.65h-49.24c-5.34,0-9.71-4.37-9.71-9.71v-6.79c0-5.34,4.37-9.71,9.71-9.71h49.24
            c5.34,0,9.71,4.37,9.71,9.71v6.79C-842.36,115.28-846.73,119.65-852.07,119.65z"/>
          <g>
            <path class="st1" d="M-910.81,119.65l0.18-13.11c0-7.02,5.62-12.74,12.68-13.11h-45.54c-5.34,0-9.71,4.37-9.71,9.71v6.79
              c0,5.34,4.37,9.71,9.71,9.71h45.54c-0.01,0-0.02,0-0.02,0L-910.81,119.65z"/>
            <path class="st4" d="M-897.23,93.4c-0.24,0-0.48,0.02-0.72,0.04h1.44C-896.75,93.42-896.99,93.4-897.23,93.4z"/>
            <path class="st4" d="M-897.23,119.68c0.24,0,0.48-0.02,0.72-0.04h-1.44C-897.71,119.66-897.47,119.68-897.23,119.68z"/>
            <path class="st4" d="M-883.82,106.54c0-1.01-0.13-2-0.35-2.95v5.89C-883.95,108.54-883.82,107.56-883.82,106.54z"/>
            <path class="st1" d="M-884.17,109.49v-5.89c-1.31-5.61-6.29-9.84-12.33-10.16h-1.44c-7.07,0.37-12.68,6.09-12.68,13.11
              l-0.18,13.11h12.84c0,0,0.02,0,0.02,0h1.44C-890.46,119.33-885.49,115.1-884.17,109.49z"/>
            <path class="st5" d="M-884.17,109.49v-5.89c-1.31-5.61-6.29-9.84-12.33-10.16h-1.44c-7.07,0.37-12.68,6.09-12.68,13.11
              l-0.18,13.11h12.84c0,0,0.02,0,0.02,0h1.44C-890.46,119.33-885.49,115.1-884.17,109.49z"/>
          </g>
        </g>
      </g>
              <g>
        <g>
          <path class="st0" d="M49.65,315.66c0.58,0.58,0.87,1.33,0.87,2.24c0,0.91-0.29,1.65-0.87,2.24c-0.58,0.58-1.33,0.87-2.24,0.87
            H33.48v41.01c0,0.95-0.32,1.75-0.97,2.4c-0.65,0.65-1.45,0.97-2.4,0.97c-0.95,0-1.75-0.32-2.4-0.97c-0.65-0.65-0.97-1.45-0.97-2.4
            v-41.01H12.75c-0.91,0-1.65-0.29-2.24-0.87c-0.58-0.58-0.88-1.33-0.88-2.24c0-0.91,0.29-1.65,0.88-2.24
            c0.58-0.58,1.33-0.87,2.24-0.87h34.66C48.32,314.79,49.07,315.08,49.65,315.66z"/>
          <path class="st0" d="M104.42,362.34c0,0.86-0.29,1.59-0.87,2.17c-0.58,0.58-1.37,0.87-2.37,0.87c-1.25,0-2.22-0.54-2.92-1.62
            l-11.14-17.88h-1.17h-8.29v16.13c0,0.95-0.31,1.75-0.94,2.4c-0.63,0.65-1.44,0.97-2.43,0.97c-0.95,0-1.75-0.32-2.4-0.97
            c-0.65-0.65-0.97-1.45-0.97-2.4v-43.86c0-0.99,0.32-1.8,0.97-2.43c0.65-0.63,1.45-0.94,2.4-0.94h11.66c3.2,0,6.06,0.67,8.58,2.01
            c2.53,1.34,4.49,3.22,5.9,5.64c1.4,2.42,2.11,5.18,2.11,8.29c0,3.07-0.78,5.79-2.33,8.16c-1.55,2.38-3.67,4.17-6.35,5.38
            l9.91,15.94C104.21,360.9,104.42,361.61,104.42,362.34z M85.96,339.67c2.94,0,5.35-0.83,7.26-2.49c1.9-1.66,2.85-3.81,2.85-6.45
            c0-2.85-0.95-5.18-2.85-7c-1.9-1.81-4.32-2.72-7.26-2.72h-8.29v18.66H85.96z"/>
          <path class="st0" d="M125.8,364.42c-0.65-0.65-0.97-1.45-0.97-2.4v-43.86c0-0.99,0.32-1.8,0.97-2.43c0.65-0.63,1.45-0.94,2.4-0.94
            c0.99,0,1.8,0.31,2.43,0.94c0.63,0.63,0.94,1.44,0.94,2.43v43.86c0,0.95-0.31,1.75-0.94,2.4c-0.63,0.65-1.44,0.97-2.43,0.97
            C127.25,365.39,126.45,365.06,125.8,364.42z"/>
          <path class="st0" d="M196.13,340.09c0.63,0.63,0.94,1.44,0.94,2.43V358c0,1.04-0.35,1.84-1.04,2.4
            c-4.54,3.76-9.83,5.64-15.87,5.64c-4.62,0-8.84-1.14-12.67-3.43c-3.82-2.29-6.83-5.42-9.04-9.39c-2.2-3.97-3.3-8.36-3.3-13.15
            c0-4.75,1.1-9.1,3.3-13.05c2.2-3.95,5.22-7.08,9.04-9.39c3.82-2.31,8.04-3.47,12.67-3.47c3.28,0,6.12,0.43,8.52,1.3
            c2.4,0.86,4.83,2.29,7.29,4.28c0.52,0.39,0.86,0.79,1.04,1.2c0.17,0.41,0.26,0.9,0.26,1.46c0,0.86-0.31,1.58-0.94,2.14
            c-0.63,0.56-1.37,0.84-2.24,0.84c-0.78,0-1.51-0.28-2.2-0.84c-1.77-1.51-3.5-2.6-5.18-3.27c-1.68-0.67-3.87-1-6.54-1
            c-3.37,0-6.47,0.89-9.3,2.66c-2.83,1.77-5.08,4.18-6.74,7.22c-1.66,3.04-2.49,6.36-2.49,9.94c0,3.63,0.83,6.95,2.49,9.98
            c1.66,3.02,3.91,5.42,6.74,7.19c2.83,1.77,5.93,2.66,9.3,2.66c3.63,0,7.1-1.08,10.43-3.24v-11.53h-8.94
            c-0.99,0-1.8-0.28-2.43-0.84c-0.63-0.56-0.94-1.27-0.94-2.14c0-0.86,0.31-1.58,0.94-2.14c0.63-0.56,1.44-0.84,2.43-0.84h12.12
            C194.71,339.15,195.5,339.46,196.13,340.09z"/>
          <path class="st0" d="M258.94,362.08c0,0.91-0.32,1.68-0.97,2.33c-0.65,0.65-1.45,0.97-2.4,0.97c-0.65,0-1.26-0.18-1.85-0.55
            c-0.58-0.37-1-0.87-1.26-1.52l-3.63-9.07h-23.26l-3.69,9.07c-0.3,0.65-0.74,1.16-1.3,1.52c-0.56,0.37-1.17,0.55-1.81,0.55
            c-0.95,0-1.74-0.33-2.37-1c-0.63-0.67-0.94-1.46-0.94-2.36c0-0.43,0.11-0.93,0.32-1.49L234,317.06c0.65-1.51,1.71-2.27,3.17-2.27
            c1.55,0,2.61,0.76,3.17,2.27l18.27,43.6C258.83,361.22,258.94,361.69,258.94,362.08z M227.84,348.67h18.72l-9.26-23.06
            L227.84,348.67z"/>
          <path class="st0" d="M312.78,362.34c0,0.86-0.29,1.59-0.87,2.17c-0.58,0.58-1.37,0.87-2.37,0.87c-1.25,0-2.22-0.54-2.91-1.62
            l-11.14-17.88h-1.17h-8.29v16.13c0,0.95-0.31,1.75-0.94,2.4c-0.63,0.65-1.44,0.97-2.43,0.97c-0.95,0-1.75-0.32-2.4-0.97
            c-0.65-0.65-0.97-1.45-0.97-2.4v-43.86c0-0.99,0.32-1.8,0.97-2.43c0.65-0.63,1.45-0.94,2.4-0.94h11.66c3.2,0,6.06,0.67,8.58,2.01
            c2.53,1.34,4.49,3.22,5.9,5.64c1.4,2.42,2.11,5.18,2.11,8.29c0,3.07-0.78,5.79-2.33,8.16c-1.55,2.38-3.67,4.17-6.35,5.38
            l9.91,15.94C312.56,360.9,312.78,361.61,312.78,362.34z M294.32,339.67c2.94,0,5.35-0.83,7.26-2.49c1.9-1.66,2.85-3.81,2.85-6.45
            c0-2.85-0.95-5.18-2.85-7c-1.9-1.81-4.32-2.72-7.26-2.72h-8.29v18.66H294.32z"/>
          <path class="st0" d="M371.35,362.08c0,0.91-0.32,1.68-0.97,2.33c-0.65,0.65-1.45,0.97-2.4,0.97c-0.65,0-1.26-0.18-1.85-0.55
            c-0.58-0.37-1-0.87-1.26-1.52l-3.63-9.07h-23.26l-3.69,9.07c-0.3,0.65-0.74,1.16-1.3,1.52c-0.56,0.37-1.17,0.55-1.81,0.55
            c-0.95,0-1.74-0.33-2.37-1c-0.63-0.67-0.94-1.46-0.94-2.36c0-0.43,0.11-0.93,0.32-1.49l18.21-43.47c0.65-1.51,1.71-2.27,3.17-2.27
            c1.55,0,2.61,0.76,3.17,2.27l18.27,43.6C371.24,361.22,371.35,361.69,371.35,362.08z M340.25,348.67h18.72l-9.26-23.06
            L340.25,348.67z"/>
          <path class="st0" d="M392.63,364.45c-0.63-0.63-0.94-1.44-0.94-2.43v-43.86c0-0.99,0.31-1.8,0.94-2.43
            c0.63-0.63,1.41-0.94,2.37-0.94c0.47,0,0.95,0.12,1.42,0.36c0.47,0.24,0.86,0.53,1.17,0.87l28.25,37.58v-35.44
            c0-0.99,0.32-1.8,0.97-2.43c0.65-0.63,1.45-0.94,2.4-0.94c0.95,0,1.74,0.31,2.36,0.94c0.63,0.63,0.94,1.44,0.94,2.43v43.86
            c0,0.99-0.31,1.8-0.94,2.43c-0.63,0.63-1.42,0.94-2.36,0.94c-0.48,0-0.96-0.1-1.46-0.29c-0.5-0.19-0.88-0.49-1.13-0.87
            l-28.25-37.58v35.37c0,0.95-0.31,1.75-0.94,2.4c-0.63,0.65-1.44,0.97-2.43,0.97C394.04,365.39,393.25,365.07,392.63,364.45z"/>
          <path class="st0" d="M492.92,315.66c0.58,0.58,0.87,1.33,0.87,2.24c0,0.91-0.29,1.65-0.87,2.24c-0.58,0.58-1.33,0.87-2.24,0.87
            h-13.93v41.01c0,0.95-0.32,1.75-0.97,2.4c-0.65,0.65-1.45,0.97-2.4,0.97c-0.95,0-1.75-0.32-2.4-0.97
            c-0.65-0.65-0.97-1.45-0.97-2.4v-41.01h-13.99c-0.91,0-1.65-0.29-2.24-0.87c-0.58-0.58-0.88-1.33-0.88-2.24
            c0-0.91,0.29-1.65,0.88-2.24c0.58-0.58,1.33-0.87,2.24-0.87h34.66C491.59,314.79,492.34,315.08,492.92,315.66z"/>
          <path class="st0" d="M515.17,364.42c-0.65-0.65-0.97-1.45-0.97-2.4v-43.86c0-0.99,0.32-1.8,0.97-2.43
            c0.65-0.63,1.45-0.94,2.4-0.94h29.28c0.99,0,1.79,0.29,2.4,0.87c0.6,0.58,0.91,1.35,0.91,2.3c0,0.91-0.3,1.64-0.91,2.2
            c-0.61,0.56-1.4,0.84-2.4,0.84h-25.91v15.74h18.59c0.95,0,1.74,0.29,2.37,0.87c0.63,0.58,0.94,1.33,0.94,2.24
            c0,0.91-0.31,1.65-0.94,2.24c-0.63,0.58-1.42,0.87-2.37,0.87h-18.59v16.2h25.91c0.99,0,1.79,0.28,2.4,0.84
            c0.6,0.56,0.91,1.3,0.91,2.2c0,0.95-0.3,1.72-0.91,2.3c-0.61,0.58-1.4,0.87-2.4,0.87h-29.28
            C516.62,365.39,515.82,365.06,515.17,364.42z"/>
        </g>
                <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <g>
                        <g>
                          <path class="st1" d="M217.09,134.93c0-34.74,28.16-62.91,62.9-62.92H280c17.37,0,31.46-14.09,31.46-31.46
                            c0-17.37-14.09-31.46-31.46-31.46l0,0l0,0c-69.51,0-125.84,56.35-125.84,125.84L217.09,134.93z"/>
                          <path class="st2" d="M154.15,134.93c0,69.49,56.33,125.84,125.84,125.84s125.84-56.35,125.84-125.84h-62.92
                            c0,34.74-28.17,62.92-62.93,62.93c-34.74,0-62.92-28.17-62.93-62.93c0-17.37-14.09-31.46-31.46-31.46
                            C168.25,103.46,154.16,117.55,154.15,134.93z"/>
                          <path class="st0" d="M280,9.08L280,9.08v62.92l0,0c34.74,0,62.92,28.17,62.93,62.93l0,0h62.92l0,0
                            C405.85,65.43,349.5,9.09,280,9.08z"/>
                          <ellipse class="st1" cx="280.01" cy="40.55" rx="31.46" ry="31.46"/>
                          <ellipse class="st0" cx="374.39" cy="134.93" rx="31.46" ry="31.46"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <circle class="st3" cx="280.44" cy="134.46" r="89.47"/>
          </g>
                  <g>
            <path class="st0" d="M283.88,207.42h-6.9c-5.43,0-9.87-4.44-9.87-9.87V103.3c0-5.43,4.44-9.87,9.87-9.87h6.9
              c5.43,0,9.87,4.44,9.87,9.87v94.25C293.74,202.97,289.3,207.42,283.88,207.42z"/>
                    <path class="st0" d="M325.85,119.65h-49.24c-5.34,0-9.71-4.37-9.71-9.71v-6.79c0-5.34,4.37-9.71,9.71-9.71h49.24
              c5.34,0,9.71,4.37,9.71,9.71v6.79C335.56,115.28,331.19,119.65,325.85,119.65z"/>
                    <g>
              <path class="st1" d="M267.1,119.65l0.18-13.11c0-7.02,5.62-12.74,12.68-13.11h-45.54c-5.34,0-9.71,4.37-9.71,9.71v6.79
                c0,5.34,4.37,9.71,9.71,9.71h45.54l-0.02,0L267.1,119.65z"/>
                      <path class="st6" d="M293.74,109.49v-5.89c-1.31-5.61-6.29-9.84-12.33-10.16h-1.44c-7.07,0.37-12.68,6.09-12.68,13.11
                l-0.18,13.11h12.84l0.02,0h1.44C287.45,119.33,292.43,115.1,293.74,109.49z"/>
                      <path class="st7" d="M293.74,103.59c-1.31-5.61-6.29-9.84-12.33-10.16c-0.24-0.01-0.48-0.04-0.72-0.04
                c-0.24,0-0.48,0.02-0.72,0.04c-7.07,0.37-12.68,6.09-12.68,13.11l-0.18,13.11h12.84l0.02,0c0.24,0.01,0.48,0.04,0.72,0.04
                c0.24,0,0.48-0.02,0.72-0.04c6.04-0.32,11.02-4.55,12.33-10.16c0.22-0.95,0.35-1.93,0.35-2.95
                C294.09,105.53,293.97,104.54,293.74,103.59z"/>
            </g>
          </g>
        </g>
      </g>
      </svg>
      </div>
<!--      <div class="row justify-content-center titulo">-->
<!--        <h1>INICIAR SESIÓN</h1>-->
<!--      </div>-->
<!--      <div class="row justify-content-center" style="color: white">-->
<!--        Bienvenido a TRIGARANTE 20-20-->
<!--      </div>-->
      <div class="row justify-content-center mt-5">
        <div class="col-md-4 col-sm-8">
          <form [formGroup]="loginForm">
<!--            <div class="form-group">-->
<!--              <label for="usuario">Usuario:</label>-->
<!--              <input type="text" class="form-control" id="usuario" formControlName="usuario" placeholder="Usuario">-->
<!--            </div>-->
<!--            <div class="form-group mt-5">-->
<!--              <label for="password">Contraseña:</label>-->
<!--              <input type="password" id="password" class="form-control" formControlName="password"-->
<!--                     placeholder="Contraseña">-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-info btn-block" (click)="login()">Iniciar sesion</button>-->
<!--            <img src='assets/images/google-logo.png' class="rounded mx-auto d-block" alt="Google" />-->
            <button type="submit" (click)="loginGoogle()">INICIAR SESIÓN</button>

          </form>
        </div>
      </div>


    </div>
</div>

