<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="padding-bottom: 25px;">
      <div class="col">
        <mat-toolbar color="primary">REPORTE REDES</mat-toolbar>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <mat-card id="dash">
          <mat-card-header id="valor" style="display: block">
            <mat-card-title>INVENTARIO DE {{ tipoEquipos | uppercase }} </mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph"> </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <mat-card>
          <mat-card-header>
            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12">
                <mat-card-title> TOTAL DE {{ tipoEquipos | uppercase }}: {{ contadorPermisos }} </mat-card-title>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <mat-form-field>
                  <mat-label>Filtrar</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)" />
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div>
              <mat-tab-group
                (selectedTabChange)="getEquipos($event.tab.textLabel)"
              >
                <mat-tab label="SWITCH"> </mat-tab>
                <mat-tab label="SERVIDORES"> </mat-tab>
                <mat-tab label="TARJETA DE RED"> </mat-tab>
                <mat-tab label="TELEFONOS IP"> </mat-tab>
                <mat-tab label="RACK"> </mat-tab>
                <mat-tab label="PATCH PANEL"> </mat-tab>
                <mat-tab label="CHAROLAS RACK"> </mat-tab>
              </mat-tab-group>
              <table
                mat-table
                [dataSource]="dataSource"
                matSort
                class="mat-elevation-z8"
              >
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    NOMBRE
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <p *ngIf="element.nombre === null">NO. ASIGNADO</p>
                    {{ element.nombre }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="usuario">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    USUARIO
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <p *ngIf="element.usuario === null">NO. ASIGNADO</p>
                    {{ element.usuario }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="nombreMarca">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    MARCA
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.nombreMarca }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cols"></tr>
                <tr mat-row *matRowDef="let row; columns: cols"></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
