<mat-card class="example-form">
  <mat-card-title *ngIf="idTipo == 1">AÑADIR OBSERVACIONES INVENTARIO</mat-card-title>
  <mat-card-title *ngIf="idTipo == 2">MODIFICAR OBSERVACIONES INVENTARIO</mat-card-title>
  <mat-card-content>
    <form [formGroup]="observacionesInventarioCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1 || idTipo == 2">
            <div class="form-group">

<!--              <label for="observaciones">Observaciones</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="observaciones" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="observaciones"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!observacionesInventarioCreateForm.controls['observaciones'].valid&&observacionesInventarioCreateForm.controls['observaciones'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control"
                       formControlName="observaciones" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="OBSERVACIONES" id="observaciones"/>
                <mat-hint *ngIf="!observacionesInventarioCreateForm.controls['observaciones'].valid&&observacionesInventarioCreateForm.controls['observaciones'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>

        <button mat-button *ngIf="idTipo == 1" (click)="guardarObservacionesInventario()"[disabled]="!observacionesInventarioCreateForm.valid">Guardar</button>
        <button mat-button *ngIf="idTipo == 2" (click)="updateObservacionesInventario()"[disabled]="!observacionesInventarioCreateForm.valid">Modificar</button>
        <button mat-button (click)="dismiss()">Cerrar</button>

  </mat-card-actions>
</mat-card>
