<nb-card>
  <nb-card-header>
  </nb-card-header>
  <nb-card-body>
    <p> AGREGAR GERENTE</p>

    {{textoaviso}}
    <form [formGroup]="gerenteForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group" *ngIf="bandera === true && banderaUsuarios === true">

            <label for="extensioncontrol">Extension disponible  </label>
            <p-dropdown [options]="extensiones" formControlName="extensioncontrol" placeholder="Seleccione la extension disponible" [autoWidth]="false"
                        id="extensioncontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getextension($event.value)"></p-dropdown>

          </div>
          <div class="form-group" *ngIf="bandera === true ">
            <label for="privilegios">Permisos  </label>
            <p-dropdown [options]="grupUsuario" formControlName="privilegiocontrol" placeholder="Seleccione el permiso de grupo de usuario " [autoWidth]="false"
                        id="privilegios" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>
          </div>

          <div class="form-group"  *ngIf="bandera === true   && banderaUsuarios === false">
            <label for="correoSubareas">Correos disponibles</label>
            <p-dropdown [options]="correosdisponibles" formControlName="correosdisponibleSubareas" placeholder="Seleccione los correos "
                        [autoWidth]="false"
                        id="correoSubareas" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getcorreoprincialSubareas($event.value)"></p-dropdown>

          </div>
          <div class="form-group"  *ngIf="bandera === true   && banderaUsuarios === true" >
            <div class="form-group" *ngIf="estadoCorreo3 != false">
              <label for="correomodificarsuper"> Correo ya se encuentra en uso modifica el nombre </label>
            </div>
            <input pInputText type="text" formControlName="emailmodificado" class="form-control"
                   id="correomodificarsuper" (keyup)="getcorreofinal($event.target.value)" />
          </div>
          <div class="form-group" *ngIf="estadoCorreo3 == true">
            <label > {{estadofinal}} </label>

          </div>
          <div class="form-group" *ngIf="estadoCorreo3 == false">
            <label > {{estadofinal}} </label>

          </div>

        </div>
      </div>
    </form>

  </nb-card-body>

  <nb-card-footer>
    <button nbButton hero status="primary" *ngIf="estadoCorreo3 === false" (click)="guardar()" >Guardar</button>
    <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>
  </nb-card-footer>
</nb-card>
