table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}


/*Globalss*/
button:disabled{
  background-color: #fff;
}

.mat-header-cell{
  background-color: #111218;
  color: white;
}


.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}


.mat-input-element{
  color: #111218;
}

mat-icon:hover {
  color: #111218;
}

.search{
  width: 100%;
  text-align: right;
}
.mat-form-field {
  font-size: 14px;
  width: 40%;
}

.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
