  <mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getCapacitacion(1)">
    </div>
  </div>

      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          COUCHING
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            DETALLE
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <!--            <nb-action class="eva eva-eye-outline custom-icon" (click)="verDatos(element.id)"></nb-action>-->
            <mat-icon pTooltip="Ver detalles" (click)="verDatos(element.id)" id="verDetalles"
              >remove_red_eye</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.nombre +
                " " +
                element.apellidoPaterno +
                " " +
                element.apellidoMaterno
            }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="calificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            CALIFICACIÓN
          </th>
          <td mat-cell *matCellDef="let element">{{ element.calificacion }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBAREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> 
            <span [hidden]="!escritura">
              ACCIONES
            </span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                (click)="
                  updateCpacitacion(
                    element.id,
                    element.nombre,
                    element.apellidoPaterno,
                    element.apellidoMaterno
                  )
                "
                pTooltip="Actualizar Datos de Couching "
                >edit</mat-icon
              >
              <mat-icon
                (click)="registroAsistencia(element.id)"
                pTooltip="Asistencia"
                >how_to_reg</mat-icon
              >
              <mat-icon
                [hidden]="element.asistencias === null"
                (click)="updateAsistencia(element.id)"
                pTooltip="Editar Asistencia"
                >edit_location</mat-icon
              >
              <mat-icon
                [hidden]="element.asistencias === null"
                (click)="
                  asignarSeguimiento(
                    element.id,
                    element.idPrecandidato,
                    element.nombre,
                    element.apellidoPaterno,
                    element.apellidoMaterno
                  )
                "
                pTooltip="Asignar a Roll-Play"
                >today</mat-icon
              >
              <mat-icon
                id="delete"
                (click)="bajaCapacitacion(element.idPrecandidato, element.id)"
                pTooltip="Baja de Couching "
                >delete_forever</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
