<nb-card>
  <nb-card-header>
    Coordinador
  </nb-card-header>

  <nb-card-body>

    <form [formGroup]="CoordinadorForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <label for="subareacontrol">Area </label>
            <p-dropdown [options]="areas" formControlName="areacontrol" placeholder="Seleccione el area"
                        [autoWidth]="false"
                        id="areacontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}"
                        (onChange)="getSubarea($event.value)"></p-dropdown>
          </div>
          <div class="form-group">
            <label for="subareacontrol">Campaña </label>
            <p-dropdown [options]="area" formControlName="subareacontrol" placeholder="Seleccione la campaña"
                        [autoWidth]="false"
                        id="subareacontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}"
                        (onChange)="getEmpleados($event.value)"></p-dropdown>
          </div>
        </div>
      </div>

    </form>


    <p-table #dt [columns]="cols" [value]="empleado" [scrollable]="true"  [paginator]="true"
             [rows]="15">
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between align-items-center">


        </div>
        <br>
        <div class="ui-helper-clearfix mb-3">
          <button size="xsmall" nbButton (click)="dt.exportCSV()" style="float:left">Descargar todo</button>
        </div>
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Busqueda Global"
                 (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" class="ajuste">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-empleado>
        <tr [pSelectableRow]="empleado">
          <td class="ui-resizable-column"> {{empleado.nombre + " " + empleado.apellidoPaterno + " " + empleado.apellidoMaterno}}</td>
          <td class="ui-resizable-column">{{empleado.telefonoMovil}}</td>
          <td class="ui-resizable-column">
            <nb-action class="eva eva-email" nbTooltip="Crear Coordinador" (click)="asignarCoordinador(empleado.idUsuario, idSubarea, empleado.id )"></nb-action>
          </td>


        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>

</nb-card>
