<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEquipo()">
    </div>
  </div>

  <div class="button-input">
      <div [hidden]="!escritura" class="button">
        <button mat-button (click)="crearCpu()" *ngIf=" tipoEquipos === 'cpu'"> CREAR CPU</button>
        <button mat-button (click)="crearMonitor()" *ngIf=" tipoEquipos === 'monitor'"> CREAR MONITOR</button>
        <button mat-button (click)="crearLaptop()" *ngIf=" tipoEquipos === 'laptop'"> CREAR LAPTOP</button>
        <button mat-button (click)="crearTablet()" *ngIf=" tipoEquipos === 'tablet'"> CREAR TABLET</button>
        <button mat-button (click)="crearTeclado()" *ngIf=" tipoEquipos === 'teclado'"> CREAR TECLADO</button>
        <button mat-button (click)="crearMouse()" *ngIf=" tipoEquipos === 'mouse'"> CREAR MOUSE</button>
        <button mat-button (click)="crearDiadema()" *ngIf=" tipoEquipos === 'diadema'"> CREAR DIADEMA</button>
      </div>

    <mat-card-title>
      INVENTARIO
    </mat-card-title>
    <div class="input">
      <mat-form-field>

        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <mat-card-content>

    <!--{{x}}-->
    <div>
      <mat-tab-group (selectedTabChange)="getEquipos($event.tab.textLabel)">
        <mat-tab label="CPU"> </mat-tab>
        <mat-tab label="MONITOR">  </mat-tab>
        <mat-tab label="LAPTOP"> </mat-tab>
        <mat-tab label="TABLET"> </mat-tab>
        <mat-tab label="TECLADO"> </mat-tab>
        <mat-tab label="MOUSE"> </mat-tab>
        <mat-tab label="DIADEMA"> </mat-tab>
      </mat-tab-group>

    <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef  style="text-align: center"> DETALLE </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <mat-icon (click) ="verDetalles(element.id, tipoEquipos)" id="verDetalles"
                    pTooltip="Ver detalles" mat-raised-button>
            remove_red_eye
          </mat-icon>

          <!--<nb-actions size="small">-->
            <!--<nb-action class="eva eva-eye-outline custom-icon" pTooltip="Detalles" (click) ="verDetalles(element.id, tipoEquipos)">-->
            <!--</nb-action>-->
          <!--</nb-actions>-->
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let element"> <p *ngIf="element.nombre === null">NO. ASIGNADO</p> {{element.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO </th>
        <td mat-cell *matCellDef="let element"> 
          <p *ngIf="element.usuario === null">NO. ASIGNADO</p>
          {{element.usuario}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="numeroSerie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NO. SERIE </th>
        <td mat-cell *matCellDef="let element" > <p *ngIf=" tipoEquipos === 'cpu'">{{element.numeroSerie}}</p>
          <p *ngIf=" tipoEquipos === 'monitor'">{{element.numSerie}}</p>
          <p *ngIf=" tipoEquipos === 'laptop'">{{element.numeroSerie}}</p>
          <p *ngIf=" tipoEquipos === 'tablet'">{{element.numFolio}}</p>
          <p *ngIf=" tipoEquipos === 'diadema'">{{element.numFolio}}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreMarca}} </td>
      </ng-container>
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVO </th>
        <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef  style="text-align: center;"> ACCIONES </th>
        <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center">
          <mat-card-actions>
            <div class="actions">

            <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'cpu' " (click) ="updateCpu(element.id)">
              edit
            </mat-icon>


          <mat-icon pTooltip="Modificar" *ngIf=" tipoEquipos === 'monitor'" (click) ="updateMonitor(element.id)">edit
          </mat-icon>
          <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'laptop'" (click) ="updateLaptop(element.id)">edit
          </mat-icon>
          <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'tablet'" (click) ="updateTablet(element.id)">edit
          </mat-icon>
          <mat-icon pTooltip="Modificar" *ngIf=" tipoEquipos === 'teclado'"  (click) ="updateTeclado(element.id)">edit
          </mat-icon>
          <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'mouse'" (click) ="updateMouse(element.id)">edit
          </mat-icon>
          <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'diadema'" (click) ="updateDiadema(element.id)">edit
          </mat-icon>

          <mat-icon pTooltip="Asignar Equipo"   *ngIf ="element.idEmpleado === null" (click)="asignarEquipo(element.id, tipoEquipos)">desktop_mac
          </mat-icon>
            <mat-icon pTooltip="Desasignar Equipo"   *ngIf ="element.idEmpleado !== null" (click)="desasignarEquipo(element.id)">phonelink_off
            </mat-icon>
            <mat-icon pTooltip="Eliminar Equipo"   *ngIf ="element.activo === 1 && element.idEmpleado === null"
                      (click)="eliminarEquipo(element.id, tipoEquipos)" id="delete">
              delete_forever
            </mat-icon>
            </div>
          </mat-card-actions>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
