<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="idTipo !==2">ASIGNAR COMPETENCIA</mat-card-title>
    <mat-card-title *ngIf="idTipo ===2">ACTUALIZAR COMPETENCIA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="asignarCompetenciaForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
<!--            <label for="idTipoCompetencia">Competencia</label>-->
<!--            <p-dropdown [options]="tipoCompetencias" formControlName="idTipoCompetencia" placeholder="Tipo Competencia" id="idTipoCompetencia"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

            <mat-form-field>
              <mat-label>COMPETENCIA</mat-label>
              <mat-select formControlName="idTipoCompetencia" id="idTipoCompetencia">
                <mat-option *ngFor="let tipo of tipoCompetencia" [value]="tipo.id">
                  {{tipo.tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="form-group">
<!--            <label for="competencia">Competencia</label>-->
<!--            <input matInput type="text" formControlName="competencia" class="form-control" id="competencia" oninput="this.value = this.value.toUpperCase()"-->
<!--                   onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--            <mat-hint status="danger"-->
<!--                      *ngIf="!asignarCompetenciaForm.controls['competencia'].valid&&asignarCompetenciaForm.controls['competencia'].dirty">-->
<!--              Se requiere llenar el campo adecuadamente-->
<!--            </mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="competencia" class="form-control" id="competencia" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="COMPETENCIA" style="padding: 0"/>
              <mat-hint *ngIf="!asignarCompetenciaForm.controls['competencia'].valid&&asignarCompetenciaForm.controls['competencia'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="guardarCompetencia()" *ngIf="idTipo !==2"
            [disabled]="!asignarCompetenciaForm.valid">Guardar
    </button>
    <button mat-button (click)="updateCompetencia()" *ngIf="idTipo ===2"
            [disabled]="!asignarCompetenciaForm.valid">Actualizar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
