<!--<mat-card>-->
  <!--<form [formGroup]="permisosForm" (ngSubmit)="modificarGrupoUsuario()">-->
    <!--<mat-accordion>-->
      <!--<mat-expansion-panel>-->
        <!--<mat-expansion-panel-header>-->
          <!--<mat-panel-title>-->
            <!--<strong>RECURSOS HUMANOS</strong>-->
          <!--</mat-panel-title>-->
        <!--</mat-expansion-panel-header>-->
        <!--<mat-card-content>-->
          <!--<div class="table">-->
            <!--<table>-->
              <!--<tr>-->
                <!--<th>MODULOS</th>-->
                <!--<th>ACTIVO</th>-->
                <!--<th>ESCRITURA</th>-->
              <!--</tr>-->

              <!--<tr *ngFor="let permiso of permisos_rh">-->
                <!--<th>{{ permiso | uppercase }}</th>-->

                <!--<th>-->
                  <!--<mat-form-field>-->
                    <!--<mat-select formControlName="ACTIVO{{ permiso }}">-->
                      <!--<mat-option-->
                        <!--*ngFor="let sel of seleccion2"-->
                        <!--[value]="sel.value"-->
                      <!--&gt;-->
                        <!--{{ sel.label }}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</th>-->

                <!--<th>-->
                  <!--<mat-icon>delete</mat-icon>-->
                  <!--<mat-form-field>-->
                    <!--<mat-select formControlName="ESCRITURA{{ permiso }}">-->
                      <!--<mat-option-->
                        <!--*ngFor="let sel of seleccion2"-->
                        <!--[value]="sel.value"-->
                      <!--&gt;-->
                        <!--{{ sel.label }}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</th>-->
              <!--</tr>-->
            <!--</table>-->
          <!--</div>-->
        <!--</mat-card-content>-->
      <!--</mat-expansion-panel>-->
    <!--</mat-accordion>-->

    <!--<mat-accordion>-->
      <!--<mat-expansion-panel>-->
        <!--<mat-expansion-panel-header>-->
          <!--<mat-panel-title>-->
            <!--<strong>TI</strong>-->
          <!--</mat-panel-title>-->
        <!--</mat-expansion-panel-header>-->
        <!--<mat-card-content>-->
          <!--<div class="table">-->
            <!--<table>-->
              <!--<tr>-->
                <!--<th>MODULOS</th>-->
                <!--<th>ACTIVO</th>-->
                <!--<th>ESCRITURA</th>-->
              <!--</tr>-->

              <!--<tr *ngFor="let ti of permisos_ti">-->
                <!--<th>{{ ti | uppercase }}</th>-->

                <!--<th>-->
                  <!--<mat-form-field>-->
                    <!--<mat-select formControlName="ACTIVO{{ ti }}">-->
                      <!--<mat-option-->
                        <!--*ngFor="let sel of seleccion2"-->
                        <!--[value]="sel.value"-->
                      <!--&gt;-->
                        <!--{{ sel.label }}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</th>-->

                <!--<th>-->
                  <!--<mat-form-field>-->
                    <!--<mat-select formControlName="ESCRITURA{{ ti }}">-->
                      <!--<mat-option-->
                        <!--*ngFor="let sel of seleccion2"-->
                        <!--[value]="sel.value"-->
                      <!--&gt;-->
                        <!--{{ sel.label }}-->
                      <!--</mat-option>-->
                    <!--</mat-select>-->
                  <!--</mat-form-field>-->
                <!--</th>-->
              <!--</tr>-->
            <!--</table>-->
          <!--</div>-->
        <!--</mat-card-content>-->
      <!--</mat-expansion-panel>-->
    <!--</mat-accordion>-->

    <!--<mat-accordion>-->
        <!--<mat-expansion-panel>-->
          <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title>-->
              <!--<strong>COMERCIAL</strong>-->
            <!--</mat-panel-title>-->
          <!--</mat-expansion-panel-header>-->
          <!--<mat-card-content>-->
            <!--<div class="table">-->
              <!--<table>-->
                <!--<tr>-->
                  <!--<th>MODULOS</th>-->
                  <!--<th>ACTIVO</th>-->
                  <!--<th>ESCRITURA</th>-->
                <!--</tr>-->

                <!--<tr *ngFor="let c of permisos_c">-->
                  <!--<th>{{ c | uppercase }}</th>-->

                  <!--<th>-->
                    <!--<mat-form-field>-->
                      <!--<mat-select formControlName="ACTIVO{{ c }}">-->
                        <!--<mat-option-->
                          <!--*ngFor="let sel of seleccion2"-->
                          <!--[value]="sel.value"-->
                        <!--&gt;-->
                          <!--{{ sel.label }}-->
                        <!--</mat-option>-->
                      <!--</mat-select>-->
                    <!--</mat-form-field>-->
                  <!--</th>-->

                  <!--<th>-->
                    <!--<mat-form-field>-->
                      <!--<mat-select formControlName="ESCRITURA{{ c }}">-->
                        <!--<mat-option-->
                          <!--*ngFor="let sel of seleccion2"-->
                          <!--[value]="sel.value"-->
                        <!--&gt;-->
                          <!--{{ sel.label }}-->
                        <!--</mat-option>-->
                      <!--</mat-select>-->
                    <!--</mat-form-field>-->
                  <!--</th>-->
                <!--</tr>-->
              <!--</table>-->
            <!--</div>-->
          <!--</mat-card-content>-->
        <!--</mat-expansion-panel>-->
      <!--</mat-accordion>-->

      <!--<mat-accordion>-->
          <!--<mat-expansion-panel>-->
            <!--<mat-expansion-panel-header>-->
              <!--<mat-panel-title>-->
                <!--<strong>MARKETING</strong>-->
              <!--</mat-panel-title>-->
            <!--</mat-expansion-panel-header>-->
            <!--<mat-card-content>-->
              <!--<div class="table">-->
                <!--<table>-->
                  <!--<tr>-->
                    <!--<th>MODULOS</th>-->
                    <!--<th>ACTIVO</th>-->
                    <!--<th>ESCRITURA</th>-->
                  <!--</tr>-->

                  <!--<tr *ngFor="let m of permisos_m">-->
                    <!--<th>{{ m | uppercase }}</th>-->

                    <!--<th>-->
                      <!--<mat-form-field>-->
                        <!--<mat-select formControlName="ACTIVO{{ m }}">-->
                          <!--<mat-option-->
                            <!--*ngFor="let sel of seleccion2"-->
                            <!--[value]="sel.value"-->
                          <!--&gt;-->
                            <!--{{ sel.label }}-->
                          <!--</mat-option>-->
                        <!--</mat-select>-->
                      <!--</mat-form-field>-->
                    <!--</th>-->

                    <!--<th>-->
                      <!--<mat-form-field>-->
                        <!--<mat-select formControlName="ESCRITURA{{ m }}">-->
                          <!--<mat-option-->
                            <!--*ngFor="let sel of seleccion2"-->
                            <!--[value]="sel.value"-->
                          <!--&gt;-->
                            <!--{{ sel.label }}-->
                          <!--</mat-option>-->
                        <!--</mat-select>-->
                      <!--</mat-form-field>-->
                    <!--</th>-->
                  <!--</tr>-->
                <!--</table>-->
              <!--</div>-->
            <!--</mat-card-content>-->
          <!--</mat-expansion-panel>-->
        <!--</mat-accordion>-->

    <!--<button mat-button type="submit" class="btn-block" color="primary">-->
      <!--Guardar-->
    <!--</button>-->
  <!--</form>-->
<!--</mat-card>-->
