table {
  width: 100%;
}

mat-card-title {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}


.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

}

.button{
  width: 50%;
}
.input{
  width: 50%;
  text-align: end;
}
.mat-form-field{
  width: 60%;
  color: #111218;
}
.mat-input-element{
  color: #111218;
}


.mat-header-cell{
  background-color: #111218;
  color: white;
}

td.mat-cell{
  font-size: 12px;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.example-user-input {
  margin-right: 8px;
}

.tooltip{
  background-color: #138d75;
  color: white;
}

button:disabled{
  background-color: #fff;
}

// modal
::ng-deep .swal-wide{
  width:950px !important;
}
