<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Cliente</ng-template>
    <ngx-create-emision (_idProductoSolicitud)="idProductoSolicitud"
                        (_idSolicitud)="idSolicitud" (_idSubRamo)="idSubRamo"
                        (_datosProducto)="activarDatosProducto($event)">
    </ngx-create-emision>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Producto Cliente</ng-template>
    <ngx-datos-producto *ngIf="datosProducto" [idProductoSolicitud]="this.idProductoSolicitud"
                        [idSolicitud]="this.idSolicitud" [idSubRamo]="this.idSubRamo"
                        (_idProductoCliente)="idProductocliente"
                        (_registroPoliza)="activarRegistroPoliza($event)">

    </ngx-datos-producto>
  </mat-step>

  <!--  Registro poliza-->
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel matTabContent>Registro Póliza</ng-template>
    <ngx-registro-poliza >
<!--      *ngIf="registroPoliza" [idProductoCliente]="idProductocliente" (_idRegistroPoliza)="idRegistroPoliza" (_recibos)="activarRecibos($event)">-->
    </ngx-registro-poliza>
  </mat-step>

  <!--  Recibos-->
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel matTabContent>Recibos</ng-template>
    <ngx-recibos >
    </ngx-recibos>
  </mat-step>

  <!--  Pago-->
<!--  <mat-step [stepControl]="firstFormGroup">-->
<!--    <ng-template matStepLabel matTabContent>Pago</ng-template>-->
<!--    <ngx-pagos >-->
<!--    </ngx-pagos>-->
<!--  </mat-step>-->

  <!--  Inspeccion-->
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel matTabContent>Inspeccion</ng-template>
    <ngx-inspecciones>
    </ngx-inspecciones>
  </mat-step>


</mat-horizontal-stepper>
