<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="padding-bottom: 25px;">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>FECHA</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="ui-g ui-fluid">
              <div class="ui-lg-5 ui-md-4 ui-sm-12">
                <mat-form-field>
                  <input [(ngModel)]="rangeDates[0]" matInput [matDatepicker]="picker1" placeholder="FECHA DE INICIO"  [value]="rangeDates[0]">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="ui-lg-5 ui-md-4 ui-sm-12">
                <mat-form-field>
                  <input [(ngModel)]="rangeDates[1]" matInput [matDatepicker]="picker2" placeholder="FECHA DE FIN" [value]="rangeDates[1]">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="ui-lg-2 ui-md-3 ui-sm-12">
                <button [disabled]="rangeDates == null" mat-raised-button (click)="getCandidatos(rangeDates)">Desplegar</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>REPORTE CANDIDATOS</mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph">
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 ">
        <mat-card>
          <mat-card-header>
            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12">
                <mat-card-title>{{this.label}} {{this.dates}}</mat-card-title>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <mat-form-field>
                  <mat-label>Filtrar</mat-label>
                  <input matInput (keyup)="applyFilterC($event.target.value)">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div>
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="telefonoMovil">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de Telefono</th>
                  <td mat-cell *matCellDef="let element">{{ element.telefonoMovil }}</td>
                </ng-container>
                <ng-container matColumnDef="nombreEtapa">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Etapa</th>
                  <td mat-cell *matCellDef="let element">{{ element.nombreEtapa }}</td>
                </ng-container>
                <ng-container matColumnDef="calificacionExamen">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Calificación</th>
                  <td mat-cell *matCellDef="let element">{{ element.calificacionExamen }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cols"></tr>
                <tr mat-row *matRowDef="let row; columns: cols"></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div> <!--  </nb-card-body>-->
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</div>
