<!--<nb-card>-->
<!--  <nb-card-header>-->
<!--    Datos Precandidato-->
<!--    &lt;!&ndash;<nb-action class="eva eva-close-circle custom-icon" (click)="dismiss()"&ndash;&gt;-->
<!--    &lt;!&ndash;pTooltip="Cerrar"></nb-action>&ndash;&gt;-->
<!--  </nb-card-header>-->
<!--  <nb-card-body>-->
<!--    <p><b>Nombre:</b> {{nombre}}</p>-->
<!--    <p><b>Telefono Movil:</b> {{telefonoMovil}}</p>-->
<!--    <p><b>Correo Electronico:</b> {{email}}</p>-->
<!--    <p><b>Curp: </b> {{curp}}</p>-->
<!--    <p><b>Calle: </b> {{calle}}</p>-->
<!--    <p><b>Sede: </b> {{sede}}</p>-->
<!--  </nb-card-body>-->
<!--  <nb-card-footer class="d-flex justify-content-end">-->
<!--    <button nbButton hero size="xsmall" status="primary" (click)="dismiss()">Cerrar</button>-->
<!--    &lt;!&ndash;<button nbButton hero size="xsmall" status="primary" (click)="bajaSocios()">Baja Socio</button>&ndash;&gt;-->
<!--  </nb-card-footer>-->
<!--</nb-card>-->

<mat-card class="view">


  <div class="header">
    <span id="titulo-modals">DATOS PRECANDIDATO</span>
  </div>

  <mat-card-content>
    <div class="nombre" id="box">
      <p id="title"><span>NOMBRE:</span> {{nombre}}</p>
    </div>

    <div class="apellidoPaterno" id="box">
      <p id="title"><span>TELÉFONO:</span> {{telefonoMovil}}</p>
    </div>

    <div class="apellidoMaterno" id="box">
      <p id="title"><span>CORREO ELECTRÓNICO:</span> {{email}}</p>
    </div>

    <div class="telefono" id="box">
      <p id="title"><span>CURP:</span> {{curp}}</p>
    </div>

    <div class="vacante" id="box">
      <p id="title"><span>CALLE:</span> {{calle}}</p>

    </div>

    <div class="sede" id="box">
      <p id="title"><span>SEDE:</span> {{sede}}</p>
    </div>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>

</mat-card>

