<mat-card>

    <mat-card-title>
      <h3> DATOS NODO</h3>
    </mat-card-title>

  <mat-card-content>
    <button mat-button style="text-align: left; float:right; margin: 8px" (click)="agregarCampos()"> AGREGAR CAMPOS</button>

    <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">
      <ng-container matColumnDef="campo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Campos </th>
        <td mat-cell *matCellDef="let element"> {{element.campo}} </td>
      </ng-container>
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.value }}
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="actions">
            <mat-icon (click)="modificarDatos(element.campo, element.value)" pTooltip="Cambiar datos" mat-raised-button
            >edit
            </mat-icon>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>


  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>
