<mat-card class="example-form">
  <mat-card-title >INSPECCIONES</mat-card-title>

  <mat-card-content>
<!--    <div class="col-md-6">-->
      <form [formGroup]="inspeccionesForm" class="col-12 row">
<!--        <div class="row justify-content-center">-->
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="mt-4">
              <mat-label>ESTADO DE INSPECCION</mat-label>
              <mat-select formControlName="idEstadoInspeccion">
                <mat-option *ngFor="let estadoInspeccion of estadosInspeccion" [value]="estadoInspeccion.id"  id="idEstadoInspeccion">
                  {{estadoInspeccion.estado}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!inspeccionesForm.controls['idEstadoInspeccion'].valid&&inspeccionesForm.controls['idEstadoInspeccion'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="cp" class="form-control" id="cp1" oninput="this.value = this.value.toUpperCase()" placeholder="CODIGO POSTAL"
                     (keyup)="validarCp($event.target.value, 1)" onDrop="return false" onPaste="return false" autocomplete="off" [max]="5" [min]="4"/>
              <mat-hint *ngIf="!inspeccionesForm.controls['cp'].errors&&inspeccionesForm.controls['cp'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="mt-4">
              <mat-label>COLONIA</mat-label>
              <mat-select formControlName="idColonia">
                <mat-option *ngFor="let colonia of colonias" [value]="colonia.idCp"  id="idColoniad">
                  {{colonia.asenta}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!inspeccionesForm.controls['idEstadoInspeccion'].valid&&inspeccionesForm.controls['idEstadoInspeccion'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA INSPECCION" class="form-control" formControlName="fechaInspeccion" id="fechaInspeccion">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!inspeccionesForm.controls['fechaInspeccion'].valid&&inspeccionesForm.controls['fechaInspeccion'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
         </div>
         <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="kilometraje" class="form-control" id="kilometraje" maxlength="10"
                     placeholder="KILOMETRAJE" onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint *ngIf="!inspeccionesForm.controls['kilometraje'].valid&&inspeccionesForm.controls['kilometraje'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="placas" class="form-control" id="placas"
                     oninput="this.value = this.value.toUpperCase()" placeholder="PLACAS"
                     onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint *ngIf="!inspeccionesForm.controls['placas'].valid&&inspeccionesForm.controls['placas'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group" *ngIf="urlPostVenta === 1">
            <mat-form-field>
              <input matInput type="text" formControlName="urlPostventa" class="form-control" id="urlPostventa" placeholder="URL POSTVENTA"
                     onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint
                *ngIf="!inspeccionesForm.controls['urlPostventa'].valid&&inspeccionesForm.controls['urlPostventa'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>

        <mat-slide-toggle #conductorCheck [checked]="true">Conducto Habitual</mat-slide-toggle>
       </div>
<!--        </div>-->
      </form>
    <!-- *********************************************FORMULARIO DOS ***************************************************************-->
    <mat-card-title *ngIf="!conductorCheck.checked">CONDUCTOR HABITUAL</mat-card-title>
      <form [formGroup]="conductorHabitualForm" *ngIf="!conductorCheck.checked" class="col-12 row">
<!--        <div class="row justify-content-center">-->
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="mt-4">
              <mat-label>PAIS</mat-label>
              <mat-select formControlName="idPais">
                <mat-option *ngFor="let pais of paises" [value]="pais.id"  id="idPais">
                  {{pais.nombre}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!conductorHabitualForm.controls['idPais'].valid&&conductorHabitualForm.controls['idPais'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="nombre" class="form-control" id="nombre" oninput="this.value = this.value.toUpperCase()" placeholder="NOMBRE"
                     onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!conductorHabitualForm.controls['nombre'].valid&&conductorHabitualForm.controls['nombre'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="paterno" class="form-control" id="paterno" oninput="this.value = this.value.toUpperCase()" placeholder="APELLIDO PATERNO"
                     onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!conductorHabitualForm.controls['paterno'].valid&&conductorHabitualForm.controls['paterno'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="materno" class="form-control" id="materno" oninput="this.value = this.value.toUpperCase()" placeholder="APELLIDO MATERNO"
                     onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!conductorHabitualForm.controls['materno'].valid&&conductorHabitualForm.controls['materno'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="correo" class="form-control" id="correo" oninput="this.value = this.value.toUpperCase()" placeholder="CORREO"
                     onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!conductorHabitualForm.controls['correo'].valid&&conductorHabitualForm.controls['correo'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="cp" class="form-control" id="cp" oninput="this.value = this.value.toUpperCase()" placeholder="CODIGO POSTAL"
                     (keyup)="validarCp($event.target.value, 2)" onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!conductorHabitualForm.controls['cp'].errors&&conductorHabitualForm.controls['cp'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="mt-4">
              <mat-label>COLONIA</mat-label>
              <mat-select formControlName="idColonia">
                <mat-option *ngFor="let colonia of coloniasDos" [value]="colonia.idCp"  id="idColonia">
                  {{colonia.asenta}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!conductorHabitualForm.controls['idColonia'].valid&&conductorHabitualForm.controls['idColonia'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="calle" class="form-control" id="calle"
                     placeholder="CALLE"
                     onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint *ngIf="!conductorHabitualForm.controls['calle'].valid&&conductorHabitualForm.controls['calle'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="numInt" class="form-control" id="numInt"
                     oninput="this.value = this.value.toUpperCase()" placeholder="NUMERO INTERIOR"
                     onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint *ngIf="!conductorHabitualForm.controls['numInt'].valid&&conductorHabitualForm.controls['numInt'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="numExt" class="form-control" id="numExt" placeholder="NUMERO EXTERIOR"
                     onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint
                *ngIf="!conductorHabitualForm.controls['numExt'].valid&&conductorHabitualForm.controls['numExt'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="mt-4">
              <mat-label>GENERO</mat-label>
              <mat-select formControlName="genero">
                <mat-option value="M">MASCULINO</mat-option>
                <mat-option value="F">FEMENINO</mat-option>
              </mat-select>
              <mat-hint *ngIf="!conductorHabitualForm.controls['genero'].valid&&conductorHabitualForm.controls['genero'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="telefonoFijo" class="form-control" id="telefonoFijo" placeholder="TELEFONO FIJO"
                     onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint
                *ngIf="!conductorHabitualForm.controls['telefonoFijo'].valid&&conductorHabitualForm.controls['telefonoFijo'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="telefonoMovil" class="form-control" id="telefonoMovil" placeholder="TELEFONO MOVIL"
                     onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint
                *ngIf="!conductorHabitualForm.controls['telefonoMovil'].valid&&conductorHabitualForm.controls['telefonoMovil'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="FECHA NACIMIENTO" class="form-control" formControlName="fechaNacimiento" id="fechaNacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-hint *ngIf="!conductorHabitualForm.controls['fechaNacimiento'].valid&&conductorHabitualForm.controls['fechaNacimiento'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="FECHA REGISTRO" class="form-control" formControlName="fechaRegistro" id="fechaRegistro">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
              <mat-hint *ngIf="!conductorHabitualForm.controls['fechaRegistro'].valid&&conductorHabitualForm.controls['fechaRegistro'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
<!--        </div>-->
      </form>
<!--    </div>-->
  </mat-card-content>
  <mat-card-actions >
    <button mat-button  (click)="guardarInspeccion()"
       [disabled]="conductorCheck.checked === false && !conductorHabitualForm.valid">Guardar Inspeccion
    </button>
    <button mat-button  (click)="guardarConductor()"
            *ngIf="!conductorCheck.checked">Registrar Conductor
    </button>
  </mat-card-actions>
</mat-card>
