<div class="row">
  <div class="col-md-12">
<!--    <nb-card>-->
<!--      <nb-card-body>-->
<!--        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">-->
<!--          <h2 class="title">404 Pagina no encontrada</h2>-->
<!--          <small class="sub-title">La pagina a la que intentas acceder parece que no existe</small>-->
<!--          <button (click)="goToHome()" type="button" class="btn btn-block btn-hero-primary">-->
<!--            Regresar-->
<!--          </button>-->
<!--        </div>-->
<!--      </nb-card-body>-->
<!--    </nb-card>-->

    <img class="back" src="../../../../assets/images/fondo.png">
    <img class="recurso" src="../../../../assets/images/recurso.png">
    <button routerLink="/modulos/dashboard">REGRESAR</button>
  </div>
</div>
