.row {
  width: 100%;
  text-align: center;
}

.back {
  width: 90%;
}

.recurso {
  position: absolute;
  width: 61%;
  left: 20%;
  top: 13%;
}

button {
  position: absolute;
  background-color: transparent;
  border: 1px solid #fe3334;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: 'Montserrat', Arial;
  font-size: 18px;
  color: #fe3334;
  left: 55%;
  top: 78%;
  box-shadow: 1px 1px 8px;
  transition: all 0.5s;
}

button:hover {
  position: absolute;
  background-color: #fe3334;
  color: #fff;
  box-shadow: 1px 1px 8px;
  top: 76.5%;
}
