
mat-icon {
  font-size: 3em;
  color: #354089;
}

mat-icon:hover {
  color: #ffffff;
}

.mat-card {
  background: white;
  color: #354089;
  padding: 30px 10px;
  margin: 2% 3%;
  transition: background 0.3s linear;
  width: 27%;
  //box-shadow: 10px 10px 10px #d9d9d9;
  box-shadow: 1px -2px 36px 3px rgba(110,110,110,0.52)
}

.mat-card:hover {
  background: #354089;
  color: white;
}

mat-card .header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 15px;
}
.left {
  width: 30%;
}
.right {
  width: 70%;
  text-align: left;
}

.right>span {
  font-weight: 500;
  font-size: 1.3em;
}

mat-card button {
  background-color: white;
  color: #354089;
  box-shadow: 1px 4px 10px 3px #e7e7e7;
  font-size: 12px;
}

.title {
  text-align: center;
  display: block;
  margin: 3%;
}

.title h2 {
  display: block;
  color: #354089;
}

mat-card-title {
  margin-bottom: 30px;
}

.content-body {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  justify-content: flex-start;
}

mat-card:hover button {
  box-shadow: none;
}

mat-card:hover mat-icon {
  color: #fff;
}


//
//table {
//  width: 100%;
//  background-color: #111218;
//  color: white;
//  box-shadow: 5px 10px 20px 2px #444;
//}
//
//table tr {
//  border-bottom: 1px solid white !important;
//}
//
//table .mat-header-cell {
//  background-color: #136a59;
//  font-size: 1.1em;
//  font-weight: 400;
//}
//table .mat-cell {
//  font-weight: 400;
//}
//
//table, td, th {
//  color: #fff;
//}
