<div class="container-full col-sm-12" >

  <div class="title">
    <h2 style="font-family: 'Montserrat';">ACTUALIZACIONES MARK-43</h2>
  </div>

  <div class="content-body">
    <mat-card>
      <div class="header">
        <div class="left">
          <mat-icon>people</mat-icon>
        </div>
        <div class="right">
          <span>RECURSOS HUMANOS</span>
          <p>FECHA: <span>12/JUNIO/2019</span></p>
        </div>
      </div>
        <button mat-button (click)="verDatos()">VER DETALLES</button>
    </mat-card>

    <mat-card>
      <div class="header">
        <div class="left">
          <mat-icon>computer</mat-icon>
        </div>
        <div class="right">
          <span>TI</span>
          <p>FECHA: <span>12/JUNIO/2019</span></p>
        </div>
      </div>
      <button mat-button (click)="verDatos()">VER DETALLES</button>
    </mat-card>

    <mat-card>
      <div class="header">
        <div class="left">
          <mat-icon>work</mat-icon>
        </div>
        <div class="right">
          <span>COMERCIAL</span>
          <p>FECHA: <span>12/JUNIO/2019</span></p>
        </div>
      </div>
      <!--<button mat-button (click)="verDatos()">VER DETALLES</button>-->
    </mat-card>

    <mat-card>
      <div class="header">
        <div class="left">
          <mat-icon>shopping_cart</mat-icon>
        </div>
        <div class="right">
          <span>MARKETING</span>
          <p>FECHA: <span>12/JUNIO/2019</span></p>
        </div>
      </div>
      <!--<button mat-button (click)="verDatos()">VER DETALLES</button>-->
    </mat-card>

    <mat-card>
      <div class="header">
        <div class="left">
          <mat-icon>store</mat-icon>
        </div>
        <div class="right">
          <span>VENTA NUEVA</span>
          <p>FECHA: <span>12/JUNIO/2019</span></p>
        </div>
      </div>
      <!--<button mat-button (click)="verDatos()">VER DETALLES</button>-->
    </mat-card>
  </div>

</div>
