<mat-card class="example-form">
  <mat-card-title>CREAR EXTENSIÓN</mat-card-title>

  <mat-card-content>
    <form [formGroup]="ExtensionesForm">
      <div class="row justify-content-center">
        <div class="col-md-12">


          <div class="form-group">
            <mat-form-field>
              <mat-label>ÁREA  </mat-label>
              <mat-select formControlName="areacontrol" id="areacontrol" (selectionChange)="getsubareas($event.value)">
                <mat-option *ngFor="let areass of subareas"
                            [value]="areass.id">
                  {{areass.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>SUBÁREA  </mat-label>
              <mat-select formControlName="subareacontrol" id="subareacontrol" >
                <mat-option *ngFor="let areaa of subarea"
                            [value]="areaa.id">
                  {{areaa.subarea}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>


          <mat-checkbox (click)="conseguirRango()" > Crear Rango Extensiones</mat-checkbox>

          <!--<div class="button">-->
            <!--<button mat-button  (click)="conseguirRango()" routerLinkActive="active" >CREAR RANGO EXT</button>-->
          <!--</div>-->

          <div class="form-group" >
          <mat-form-field class="example-full-width">
            <input class="form-control" matInput type="number" formControlName="extensionmenor"
                   placeholder="EXTENSIÓN " id="extensionmenor2" (keyup)="getmenor($event.target.value)" />
            <!--<mat-hint *ngIf="!ExtensionesForm.controls['extensionmenor'].valid&&ExtensionesForm.controls['extensionmenor'].dirty">-->
            <!--EXTENSION <strong>obligatorio</strong>-->
              <!---->
          <!--</mat-hint>-->
            <mat-hint *ngIf="ExtensionesForm.controls['extensionmenor'].errors && ExtensionesForm.controls['extensionmenor'].dirty">
              <p *ngIf="ExtensionesForm.get('extensionmenor').hasError('min')">
                La Extension debe ser mayor a 0
              </p>
              <p *ngIf="ExtensionesForm.get('extensionmenor').hasError('required')">
                La Extension es obligatoria
              </p>
            </mat-hint>

          </mat-form-field>
          </div>



          <div class="form-group" *ngIf="activarRango === true">
            <mat-form-field class="example-full-width">
              <input class="form-control" [min]='menor' matInput type="number" formControlName="extensionmayor"
                     placeholder="EXTENSIÓN MAYOR" id="extensionmayor"  />

              <mat-hint *ngIf="ExtensionesForm.controls['extensionmayor'].errors && ExtensionesForm.controls['extensionmayor'].dirty">
              <p *ngIf="ExtensionesForm.get('extensionmayor').hasError('min')">
                La Extension debe ser mayor
              </p>
                <p *ngIf="ExtensionesForm.get('extensionmayor').hasError('required')">
                  La Extension es obligatoria
                </p>
            </mat-hint>

            </mat-form-field>
          </div>


          <div class="form-group" >
            <mat-form-field class="example-full-width">
              <input class="form-control" matInput type="text"  oninput="this.value = this.value.toUpperCase()" formControlName="comentarios"
                     placeholder="COMENTARIO" id="comentarios"  />
              <mat-hint *ngIf="!ExtensionesForm.controls['comentarios'].valid&&ExtensionesForm.controls['comentarios'].dirty">
                EXTENSION <strong>obligatorio</strong>
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <div class="action">
        <button mat-button (click)="guardar()" [disabled]="!ExtensionesForm.valid">Guardar</button>
        <!--<button mat-button (click)="dismiss()">Cerrar</button>-->
    </div>

  </mat-card-actions>
</mat-card>
