<mat-card class="example-form">
  <mat-card-title>
    ACTUALIZAR MEDIOS DIFUSION
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="actualizarMediosDifusionForm">

      <div class="form-group" >


        <div class="form-group">
          <mat-form-field>
            <mat-label>Proveedores</mat-label>
            <mat-select formControlName="idProveedor" id="idGrupo" >
              <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                {{proveedor.nombre}}
              </mat-option>
            </mat-select>
            <mat-hint  *ngIf="mostrarProveedores">Agrega una opcion desde su catálogo</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group"  >

          <mat-form-field class="example-full-width">
            <input class="form-control" matInput type="text" formControlName="descripcion" oninput="this.value = this.value.toUpperCase()"
                   placeholder="DESCRIPCION" id="descripcion"  />
            <mat-hint *ngIf="!actualizarMediosDifusionForm.controls['descripcion'].valid&&actualizarMediosDifusionForm.controls['descripcion'].dirty">
              DESCRIPCION <strong>obligatorio</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group"  >

          <mat-form-field class="example-full-width">
            <input class="form-control" matInput type="text" formControlName="regla" oninput="this.value = this.value.toUpperCase()"
                   placeholder="REGLA" id="regla"  />
            <mat-hint *ngIf="!actualizarMediosDifusionForm.controls['regla'].valid&&actualizarMediosDifusionForm.controls['regla'].dirty">
              Regla <strong>obligatorio</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group"  >

          <mat-form-field class="example-full-width">
            <input class="form-control" matInput type="text" formControlName="presupuesto"
                   placeholder="PRESUPUESTO" id="presupuesto"  />
            <mat-hint *ngIf="!actualizarMediosDifusionForm.controls['presupuesto'].valid&&actualizarMediosDifusionForm.controls['presupuesto'].dirty">
              Presupuesto <strong>obligatorio</strong>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Campaña</mat-label>
            <mat-select formControlName="idCampana" id="idCampana" >
              <mat-option *ngFor="let campanas of campana" [value]="campanas.id">
                {{campanas.nombre}}
              </mat-option>
            </mat-select>
            <mat-hint  *ngIf="mostrarCampana">Agrega una opcion desde su catálogo</mat-hint>
          </mat-form-field>
        </div>

      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardar()" [disabled]="!actualizarMediosDifusionForm.valid"> Guardar</button>

    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>
