.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 2px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
  font-style: italic;
  color: gray;
}

.slice textPath{
  font-family: Sans-serif;
  font-size: 15px;
}

.ng-template body{
  font-family: Sans-serif;
  font-size: 10px;
}

.p-calendar {
  display: block;
  width: 100%;
}

.centrarTexto {
  text-align: center;
}

.margin {
  //margin-top: 5px;
  margin-bottom: 15px;
}
.mat-raised-button{
  background-color: #111218;
  color: #ffffff;
  align-items: flex-end;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}


.button{
  width: 50%;
}
.input{
  width: 50%;
  text-align: end;
}
.mat-form-field{
  //width: 40%;
  color: #e21c51;
}
.mat-input-element{
  color: #111218;
}

.mat-raised-button{
  background-color: #111218;
  color: #ffffff;
}

.mat-header-cell{
  background-color: #111218;
  color: white;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.example-user-input {
  margin-right: 8px;
}

.tooltip{
  background-color: #138d75;
  color: white;
}

button:disabled{
  background-color: #fff;
}

.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

#graph-dash {
  display: flex;
}

#toolTip {
  background-color: #3f51b5;
  padding: 5px;
  color: #ffffff;
  font-size: medium;
  font-style: oblique;
  border-radius: 15px;
  border: solid;
  border-color: #ffffff;
  opacity: 0.8;
}

#valor {
  justify-content: flex-end;
}
