<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEmpleados()">
    </div>
  </div>

  <div class="button-input">
      <div [hidden]="!permisosupervisor" class="button">
        <button mat-button  routerLink="../supervisor" routerLinkActive="active" >CREAR SUPERVISOR</button>
      </div>

    <mat-card-title>
      CREAR CORREO
    </mat-card-title>

    <div class="input">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre + " " + element.apellidoPaterno + " " + element.apellidoMaterno}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.telefonoMovil}} </td>
        </ng-container>
        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
          <td mat-cell *matCellDef="let element"> {{element.sede}} </td>
        </ng-container>
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
          <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>
        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Subarea </th>
          <td mat-cell *matCellDef="let element"> {{element.subarea}} </td>
        </ng-container>
        <ng-container matColumnDef="asignar Correo">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef mat-sort-header> Asignar Correo </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon (click)="asignarEjecutivo(element.id, element.idSubarea, element.idArea, element .area, element.subarea )" pTooltip="Crear Usuario" mat-raised-button
              >email
              </mat-icon>
            </div>
            <!--<nb-action class="eva eva-email custom-icon"  pTooltip="Crear Usuario" (click)="asignarEjecutivo(element.id, element.idSubarea, element.idArea, element .area, element.subarea )"></nb-action>-->
           </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>


