<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="padding-bottom: 25px;">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>FECHA</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="ui-g ui-fluid">
              <div class="ui-lg-5 ui-md-4 ui-sm-12">
                <mat-form-field>
                  <input [(ngModel)]="rangeDates[0]" matInput [matDatepicker]="picker1" placeholder="FECHA DE INICIO"  [value]="rangeDates[0]">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="ui-lg-5 ui-md-4 ui-sm-12">
                <mat-form-field>
                  <input [(ngModel)]="rangeDates[1]" matInput [matDatepicker]="picker2" placeholder="FECHA DE FIN" [value]="rangeDates[1]">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 startView="year"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="ui-lg-2 ui-md-3 ui-sm-12">
                <button [disabled]="rangeDates == null" mat-raised-button (click)="getSeguimiento(rangeDates)">Desplegar</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!--        <div class="card">-->
        <!--          <div class="card-header">-->
        <!--            <h3>Rango</h3>-->
        <!--          </div>-->
        <!--          <div class="card-body">-->
        <!--            <div class="ui-g ui-fluid">-->
        <!--              <div class="ui-lg-10 ui-md-9 ui-sm-12">-->
        <!--                <span class="ui-float-label">-->
        <!--                  <p-calendar [defaultDate]="rangeDates" [(ngModel)]="rangeDates" selectionMode="range" [showTime]="true" [readonlyInput]="true" id="float-input-calendar" hourFormat="12"></p-calendar>-->
        <!--                  <label for="float-input-calendar">Selecciona el rango</label>-->
        <!--                </span>-->
        <!--              </div>-->
        <!--              <div class="ui-lg-2 ui-md-3 ui-sm-12">-->
        <!--                <button *ngIf="rangeDates != null" class="btn-full-width" pButton type="button" label="Prueba" (click)="getPrecandidatos(rangeDates)"></button>-->
        <!--                <button *ngIf="rangeDates == null" class="btn-full-width" pButton type="button" label="Prueba" [disabled]="true"></button>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">

        <mat-card>
          <mat-card-header>
            <mat-card-title>REPORTE SEGUIMIENTO</mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph">
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 ">
        <mat-card>
          <mat-card-header>
            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12">
                <mat-card-title>{{this.label}} {{this.dates}}</mat-card-title>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <mat-form-field>
                  <mat-label>Filtrar</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div>
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                  <td mat-cell *matCellDef="let element">{{ element.nombre+ ' ' + element.apellidoPaterno + ' ' +element.apellidoMaterno }}</td>
                </ng-container>
                <ng-container matColumnDef="sede">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Sede</th>
                  <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
                </ng-container>
                <ng-container matColumnDef="nombreCampana">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaña</th>
                  <td mat-cell *matCellDef="let element">{{ element.nombreSubarea }}</td>
                </ng-container>
                <ng-container matColumnDef="calificacionRollplay">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Roll play</th>
                  <td mat-cell *matCellDef="let element">{{ rollPlay[element.calificacionRollplay] }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cols"></tr>
                <tr mat-row *matRowDef="let row; columns: cols"></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div> <!--  </nb-card-body>-->
          </mat-card-content>
        </mat-card>
        <!--        <div class="card">-->
        <!--        <p-table #dt [value]="datas" [columns]="cols" [paginator]="true" [rows]="15" selectionMode="multiple">-->
        <!--          <ng-template pTemplate="caption">-->
        <!--            <div class="container-fluid">-->
        <!--              <div class="row" style="padding-top: 20px">-->
        <!--                <div class="col-lg-12 col-md-12 col-is-12 margin">-->
        <!--                  <span class="ui-float-label ui-g ui-fluid">-->
        <!--                    <input id="float-input2" type="text" size="50" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')">-->
        <!--                    <label for="float-input2">Busqueda global</label>-->
        <!--                  </span>-->
        <!--                </div>-->
        <!--                <div class="col-lg-6 col-md-6 col-is-6 margin">-->
        <!--                  <div class="ui-g ui-fluid lg-visible">-->
        <!--                    <button class="btn-full-width lg-visible" pButton type="button" label="Descargar todo" (click)="dt.exportCSV()"></button>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-lg-6 col-md-6 col-is-6 margin">-->
        <!--                <div class="ui-g ui-fluid">-->
        <!--                  <button class="btn-full-width" pButton type="button" label="Descargar selección" (click)="dt.exportCSV({selectionOnly:true})"></button>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </ng-template>-->
        <!--          <ng-template pTemplate="header" let-columns>-->
        <!--            <tr>-->
        <!--              <th *ngFor="let col of columns">-->
        <!--                <h4>{{col.header}}</h4>-->
        <!--              </th>-->
        <!--            </tr>-->
        <!--          </ng-template>-->
        <!--          <ng-template pTemplate="body" let-precandidato>-->
        <!--            <tr [pSelectableRow]="precandidato">-->
        <!--              <td>{{precandidato.nombre+' '+precandidato.apellidoPaterno+' '+precandidato.apellidoMaterno}}</td>-->
        <!--              <td>{{precandidato.telefonoMovil}}</td>-->
        <!--              &lt;!&ndash;<td>{{precandidato.email}}</td>&ndash;&gt;-->
        <!--              &lt;!&ndash;<td>{{precandidato.curp}}</td>&ndash;&gt;-->
        <!--              <td>{{etapas[precandidato.idEtapa]}}</td>-->
        <!--            </tr>-->
        <!--          </ng-template>-->
        <!--        </p-table>-->
        <!--      </div>-->
      </div>

    </div>
  </div>
</div>
