<mat-card>
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <p> AGREGAR CAMPOS</p>

    <form [formGroup]="agregarForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group" >
            <label id="example-radio-group-label">Selecciona el tipo de campo</label>

            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="tipo"
              [(ngModel)]="favoriteSeason" (ngModelChange)= "getIdpagina($event)">
              <div class="buttons row">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                  {{season}}
                </mat-radio-button>
              </div>

            </mat-radio-group>


          </div>


          <div class="form-group"  >

            <mat-form-field class="example-full-width">
              <input class="form-control" matInput type="text" formControlName="nombreCampo"
                     placeholder="NOMBRE DEL CAMPO" id="nombreCampo" value =" " />
              <mat-hint *ngIf="!agregarForm.controls['nombreCampo'].valid&&agregarForm.controls['nombreCampo'].dirty">
                NOMBRECAMPO <strong>obligatorio</strong>
              </mat-hint>
            </mat-form-field>

            <div class="form-group" *ngIf="favoriteSeason === 'TEXTO'">

              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="text" formControlName="valor"
                       placeholder="VALOR" id="valor"  />
                <mat-hint *ngIf="!agregarForm.controls['valor'].valid&&agregarForm.controls['valor'].dirty">
                  VALOR <strong>obligatorio</strong>
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group" *ngIf="favoriteSeason === 'NUMERO'">

              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="number" formControlName="valor"
                       placeholder="VALOR" id="valor2"  />
                <mat-hint *ngIf="!agregarForm.controls['valor'].valid&&agregarForm.controls['valor'].dirty">
                  VALOR <strong>obligatorio</strong>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="favoriteSeason === 'TRUE/FALSE'">



              <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                                       formControlName="valor" id="valor3">
                <mat-button-toggle value="bold" *ngFor="let sel of seleccion2" [value]="sel.value">
                  {{sel.label}}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>


          </div>


        </div>
      </div>
    </form>


  </mat-card-content>

  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardarCampos()" [disabled]="!agregarForm.valid"> Guardar</button>
    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>

</mat-card>
