<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getRazonSocial(1)">
    </div>
  </div>

  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button mat-button (click)="crearRazonSocial()">CREAR RAZÓN SOCIAL</button>
    </div>
    <mat-card-title>RAZÓN SOCIAL</mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef>DETALLE</th>
          <td mat-cell *matCellDef="let element">
            <nb-action
              class="eva eva-eye-outline custom-icon"
              (click)="verDatos(element.id)"
            ></nb-action>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombreComercial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            NOMBRE COMERCIAL
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombreComercial }}
          </td>
        </ng-container>

        <ng-container matColumnDef="alias">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            RAZÓN SOCIAL
          </th>
          <td mat-cell *matCellDef="let element">{{ element.alias }}</td>
        </ng-container>

        <!-- Weight Column -->

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                id="short-icon"
                (click)="updateRazonSocial(element.id)"
                pTooltip="Actualizar Datos de Razón Social"
                >update</mat-icon
              >
              <mat-icon
                class="short-icon"
                id="delete"
                (click)="bajaArea(element.id)"
                pTooltip="Baja de Razón Social"
                >delete_forever</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
