<mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEmpleado(1)">
    </div>
  </div>
  <mat-card-content>
    <div>

      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          BAJAS EMPLEADOS
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.nombre +
                " " +
                element.apellidoPaterno +
                " " +
                element.apellidoMaterno
            }}
          </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="fechaBaja">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA BAJA</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaBaja }}</td>
        </ng-container>
        <ng-container matColumnDef="nombreEtapa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ETAPA DE BAJA
          </th>
          <td mat-cell *matCellDef="let element">{{ element.nombreEtapa }}</td>
        </ng-container>
        <ng-container matColumnDef="estadoRh">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            MOTIVO DE BAJA
          </th>
          <td mat-cell *matCellDef="let element">{{ element.estadoRH }}</td>
        </ng-container>
        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPAÑA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>
        <ng-container matColumnDef="detalleBaja">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>COMENTARIOS</th>
          <td mat-cell *matCellDef="let element">{{ element.detalleBaja }}</td>
        </ng-container>
        <ng-container matColumnDef="recontratable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            RECONTRATABLE
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.recontratable }}
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th  mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura" >ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">

            <div class="actions">
              <mat-icon
                pTooltip="Reactivar Empleado"
                *ngIf="element.recontratable === 'SI'"
                (click)="activarEmpleado(element.id, element.idPrecandidato)"
                >person</mat-icon
              >
              <mat-icon
                pTooltip="Recontratable"
                (click)="
                  recontratable(
                    element.idPrecandidato,
                    element.nombre,
                    element.apellidoPaterno,
                    element.apellidoMaterno
                  )
                "
                >supervised_user_circle</mat-icon
              >
              <mat-icon
                pTooltip="Asignar Finiquito"
                *ngIf="element.fechaFiniquito === null"
                (click)="
                  asignarFiniquito(
                    element.id,
                    element.nombre,
                    element.apellidoPaterno,
                    element.apellidoMaterno
                  )
                "
                >attach_money</mat-icon
              >
              <mat-icon
                pTooltip="Editar Finiquito"
                *ngIf="element.fechaFiniquito !== null"
                (click)="
                  editarFiniquito(
                    element.id,
                    element.nombre,
                    element.apellidoPaterno,
                    element.apellidoMaterno
                  )
                "
                >money</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
