<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEjecutivoCuenta(1)">
    </div>
  </div>
  <mat-card-content>
    <div>

      <div class="button-input">
        <div class="button">

        </div>
        <mat-card-title>
          CONTACTO
        </mat-card-title>
        <div class="input">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="detalles">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> DETALLE </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <mat-icon (click)="verDatos(element.id, element.idSocio)" id="verDetalles">
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="alias">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ALIAS </th>
          <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre + ' '  + element.apellidoPaterno + ' ' + element.apellidoMaterno}} </td>
        </ng-container>

<!--        &lt;!&ndash; estado Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="estado">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>-->
<!--          <td mat-cell [ngStyle]="{ 'background': element.idEstadoSocio !== 1 ? '#FFE8E3' : 'transparent'}"-->
<!--              *matCellDef="let element"> {{element.idEstadoSocio === 1 ? 'ACTIVO' : 'INACTIVO'}} </td>-->
<!--        </ng-container>-->

        <!-- Favorite Column -->
        <ng-container matColumnDef="favorito">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FAVORITO</th>
          <td mat-cell  *matCellDef="let element" ><mat-icon *ngIf="element.favorito === 1">grade</mat-icon></td>
        </ng-container>
        <!-- Weight Column -->

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
