
table {
  width: 80%;
  margin: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: #111218;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}

.search{
  width: 100%;
  text-align: right;
}
.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.button-input{
  width: 100%;
  display: flex;
}

.button{
  width: 50%;
}
.input{
  width: 50%;
  text-align: end;
}

.mat-input-element{
  color: #111218;
}

.mat-raised-button{
  background-color: #111218;
  color: #ffffff;
}

.mat-header-cell{
  background-color: #111218;
  color: white;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.tooltip{
  background-color: #138d75;
  color: white;
}

#title{
  position: relative;
}

button:disabled{
  background-color: #fff;
}

.button-input {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

mat-card-title {
  width: 100%;
}


