<mat-card class="example-form">

    <mat-card-title *ngIf="idTipo == 1">CREAR SUBÁREA</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR SUBÁREA</mat-card-title>

  <mat-card-content>
    <form [formGroup]="subAreaCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="form-group">
<!--              <label for="subarea">Sub Area</label>-->
<!--              <input matInput type="text"  class="form-control"-->
<!--                     formControlName="subarea" oninput="this.value = this.value.toUpperCase()" maxlength="100"-->
<!--                     placeholder="Campo Obligatorio" id="subarea" onDrop="return false" onPaste="return false" autocomplete="off" />-->
<!--              <mat-hint status="danger" *ngIf="!subAreaCreateForm.controls['subarea'].valid&&subAreaCreateForm.controls['subarea'].dirty">-->
<!--                El Campo es requerido </mat-hint>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0;"
                       formControlName="subarea" oninput="this.value = this.value.toUpperCase()" maxlength="100"
                       placeholder="SUBÁREA" id="subarea" onDrop="return false" onPaste="return false" autocomplete="off" />
                <mat-hint status="danger" *ngIf="!subAreaCreateForm.controls['subarea'].valid&&subAreaCreateForm.controls['subarea'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
<!--              <label for="descripcion">Descripcion</label>-->
<!--              <input matInput type="text"  class="form-control"-->
<!--                     formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="100"-->
<!--                     placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off" />-->
<!--              <mat-hint status="danger" *ngIf="!subAreaCreateForm.controls['descripcion'].valid&&subAreaCreateForm.controls['descripcion'].dirty">-->
<!--                El Campo es requerido </mat-hint>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0;"
                       formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="100"
                       placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off" />
                <mat-hint status="danger" *ngIf="!subAreaCreateForm.controls['descripcion'].valid&&subAreaCreateForm.controls['descripcion'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-button *ngIf="idTipo == 1" (click)="guardarSubArea()" [disabled]="!subAreaCreateForm.valid">Guardar
      </button>
      <button mat-button *ngIf="idTipo == 2" (click)="updateSubArea()" [disabled]="!subAreaCreateForm.valid">Modificar
      </button>
      <button mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>

