//     src: url('code_bold-webfont.eot');
 
*{
    font-family: 'code_boldregular';
}

.amplio {
  height: 100%;
}

.contReloj {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-family: 'digi';
    font-size: 10em;
  
}
#nb-card-body {
  text-align: center;
}

.saludo {
  color: #dc3545;
}

.hora {
  color: #333;

}