<mat-card class="view">
  <div class="header">
    <span id="titulo-modals">DATOS DEL SOCIO</span>
  </div>

  <mat-card-content>
    <div id="box">
      <p id="title"><span>PRIORIDAD: </span>{{prioridad}}</p>
    </div>
    <div id="box">
      <p id="title"><span>NOMBRE COMERCIAL: </span>{{nombreComercial}}</p>
    </div>
    <div id="box">
      <p id="title"><span>RFC: </span>{{rfc}}</p>
    </div>
    <div id="box">
      <p id="title"><span>RAZÓN SOCIAL: </span>{{razonSocial}}</p>
    </div>
    <div id="box">
      <p id="title"><span>ALIAS: </span>{{alias}}</p>
    </div>
  </mat-card-content>

    <div [hidden]="!escritura" id="actions">
      <button mat-button id="submit" (click)="updateSocios()">Modificar Socio</button>
      <!--<button mat-button id="submit" (click)="bajaSocios()">Baja Socio</button>-->
    </div>

  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()" pTooltip="Cerrar">highlight_off</mat-icon>
  </mat-card-actions>
</mat-card>
