<mat-card class="view">

  <div class="header">
    <span id="titulo-modals">DATOS VACANTE</span>

  </div>

  <mat-card-content>
    <div class="nombre" id="box">
      <p id="title"><span>NOMBRE:</span> {{nombre}}</p>
    </div>

    <div class="apellidoPaterno" id="box">
      <p id="title"><span>SUBAREA:</span> {{subarea}}</p>
    </div>

    <div class="apellidoMaterno" id="box">
      <p id="title"><span>PUESTO:</span> {{puesto}}</p>
    </div>

    <div class="telefono" id="box">
      <p id="title"><span>TIPO PUESTO:</span> {{idTipoPuesto}}</p>
    </div>

    <div class="sede" id="box">
      <p id="title"><span>SEDE:</span> {{sede}}</p>
    </div>


  </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <mat-icon (click)="dismiss()">highlight_off</mat-icon>
    </mat-card-actions>
</mat-card>
