<mat-card class="example-form">
<mat-card-title *ngIf="idTipo == 1"> CREAR DISCO DURO INTERNO </mat-card-title>
<mat-card-title *ngIf="idTipo == 2"> MODIFICAR DISCO DURO INTERNO </mat-card-title>
<mat-card-content>

  <form [formGroup]="discodurointernoCreateForm">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div >
          <div class="form-group">

            <mat-form-field>
              <input matInput type="text" class="form-control"
                     formControlName="folio" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                     placeholder="NÚMERO DE FOLIO" id="FOLIO"/>
              <mat-hint *ngIf="!discodurointernoCreateForm.controls['folio'].valid&&discodurointernoCreateForm.controls['folio'].dirty">
                El Campo es requerido
              </mat-hint>
            </mat-form-field>

          </div>


          <div class="form-group">

            <mat-form-field>
              <mat-label>MARCA</mat-label>
              <mat-select formControlName="idMarca" id="idMarca">
                <mat-option *ngFor="let marcax of marcas" [value]="marcax.id">
                  {{marcax.nombreMarca}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!discodurointernoCreateForm.controls['idMarca'].valid&&discodurointernoCreateForm.controls['idMarca'].dirty">
                El Campo es requerido
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">

            <mat-form-field>
              <mat-label>ESTADO INVENTARIO</mat-label>
              <mat-select formControlName="idEstadoInventario" id="idEstadoInventario">
                <mat-option *ngFor="let e of estado" [value]="e.id">
                  {{e.estado}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div>

          <div class="form-group">

            <mat-form-field style="margin-top: 8%;">
              <mat-label>OBSERVACIONES INVENTARIO</mat-label>
              <mat-select formControlName="idObservacionesInventario"
                          id="idObservacionesInventario">
                <mat-option *ngFor="let obs of observaciones" [value]="obs.id">
                  {{obs.observaciones}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="form-group" >

            <mat-form-field>
              <mat-label>ORIGEN DE EQUIPO </mat-label>
              <mat-select formControlName="origenRecurso" id="origenEquipo" >
                <mat-option *ngFor="let origen of origenEquipos"
                            [value]="origen.value">
                  {{origen.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">

            <mat-form-field>
              <mat-label>SEDE </mat-label>
              <mat-select formControlName="idTipoSede" id="idSede" >
                <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                  {{sede.descripcion}}
                </mat-option>
              </mat-select>
              <mat-hint  *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>


        </div>
      </div>
    </div>
  </form>

  <mat-card-actions>
    <div class="actions">

      <button mat-button *ngIf="idTipo == 1" (click)="guardarDiscoDuroInterno()"
              [disabled]="!discodurointernoCreateForm.valid">Guardar
      </button>
      <button mat-button *ngIf="idTipo == 2" (click)="updateDsicoDuroInterno()"
              [disabled]="!discodurointernoCreateForm.valid">Modificar</button>
      <button mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>

</mat-card-content>
</mat-card>
