<mat-card class="mat-card-example">
  <mat-card-header >
    <mat-card-title *ngIf="idTipo == 1">CREAR ESTADO PAGO</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR ESTADO PAGO</mat-card-title>
  </mat-card-header>

  <!--<nb-card-header *ngIf="idTipo == 3">Baja Banco</nb-card-header>-->
  <mat-card-content>
    <form [formGroup]="estadoPagoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="description" oninput="this.value = this.value.toUpperCase()" maxlength="15"
                       placeholder="Estado pago" id="estadoPagos" onDrop="return false" onPaste="return false" autocomplete="off" style="outline: none;border: none; padding: 0px" />
                <mat-hint *ngIf="!estadoPagoForm.controls['description'].valid && estadoPagoForm.controls['description'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo===1" (click)="crearEstadoPago()" [disabled]="estadoPagoForm.invalid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo===2" (click)="updateEstadoPago()" [disabled]="estadoPagoForm.invalid">Actualizar
    </button>

    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

