mat-card {
  width: 450px;

}

.example-form {
  min-width: 300px;

  width: 100%;
}

input{
  border: none;
}
.form-control {
  border: none;
  font-size: 1rem;
}
.form-control:focus {
  border: none;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}
mat-card-actions {
  text-align: right;
}
mat-card-actions button {
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled{
  background-color: transparent;
}
