<!--<nb-card class="m-5">-->
  <!--<nb-card-header>MODIFICARALIAS</nb-card-header>-->
  <!--<nb-card-body>-->
    <!--<HR>-->
    <!--<form [formGroup]="aliasModificadoform">-->
      <!--<div class="row justify-content-center">-->
        <!--<div class="col-md-12">-->

          <!--<div class="form-group">-->
            <!--<label for="dominioss3">Dominios disponibles</label>-->
            <!--<p-dropdown [options]="domainss" formControlName="dominio" placeholder="Seleccione los dominios disponibles"-->

                        <!--id="dominioss3" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getdomainss($event.value)"></p-dropdown>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<div class="form-group" >-->
              <!--<div class="form-group" *ngIf="estadoCorreo2 != false">-->
                <!--<label for="correomodificarsuper2"> Correo ya se encuentra en uso modifica el nombre </label>-->
              <!--</div>-->
              <!--<input pInputText type="text" formControlName="emailmodificado" class="form-control"-->
                     <!--id="correomodificarsuper2" (keyup)="getcorreofinal($event.target.value)" />-->
            <!--</div>-->
            <!--<div class="form-group" *ngIf="estadoCorreo3 == true ">-->
              <!--<label > {{estadofinal}} </label>-->

            <!--</div>-->
            <!--<div class="form-group" *ngIf="estadoCorreo3 == false ">-->
              <!--<label > {{estadofinal}} </label>-->

            <!--</div>-->

         <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</form>-->
  <!--</nb-card-body>-->
  <!--<nb-card-footer class="d-flex justify-content-end">-->
    <!--<button nbButton hero status="primary" (click)="guardar()" *ngIf=" estadoCorreo3 === false" >Guardar</button>-->
    <!--<button nbButton hero size="xsmall" status="primary" (click)="dismiss()">Cerrar</button>-->
  <!--</nb-card-footer>-->
<!--</nb-card>-->

<mat-card class="example-form">
  <mat-card-title> ASIGNAR ALIAS</mat-card-title>

  <mat-card-content>
    <form [formGroup]="aliasModificadoform">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <mat-form-field>
              <mat-label>DOMINIOS DISPONIBLES</mat-label>
              <mat-select formControlName="dominio" id="dominio" (selectionChange)="getdomainss($event.value)">
                <mat-option *ngFor="let dominio of domains"
                            [value]="dominio.domainName">
                  {{dominio.domainName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <div class="form-group" >
              <div class="form-group" *ngIf="estadoCorreo2 != false">
                <label for="correomodificarsuper"> Correo ya se encuentra en uso modifica el nombre </label>
              </div>
              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="text" formControlName="emailmodificado"
                       placeholder="EMAIL" id="correomodificarsuper" (keyup)="getcorreofinal($event.target.value)" />
                <mat-hint *ngIf="!aliasModificadoform.controls['emailmodificado'].valid&&aliasModificadoform.controls['emailmodificado'].dirty">
                  Alias
                </mat-hint>
              </mat-form-field>

            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == true ">
              <label > {{estadofinal}} </label>

            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == false ">
              <label > {{estadofinal}} </label>

            </div>

          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
<mat-card-actions>
  <div class="actions">
    <button mat-button (click)="guardar()" *ngIf=" estadoCorreo3 === false">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </div>
</mat-card-actions>
</mat-card>
