<!-- <div class="row">
  <div class="col-lg-12">

  </div>
</div>
<nb-card>
  <nb-card-header>
    LLamadas Predictivas
  </nb-card-header>

  <nb-card-body>
    <p-table #dt [columns]="cols" [value]="candidatos" [scrollable]="true" [paginator]="true"
             [rows]="15">
      <ng-template pTemplate="caption">
        <br>
        <div class="ui-helper-clearfix mb-3">
          <button size="xsmall" nbButton (click)="dt.exportCSV()" style="float:left">Descargar todo</button>
        </div>
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText placeholder="B&uacute;squeda Global"
                 (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"
                 onDrop="return false" onPaste="return false" autocomplete="off">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" class="ajuste">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-candidato>
        <tr [pSelectableRow]="candidato">
          <td class="ui-resizable-column"
              [style]="{'width':'500px'}">
          </td>
           <td class="ui-resizable-column" *ngIf="candidato.calificacionPsicometrico == true">Aprobado</td> 
          <td class="ui-resizable-column" >No aprobado</td>
          <td class="ui-resizable-column"></td>
          <td class="ui-resizable-column"></td>
           <td class="ui-resizable-column">{{candidato.fechaIngreso | date : 'd MMM y h:mm a'}}</td> 
          <td class="ui-resizable-column"></td>
          <td>
            <nb-actions size="small">
              <nb-action class="eva eva-calendar custom-icon"
                         (click)="asignarCapacitacion(candidato.id, candidato.idPrecandidato)"
                         nbTooltip="Asignar a capacitacion"></nb-action>
              <nb-action class="eva eva-edit custom-icon" (click)="updateCandidatos(candidato.id, candidato.idPrecandidato)"
                         nbTooltip="Actualizar datos de Candidato"></nb-action>
            </nb-actions>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
</nb-card> -->
