<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getMedioTransporte(1)">
    </div>
  </div>
  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button mat-button (click)="crearMedioTransporte()">
        CREAR MEDIO DE TRANSPORTE
      </button>
    </div>
    <mat-card-title>
      MEDIO DE TRANSPORTE
    </mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->

        <!-- Weight Column -->
        <ng-container matColumnDef="medio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>MEDIO</th>
          <td mat-cell *matCellDef="let element">{{ element.medio }}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">
              ACCIONES
            </span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                id="short-icon"
                (click)="updateMedioTransporte(element.id)"
                pTooltip="Actualizar Datos de Medio de Transporte"
                >directions_bus</mat-icon
              >
              <mat-icon
                class="short-icon"
                id="delete"
                (click)="bajaMedioTransporte(element.id)"
                pTooltip="Baja de Medio de Transporte"
                >delete_forever</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
