<mat-card class="mat-card-content">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo === 1">CREAR CATEGORIA</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR CATEGORIA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="categoriaCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="tipo" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="TIPO" style="padding: 0;"/>
              <mat-hint *ngIf="!categoriaCreateForm.controls['tipo'].valid&&categoriaCreateForm.controls['tipo'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="regla" class="form-control" id="regla" [pKeyFilter]="numeros" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="REGLA" style="padding: 0;"/>
              <mat-hint *ngIf="!categoriaCreateForm.controls['regla'].valid&&categoriaCreateForm.controls['regla'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>

          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarCategoria()" [disabled]="!categoriaCreateForm.valid">Guardar</button> <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateCategoria()" [disabled]="!categoriaCreateForm.valid">Actualizar</button> <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
