<mat-card>
  <mat-card-title>

  </mat-card-title>
  <mat-card-content>
    <h1 style="text-align: center;"> DATOS GUARDADOS </h1>
    <!--<button nbButton herohero size="xsmall" status="primary" (click)="dismiss()">Cerrar</button>-->
    <button mat-button style="text-align: left; float:right; margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-content>
</mat-card>
