mat-card {
  width: 300px;
  height: 150px;

}
.mat-card-header {
  text-align: center;
  display: block;
}

mat-card-actions{
  text-align: right;
}
mat-card-actions button{
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled{
  background-color: transparent;
}
