.slice .main-arc {
  stroke: #fff;
  stroke-width: 2px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
  font-style: italic;
  color: gray;
}

.slice textPath{
  font-family: Sans-serif;
  font-size: 15px;
}

.ng-template body{
  font-family: Sans-serif;
  font-size: 10px;
}

.p-calendar {
  display: block;
  width: 100%;
}

.centrarTexto {
  text-align: center;
}

.margin {
  //margin-top: 5px;
  margin-bottom: 15px;
}
.mat-raised-button{
  background-color: #111218;
  color: #ffffff;
  align-items: flex-end;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}


.button{
  width: 50%;
}
.input{
  width: 50%;
  text-align: end;
}
.mat-form-field{
  //width: 40%;
  color: #e21c51;
}
.mat-input-element{
  color: #111218;
}

.mat-raised-button{
  background-color: #111218;
  color: #ffffff;
}

.mat-header-cell{
  background-color: #111218;
  color: white;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.example-user-input {
  margin-right: 8px;
}

button:disabled{
  background-color: #fff;
}

.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

g {color: #1f515d;}

.tick text {
  fill: #808080;
  font-size: 13px;
  font-weight: bold;
}

#toolTip {
  background-color: #3f51b5;
  padding: 5px;
  color: #ffffff;
  font-size: medium;
  font-style: oblique;
  border-radius: 15px;
  border: solid;
  border-color: #ffffff;
  opacity: 0.8;
}

#valor {
  justify-content: flex-end;
  color: white;
}

#dash {
  background: #ffffff;
}

#grafica {
  background: rgba(204,202,204,0.47);
  background: -moz-radial-gradient(center, ellipse cover, rgba(204,202,204,0.47) 0%, rgba(236,244,243,0.46) 2%, rgba(242,246,245,0.22) 47%, rgba(246,247,247,0.19) 83%, rgba(247,247,247,0.4) 88%, rgba(247,247,247,0.91) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(204,202,204,0.47)), color-stop(2%, rgba(236,244,243,0.46)), color-stop(47%, rgba(242,246,245,0.22)), color-stop(83%, rgba(246,247,247,0.19)), color-stop(88%, rgba(247,247,247,0.4)), color-stop(100%, rgba(247,247,247,0.91)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(204,202,204,0.47) 0%, rgba(236,244,243,0.46) 2%, rgba(242,246,245,0.22) 47%, rgba(246,247,247,0.19) 83%, rgba(247,247,247,0.4) 88%, rgba(247,247,247,0.91) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(204,202,204,0.47) 0%, rgba(236,244,243,0.46) 2%, rgba(242,246,245,0.22) 47%, rgba(246,247,247,0.19) 83%, rgba(247,247,247,0.4) 88%, rgba(247,247,247,0.91) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(204,202,204,0.47) 0%, rgba(236,244,243,0.46) 2%, rgba(242,246,245,0.22) 47%, rgba(246,247,247,0.19) 83%, rgba(247,247,247,0.4) 88%, rgba(247,247,247,0.91) 100%);
  background: radial-gradient(ellipse at center, rgba(204,202,204,0.47) 0%, rgba(236,244,243,0.46) 2%, rgba(242,246,245,0.22) 47%, rgba(246,247,247,0.19) 83%, rgba(247,247,247,0.4) 88%, rgba(247,247,247,0.91) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccacc', endColorstr='#f7f7f7', GradientType=1 );
}
