<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="padding-bottom: 25px;">
      <div class="col">
        <mat-toolbar color="primary">REPORTE GRUPO PERMISOS</mat-toolbar>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-12 col-sm-12">
        <mat-card id="dash">
          <mat-card-header id="valor">
            <mat-card-title>ESTADO </mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph-dash0"> </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <mat-card id="dash">
          <mat-card-header id="valor">
            <mat-card-title>USUARIOS POR PUESTO </mat-card-title>
          </mat-card-header>
          <mat-card-content id="graph-dash00"> </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 ">
        <mat-card>
          <mat-card-header>
            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12">
                <mat-card-title> TOTAL DE GRUPO PERMISOS: {{this.contadorPermisos}}</mat-card-title>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <mat-form-field>
                  <mat-label>Filtrar</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)" />
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div>
              <table
                mat-table
                [dataSource]="dataSource"
                matSort
                class="mat-elevation-z8"
              >
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    NOMBRE
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.nombre }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    DESCRIPCIÓN
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.descripcion }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="idPuesto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    PUESTO
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    {{ element.idPuesto }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cols"></tr>
                <tr mat-row *matRowDef="let row; columns: cols"></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
