<mat-card>


  <div class="button-input">
    <div class="button">
    </div>
    <mat-card-title>
      EMPRESA
    </mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8">
        <ng-container matColumnDef="grupo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>GRUPO</th>
          <td mat-cell *matCellDef="let element">{{ element.grupo}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
          <td mat-cell *matCellDef="let element">{{ element.codigo}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCIÓN</th>
          <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                id="short-icon"
                (click)="updateBanco(element.id, element.idGrupo)"
                pTooltip="Actualizar Datos de Empresa"
              >update</mat-icon>

              <mat-icon
                id="short-icon"
                id="sede"
                (click)="crearSede(element.id)"
                pTooltip="Crear Sede"
                >home</mat-icon>

              <mat-icon
                id="short-icon"
                id="delete"
                (click)="bajaEmpresa(element.id)"
                pTooltip="Baja de Empresa"
              >delete_forever</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
