mat-card{
  padding: 5% 7%;
  width: 130%;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: #111218;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #111218 !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #111218 !important;
}
.mat-form-field-invalid .mat-input-element{
  caret-color: #111218;
}

.mat-card-header {
  text-align: center;
  display: block;
}

button {
  background-color: #111218;
  color: white;
}
button:disabled{
  background-color: transparent;
}
.mat-button:focus {
  outline: none;
  border: none;
}
.mat-button{
  border: none;
  width: 100%;
}

.message {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

.form-control:focus {
  border: none;
}
.form-control {
  border: none;
}

.mat-chip.mat-standard-chip {
  background-color: #111218;
  color: #fff;
  font-weight: nomal;
}

textarea {
  padding: 0px;
}


