<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>GENERAR URL</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<form [formGroup]="generarUrlForm">
  <div class="form-group">
<!--    <label for="idBolsaTrabajo">Bolsa de trabajo</label>-->
<!--    <p-dropdown [options]="bolsa" formControlName="idBolsaTrabajo" placeholder="Seleccione bolsa de trabajo"-->
<!--                id="idBolsaTrabajo" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
    <mat-form-field>
      <mat-label>BOLSA DE TRABAJO</mat-label>
      <mat-select formControlName="idBolsaTrabajo">
        <mat-option *ngFor="let bolsas of bolsasTrabajo" [value]="bolsas.id" id="idBolsaTrabajo" (onSelectionChange)="linkMostrar = true">
          {{bolsas.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div *ngIf = "linkMostrar && listo">
    <div class="message">
      <mat-chip-list>
        <mat-chip *ngIf="listo">¡El link esta listo! Copia y pégalo en la barra de dirección</mat-chip>
        <!--    <pre *ngIf="listo" Style="color:#c30808; font-family:Arial, Helvetica, sans-serif;">¡El link esta listo!-->
        <!--    Copia y pégalo en la barra de dirección</pre>-->
      </mat-chip-list>
    </div>

    <mat-form-field>
      <textarea  matInput type="text" class="form-control" value="{{url}}" id="url" onDrop="return false"
                 onPaste="return false" rows="3" placeholder="URL" style="padding: 0px;" ></textarea>
    </mat-form-field>
<!--    <textarea nbInput  type="text" class="form-control" value="{{url}}" id="url" onDrop="return false" onPaste="return false"></textarea>-->
  </div>
</form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button (click)="generarUrl()" [disabled]="verificar()">Generar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
