<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="idTipo !== 2">ASIGNAR SUB RAMO</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR SUB RAMO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="asignarSubramoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
            <!--            <label for="idTipoCategoria">Sub Ramo</label>-->
            <!--            <p-dropdown [options]="tipoCategorias" formControlName="idTipoCategoria" placeholder="Sub Ramo" id="idTipoCategoria"-->
            <!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

            <mat-form-field>
              <mat-label>TIPO SUB RAMO</mat-label>
              <mat-select formControlName="idTipoSubRamo" id="idTipoSubRamo" autofocus>
                <mat-option *ngFor="let tipo of tipoSubramo" [value]="tipo.id">
                  {{tipo.tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <!--            <label for="prioridad">Prioridad<span style="color: #0bbb79;">*</span></label>-->
            <!--            <p-dropdown [options]="prioridadVal" formControlName="prioridad" id="prioridad"-->
            <!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
            <!--                        placeholder="Seleccione prioridad"></p-dropdown>-->
            <mat-form-field>
              <mat-label>PRIORIDAD</mat-label>
              <mat-select formControlName="prioridad" id="prioridad">
                <mat-option *ngFor="let priori of prioridadVal" [value]="priori.value">
                  {{priori.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <!--            <label for="descripcion">descripcion</label>-->
            <!--            <input matInput type="text" formControlName="descripcion" class="form-control" id="descripcion"  oninput="this.value = this.value.toUpperCase()"-->
            <!--                   placeholder="Campo Obligatorio"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off"/>-->
            <!--            <mat-hint status="danger"-->
            <!--                      *ngIf="!asignarCategiruaForm.controls['descripcion'].valid&&asignarCategiruaForm.controls['descripcion'].dirty">-->
            <!--              Se requiere llenar el campo adecuadamente-->
            <!--            </mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="descripcion" class="form-control" id="descripcion"  oninput="this.value = this.value.toUpperCase()"
                     placeholder="DESCRIPCIÓN" style="padding: 0"
                     onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!asignarSubramoForm.controls['descripcion'].valid&&asignarSubramoForm.controls['descripcion'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="guardarSubramo()" *ngIf="idTipo !== 2"
            [disabled]="!asignarSubramoForm.valid">Guardar
    </button>
    <button mat-button (click)="updateSubramo()" *ngIf="idTipo === 2"
            [disabled]="!asignarSubramoForm.valid">Actualizar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
