<mat-card class="mat-card-content">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo === 1">CREAR SUB CATEGORÍA</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR SUB CATEGORÍA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="subcategoriaCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="detalle" class="form-control" id="detalle" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="DETALLE" style="padding: 0;"/>
              <mat-hint *ngIf="!subcategoriaCreateForm.controls['detalle'].valid&&subcategoriaCreateForm.controls['detalle'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="regla" class="form-control" id="regla" oninput="this.value = this.value.toUpperCase()" [pKeyFilter]="numeros"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="REGLA" style="padding: 0;"/>
              <mat-hint *ngIf="!subcategoriaCreateForm.controls['regla'].valid&&subcategoriaCreateForm.controls['regla'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>

          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>CATEGORÍA</mat-label>
              <mat-select formControlName="idCategoria" id="idCategoria">
                <mat-option *ngFor="let categorias of categoria " [value]="categorias.id">
                  {{categorias.tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>DIVISA</mat-label>
              <mat-select formControlName="idDivisas" id="idDivisas">
                <mat-option *ngFor="let divisa of divisa " [value]="divisa.id">
                  {{divisa.divisa}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="crearSubCategoria()" [disabled]="!subcategoriaCreateForm.valid">Guardar</button> <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateSubCategoria()" [disabled]="!subcategoriaCreateForm.valid">Actualizar</button> <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
