.mat-icon{
  margin: 0 5px;
}
table {
  width: 70%;
  margin: auto;
}

mat-card-title {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}

.button-input{
  width: 70%;
  display: flex;
  margin-top: 2.5%;
  margin: auto;
  justify-content: space-between;
}

.button{
  width: 50%;
}
.input{
  width: 50%;
  text-align: end;
}
.mat-form-field{
  width: 60%;
  color: #111218;
}
.mat-input-element{
  color: #111218;
}

.mat-header-cell{
  background-color: #111218;
  color: white;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.example-user-input {
  margin-right: 8px;
}

.tooltip{
  background-color: #138d75;
  color: white;
}

button:disabled{
  background-color: #fff;
}
