<mat-card>

  <div class="container-grid">
    <mat-card-title>
      PÁGINAS
    </mat-card-title>
    <div class="button2">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <button mat-button routerLink="/modulos/marketing/pagina/" routerLinkActive="active">REGRESAR</button>
    </div>
  </div>

  <mat-card-actions>

    <button mat-button style="text-align: left; float:right; margin: 8px" (click)="agregarNodo(nombreaseguradora)">
      AGREGAR NODO
    </button>
    <button mat-button style="text-align: left; float:right; margin: 8px" (click)="agregarCampos()"> AGREGAR CAMPOS
    </button>
    <button mat-button style="text-align: left; float:right; margin: 8px" (click)="agregarAseguradora()"> AGREGAR
      ASEGURADORA
    </button>
    <button mat-button style="text-align: left; float:right; margin: 8px" (click)="agregarTipo()">
      AGREGAR TIPO
    </button>

  </mat-card-actions>
  <mat-card-content>


    <div>
      <form [formGroup]="paginasForm">
        <div class="row justify-content-center">
          <div class="col-md-12">

            <div class="form-group" *ngIf="mostrarselec2 === true">

              <mat-form-field>
                <mat-label>TIPO</mat-label>
                <mat-select formControlName="nombreprincipal" id="nombreprincipal"
                            (selectionChange)="getnombres($event.value)">
                  <mat-option *ngFor="let nombresprin of nombresprincipales"
                              [value]="nombresprin">
                    {{nombresprin}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="mostrarselec === false">

              <mat-form-field>
                <mat-label>ASEGURADORAS</mat-label>
                <mat-select formControlName="aseguradoras" id="aseguradoras"
                            (selectionChange)="getaseguradoras($event.value)">
                  <mat-option *ngFor="let nombresaseguradoras of nombres"
                              [value]="nombresaseguradoras.value">
                    {{nombresaseguradoras.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="campo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Campos</th>
        <td mat-cell *matCellDef="let element"> {{element.campo}} </td>
      </ng-container>
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor</th>
        <td mat-cell *matCellDef="let element"><p *ngIf=" element.value != '[object Object]'">{{element.value}} </p>

          <div *ngIf=" element.value == '[object Object]'">
            <mat-icon (click)="datosNodos(element.campo, id, nombreaseguradora)" pTooltip="Datos Nodos"
                      mat-raised-button
            >ballot
            </mat-icon>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
        <td mat-cell *matCellDef="let element">
          <div class="actions">
            <mat-icon (click)="modificarDatos(element.campo, element.value)" pTooltip="Cambiar datos" mat-raised-button
            >edit
            </mat-icon>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>

  </mat-card-content>

</mat-card>
