.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.container-grid {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 30px;
  margin-bottom: 3%;
}

mat-card-title {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 0 !important;

}

.button2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #354089;
}

.button2 button {
  padding: 0 !important;
}

.example-full-width {
  width: 100%;
}
table {
  width: 100%;
  margin: 0 auto;
}
.mat-header-cell {
  color: #fff;
}
input {
  border: none;
}

.form-control {
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}


/* input color class */
::ng-deep input.mat-input-element {
  color: #111218;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #111218 !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #111218 !important;
}
.mat-form-field-invalid .mat-input-element {
  caret-color: #111218;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}


mat-card {
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}

.mat-hint {
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions {
  text-align: right;
}
mat-card-actions button {
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}

button:focus {
  outline: none;
}




