<!--<nb-card>-->
 <!--<nb-card-header>-->
 <!--</nb-card-header>-->
  <!--<nb-card-body>-->


    <!--<div  *ngIf="bandera === true">-->
      <!--<h4>CORREO DE LA MISMA SUBAREA</h4><p>{{nombresubarea}}</p>-->
    <!--</div>-->
    <!--<div  *ngIf="bandera === false && bandera2 !== true">-->
      <!--<h4> CORREOS DE OTRAS SUBAREAS </h4><p>{{area}}</p>-->
    <!--</div>-->

    <!--<div *ngIf="bandera2 === true">-->
      <!--<h4> CREAR NUEVO CORREO</h4> <p>{{area}}</p>-->
    <!--</div>-->


      <!--<HR>-->
       <!--<form [formGroup]="ejecutivoform">-->
        <!--<div class="row justify-content-center">-->
          <!--<div class="col-md-12">-->


            <!--<div class="form-group" *ngIf="bandera === true ">-->
              <!--<label for="dominios3"> Tipo de Dominios disponibles</label>-->
              <!--<p-dropdown [options]="tiposdominios" formControlName="tiposdominios2" placeholder="Seleccione tipo disponibles"-->

                          <!--id="dominios3" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getadmin($event.value)"></p-dropdown>-->
            <!--</div>-->
            <!--<div class="form-group" *ngIf="bandera === true ">-->
              <!--<label for="correosdisponible">Correos disponibles</label>-->
              <!--<p-dropdown [options]="correosdisponibles" formControlName="correosdisponible" placeholder="Seleccione los correos disponibles"-->
                          <!--id="correosdisponible" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getcorreoprincial($event.value)"></p-dropdown>-->
            <!--</div>-->
            <!--<div class="form-group" *ngIf="banderaadministrativo === true &&( bandera === true )" >-->
              <!--<label for="dominioss3">Dominios disponibles</label>-->
              <!--<p-dropdown [options]="domainss" formControlName="dominio" placeholder="Seleccione los dominios disponibles"-->

                          <!--id="dominioss3" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getdomainss($event.value)"></p-dropdown>-->
            <!--</div>-->
            <!--<div class="form-group" *ngIf="banderaadministrativo === true &&( bandera === true )" >-->
              <!--<label for="extensioncontrolnuevo">Extension disponible Nuevo Ejecutivo </label>-->
              <!--<p-dropdown [options]="extensiones" formControlName="extensioncontrol" placeholder="Seleccione la extension disponible"-->
                          <!--id="extensioncontrolnuevo" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getextension($event.value)"></p-dropdown>-->

            <!--</div>-->
            <!--<div class="form-group" *ngIf="banderaadministrativo === true &&( bandera === true )">-->
              <!--<label for="privilegiosnuevo">Permisos  </label>-->
              <!--<p-dropdown [options]="grupUsuario" formControlName="privilegiocontrol" placeholder="Seleccione el permiso de grupo de usuario "-->
                          <!--id="privilegiosnuevo" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>-->
            <!--</div>-->

            <!--<div class="form-group" *ngIf="banderaadministrativo === true &&( bandera === true )">-->
              <!--<label for="unidadOrganizativa">Unidad organizativa</label>-->
              <!--<p-dropdown [options]="nombreUnidadesOrganizativas" formControlName="unidadOrganizativa" placeholder="Seleccione la unidad organizativa del usuario"-->
                          <!--id="unidadOrganizativa" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>-->
            <!--</div>-->
            <!--<div class="form-group"  *ngIf=" bandera === true " >-->
            <!--<div class="form-group"  *ngIf="banderaemailmodificado === true " >-->
              <!--<div class="form-group" *ngIf="estadoCorreo2 != false">-->
                <!--<label for="correomodificarsuper2"> Correo ya se encuentra en uso modifica el nombre </label>-->
              <!--</div>-->
              <!--<input pInputText type="text" formControlName="emailmodificado" class="form-control"-->
                     <!--id="correomodificarsuper2" (keyup)="getcorreofinal($event.target.value)" />-->
            <!--</div>-->
            <!--<div class="form-group" *ngIf="estadoCorreo3 == true ">-->
              <!--<label > {{estadofinal}} </label>-->

            <!--</div>-->
            <!--<div class="form-group" *ngIf="estadoCorreo3 == false ">-->
              <!--<label > {{estadofinal}} </label>-->

            <!--</div>-->

            <!--<label> {{correoEjecutivo}}</label>-->

            <!--</div>-->






              <!--<div class="form-group" *ngIf="bandera === false && bandera2 === false">-->
                <!--<label for="dominios2"> Tipo de Dominios disponibles</label>-->
                <!--<p-dropdown [options]="tiposdominios" formControlName="tiposdominios3" placeholder="Seleccione tipo disponibles"-->

                            <!--id="dominios2" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getadmin($event.value)"></p-dropdown>-->
              <!--</div>-->
              <!--<div class="form-group" *ngIf="bandera === false && bandera2 === false" >-->
                <!--<label for="correoSubareas">Correos disponibles todas las subareas</label>-->
                <!--<p-dropdown [options]="correosdisponibles" formControlName="correosdisponibleSubareas" placeholder="Seleccione los correos disponibles por subareas"-->
                            <!--id="correoSubareas" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getcorreoprincialSubareas($event.value)"></p-dropdown>-->
              <!--</div>-->

              <!--<div class="form-group" *ngIf="bandera === false && bandera2 === false" >-->
                <!--<label for="dominioss2">Dominios disponibles</label>-->
                <!--<p-dropdown [options]="domainss" formControlName="dominio" placeholder="Seleccione los dominios disponibles"-->

                            <!--id="dominioss2" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getdomainss($event.value)"></p-dropdown>-->
              <!--</div>-->
              <!--<div class="form-group" *ngIf="extensionbandera === true && bandera2 === false">-->
                <!--<label for="extensioncontrol1">Extension disponible  </label>-->
                <!--<p-dropdown [options]="extensiones" formControlName="extensioncontrol" placeholder="Seleccione la extension disponible"-->
                            <!--id="extensioncontrol1" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getextension($event.value)"></p-dropdown>-->
              <!--</div>-->
              <!--<div class="form-group" *ngIf="extensionbandera === true && bandera2 === false">-->
                <!--<label for="privilegios">Permisos  </label>-->
                <!--<p-dropdown [options]="grupUsuario" formControlName="privilegiocontrol" placeholder="Seleccione el permiso de grupo de usuario "-->
                            <!--id="privilegios" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>-->
              <!--</div>-->

              <!--<div class="form-group" *ngIf="bandera === false && bandera2 === false ">-->
                <!--<label for="unidadOrganizativa">Unidad organizativa</label>-->
                <!--<p-dropdown [options]="nombreUnidadesOrganizativas" formControlName="unidadOrganizativa" placeholder="Seleccione la unidad organizativa del usuario"-->
                            <!--id="unidadOrganizativa1" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>-->
              <!--</div>-->

            <!--<div class="form-group"  *ngIf="bandera === false && bandera2 === false" >-->
              <!--<div class="form-group"  *ngIf="banderaemailmodificado === true " >-->
                <!--<div class="form-group" *ngIf="estadoCorreo2 != false">-->
                  <!--<label for="correomodificarsuper1"> Correo ya se encuentra en uso modifica el nombre </label>-->
                <!--</div>-->
                <!--<input pInputText type="text" formControlName="emailmodificado" class="form-control"-->
                       <!--id="correomodificarsuper1" (keyup)="getcorreofinal($event.target.value)" />-->
              <!--</div>-->
              <!--<div class="form-group" *ngIf="estadoCorreo3 == true ">-->
                <!--<label > {{estadofinal}} </label>-->

              <!--</div>-->
              <!--<div class="form-group" *ngIf="estadoCorreo3 == false ">-->
                <!--<label > {{estadofinal}} </label>-->

              <!--</div>-->

              <!--<label> {{correoEjecutivo}}</label>-->
            <!--</div>-->





              <!--<div class="form-group" *ngIf="bandera2 === true">-->
                <!--<label for="dominios"> Tipo de Dominio disponibles</label>-->
                <!--<p-dropdown [options]="tiposdominios" formControlName="tiposdominios" placeholder="Seleccione tipo disponibles "-->

                            <!--id="dominios" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getadmin($event.value)"></p-dropdown>-->
              <!--</div>-->
              <!--<div class="form-group" *ngIf="bandera2 === true" >-->
                <!--<label for="dominioss">Dominios disponibles</label>-->
                <!--<p-dropdown [options]="domainss" formControlName="dominio" placeholder="Seleccione los dominios disponibles"-->

                            <!--id="dominioss" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getdomainss($event.value)"></p-dropdown>-->
              <!--</div>-->
              <!--<div class="form-group" *ngIf="bandera2 === true" >-->
                <!--<label for="extensioncontrol">Extension disponible Nuevo Usuario </label>-->
                <!--<p-dropdown [options]="extensiones" formControlName="extensioncontrol" placeholder="Seleccione la extension disponible"-->
                            <!--id="extensioncontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getextension($event.value)"></p-dropdown>-->

              <!--</div>-->
              <!--<div class="form-group" *ngIf="bandera2 === true ">-->
                <!--<label for="privilegios2">Permisos  </label>-->
                <!--<p-dropdown [options]="grupUsuario" formControlName="privilegiocontrol" placeholder="Seleccione el permiso de grupo de usuario "-->
                            <!--id="privilegios2" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>-->
              <!--</div>-->
              <!--<div class="form-group" *ngIf="bandera2 === true">-->
                <!--<label for="unidadOrganizativa">Unidad organizativa</label>-->
                <!--<p-dropdown [options]="nombreUnidadesOrganizativas" formControlName="unidadOrganizativa" placeholder="Seleccione la unidad organizativa del usuario"-->
                            <!--id="unidadOrganizativa2" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>-->
              <!--</div>-->

            <!--<div class="form-group"  *ngIf="bandera2 === true " >-->
              <!--<div class="form-group"  *ngIf="banderaemailmodificado === true " >-->
                <!--<div class="form-group" *ngIf="estadoCorreo2 != false">-->
                  <!--<label for="correomodificarsuper"> Correo ya se encuentra en uso modifica el nombre </label>-->
                <!--</div>-->
                <!--<input pInputText type="text" formControlName="emailmodificado" class="form-control"-->
                       <!--id="correomodificarsuper" (keyup)="getcorreofinal($event.target.value)" />-->
              <!--</div>-->
              <!--<div class="form-group" *ngIf="estadoCorreo3 == true ">-->
                <!--<label > {{estadofinal}} </label>-->

              <!--</div>-->
              <!--<div class="form-group" *ngIf="estadoCorreo3 == false ">-->
                <!--<label > {{estadofinal}} </label>-->

              <!--</div>-->

              <!--<label> {{correoEjecutivo}}</label>-->
            <!--</div>-->

            <!--</div>-->


     <!--</div>-->

   <!--</form>-->



   <!--</nb-card-body>-->

<!--<nb-card-footer>-->
<!--<button nbButton hero status="primary" (click) ="guardar()" *ngIf="estadoCorreo3 === false ">Guardar</button> <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>-->
<!--</nb-card-footer>-->
<!--</nb-card>-->

<mat-card class="example-form">

  <div class="title" *ngIf="bandera === true">
    <mat-card-title>
      CORREO DE LA MISMA SUBAREA
    </mat-card-title>
    <mat-card-subtitle>
      {{nombresubarea}}
    </mat-card-subtitle>
  </div>

  <div class="title" *ngIf="bandera === false && bandera2 !== true">
    <mat-card-title > CORREOS DE OTRAS SUBAREAS </mat-card-title>
    <mat-card-subtitle> {{area}} </mat-card-subtitle>
  </div>

  <div class="title" *ngIf="bandera2 === true">
    <mat-card-title>CREAR NUEVO CORREO</mat-card-title>
    <mat-card-subtitle>{{area}}</mat-card-subtitle>
  </div>


  <mat-card-content>

    <form [formGroup]= "ejecutivoform" >
      <div class="row justify-content-center">
        <div class="col-md-6">

          <!--   --------------------- cooreo de la misma subarea ----------------- -->
             <div class="form-group" *ngIf="bandera === true ">

               <mat-form-field>
                 <mat-label>TIPO DE DOMINIO </mat-label>
                 <mat-select formControlName="tiposdominios2" id="dominio3" (selectionChange)="getadmin($event.value)">
                   <mat-option *ngFor="let dominio of tiposdominios"
                               [value]="dominio.value">
                     {{dominio.label}}
                   </mat-option>
                 </mat-select>
               </mat-form-field>
             </div>

              <div class="form-group" *ngIf="bandera === true ">
                <mat-form-field>
                  <mat-label>CORREOS DISPONIBLES </mat-label>
                  <mat-select formControlName="correosdisponible" id="correosdisponible" (selectionChange)="getcorreoprincial($event.value)">
                    <mat-option *ngFor="let usuariocorreo of usuario"
                                [value]="usuariocorreo.usuario">
                      {{usuariocorreo.usuario}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>

          <!--<div class="form-group" *ngIf="banderaadministrativo === true &&( bandera === true )" >-->
            <!--<mat-form-field>-->
              <!--<mat-label>EXTENSIONES DISPONIBLES  </mat-label>-->
              <!--<mat-select formControlName="extensioncontrol" id="extensioncontrolnuevo" (selectionChange)="getextension($event.value)">-->
                <!--<mat-option *ngFor="let ext of extension"-->
                            <!--[value]="ext.id">-->
                  <!--{{ext.id}}-->
                <!--</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->

          <!--</div>-->
          <div class="form-group" *ngIf="banderaadministrativo === true &&( bandera === true )">

            <mat-form-field>
              <mat-label>PERMISOS </mat-label>
              <mat-select formControlName="privilegiocontrol" id="privilegiosnuevos" >
                <mat-option *ngFor="let privilegio of grupoUsuario"
                            [value]="privilegio.id">
                  {{privilegio.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>




          <!--   --------------------- cooreos de otras areas ----------------- -->
          <div class="form-group" *ngIf="bandera === false && bandera2 === false">

            <mat-form-field>
              <mat-label>TIPO DE DOMINIO </mat-label>
              <mat-select formControlName="tiposdominios3" id="dominios2" (selectionChange)="getadmin($event.value)">
                <mat-option *ngFor="let dominio of tiposdominios"
                            [value]="dominio.value">
                  {{dominio.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="bandera === false && bandera2 === false" >
            <mat-form-field>
              <mat-label>CORREOS DISPONIBLES POR SUBAREAS </mat-label>
              <mat-select formControlName="correosdisponibleSubareas" id="correoSubareas" (selectionChange)="getcorreoprincialSubareas($event.value)">
                <mat-option *ngFor="let usuariocorreo of usuario"
                            [value]="usuariocorreo.usuario">
                  {{usuariocorreo.usuario}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group" *ngIf="extensionbandera === true && bandera2 === false">

            <mat-form-field>
              <mat-label>PERMISOS </mat-label>
              <mat-select formControlName="privilegiocontrol" id="privilegios" >
                <mat-option *ngFor="let privilegio of grupoUsuario"
                            [value]="privilegio.id">
                  {{privilegio.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group" *ngIf="bandera === false && bandera2 === false ">

            <mat-form-field>
              <mat-label>UNIDAD ORGANIZATIVA </mat-label>
              <mat-select formControlName="unidadOrganizativa" id="unidadOrganizativa1" >
                <mat-option *ngFor="let organizativa of nombreUnidadesOrganizativas"
                            [value]="organizativa.value">
                  {{organizativa.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>






          <!--   --------------------- cooreos nuevos ----------------- -->

          <div class="form-group" *ngIf="bandera2 === true">

            <mat-form-field>
              <mat-label>TIPO DE DOMINIO </mat-label>
              <mat-select formControlName="tiposdominios" id="dominios" (selectionChange)="getadmin($event.value)">
                <mat-option *ngFor="let dominio of tiposdominios"
                            [value]="dominio.value">
                  {{dominio.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group" *ngIf="bandera2 === true ">
            <mat-form-field>
              <mat-label>PERMISOS </mat-label>
              <mat-select formControlName="privilegiocontrol" id="privilegios2" >
                <mat-option *ngFor="let privilegio of grupoUsuario"
                            [value]="privilegio.id">
                  {{privilegio.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="bandera2 === true">
            <mat-form-field>
              <mat-label>UNIDAD ORGANIZATIVA </mat-label>
              <mat-select formControlName="unidadOrganizativa" id="unidadOrganizativa3" >
                <mat-option *ngFor="let organizativa of nombreUnidadesOrganizativas"
                            [value]="organizativa.value">
                  {{organizativa.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>







        </div>

        <div class="col-md-6">
          <!--   --------------------- cooreo de la misma subarea ----------------- -->


          <div class="form-group" *ngIf="banderaadministrativo === true &&( bandera === true )">

            <mat-form-field>
              <mat-label>UNIDAD ORGANIZATIVA </mat-label>
              <mat-select formControlName="unidadOrganizativa" id="unidadOrganizativa" >
                <mat-option *ngFor="let organizativa of nombreUnidadesOrganizativas"
                            [value]="organizativa.value">
                  {{organizativa.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="form-group" *ngIf="banderaadministrativo === true &&( bandera === true )" >
            <mat-form-field>
              <mat-label>DOMINIOS DISPONIBLES </mat-label>
              <mat-select formControlName="dominio" id="dominios3" (selectionChange)="getdomainss($event.value)">
                <mat-option *ngFor="let dominios of domains"
                            [value]="dominios.domainName">
                  {{dominios.domainName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="form-group"  *ngIf=" bandera === true " >
            <div class="form-group"  *ngIf="banderaemailmodificado === true " >
              <div class="form-group" *ngIf="estadoCorreo2 != false">
                <label for="correomodificarsuper2"> Correo ya se encuentra en uso modifica el nombre </label>
              </div>
              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="text" formControlName="emailmodificado"
                       placeholder="EMAIL" id="correomodificarsuper2" (keyup)="getcorreofinal($event.target.value)" />
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == true ">
              <label > {{estadofinal}} </label>

            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == false ">
              <label > {{estadofinal}} </label>

            </div>

            {{correoEjecutivo}}

          </div>
           <!--  --------------------------------------correos de otras areas  ------------------- -->


          <div class="form-group" *ngIf="bandera === false && bandera2 === false" >

            <mat-form-field>
              <mat-label>DOMINIOS DISPONIBLES </mat-label>
              <mat-select formControlName="dominio" id="dominioss2" (selectionChange)="getdomainss($event.value)">
                <mat-option *ngFor="let dominios of domains"
                            [value]="dominios.domainName">
                  {{dominios.domainName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="form-group" *ngIf="extensionbandera === true && bandera2 === false">

            <mat-form-field>
              <mat-label>EXTENSIONES DISPONIBLES  </mat-label>
              <mat-select formControlName="extensioncontrol" id="extensioncontrol1" (selectionChange)="getextension($event.value)">
                <mat-option *ngFor="let ext of extension"
                            [value]="ext.id">
                  {{ext.id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group"  *ngIf="bandera === false && bandera2 === false" >
            <div class="form-group"  *ngIf="banderaemailmodificado === true " >
              <div class="form-group" *ngIf="estadoCorreo2 != false">
                <label for="correomodificarsuper1"> Correo ya se encuentra en uso modifica el nombre </label>
              </div>
              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="text" formControlName="emailmodificado"
                       placeholder="EMAIL" id="correomodificarsuper1" (keyup)="getcorreofinal($event.target.value)" />
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == true ">
              <label > {{estadofinal}} </label>

            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == false ">
              <label > {{estadofinal}} </label>

            </div>

            <label> {{correoEjecutivo}}</label>
          </div>

          <!--  --------------------------------- correo nuevo   ------------------ -->




          <div class="form-group" *ngIf="bandera2 === true" >
            <mat-form-field>
              <mat-label>DOMINIOS DISPONIBLES </mat-label>
              <mat-select formControlName="dominio" id="dominioss" (selectionChange)="getdomainss($event.value)">
                <mat-option *ngFor="let dominios of domains"
                            [value]="dominios.domainName">
                  {{dominios.domainName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="bandera2 === true" >

            <mat-form-field>
              <mat-label>EXTENSIONES DISPONIBLES NUEVO USUARIO </mat-label>
              <mat-select formControlName="extensioncontrol" id="extensioncontrol" (selectionChange)="getextension($event.value)">
                <mat-option *ngFor="let ext of extension"
                            [value]="ext.id">
                  {{ext.id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group"  *ngIf="bandera2 === true " >
            <div class="form-group"  *ngIf="banderaemailmodificado === true " >
              <div class="form-group" *ngIf="estadoCorreo2 != false">
                <label for="correomodificarsuper"> Correo ya se encuentra en uso modifica el nombre </label>
              </div>

              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="text" formControlName="emailmodificado"
                       placeholder="EMAIL" id="correomodificarsuper" (keyup)="getcorreofinal($event.target.value)"/>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == true ">
              <label > {{estadofinal}} </label>

            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == false ">
              <label > {{estadofinal}} </label>

            </div>

            <label> {{correoEjecutivo}}</label>
          </div>
        </div>


      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="">

    <button mat-button (click)="guardar()" *ngIf=" estadoCorreo3 === false">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>

  </mat-card-actions>
</mat-card>
