<mat-card class="example-form">
  <mat-card-title>BAJA DE EMPLEADO</mat-card-title>
  <mat-card-content>
    <h4 *ngIf="empleadoEliminado === true" class="btn-warning text-center">¡Atención este empleado ya ha sido Eliminado!</h4>
    <form [formGroup]="bajaEmpleadoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
<!--            <label for="idEstadoRH">Motivo de bajas</label> <br>-->
<!--            <p-dropdown [options]="estados" formControlName="idEstadoRH" placeholder='Seleccione una opcion'-->
<!--                        id="idEstadoRH"-->
<!--                         [style]="{'width':'100%'}"></p-dropdown>-->

            <mat-form-field>
              <mat-label>MOTIVO DE BAJAS</mat-label>
              <mat-select formControlName="idEstadoRH" id="idEstadoRH">
                <mat-option *ngFor="let estado of estados" [value]="estado.value">
                  {{estado.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
<!--              <label for="detalleBaja">Comentario</label> <br>-->
              <textarea matInput id="detalleBaja" type="text" formControlName="detalleBaja" class="form-control"
                        oninput="this.value=this.value.toUpperCase()" placeholder="COMENTARIO"
                        [pKeyFilter]="letrasNumeros" style="padding: 0px;"
                        onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
              <mat-hint
                *ngIf="!bajaEmpleadoForm.controls['detalleBaja'].valid&&bajaEmpleadoForm.controls['detalleBaja'].dirty">
                Se requiere el campo lleno
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">

<!--            <label for="fechaBaja">Fecha de baja</label>-->
<!--            <input nbInput type="date" formControlName="fechaBaja" shape="semi-round" placeholder="Fecha de baja"-->
<!--                   id="fechaBaja" fullWidth name="somedate"/>-->
<!--            <mat-hint -->
<!--                      *ngIf="!bajaEmpleadoForm.controls['fechaBaja'].valid&&bajaEmpleadoForm.controls['fechaBaja'].dirty">-->
<!--              Se requiere una fecha adecuada-->
<!--            </mat-hint>-->
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA DE BAJA" formControlName="fechaBaja"
                     shape="semi-round"
                     id="fechaBaja" fullWidth name="somedate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint
                *ngIf="!bajaEmpleadoForm.controls['fechaBaja'].valid&&bajaEmpleadoForm.controls['fechaBaja'].dirty">
                Se requiere una fecha adecuada
              </mat-hint>
            </mat-form-field>

          </div>
          <div class="form-group">
<!--            <label for="recontratable">Recontratable</label>-->
<!--            <p-dropdown [options]="recontratable" formControlName="recontratable" placeholder="Seleccione una opcion"-->
<!--                        id="recontratable"  [style]="{'width':'100%'}"></p-dropdown>-->
            <mat-form-field>
              <mat-label>RECONTRATABLE</mat-label>
              <mat-select formControlName="recontratable" id="recontratable">
                <mat-option *ngFor="let r of recontratable" [value]="r.value">
                  {{r.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-button (click)="bajaEmpleado()" [disabled]="!bajaEmpleadoForm.valid">Aceptar</button>
      <button mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>
