mat-card{
  padding: 5% 7%;
  width: 130%;
}

.mat-card-header {
  text-align: center;
  display: block;
}

button {
  background-color: #111218;
  color: white;
}
button:disabled{
  background-color: transparent;
}
.mat-button:focus {
  outline: none;
  border: none;
}
.mat-button{
  border: none;
  width: 100%;
}

.message {
  margin-bottom: 10px;
}

.mat-form-field {
  width: 100%;
}

.form-control:focus {
  border: none;
}
.form-control {
  border: none;
}

.mat-chip.mat-standard-chip {
  background-color: #111218;
  color: #fff;
  font-weight: nomal;
}


