<mat-card class="example-form">
  <mat-card-title>
    MODIFICAR EXTENSIÓN
  </mat-card-title>
  <mat-card-content>

    <p *ngIf="extensionActual !== undefined; else usuarioSinExtension">
      Extensión actual del usuario: {{extensionActual}}
    </p>
    <ng-template #usuarioSinExtension>
      El usuario no tiene ninguna extensión asignada
    </ng-template>
    <mat-form-field>
      <mat-label *ngIf="desactivarDropDown; else elseBlock">Sin extensiones disponibles para {{tipoUsuario}}</mat-label>
      <ng-template #elseBlock>
        <mat-label *ngIf="extensionAGuardar != undefined; else elseBlock">Extension seleccionada</mat-label>
        <ng-template #elseBlock>
          <mat-label>Extensiones disponibles</mat-label>
        </ng-template>
      </ng-template>
      <mat-select [disabled]="desactivarDropDown">
        <mat-option *ngFor="let extension of extensiones" [value]="extension.value" (click)="extensionSeleccionada(extension.value)">
          {{extension.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="ocultarDesvincularExtension && extensionAGuardar != undefined">
      <mat-checkbox [(ngModel)]="activarInputCorreo" (click)="cambiaEstadoBotonGuardar()"> ¿Deseas modificar el correo del ejecutivo?</mat-checkbox>
      <div *ngIf="activarInputCorreo">
        <div class="correoEjecutivo">
          <mat-form-field>
            <input matInput placeholder="Nuevo correo del ejecutivo" [(ngModel)]="nuevoCorreo" (ngModelChange)="verificaExistenciaCorreo()"/>
          </mat-form-field>
          <div class="arroba">@</div>
          <mat-form-field>
            <mat-label *ngIf="dominioSeleccionado === undefined; else elseBlock">Dominios disponibles</mat-label>
            <ng-template #elseBlock> <mat-label>Dominio seleccionado</mat-label> </ng-template>
            <mat-select>
              <mat-option *ngFor="let dominio of dominiosDisponibles" [value]="dominio.value" (click)="verificaExistenciaCorreo(dominio.value)">
                {{dominio.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="correoExistente!== undefined">
          <p *ngIf="correoExistente === false; else elseBlock" > Correo diponible</p>
          <ng-template #elseBlock>
            <p *ngIf="correoExistente === true"> Correo NO disponible</p>
          </ng-template>
        </div>
        <p ></p>
        <p><span>*</span><strong>El correo actual del ejecutivo es:</strong> {{correoActual}}</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" [disabled]="!ocultarDesvincularExtension" (click)= "desvincularExtension()">Desvincular extensión</button>
    <button mat-raised-button color="primary" [disabled]="!activarBoton" (click) = "modificarExtension()"> Guardar </button>
    <button mat-raised-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
