<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo == 1">AÑADIR SEDE</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR SEDE</mat-card-title>
  <mat-card-content>
    <form [formGroup]="sedeCreateForm">

  <div class="row">

        <div class="left col-sm-6">

          <div *ngIf="idTipo == 1 || idTipo == 2">


            <div class="form-group">

<!--              <label for="idPais">Pais</label>-->
<!--              <p-dropdown [options]="pais" formControlName="idPais"-->
<!--                          placeholder="Pais" -->
<!--                          id="idPais"-->
<!--                          [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field style="margin-top: 17px">
                <mat-label>PAÍS</mat-label>
                <mat-select formControlName="idPais" id="idPais">
                  <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id">
                    {{pais.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="idPais">Empresa</label>-->
<!--              <p-dropdown [options]="empresa" formControlName="idEmpresa"-->
<!--                          placeholder="empresa"-->
<!--                          id="idEmpresa"-->
<!--                          [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field style="margin-top: 17px">
                <mat-label>EMPRESA</mat-label>
                <mat-select formControlName="idEmpresa" id="idEmpresa">
                  <mat-option *ngFor="let e of empresaO" [value]="e.id">
                    {{e.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="nombre">Nombre</label>-->
<!--              <input matInput type="text" class="form-control"-->
<!--                     formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="nombre"/>-->
<!--              <mat-hint status="danger"-->
<!--                        *ngIf="!sedeCreateForm.controls['nombre'].valid && sedeCreateForm.controls['nombre'].dirty">-->
<!--                El Campo es requerido-->
<!--              </mat-hint>-->
              <mat-form-field>
                <input matInput type="text" class="form-control"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="NOMBRE" id="nombre"/>
                <mat-hint *ngIf="!sedeCreateForm.controls['nombre'].valid && sedeCreateForm.controls['nombre'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>

            </div>
            <div class="form-group">
<!--              <label for="cp">Codigo Postal</label>-->
<!--              <input matInput type="text" class="form-control"-->
<!--                     formControlName="cp" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="cp" (keyup)="getColonias($event.target.value)"/>-->
<!--              <mat-hint status="danger"-->
<!--                        *ngIf="!sedeCreateForm.controls['cp'].valid && sedeCreateForm.controls['cp'].dirty">-->
<!--                El Campo es requerido-->
<!--              </mat-hint>-->
              <mat-form-field>
                <input matInput type="text" class="form-control"
                       formControlName="cp" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="CÓDIGO POSTAL" id="cp" (keyup)="getColonias($event.target.value)"/>
                <mat-hint *ngIf="!sedeCreateForm.controls['cp'].valid && sedeCreateForm.controls['cp'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>

          <div class="right col-sm-6">

            <div class="form-group">
<!--              <label for="colonia">Colonia</label>-->
<!--              <input matInput type="text" class="form-control"-->
<!--                     formControlName="colonia" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="colonia"/>-->
<!--&lt;!&ndash;              <p-dropdown [options]="colonias" formControlName="colonia" id="colonia" placeholder="Colonia"&ndash;&gt;-->
<!--&lt;!&ndash;                          [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>&ndash;&gt;-->
<!--              <mat-hint status="danger" *ngIf="!sedeCreateForm.controls['colonia'].valid && sedeCreateForm.controls['colonia'].dirty">-->
<!--                Se requiere llenar el campo </mat-hint>-->
              <mat-form-field>
                <input matInput type="text" class="form-control"
                       formControlName="colonia" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="COLONIA" id="colonia"/>
                <!--              <p-dropdown [options]="colonias" formControlName="colonia" id="colonia" placeholder="Colonia"-->
                <!--                          [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>-->
                <mat-hint *ngIf="!sedeCreateForm.controls['colonia'].valid && sedeCreateForm.controls['colonia'].dirty">
                  Se requiere llenar el campo </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="calle">Calle</label>-->
<!--              <input matInput type="text" class="form-control"-->
<!--                     formControlName="calle" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="calle"/>-->
<!--              <mat-hint status="danger"-->
<!--                        *ngIf="!sedeCreateForm.controls['calle'].valid && sedeCreateForm.controls['calle'].dirty">-->
<!--                El Campo es requerido-->
<!--              </mat-hint>-->
              <mat-form-field>
                <input matInput type="text" class="form-control"
                       formControlName="calle" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="CALLE" id="calle"/>
                <mat-hint *ngIf="!sedeCreateForm.controls['calle'].valid && sedeCreateForm.controls['calle'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="numero">Numero</label>-->
<!--              <input matInput type="text" class="form-control"-->
<!--                     formControlName="numero" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="numero"/>-->
<!--              <mat-hint status="danger"-->
<!--                        *ngIf="!sedeCreateForm.controls['numero'].valid && sedeCreateForm.controls['numero'].dirty">-->
<!--                El Campo es requerido-->
<!--              </mat-hint>-->
              <mat-form-field>
                <input matInput type="text" class="form-control"
                       formControlName="numero" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="NÚMERO" id="numero"/>
                <mat-hint *ngIf="!sedeCreateForm.controls['numero'].valid && sedeCreateForm.controls['numero'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
        </div>
</div>
    </form>

  </mat-card-content>
  <mat-card-actions>
      <div class="actions">
        <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarSede()"
                [disabled]="!sedeCreateForm.valid">Guardar
        </button>
        <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateSede()"
                [disabled]="!sedeCreateForm.valid">Modificar
        </button>
        <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
      </div>
  </mat-card-actions>
</mat-card>


