.example-form {
  min-width: 350px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

input {
  border: none;
  padding: 0!important;
}

.form-control {
  border: none;
  font-size: 1rem;
}
.form-control:focus {
  border: none;
}


mat-form-field {
  margin-right: 12px;
  width: 100%;
}

mat-card {
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}

.mat-hint {
  color: tomato!important;
  transition: all 0.5s;
}

mat-card-actions {
  text-align: right;
}
mat-card-actions button {
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}

