<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo !== 2">ASIGNAR PRODUCTO</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR PRODUCTO</mat-card-title>
  <mat-card-content>
    <form [formGroup]="asignarProductoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
<!--            <label for="idTipoProducto">Producto</label>-->
<!--            <p-dropdown [options]="tipoProductos" formControlName="idTipoProducto" placeholder="Tipo Producto" id="idTipoProducto"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
            <mat-form-field>
              <input matInput type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="NOMBRE"
                     onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" autocomplete="off"/>
              <mat-hint *ngIf="!asignarProductoForm.controls['nombre'].valid&&asignarProductoForm.controls['nombre'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>PRODUCTO</mat-label>
              <mat-select formControlName="idTipoProducto" id="idTipoProducto">
                <mat-option *ngFor="let tipo of tipoProducto" [value]="tipo.id">
                  {{tipo.tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
<!--            <label for="prioridad">Prioridad<span style="color: #0bbb79;">*</span></label>-->
<!--            <p-dropdown [options]="prioridadVal" formControlName="prioridad" id="prioridad"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
<!--                        placeholder="Seleccione prioridad"></p-dropdown>-->

            <mat-form-field>
              <mat-label>PRIORIDAD</mat-label>
              <mat-select formControlName="prioridad" id="prioridad">
                <mat-option *ngFor="let priori of prioridadVal" [value]="priori.value">
                  {{priori.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="nombre">Nombre</label>-->
<!--            <input matInput type="text" formControlName="nombre" class="form-control" id="nombre"-->
<!--                   onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" autocomplete="off"/>-->
<!--            <mat-hint status="danger"-->
<!--                      *ngIf="!asignarProductoForm.controls['nombre'].valid&&asignarProductoForm.controls['nombre'].dirty">-->
<!--              Se requiere llenar el campo adecuadamente-->
<!--            </mat-hint>-->
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="guardarProducto()" *ngIf="idTipo !== 2"
            [disabled]="!asignarProductoForm.valid">Guardar
    </button>
    <button mat-button (click)="updateProducto()" *ngIf="idTipo === 2"
            [disabled]="!asignarProductoForm.valid">Actualizar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
