<script src="solicitud-create.component.ts"></script>
<mat-card class="m-3">
<mat-card-header>
  <mat-card-title *ngIf="idTipo !== 1; else updt">CREAR SOLICITUD</mat-card-title>
</mat-card-header>

<ng-template #updt>
  <mat-card-header>
    <mat-card-title>MODIFICAR SOLICITUD</mat-card-title>
  </mat-card-header>
  <h4 *ngIf="solicitudEliminada === true" class="btn-warning">¡Atención esta solicitud ha sido Eliminada!</h4>
</ng-template>
<mat-card-content>
  <form [formGroup]="crearSolicitudForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">

          <mat-form-field>
            <input matInput type="text" formControlName="nombre" class="form-control" placeholder="NOMBRE"
                   oninput="this.value = this.value.toUpperCase()" maxlength="40" id="nombre" [pKeyFilter]="letrasPunto"
                   onDrop="return false" onPaste="return false" autocomplete="off"/>
            <mat-hint *ngIf="!crearSolicitudForm.controls['nombre'].valid&&crearSolicitudForm.controls['nombre'].dirty">
              ¡El Nombre es requerido!</mat-hint>
          </mat-form-field>

        </div>
        <div class="form-group">

           <mat-form-field>
            <input matInput type="text" formControlName="apellidoPaterno" placeholder="APELLIDO PATERNO"
                   oninput="this.value = this.value.toUpperCase()" maxlength="40"
                   id="apellidoPaterno" class="form-control" [pKeyFilter]="soloLetras"
                   onDrop="return false" onPaste="return false" autocomplete="off"/>
            <mat-hint *ngIf="!crearSolicitudForm.controls['apellidoPaterno'].valid&&crearSolicitudForm.controls['apellidoPaterno'].dirty">
              ¡El Apellido es requerido!</mat-hint>
          </mat-form-field>
        </div>

        <div class="form-group">

          <mat-form-field>
            <input matInput type="text" formControlName="apellidoMaterno" placeholder="APELLIDO MATERNO"
                   oninput="this.value = this.value.toUpperCase()" maxlength="40"
                   id="apellidoMaterno" class="form-control" [pKeyFilter]="soloLetras"
                   onDrop="return false" onPaste="return false" autocomplete="off"/>
            <mat-hint *ngIf="!crearSolicitudForm.controls['apellidoMaterno'].valid&&crearSolicitudForm.controls['apellidoMaterno'].dirty">
              ¡El Apellido es requerido!</mat-hint>
          </mat-form-field>
        </div>

        <div class="form-group">

          <mat-form-field>
            <input matInput type="text" formControlName="edad" placeholder="EDAD" id="edad"
                   class="form-control" [maxlength]="2" [pKeyFilter]="numeros"
                   onDrop="return false" onPaste="return false"/>
            <mat-hint *ngIf="!crearSolicitudForm.controls['edad'].valid&&crearSolicitudForm.controls['edad'].dirty">
              Se requiere ser mayor de edad</mat-hint>
          </mat-form-field>
        </div>

        <div class="form-group">

          <mat-form-field>

            <input matInput type="email" formControlName="correo" placeholder="CORREO ELECTRÓNICO" id="correo"
                   oninput="this.value = this.value.toUpperCase()"
                   class="form-control"
                   onDrop="return false" onPaste="return false"/>
            <mat-hint status="danger" *ngIf="!crearSolicitudForm.controls['correo'].valid&&crearSolicitudForm.controls['correo'].dirty">
              Es requerido un correo correcto</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <!--*************************************************COLUMNA DOS****************************************************************************-->
      <div class="col-sm-6">
        <div class="form-group">

          <mat-form-field>
            <input matInput type="text" formControlName="telefono" placeholder="TELÉFONO MÓVIL" id="telefono"
                   class="form-control" maxlength="10" minlength="10" [pKeyFilter]="numeros"
                   onDrop="return false" onPaste="return false"/>
            <mat-hint *ngIf="!crearSolicitudForm.controls['telefono'].valid&&crearSolicitudForm.controls['telefono'].dirty">
              Se requiere 10 dígitos</mat-hint>
          </mat-form-field>
        </div>

        <div class="form-group" *ngIf="idTipo !== 1">

          <mat-form-field id="dropReclutador">
            <mat-label>RECLUTADOR</mat-label>
            <mat-select formControlName="idReclutador" id="dropReclutador">
              <mat-option *ngFor="let recluta of reclutador" [value]="recluta.value">
                {{recluta.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">

          <mat-form-field id="dropBolsa">
            <mat-label>BOLSA DE TRABAJO</mat-label>
            <mat-select formControlName="idBolsaTrabajo" id="idBolsaTrabajo">
              <mat-option *ngFor="let bolsa of bolsasTrabajo" [value]="bolsa.id">
                {{bolsa.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">

          <mat-form-field>
            <input matInput type="text" formControlName="cp" placeholder="CÓDIGO POSTAL" id="cp"
                   class="form-control" maxlength="5" [pKeyFilter]="numeros"
                   onDrop="return false" onPaste="return false"/>
            <mat-hint *ngIf="!crearSolicitudForm.controls['cp'].valid&&crearSolicitudForm.controls['cp'].dirty">
              Se requiere 5 digitos</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-card-content>

<mat-card-actions class="">
  <button mat-button (click)="crearSolicitud()" [disabled]="!crearSolicitudForm.valid || inactivo === true"
          *ngIf="idTipo !== 1">
    Guardar</button>
  <button mat-button (click)="actualizarSolicitud()" [disabled]="!crearSolicitudForm.valid || inactivo === true"
          *ngIf="idTipo === 1">
    Modificar</button>
  <button mat-button (click)="dismiss()">Cerrar</button>
</mat-card-actions>
</mat-card>
