<mat-card class="example-form">
  <mat-card-title>
    AGREGAR NODO
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="agregarNodoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group" >

            <mat-form-field class="example-full-width">
              <input class="form-control" matInput type="text" formControlName="nombreNodo" oninput="this.value = this.value.toUpperCase()"
                     placeholder="NOMBRE DEL NODO" id="nombreNodo"  />
              <mat-hint *ngIf="!agregarNodoForm.controls['nombreNodo'].valid&&agregarNodoForm.controls['nombreNodo'].dirty">
                NOMBRENODO <strong>obligatorio</strong>
              </mat-hint>
            </mat-form-field>

          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardarNodo()" [disabled]="!agregarNodoForm.valid"> Guardar</button>
    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>
