<mat-card class="m-3 example-form">
  <mat-card-header *ngIf="idTipo !== 2 && idTipo !== 3">
    <mat-card-title> ASIGNAR ROLL-PLAY </mat-card-title>
  </mat-card-header>

  <mat-card-header *ngIf="idTipo === 2 || idTipo === 3">
    <mat-card-title>ACTUALIZAR ROLL-PLAY</mat-card-title>
  </mat-card-header>
  <mat-card-header>{{nombreCompleto}}</mat-card-header>
  <mat-card-content>
    <h4 *ngIf="seguimientoEliminado === true" class="btn-warning text-center">¡Atención este roll play ha sido Eliminado!</h4>
    <h4 *ngIf="teoricoEliminado === true" class="btn-warning text-center">¡Atención este teórico ha sido Eliminado!</h4>
    <form [formGroup]="seguimientoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">

            <mat-form-field>
              <mat-label>CAPACITADOR</mat-label>
              <mat-select formControlName="idCoach" id="idCoach">
                <mat-option *ngFor="let name of reclutadores" [value]="name.id">
                  {{name.nombre + ' ' + name.apellidoPaterno + ' ' + name.apellidoMaterno + ' - ' + name.id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-group">

            <mat-form-field>
              <mat-label>CALIFICACIÓN ROLLPLAY</mat-label>
              <mat-select formControlName="calificacionRollPlay" id="calificacionRollPlay">
                <mat-option *ngFor="let roll of rollplay" [value]="roll.value">
                  {{roll.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-group">

            <mat-form-field>
              <textarea matInput id="comentarios" type="text" formControlName="comentarios" class="form-control"
                        oninput="this.value=this.value.toUpperCase()" maxlength="100" placeholder="COMENTARIO" style="padding: 0;"
                        [pKeyFilter]="letrasNumeros" onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
              <mat-hint *ngIf="!seguimientoForm.controls['comentarios'].valid&&seguimientoForm.controls['comentarios'].dirty">
                        Se requiere el campo lleno</mat-hint>
            </mat-form-field>
          </div>


          <div class="form-group">

            <mat-form-field>
              <mat-label>SUBAREA</mat-label>
              <mat-select formControlName="idSubarea" id="idSubarea">
                <mat-option *ngFor="let sub of subareas" [value]="sub.id">
                  {{sub.subarea}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-group">

            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="fechaIngreso" id="fechaIngreso" class="form-control"
                     placeholder="FECHA DE INGRESO" style="padding: 0px;">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!seguimientoForm.controls['fechaIngreso'].valid&&seguimientoForm.controls['fechaIngreso'].dirty">
                Se requiere una fecha</mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button (click)="guardarSegimiento()" [disabled]="!seguimientoForm.valid || inactivo === true" *ngIf="idTipo !== 2 && idTipo !== 3">Guardar</button>
    <button mat-button (click)="updateSeguimiento()" [disabled]="!seguimientoForm.valid || inactivo === true" *ngIf="idTipo === 2 || idTipo === 3">Actualizar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
