<mat-card>
  <mat-card-header>
    <div class="title">
      <div class="text-title">ACTUALIZAR PRIVILEGIOS</div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="permisosForm" (ngSubmit)="modificarGrupoUsuario()">
      <div class="campo">
        <div class="regresar" routerLink="/modulos/ti/permisos">
          <mat-icon>keyboard_arrow_left</mat-icon><span>REGRESAR</span>
        </div>
        <span style="color: #e21c51; opacity: 0;"
          >Los campos con * son OBLIGATORIOS</span
        >
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="nombre"
                placeholder="NOMBRE"
                class="form-control"
                oninput="this.value = this.value.toUpperCase()"
                maxlength="40"
                id="nombre"
                autocomplete="off"
              />
              <mat-hint
                *ngIf="
                  !permisosForm.controls['nombre'].valid &&
                  permisosForm.controls['nombre'].dirty
                "
              >
                ¡El Nombre es requerido!</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>GRUPO EMPRESARIAL (1)</mat-label>
              <mat-select
                formControlName="idGrupo"
                id="idGrupo"
                (selectionChange)="getEmpresa($event.value)"
              >
                <mat-option *ngFor="let grupo of Grupos" [value]="grupo.id">
                  {{ grupo.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarGrupo"
                >Agrega una opcion desde su catálogo</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">


            <mat-form-field>
              <mat-label>EMPRESA (2)</mat-label>
              <mat-select
                formControlName="idEmpresa"
                id="idEmpresa"
                (selectionChange)="getSedes($event.value)"
              >
                <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
                  {{ empresa.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarEmpresa"
                >Agrega una opcion desde su catálogo</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>SEDE (3)</mat-label>
              <mat-select
                formControlName="idSede"
                id="idSede"
                (selectionChange)="getArea($event.value)">
                <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                  {{ sede.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarSede"
                >Agrega una opcion desde su catálogo</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <TABLE>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>DESCARGA PNC</mat-label>
                    <mat-select formControlName="descargarPNC" id="seleccionm">
                      <mat-option
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>DESCARGA PNE</mat-label>
                    <mat-select formControlName="descargarPNE" id="seleccio2">
                      <mat-option
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </TABLE>

            <br />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input
                matInput
                type="text"
                formControlName="descripcion"
                placeholder="DESCRIPCIÓN"
                class="form-control"
                oninput="this.value = this.value.toUpperCase()"
                maxlength="40"
                id="descripcion"
                autocomplete="off"
              />
              <mat-hint
                *ngIf="
                  !permisosForm.controls['descripcion'].valid &&
                  permisosForm.controls['descripcion'].dirty
                "
              >
                ¡El Nombre es requerido!</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>ÁREA (4)</mat-label>
              <mat-select
                formControlName="idArea"
                id="idArea"
                (selectionChange)="getSubarea($event.value)">
                <mat-option *ngFor="let area of areas" [value]="area.id">
                  {{ area.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarArea">Agrega una opcion desde su catálogo</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>SUBÁREA (5)</mat-label>
              <mat-select formControlName="idSubarea" id="idSubarea" (selectionChange)="getPuesto()">
                <mat-option *ngFor="let sub of subareas" [value]="sub.id">
                  {{ sub.subarea }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarSubarea"
                >Agrega una opcion desde su catálogo</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>PUESTO (6)</mat-label>
              <mat-select formControlName="idPuesto" id="idPuesto" (selectionChange)="getPermisosVisualizacion()">
                <mat-option *ngFor="let puesto of puestos" [value]="puesto.id">
                  {{ puesto.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarPuesto">No existe puesto crear uno</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>PERMISOS DE VISUALIZACIÓN</mat-label>
              <mat-select formControlName="idPermisosVisualizacion">
                <mat-option *ngFor="let permiso of permisosVisualizacion" [value]="permiso.id">
                  {{ permiso.descripcion }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="mostrarPermisoVisualizacion">No existe puesto crear uno</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>RECURSOS HUMANOS</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="table">
              <table>
                <tr>
                  <th>MODULOS</th>
                  <th>ACTIVO</th>
                  <th>ESCRITURA</th>
                </tr>

                <tr *ngFor="let p of permisos_rh">
                  <th>{{ p | uppercase }}</th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ACTIVO{{ p }}"
                      id="seleccion1"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ESCRITURA{{ p }}"
                      id="seleccion2"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>TI</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="table">
              <table>
                <tr>
                  <th>MODULOS</th>
                  <th>ACTIVO</th>
                  <th>ESCRITURA</th>
                </tr>

                <tr *ngFor="let ti of permisos_ti">
                  <th>{{ ti | uppercase }}</th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ACTIVO{{ ti }}"
                      id="seleccion1"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>

                  <th>
                    <mat-button-toggle-group
                      name="fontStyle"
                      aria-label="Font Style"
                      formControlName="ESCRITURA{{ ti }}"
                      id="seleccion2"
                    >
                      <mat-button-toggle
                        value="bold"
                        *ngFor="let sel of seleccion2"
                        [value]="sel.value"
                      >
                        {{ sel.label }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </th>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>MARKETING</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="table">
              <table>
                <tr>
                  <th>MODULOS</th>
                  <th>ACTIVO</th>
                  <th>ESCRITURA</th>
                </tr>

                <tr *ngFor="let m of permisos_m">
                  <th>{{ m | uppercase }}</th>

                  <th>
                    <mat-button-toggle-group
                    name="fontStyle"
                    aria-label="Font Style"
                    formControlName="ACTIVO{{ m }}"
                    id="seleccion1"
                  >
                    <mat-button-toggle
                      value="bold"
                      *ngFor="let sel of seleccion2"
                      [value]="sel.value"
                    >
                      {{ sel.label }}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  </th>

                  <th>
                    <mat-button-toggle-group
                    name="fontStyle"
                    aria-label="Font Style"
                    formControlName="ESCRITURA{{ m }}"
                    id="seleccion2"
                  >
                    <mat-button-toggle
                      value="bold"
                      *ngFor="let sel of seleccion2"
                      [value]="sel.value"
                    >
                      {{ sel.label }}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  </th>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>COMERCIAL</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="table">
              <table>
                <tr>
                  <th>MODULOS</th>
                  <th>ACTIVO</th>
                  <th>ESCRITURA</th>
                </tr>

                <tr *ngFor="let c of permisos_c">
                  <th>{{ c | uppercase }}</th>

                  <th>
                    <mat-button-toggle-group
                    name="fontStyle"
                    aria-label="Font Style"
                    formControlName="ACTIVO{{ c }}"
                    id="seleccion1"
                  >
                    <mat-button-toggle
                      value="bold"
                      *ngFor="let sel of seleccion2"
                      [value]="sel.value"
                    >
                      {{ sel.label }}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  </th>

                  <th>
                    <mat-button-toggle-group
                    name="fontStyle"
                    aria-label="Font Style"
                    formControlName="ESCRITURA{{ c }}"
                    id="seleccion2"
                  >
                    <mat-button-toggle
                      value="bold"
                      *ngFor="let sel of seleccion2"
                      [value]="sel.value"
                    >
                      {{ sel.label }}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  </th>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <button mat-button id="submit" type="submit" class="btn-block">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
