mat-form-field {
  width: 90%;
}
mat-list .mat-list-item-content {
  padding: 0 !important;
}
.modulos .mat-form-field {
  width: 50%;
}
table {
  width: 100%;
}
hr {
  width: 70%;
  margin: 2% auto;
}
mat-card {
  padding: 0;
  font-family: 'Montserrat', Arial;
}
.title{
  width: 100%;
  text-align: center;
  background-color: #354089;
  margin-bottom: 2%;
  border-radius: 0px 0px 15px 15px;
}
.title .text-title {
  position: relative;
  display: block;
  color: white;
  padding: 2.5% 0%;
  font-family: Montserrat, Arial;
  font-size: 1.4em;
  letter-spacing: 2px;
}

input {
  height: 35px;
  width: 100%;
  border: none;
  padding: 0;
  font-weight: 500;
  color: #111218;
}

input:focus {

  border: none;
}


.mat-hint {
  color: tomato;
}

.form-control:focus {
  border: none;
}
.form-control {
  border: none;
  padding: 0px;
  background-color: transparent;
}

#submit {
  width: 30%;
  margin: 6% auto;
  background-color: #111218;
  color: #fff;
  border: 1px solid #111218;
  display: block;
}
#submit:disabled {
  border: 1px solid #138d75;
  background-color: transparent;
  color: #138d75;
  opacity: 0.6;
}

form{
  width: 80%;
  margin: 0 auto;
}

mat-option {
  font-weight: 600;
}

mat-card .campo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #111218;
  margin: auto;
  margin-bottom: 5%;
}
.regresar mat-icon {
  font-size: 3.5em;
  cursor: pointer;
  color: #354089;
}
.regresar span {
  margin-top: 19px;
  margin-left: 12px;
  font-size: 0.8em;
  color: #354089;
  font-weight: bold;
}

.campo .regresar {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  margin-top: -10px;
  cursor: pointer;
}
// nuevos estilos permisos
::ng-deep .mat-expansion-indicator:after {
  color: navy;
}
::ng-deep .mat-expansion-panel-header-title {
  color: cadetblue;
}
 #seleccion1 .mat-button-toggle-checked {
  background-color: #354089;
  color: #fff;
}
#seleccion2 .mat-button-toggle-checked {
  background-color: #1A5276;
  color: #fff;
}