<mat-card class="m-3">
  <mat-card-header >
    <mat-card-title >MODIFICAR ESTADO SOLICITUD</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="estadoSolcitudCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="comentarios" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="COMENTARIOS" id="comentarios" onDrop="return false" onPaste="return false" autocomplete="off" />
                <mat-hint *ngIf="!estadoSolcitudCreateForm.controls['comentarios'].valid&&estadoSolcitudCreateForm.controls['comentarios'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>ESTADO SOLICITUD</mat-label>
                <mat-select formControlName="idEstadoSolicitud" id="idEstadoSolicitud">
                  <mat-option *ngFor="let estadoSolicitud of estadoSolicitud" [value]="estadoSolicitud.id">
                    {{estadoSolicitud.estado}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="actualizar" (click)="actualizarEstadoSolicitud()" [disabled]="!estadoSolcitudCreateForm.valid">Modicar
    </button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

