<nb-card>
  <nb-card-header>
  </nb-card-header>
  <nb-card-body>


    <label> Datos cambiados de Correo, exito</label>
  </nb-card-body>


  <nb-card-footer>

    <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>

  </nb-card-footer>
</nb-card>

