.example-form {
  min-width: 350px;
  width: 100%;
}

input{
  border: none;
  padding: 0px!important;
}

.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}


mat-form-field {
  width: 100%;
}


mat-card {
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}


mat-card-actions {
  text-align: right;
}
mat-card-actions button {
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

.detalles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detalles .col {
  width: 33%;
  margin: auto;
}

.detalles .col span {
  color: #354089;
  font-weight: 500;
}

.detalles .col .box {
  display: block;
  width: 60%;
  justify-self: center;
  margin: 0 auto;
}

.title {
  width: 100%;
  text-align: center;
}

.title span {
  color: #354089;
  font-weight: bold;
  font-size: 18px;
}

hr {
  opacity: 0;
}
