<mat-card class="example-form">
  <mat-card-title *ngIf="mostrar !== true">CREAR PROSPECTO</mat-card-title>
  <mat-card-title *ngIf="mostrar === true">ACTUALIZAR PROSPECTO</mat-card-title>

  <mat-card-content>
    <form [formGroup]="prospectoCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="correo" class="form-control" id="correo" oninput="this.value = this.value.toUpperCase()" placeholder="CORREO"
                     (keyup)="validaCorreo($event.target.value)" onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!prospectoCreateForm.controls['correo'].valid&&prospectoCreateForm.controls['correo'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="numero" class="form-control" id="numero" maxlength="10"
                     placeholder="TELEFONO MOVIL"
                     onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint *ngIf="!prospectoCreateForm.controls['numero'].valid&&prospectoCreateForm.controls['numero'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="nombre" class="form-control" id="nombre"
                     oninput="this.value = this.value.toUpperCase()" placeholder="NOMBRE"
                     onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="soloLetras"/>
              <mat-hint *ngIf="!prospectoCreateForm.controls['nombre'].valid&&prospectoCreateForm.controls['nombre'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>

          <!--   COLUMNA DOS       -->
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="mt-4">
              <mat-label>SELECCIONE EL GÉNERO</mat-label>
              <mat-select formControlName="sexo">
                <mat-option *ngFor="let genero of genero" [value]="genero.value"  id="sexo">
                  {{genero.label}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!prospectoCreateForm.controls['sexo'].valid&&prospectoCreateForm.controls['sexo'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="edad" class="form-control" id="edad" placeholder="EDAD" maxlength="2"
                     onDrop="return false" onPaste="return false" autocomplete="off" [pKeyFilter]="numero"/>
              <mat-hint
                *ngIf="!prospectoCreateForm.controls['edad'].valid&&prospectoCreateForm.controls['edad'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>

          <!--<div class="form-group">-->
          <!--<mat-form-field>-->
          <!--<input matInput [matDatepicker]="picker" placeholder="FECHA CREACION" class="form-control" formControlName="fechaCreacion" id="fechaCreacion">-->
          <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
          <!--<mat-datepicker #picker></mat-datepicker>-->
          <!--<mat-hint *ngIf="!prospectoCreateForm.controls['fechaCreacion'].valid&&prospectoCreateForm.controls['fechaCreacion'].dirty">-->
          <!--Se requiere llenar el campo-->
          <!--</mat-hint>-->
          <!--</mat-form-field>-->
          <!--</div>-->
          <div *ngIf="mostrar === true">
            <mat-hint *ngIf="productoExist === false"> No hay productos existentes. Por favor cree un Nuevo Producto</mat-hint>
            <mat-form-field *ngIf="productoExist !== false">
              <mat-label>Solicitudes</mat-label>
              <mat-select (selectionChange)="getSolictud($event.value)">
                <mat-option *ngFor="let datos of producto" [value]="datos.valor">
                  {{datos.labelo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <hr *ngIf="mostrarDetalle === true">

        <div class="col-md-12" *ngIf="mostrarDetalle === true">
          <div class="title">
            <span>DETALLE DE SOLICITUD</span>
          </div>
          <div class="detalles">

            <div class="col">
              <div class="box">
                <p><span>CP: </span> {{cp}} </p>
                <p><span>CLAVE: </span> {{clave}} </p>
                <p><span>MARCA: </span> {{marca}} </p>
              </div>

            </div>
            <div class="col">
              <div class="box">
                <p><span>MODELO: </span> {{modelo}} </p>
                <p><span>PAQUETE: </span> {{paquete}} </p>
                <p><span>SERVICIO: </span> {{servicio}} </p>
              </div>

            </div>
            <div class="col">
              <div class="box">
                <p><span>DESCUENTO: </span> {{descuento}} </p>
                <p><span>MOVIMIENTO: </span> {{movimiento}} </p>
                <p><span>ASEGURADORA: </span> {{aseguradora}} </p>
                <p><span>DESCRIPCION: </span> {{descripcion}} </p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions >
    <button mat-button (click)="dismiss()" [routerLink]="['/modulos/venta-nueva/cotizador-vn/', idProspectoExis]"
            [disabled]="!prospectoCreateForm.valid " *ngIf="mostrar === true">Crear Producto
    </button>
    <button mat-button  (click)="guardarProspecto()"
            [disabled]="!prospectoCreateForm.valid || this.submitted === true" *ngIf="mostrar === false">Guardar
    </button>
    <button mat-button  (click)="updateProspecto()"
            [disabled]="!prospectoCreateForm.valid " *ngIf="mostrar === true">Actualizar
    </button>
    <button mat-button  (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <!--<mat-card-actions *ngIf="idTipo === 2">-->
  <!--<button mat-button  (click)="updateEjecutivoCuenta()" [disabled]="!ejecutivoCuentaCreateForm.valid">Actualizar</button>-->
  <!--<button mat-button  (click)="dismiss()">Cerrar</button>-->
  <!--</mat-card-actions>-->
</mat-card>
