<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getPresupuesto(1)">
    </div>
  </div>
  <mat-card-content>
    <div>
      <div class="button-input">
        <div class="button">
        </div>
        <mat-card-title>OBJETIVO DE VENTAS</mat-card-title>
        <div class="input">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->

        <ng-container matColumnDef="alias">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SOCIOS ALIAS </th>
          <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="presupuesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PRESUPUESTO</th>
          <td mat-cell *matCellDef="let element"> {{element.presupuesto}} </td>
        </ng-container>

        <ng-container matColumnDef="anio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> AÑO Y MES</th>
          <td mat-cell *matCellDef="let element"> {{element.anio | date:"MMMM / yyyy" | uppercase}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef style="text-align: center"> ACCIONES </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center">

              <mat-card-actions>
                <mat-icon (click)="updatePresupuesto(element.id, element.idSocio)"
                           pTooltip="Actualizar Objetivo de Venta">edit</mat-icon>
                <mat-icon (click)="bajaPresupuesto(element.id)"
                           pTooltip="Baja de Objetivo de Venta" id="delete">delete_forever</mat-icon>
              </mat-card-actions>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>

