<mat-card class="example-form">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="MyCC">
        <iframe title="MostrarLlamada" width="1450"
                height="470" src="http://192.168.11.246/agent" ></iframe>
      </mat-tab>
      <mat-tab label="Datos">
        <div class="col-md-12">
          <div class="title">
            <span>DETALLE DE SOLICITUD</span>
          </div>
          <div class="detalles">

            <div class="col">
              <div class="box">
                <p><span>CP: </span> {{cp}} </p>
                <p><span>CLAVE: </span> {{clave}} </p>
                <p><span>MARCA: </span> {{marca}} </p>
              </div>

            </div>
            <div class="col">
              <div class="box">
                <p><span>MODELO: </span> {{modelo}} </p>
                <p><span>PAQUETE: </span> {{paquete}} </p>
                <p><span>SERVICIO: </span> {{servicio}} </p>
              </div>

            </div>
            <div class="col">
              <div class="box">
                <p><span>DESCUENTO: </span> {{descuento}} </p>
                <p><span>MOVIMIENTO: </span> {{movimiento}} </p>
                <p><span>ASEGURADORA: </span> {{aseguradora}} </p>
                <p><span>DESCRIPCION: </span> {{descripcion}} </p>
              </div>

            </div>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
