
<nb-card>
  <nb-card-header>
  </nb-card-header>
  <nb-card-body>

   Correo guardado exito
    <label> contraseña por default es Seguridad01</label>
  </nb-card-body>


  <nb-card-footer>

    <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>

  </nb-card-footer>
</nb-card>
