 <mat-card class="example-form">
  <mat-card-title *ngIf = "idTipo !== 2">SUBIR CONTRATO</mat-card-title>
  <mat-card-title *ngIf = "idTipo === 2">ACTUALIZAR CONTRATO</mat-card-title>
  <mat-card-content>
    <form [formGroup]="contratosCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">


<!--              <label for="fechaInicio">Inicio de Vigencia</label>-->
<!--              <input nbInput type="date" formControlName="fechaInicio"  shape="semi-round" placeholder="Fecha de Inicio"-->
<!--                     id="fechaInicio" fullWidth  [min]="min"/>-->
<!--              <mat-hint *ngIf="!contratosCreateForm.controls['fechaInicio'].valid&&contratosCreateForm.controls['fechaInicio'].dirty">-->
<!--                Se requiere una fecha adecuada</mat-hint>-->

            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="fechaInicio"  shape="semi-round" placeholder="INICIO DE VIGENCIA"
                     id="fechaInicio" fullWidth  [min]="minDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!contratosCreateForm.controls['fechaInicio'].valid&&contratosCreateForm.controls['fechaInicio'].dirty">
                Se requiere una fecha adecuada</mat-hint>
            </mat-form-field>


          </div>
          <div class="form-group">
<!--              <label for="fechaFin">Fin de Vigencia</label>-->
<!--              <input nbInput type="date" formControlName="fechaFin"  shape="semi-round" placeholder="Fecha de Inicio"-->
<!--                     id="fechaFin" fullWidth  [min]="min"/>-->
<!--              <mat-hint *ngIf="!contratosCreateForm.controls['fechaFin'].valid&&contratosCreateForm.controls['fechaFin'].dirty">-->
<!--                Se requiere una fecha adecuada</mat-hint>-->
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" [min]="minDate" formControlName="fechaFin"  shape="semi-round" placeholder="FIN DE VIGENCIA"
                     id="fechaFin" fullWidth  [min]="min">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-hint *ngIf="!contratosCreateForm.controls['fechaFin'].valid&&contratosCreateForm.controls['fechaFin'].dirty">
                Se requiere una fecha adecuada</mat-hint>
            </mat-form-field>

          </div>
          <div class="form-group">

<!--            <label for="referencia">Referencia</label>-->
<!--            <textarea pInputText type="text" formControlName="referencia" class="form-control" id="referencia"-->
<!--                      onDrop="return false" onPaste="return false" autocomplete="off" oninput="this.value = this.value.toUpperCase()"></textarea>-->
<!--            <mat-hint status="danger"-->
<!--                      *ngIf="!contratosCreateForm.controls['referencia'].valid&&contratosCreateForm.controls['referencia'].dirty">-->
<!--              Se requiere llenar el campo adecuadamente-->
<!--            </mat-hint>-->
            <mat-form-field>
              <textarea matInput type="text" formControlName="referencia" class="form-control" id="referencia" placeholder="REFERENCIA"
                        onDrop="return false" onPaste="return false" autocomplete="off" oninput="this.value = this.value.toUpperCase()"></textarea>
              <mat-hint *ngIf="!contratosCreateForm.controls['referencia'].valid&&contratosCreateForm.controls['referencia'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>

          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="guardarContrato()"
            [disabled]="!contratosCreateForm.valid" *ngIf = "idTipo !== 2">Guardar
    </button>
    <button *ngIf = "idTipo === 2" mat-button (click)="updateConveio()"
            [disabled]="!contratosCreateForm.valid || inactivo === true">Actualizar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
