<mat-card>
  <mat-card-header>
    <mat-card-title>EDITAR RECONTRATABLE</mat-card-title>
  </mat-card-header>
  <mat-card-header>{{nombre}}</mat-card-header>
  <mat-card-content>
    <h4 *ngIf="precandidatoReactivado === true" class="btn-warning text-center">¡Atención esta baja ha sido Reactivada!</h4>
    <form [formGroup]="recontratableForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
<!--            <label for="recontratable">Recontratable</label>-->
<!--            <p-dropdown [options]="recontratable" formControlName="recontratable" id="recontratable"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
<!--                        placeholder="Seleccione Recontratable"></p-dropdown>-->

            <mat-form-field>
              <mat-label>RECONTRATABLE</mat-label>
              <mat-select [(value)]="selected">
                <mat-option *ngFor="let re of recontratable" [value]="re.value">
                  {{re.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>

          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="updateRecontratable()" [disabled]="inactivo === true || selected === undefined">Actualizar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
