<nb-card>
  <nb-card-header>
    <nb-card-body>
      <!--<p>ejemplo@trigarante.com</p>-->
      <!--<p>Buscar si esta disponible</p>-->
      <!--<label class="form-control-label">Place to show toast:</label>-->
      <!--<div class="dropdown" ngbDropdown>-->
        <!--<button class="btn btn-primary" type="button" ngbDropdownToggle>-->
          <!--{{ position }} campaña-->
        <!--</button>-->
        <!--<ul ngbDropdownMenu class="dropdown-menu">-->
          <!--<li class="dropdown-item" *ngFor="let p of positions" (click)="position = p">-->
            <!--{{ p }}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->


      <!--<label class="form-control-label">Place to show toast:</label>-->
      <!--<div class="dropdown" ngbDropdown>-->
        <!--<button class="btn btn-primary" type="button" ngbDropdownToggle>-->
          <!--{{ position }}  subarea-->
        <!--</button>-->
        <!--<ul ngbDropdownMenu class="dropdown-menu">-->
          <!--<li class="dropdown-item" *ngFor="let p of positions" (click)="position = p">-->
            <!--{{ p }}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

      <!--<p>si esta disponible el correo ejemplo@trigarante.com</p>-->
      <!---->
    </nb-card-body>
  </nb-card-header>
  <nb-card-footer>

  </nb-card-footer>
</nb-card>
