<mat-card class="example-form" >
  <mat-card-title  *ngIf="bandera === true && banderaUsuarios !== true">
    CORREOS DE OTRAS SUB ÁREAS
  </mat-card-title>
  <mat-card-title  *ngIf="bandera === true && banderaUsuarios === true">
   HACER NUEVO CORREO
  </mat-card-title>

  {{textoaviso}}

  <mat-card-content>

    <form [formGroup]="supervisorForm">
      <div class="row justify-content-center">
        <div class="col-md-6">

          <div class="form-group" *ngIf="bandera === true">

<!--            <label for="dominios"> Tipo de Dominios disponibles</label>-->
<!--            <p-dropdown [options]="tiposdominios" formControlName="tiposdominios" placeholder="Seleccione tipo disponibles"-->
<!--                        id="dominios" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getdominios($event.value)">-->
<!--            </p-dropdown>-->

            <mat-form-field>
              <mat-label>TIPO DE DOMINIOS DISPONIBLES</mat-label>
              <mat-select formControlName="tiposdominios" id="dominios" (selectionChange)="getdominios($event.value)">
                <mat-option *ngFor="let dom of tiposdominios" [value]="dom.value">
                  {{dom.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group"  *ngIf="bandera === true  && banderaUsuarios === false">

<!--            <label for="correoSubareas">Correos disponibles de supervisores</label>-->
<!--            <p-dropdown [options]="correosdisponibles" formControlName="correosdisponibleSubareas" placeholder="Seleccione los correos "-->
<!--                        id="correoSubareas" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getcorreoprincialSubareas($event.value)">-->
<!--            </p-dropdown>-->

            <mat-form-field>
              <mat-label>CORREOS DISPONIBLES DE SUPERVISORES</mat-label>
              <mat-select formControlName="correosdisponibleSubareas" placeholder="Seleccione los correos "
                          id="correoSubareas" (selectionChange)="getcorreoprincialSubareas($event.value)">
                <mat-option *ngFor="let correo of correosdisponibles" [value]="correo.value">
                  {{correo.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="form-group" *ngIf="bandera === true ">
            <!--            <label for="privilegios">Permisos  </label>-->
            <!--            <p-dropdown [options]="grupUsuario" formControlName="privilegiocontrol" placeholder="Seleccione el permiso de grupo de usuario "-->
            <!--                        id="privilegios" [style]="{'width':'100%','border': '2px solid #dadfe6'}"  ></p-dropdown>-->

            <mat-form-field>
              <mat-label>PERMISOS</mat-label>
              <mat-select formControlName="privilegiocontrol" placeholder="Seleccione el permiso de grupo de usuario "
                          id="privilegios">
                <mat-option *ngFor="let gpo of grupoUsuario" [value]="gpo.id">
                  {{gpo.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="form-group" *ngIf="bandera === true">
            <!--            <label for="unidadOrganizativa">Unidad organizativa</label>-->
            <!--            <p-dropdown [options]="nombreUnidadesOrganizativas" formControlName="unidadOrganizativa" placeholder="Seleccione la unidad organizativa del usuario"-->
            <!--                        id="unidadOrganizativa" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>-->

            <mat-form-field>
              <mat-label>UNIDAD ORGANIZATIVA</mat-label>
              <mat-select formControlName="unidadOrganizativa" placeholder="Seleccione la unidad organizativa del usuario"
                          id="unidadOrganizativa">
                <mat-option *ngFor="let name of nombreUnidadesOrganizativas" [value]="name.value">
                  {{name.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


        </div>
          <div class="col-md-6">

            <div class="form-group" *ngIf="bandera === true" >

              <!--            <label for="dominioss">Dominios disponibles</label>-->
              <!--            <p-dropdown [options]="domainss" formControlName="dominio" placeholder="Seleccione los dominios disponibles"-->

              <!--                        id="dominioss" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getdomainss($event.value)"></p-dropdown>-->

              <mat-form-field>
                <mat-label>DOMINIOS DISPONIBLES</mat-label>
                <mat-select formControlName="dominio" id="dominioss" (selectionChange)="getdomainss($event.value)">
                  <mat-option *ngFor="let d of domainss" [value]="d.value">
                    {{d.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group" *ngIf="bandera === true ">

              <!--              <label for="extensioncontrol">Extension disponible  </label>-->
              <!--              <p-dropdown [options]="extensiones" formControlName="extensioncontrol" placeholder="Seleccione la extension disponible"-->
              <!--                          id="extensioncontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getextension($event.value)"></p-dropdown>-->

              <mat-form-field>
                <mat-label>EXTENSIÓN DISPONIBLE</mat-label>
                <mat-select formControlName="extensioncontrol" id="extensioncontrol" (selectionChange)="getextension($event.value)">
                  <mat-option *ngFor="let ext of extensiones" [value]="ext.value">
                    {{ext.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>



          <div class="form-group"  *ngIf="bandera === true  && banderaUsuarios1 === true" >
            <div class="form-group" *ngIf="estadoCorreo3 !== false">
              <label for="correomodificarsuper"> Correo ya se encuentra en uso modifica el nombre </label>
            </div>
              <mat-form-field>
                <input matInput type="text" formControlName="emailmodificado" class="form-control"
                       id="correomodificarsuper" (keyup)="getcorreofinal($event.target.value)" />
              </mat-form-field>

          </div>



          <div class="form-group"  *ngIf="bandera === true   && banderaUsuarios1 === false" >
            <div class="form-group" *ngIf="estadoCorreo3 !== false">
              <p style="text-decoration: underline; color: tomato"> Correo ya se encuentra en uso modifica el nombre </p>
            </div>
              <mat-form-field>
                <input matInput type="text" formControlName="emailmodificado" class="form-control"
                       id="correomodificarsuperf" (keyup)="getcorreofinal($event.target.value)" style="padding: 0px;" />
              </mat-form-field>

          </div>



          <div class="form-group" *ngIf="estadoCorreo3 == true">
            <label > {{estadofinal}} </label>

          </div>
          <div class="form-group" *ngIf="estadoCorreo3 == false">
            <label > {{estadofinal}} </label>

          </div>

        </div>


      </div>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <div class="actions">
      <button mat-button *ngIf="estadoCorreo3 === false " (click)="guardar()">Guardar</button>
      <button mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>


