<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getProductosSocios(1)">
    </div>
  </div>
  <mat-card-content>
    <div>
      <div class="button-input">
        <div class="button"></div>
        <mat-card-title>PRODUCTO</mat-card-title>
        <div class="input">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef  style="text-align: center">DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <mat-icon (click)="verDatos(element.id, element.idCategoria)" pTooltip="Ver detalles" id="verDetalles">
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="idCategoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SUB RAMO </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoSubRamo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIORIDAD</th>
          <td mat-cell *matCellDef="let element"> {{element.prioridades}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="idTipoProducto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO PRODUCTO </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef  style="text-align: center"> ACCIONES </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center">
            <div class="actions-comercial">

              <mat-icon (click)="asignarCompetencia(element.id)"
                         pTooltip="Asignar Competencia">assignment_turned_in</mat-icon>

              <mat-icon (click)="asignarCobertura(element.id)"
                         pTooltip="Asignar Cobertura">add_to_queue</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
