<mat-card>
  <mat-card-header>
  <mat-card-title *ngIf="idTipo !==2 ">ASIGNAR COBERTURA</mat-card-title>
  <mat-card-title *ngIf="idTipo ===2 ">ACTUALIZAR COBERTURA</mat-card-title>
  </mat-card-header>
  <!--<nb-card-header *ngIf="idTipo ===2 ">Modificar Cobertura</nb-card-header>-->
  <mat-card-content>
    <form [formGroup]="asignarCoberturaForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
<!--            <label for="idTipoCobertura">Tipo Cobertura</label>-->
<!--            <p-dropdown [options]="tipoCobertura" formControlName="idTipoCobertura" placeholder="Tipo Cobertura" id="idTipoCobertura"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

            <mat-form-field>
              <mat-label>TIPO COBERTURA</mat-label>
              <mat-select formControlName="idTipoCobertura" id="idTipoCobertura">
                <mat-option *ngFor="let type of tipoCoberturas" [value]="type.id">
                  {{type.cobertura}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="detalle">Detalle</label>-->
<!--            <input matInput type="text" formControlName="detalle" class="form-control" id="detalle" oninput="this.value = this.value.toUpperCase()"-->
<!--                   onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--            <mat-hint *ngIf="!asignarCoberturaForm.controls['detalle'].valid&&asignarCoberturaForm.controls['detalle'].dirty">-->
<!--              Se requiere llenar el campo adecuadamente-->
<!--            </mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="detalle" class="form-control" id="detalle" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="DETALLE" style="padding: 0"/>
              <mat-hint *ngIf="!asignarCoberturaForm.controls['detalle'].valid&&asignarCoberturaForm.controls['detalle'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="guardarCobertura()" *ngIf="idTipo !==2 "
            [disabled]="!asignarCoberturaForm.valid">Guardar
    </button>
    <button mat-button (click)="updateCobertura()" *ngIf="idTipo ===2 "
            [disabled]="!asignarCoberturaForm.valid">Actualizar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
