<mat-card class="view">

  <div class="header">
    <span id="titulo-modals">ASIGNACIONES</span>
  </div>

  <mat-card-content>
    <div class="nombre" id="box">
      <p id="title"><span>NOMBRE:</span> {{nombre}}</p>
    </div>

    <div class="apellidoPaterno" id="box">
      <p id="title"><span>CALIFICACIÓN ROLL-PLAY:</span> {{calificacionRollplay}}</p>
    </div>

    <div class="apellidoMaterno" id="box">
      <p id="title"><span>CALIFICACIÓN:</span> {{calificacion}}</p>
    </div>

    <div class="telefono" id="box">
      <p id="title"><span>COMENTARIOS:</span> {{comentarios}}</p>
    </div>

    <div class="sede" id="box">
      <p id="title"><span>SEDE:</span> {{sede}}</p>
    </div>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>

</mat-card>
