<mat-card class="example-form">
  <mat-card-title *ngIf="idTipo === 1">CREAR PROVEEDORES LEAD</mat-card-title>
  <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR PROVEEDORES LEAD</mat-card-title>
  <mat-card-content>
    <form [formGroup]="ProveedorCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">

            <mat-form-field>
              <input matInput type="text" formControlName="nombre" class="form-control" id="nombre" oninput="this.value = this.value.toUpperCase()" placeholder="NOMBRE DEL PROVEEDOR"
                     onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!ProveedorCreateForm.controls['nombre'].valid&&ProveedorCreateForm.controls['nombre'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>


          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="url" class="form-control" id="url" oninput="this.value = this.value.toUpperCase()" placeholder="URL"
                     onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!ProveedorCreateForm.controls['url'].valid&&ProveedorCreateForm.controls['url'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>

          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions >
    <button mat-button *ngIf="idTipo === 1" (click)="guardarTipoPagina()" [disabled]="!ProveedorCreateForm.valid">Guardar</button>
    <button mat-button *ngIf="idTipo === 2" (click)="updateTipoPagina()" [disabled]="!ProveedorCreateForm.valid">Modificar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>

</mat-card>
