//.custom-icon {
//  color: #0bbb79;
//  font-size: 20px;
//}
//
.form-control::focus {
  outline: none !important;
  border: none;
}
//
//
//.mat-form-field {
//  font-size: 14px;
//  width: 100%;
//}
//
//
//
///*Globalss*/
//button:disabled{
//  background-color: #fff;
//}
//
//table .mat-header-cell{
//  background-color: #111218;
//  color: white;
//}
//
//
//.actions{
//  display: flex;
//  flex-direction: row;
//  flex-wrap: nowrap;
//  align-items: center;
//  justify-content: center;
//}
//
//.mat-input-element{
//  color: #111218;
//}
//
//
//table .mat-icon{
//  color: #138D75;
//  cursor: pointer;
//}
//table mat-icon:hover {
//  color: #111218;
//}
//
//mat-card-content .search{
//  width: 100%;
//  text-align: right;
//}
//
///*Input search*/
//.mat-form-field {
//  font-size: 14px;
//  width: 100%;
//  outline: none;
//}
//
//input:focus {
//  outline: none;
//}
//
//
///* Change label color on focused */
//::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//  color: #111218 !important;
//}
//
///*Line input*/
//::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
//  background-color: #111218 !important;
//}
//
//
//mat-card .button-input{
//  width: 70%;
//  display: flex;
//  margin-top: 2.5%;
//  margin: 0 auto;
//}
//
//
//
//.mat-raised-button{
//  background-color: #111218;
//  color: #ffffff;
//}
//
button{
  background-color: #111218;
  color: #fff;
}
//
//mat-card-title {
//  width: 100%;
//}
