<mat-card >
  <mat-card-header>
    <mat-card-title *ngIf="idTipo !== 2; else updt">ASIGNAR CANDIDATO</mat-card-title>
    <ng-template #updt><mat-card-title>MODIFICAR CANDIDATO</mat-card-title></ng-template>
    <mat-card-subtitle *ngIf="idTipo === 2">{{nombreCompleto}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <h4 *ngIf="candidatoEliminado === true" class="btn-warning text-center">¡Atención este candidato ha sido Eliminado!</h4>
    <h4 *ngIf="precandidatoEliminado === true" class="btn-warning text-center">¡Atención este pre candidato ha sido Eliminado!</h4>
    <form [formGroup]="candidatoForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">

            <mat-form-field>
              <mat-label>MEDICIÓN DE COMPETENCIAS</mat-label>
              <mat-select formControlName="calificacionPsicometrico" id="calificacionPsicometrico">
                <mat-option *ngFor="let medicion of psicometricoSelect" [value]="medicion.value">
                  {{medicion.label}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!candidatoForm.controls['calificacionPsicometrico'].valid&&candidatoForm.controls['calificacionPsicometrico'].dirty">
                Se requiere el campo</mat-hint>
            </mat-form-field>

          </div>

          <div class="form-group">
            <label for="examenTecnico">¿REALIZÓ EL EXAMÉN TEÓRICO?</label>
            <nb-radio-group id="examenTecnico" (valueChange)="verificarFormulario()">
              <nb-radio #radioSi name="si" value="1" [checked] = "this.activo">SÍ</nb-radio>
              <nb-radio #radioNo name="no" value="0" [checked] = "this.activoNo">NO</nb-radio>
            </nb-radio-group>

          </div>

          <div class="form-group" *ngIf="examenTecnico">
          <mat-form-field>
            <input matInput #calificacionExamen placeholder="CALIFICACIÓN DE EXAMÉN TEÓRICO" pInputText type="number" formControlName="calificacionExamen" class="form-control" id="calificacionExamen" [maxLength]="2"
                   [pKeyFilter]="numeroPunto" onDrop="return false" onPaste="return false" autocomplete="off" min="0" max="10" step="0.01" style="padding: 0;"/>
            <mat-hint *ngIf="!candidatoForm.controls['calificacionExamen'].valid&&candidatoForm.controls['calificacionExamen'].dirty">
              Se requiere que la calificación sea menor a 10</mat-hint>
          </mat-form-field>



        </div>
          <div class="form-group">
            <mat-form-field>
            <textarea matInput id="descripcion" type="text" formControlName="comentarios" class="form-control" placeholder="COMENTARIOS"
                      oninput="this.value = this.value.toUpperCase()" maxlength="100" [pKeyFilter]="letrasNumeros"
                      onDrop="return false" onPaste="return false" autocomplete="off" style="padding: 0;"></textarea>
            <mat-hint *ngIf="!candidatoForm.controls['comentarios'].valid&&candidatoForm.controls['comentarios'].dirty">
              Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
      </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="idTipo !== 2" (click)="asignarCandidato()" [disabled]="verificarFormulario() || inactivo === true
      ">Guardar</button>
    <button mat-button *ngIf="idTipo === 2" (click)="updateCandidato()" [disabled]="!candidatoForm.valid || inactivo === true
      ">Actualizar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
