<mat-card class="mat-card-example">

    <mat-card-title *ngIf="idTipo == 1">CREAR TIPO PÁGINA</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR TIPO PÁGINA</mat-card-title>


  <!--<nb-card-header *ngIf="idTipo == 3">Baja Banco</nb-card-header>-->
  <mat-card-content>
    <form [formGroup]="tipoPaginaCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div>
            <div class="form-group">

              <!--                <label for="nombre">Nombre</label>-->
              <!--                <input pInputText type="text"  class="form-control"-->
              <!--                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"-->
              <!--                       placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off" />-->
              <!--                <nb-alert status="danger" *ngIf="!bancoCreateform.controls['nombre'].valid&&bancoCreateform.controls['nombre'].dirty">-->
              <!--                  El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="tipo" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="TIPO" id="tipo" onDrop="return false" onPaste="return false" autocomplete="off" style="outline: none;border: none; padding: 0px" />
                <mat-hint *ngIf="!tipoPaginaCreateForm.controls['tipo'].valid&&tipoPaginaCreateForm.controls['tipo'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>

              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="objetivo" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="OBJETIVO" id="objetivo" onDrop="return false" onPaste="return false" autocomplete="off" style="outline: none;border: none; padding: 0px" />
                <mat-hint *ngIf="!tipoPaginaCreateForm.controls['objetivo'].valid&&tipoPaginaCreateForm.controls['objetivo'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <!--<div *ngIf="idTipo == 2" >-->
          <!--<div class="form-group">-->
          <!--<label for="nombre">Nombre</label>-->
          <!--<input pInputText type="text"  class="form-control"-->
          <!--formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"-->
          <!--placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off" />-->
          <!--<nb-alert status="danger" *ngIf="!bancoCreateform.controls['nombre'].valid&&bancoCreateform.controls['nombre'].dirty">-->
          <!--El Campo es requerido </nb-alert>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarTipoPagina()" [disabled]="!tipoPaginaCreateForm.valid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateTipoPagina()" [disabled]="!tipoPaginaCreateForm.valid">Modificar
      <!--</button>
      <button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaBanco()">Dar de Baja-->
    </button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

