<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="idTipo == 1">CREAR TIPO DE PUESTO</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR TIPO DE PUESTO</mat-card-title>
    <mat-card-title *ngIf="idTipo == 3">BAJA TIPO DE PUESTO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4 *ngIf="tipopuestoEliminado === true" class="btn-warning text-center">¡Atención este tipo de puesto ha sido Eliminado!</h4>
    <form [formGroup]="puestoTipoCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1">
            <div class="form-group">
<!--              <label for="nombre">Nombre</label>-->
<!--              <input matInput type="text"  class="form-control"-->
<!--                     formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"-->
<!--                     placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <mat-hint status="danger" *ngIf="!puestoTipoCreateForm.controls['nombre'].valid&&puestoTipoCreateForm.controls['nombre'].dirty">-->
<!--                El Campo es requerido </mat-hint>-->

              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0; font-weight: 500"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="NOMBRE" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!puestoTipoCreateForm.controls['nombre'].valid&&puestoTipoCreateForm.controls['nombre'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="idTipo == 2">
            <div class="form-group">
<!--              <label for="nombre">Nombre</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"-->
<!--                     placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <mat-hint status="danger" *ngIf="!puestoTipoCreateForm.controls['nombre'].valid&&puestoTipoCreateForm.controls['nombre'].dirty">-->
<!--                El Campo es requerido </mat-hint>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0; font-weight: 500"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="NOMBRE  " id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!puestoTipoCreateForm.controls['nombre'].valid&&puestoTipoCreateForm.controls['nombre'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja este tipo de puesto</mat-hint>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarTipoPuesto()" [disabled]="!puestoTipoCreateForm.valid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateTipoPuesto()" [disabled]="!puestoTipoCreateForm.valid">Modificar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 3" (click)="bajaTipoPuesto()">Dar de baja
    </button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

