<mat-card>
  <mat-card-title>PAGOS</mat-card-title>
  <mat-card-content>
    <div class="col-12">
      <form [formGroup]="formPagos">

        <div class="col-12 row">
          <div class="col-6">
            <div class="form-group">

              <mat-form-field>
                <mat-label>Estado de pago</mat-label>
                <mat-select formControlName="idestadoPago">
                  <mat-option *ngFor="let estado of estadoPagoData" [value]="estado.id">
                    {{estado.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Fecha de pago"
                       autocomplete="off" formControlName="fechaPago">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>


            </div>
          </div>

          <div class="col-6">

            <div class="form-group">

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Cantidad" type="text" formControlName="cantidad" [pKeyFilter]="numeros">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Forma de pago</mat-label>
                <mat-select (selectionChange)="onChange($event.value)" formControlName="idFormaPago" >
                  <mat-option *ngFor="let forma of formaPagoData" [value]="forma.id">
                    {{forma.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>

          </div>

          <div class="switch" [ngSwitch]="this.selectionformaPago" formGroupName="datos">

            <!--              Domiciliacion-->
            <div *ngSwitchCase="5" formGroupName="domiciliacion">

              <div class="form-group">

                <div class="form-group">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Banco" formControlName="banco" oninput="this.value = this.value.toUpperCase()">
                  </mat-form-field>

                  <mat-form-field class="col-6">
                    <input matInput placeholder="Prima neta pagada" formControlName="primaNeta">
                  </mat-form-field>

                  <mat-form-field class="col-6">
                    <mat-label>Estatus finanzas</mat-label>
                    <mat-select formControlName="estatusFinanzas">
                      <mat-option *ngFor="let estatus of estatusFinanzas" [value]="estatus.nombre">
                        {{estatus.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="col-6">
                    <mat-label>Estatus del pago</mat-label>
                    <mat-select formControlName="estatusPago">
                      <mat-option *ngFor="let estatus of estatusPago" [value]="estatus.nombre">
                        {{estatus.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!--              End switch 5-->

            <!--              Depósito bancario-->
            <div *ngSwitchCase="4" formGroupName="depositoBancario">

              <div class="form-group">

                <div class="form-group">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Comentarios" formControlName="comentarios" oninput="this.value = this.value.toUpperCase()">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!--              End switch 5-->

            <!--              Transferencia-->
            <div *ngSwitchCase="7" formGroupName="transferencia">

              <div class="form-group">
                <div class="form-group">
                  <mat-form-field class="col-6">
                    <input matInput placeholder="Banco" formControlName="banco" oninput="this.value = this.value.toUpperCase()">
                  </mat-form-field>

                  <mat-form-field class="col-6">
                    <input matInput placeholder="Prima neta pagada" formControlName="primaNeta">
                  </mat-form-field>

                  <mat-form-field class="col-4">
                    <mat-label>Estatus finanzas</mat-label>
                    <mat-select formControlName="estatusFinanzas">
                      <mat-option *ngFor="let estatus of estatusFinanzas" [value]="estatus.nombre">
                        {{estatus.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="col-4">
                    <mat-label>Estatus del pago</mat-label>
                    <mat-select formControlName="estatusPago">
                      <mat-option *ngFor="let estatus of estatusPago" [value]="estatus.nombre">
                        {{estatus.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="col-4">
                    <input matInput placeholder="Número de autorizacion" formControlName="noAutorizacion">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!--              End transferencia-->

            <!--              Tarjeta débito-->
            <div *ngSwitchCase="2" formGroupName="tarjetaDebito">
              <div class="form-group">
                <mat-form-field class="col-4">
                  <input matInput placeholder="Prima neta pagada" [pKeyFilter]="numeros" formControlName="primaNeta">
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Estatus finanzas</mat-label>
                  <mat-select formControlName="estatusFinanzas">
                    <mat-option *ngFor="let estatus of estatusFinanzas" [value]="estatus.nombre">
                      {{estatus.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Estatus del pago</mat-label>
                  <mat-select formControlName="estatusPago">
                    <mat-option *ngFor="let estatus of estatusPago" [value]="estatus.nombre">
                      {{estatus.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Banco de tarjeta</mat-label>
                  <mat-select formControlName="bancoTarjeta" (selectionChange)="bancoChange($event.value)">
                    <mat-option *ngFor="let c of bancosArray" [value]="c.id">
                      {{c.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Tipo de tarjeta</mat-label>
                  <mat-select (selectionChange)="carrierChange($event.value)" formControlName="tipoTarjeta">
                    <mat-option *ngFor="let c of tarjetasArray" [value]="[c.idCarrier, c.descripcion]" >
                      {{c.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Carrier</mat-label>
                  <mat-select formControlName="carrier">
                    <mat-option *ngFor="let c of carrierArray" [value]="c.carrier">
                      {{c.carrier}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Meses sin intereses</mat-label>
                  <mat-select formControlName="mesesIntereses">
                    <mat-option *ngFor="let c of mesesArray" [value]="c.nombre">
                      {{c.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field class="col-8">
                  <input matInput placeholder="Notas" formControlName="notas" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field class="col-6">
                  <input matInput placeholder="Comentarios" formControlName="comentarios" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field class="col-6">
                  <input matInput placeholder="Notas Finanzas" formControlName="notasFinanzas" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
              </div>

              <div class="tarjeta-debito col-lg-4 col-md-4 col-sm-6 row">
                <mat-form-field class="col-12">
                  <mat-icon matPrefix>credit_card</mat-icon>
                  <input matInput formControlName="numeroTarjeta" maxLength="16" minlength="16" [pKeyFilter]="numeros">
                  <mat-placeholder class="placeholder">Número de tarjeta</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-12">
                  <mat-icon matPrefix>person</mat-icon>
                  <input matInput formControlName="titular" oninput="this.value = this.value.toUpperCase()" [pKeyFilter]="letras">
                  <mat-placeholder class="placeholder">Titular</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-icon matSuffix>lock</mat-icon>
                  <input matInput formControlName="codigo" maxLength="3" minLength="3" [pKeyFilter]="numeros">
                  <mat-placeholder class="placeholder">CCV</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-8">
                  <input matInput type="text" maxLength="7" formControlName="fechaVencimiento" [pKeyFilter]="numeros"
                         (keyup)="fechaTarjeta($event.target.value)" #fechaV>
                  <mat-placeholder class="placeholder">Fecha de vencimiento</mat-placeholder>
                </mat-form-field>

              </div>
            </div>
            <!--              End tarjeta debito-->

            <!--              Tarjeta crédito AS-->
            <div *ngSwitchCase="6" formGroupName="tarjetaCreditoAhorra">
              <div class="form-group">
                <mat-form-field class="col-4">
                  <input matInput placeholder="Prima neta pagada" [pKeyFilter]="numeros" formControlName="primaNeta">
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Estatus finanzas</mat-label>
                  <mat-select formControlName="estatusFinanzas">
                    <mat-option *ngFor="let estatus of estatusFinanzas" [value]="estatus.nombre">
                      {{estatus.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Estatus del pago</mat-label>
                  <mat-select formControlName="estatusPago">
                    <mat-option *ngFor="let estatus of estatusPago" [value]="estatus.nombre">
                      {{estatus.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Banco de tarjeta</mat-label>
                  <mat-select formControlName="bancoTarjeta" (selectionChange)="bancoChange($event.value)">
                    <mat-option *ngFor="let c of bancosArray" [value]="c.id">
                      {{c.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Tipo de tarjeta</mat-label>
                  <mat-select (selectionChange)="carrierChange($event.value)" formControlName="tipoTarjeta">
                    <mat-option *ngFor="let c of tarjetasArray" [value]="[c.idCarrier, c.descripcion]">
                      {{c.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Carrier</mat-label>
                  <mat-select formControlName="carrier">
                    <mat-option *ngFor="let c of carrierArray" [value]="c.carrier">
                      {{c.carrier}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Meses sin intereses</mat-label>
                  <mat-select formControlName="mesesIntereses">
                    <mat-option *ngFor="let c of mesesArray" [value]="c.nombre">
                      {{c.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field class="col-8">
                  <input matInput placeholder="Notas" formControlName="notas" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field class="col-6">
                  <input matInput placeholder="Comentarios" formControlName="comentarios" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field class="col-6">
                  <input matInput placeholder="Notas Finanzas" formControlName="notasFinanzas" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
              </div>

              <div class="tarjeta-creditoA col-5 row">
                <mat-form-field class="col-12">
                  <mat-icon matPrefix>credit_card</mat-icon>
                  <input matInput formControlName="numeroTarjeta" maxLength="16" minlength="16" [pKeyFilter]="numeros">
                  <mat-placeholder class="placeholder">Número de tarjeta</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-12">
                  <mat-icon matPrefix>person</mat-icon>
                  <input matInput formControlName="titular" oninput="this.value = this.value.toUpperCase()" [pKeyFilter]="letras">
                  <mat-placeholder class="placeholder">Titular</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-icon matSuffix>lock</mat-icon>
                  <input matInput formControlName="codigo" maxLength="3" minLength="3" [pKeyFilter]="numeros">
                  <mat-placeholder class="placeholder">CCV</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-8">
                  <input matInput type="text" maxLength="7" formControlName="fechaVencimiento" [pKeyFilter]="numeros"
                         (keyup)="fechaTarjeta($event.target.value)" #fechaV>
                  <mat-placeholder class="placeholder">Fecha de vencimiento</mat-placeholder>
                </mat-form-field>
              </div>
            </div>
            <!--              End tarjeta crédito AS-->

            <!--              Tarjeta crédito Aseguradora-->
            <div *ngSwitchCase="1" formGroupName="tarjetaCreditoAseguradora">
              <div class="form-group">
                <mat-form-field class="col-4">
                  <input matInput placeholder="Prima neta pagada" [pKeyFilter]="numeros" formControlName="primaNeta">
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Estatus finanzas</mat-label>
                  <mat-select formControlName="estatusFinanzas">
                    <mat-option *ngFor="let estatus of estatusFinanzas" [value]="estatus.nombre">
                      {{estatus.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Estatus del pago</mat-label>
                  <mat-select formControlName="estatusPago">
                    <mat-option *ngFor="let estatus of estatusPago" [value]="estatus.nombre">
                      {{estatus.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Banco de tarjeta</mat-label>
                  <mat-select formControlName="bancoTarjeta" (selectionChange)="bancoChange($event.value)">
                    <mat-option *ngFor="let c of bancosArray" [value]="c.id">
                      {{c.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Tipo de tarjeta</mat-label>
                  <mat-select (selectionChange)="carrierChange($event.value)" formControlName="tipoTarjeta">
                    <mat-option *ngFor="let c of tarjetasArray" [value]="[c.idCarrier, c.descripcion]">
                      {{c.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Carrier</mat-label>
                  <mat-select formControlName="carrier">
                    <mat-option *ngFor="let c of carrierArray" [value]="c.carrier">
                      {{c.carrier}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>Meses sin intereses</mat-label>
                  <mat-select formControlName="mesesIntereses">
                    <mat-option *ngFor="let c of mesesArray" [value]="c.nombre">
                      {{c.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field class="col-8">
                  <input matInput placeholder="Notas" formControlName="notas" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field class="col-6">
                  <input matInput placeholder="Comentarios" formControlName="comentarios" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>

                <mat-form-field class="col-6">
                  <input matInput placeholder="Notas Finanzas" formControlName="notasFinanzas" oninput="this.value = this.value.toUpperCase()">
                </mat-form-field>
              </div>

              <div class="tarjeta-creditoB col-5 row">
                <mat-form-field class="col-12">
                  <mat-icon matPrefix>credit_card</mat-icon>
                  <input matInput formControlName="numeroTarjeta" maxLength="16" minlength="16" [pKeyFilter]="numeros">
                  <mat-placeholder class="placeholder">Número de tarjeta</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-12">
                  <mat-icon matPrefix>person</mat-icon>
                  <input matInput formControlName="titular" oninput="this.value = this.value.toUpperCase()" [pKeyFilter]="letras">
                  <mat-placeholder class="placeholder">Titular</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-icon matSuffix>lock</mat-icon>
                  <input matInput formControlName="codigo" maxLength="3" minLength="3" [pKeyFilter]="numeros">
                  <mat-placeholder class="placeholder">CCV</mat-placeholder>
                </mat-form-field>

                <mat-form-field class="col-8">
                  <input matInput type="text" maxLength="7" formControlName="fechaVencimiento" [pKeyFilter]="numeros"
                         (keyup)="fechaTarjeta($event.target.value)" #fechaV>
                  <mat-placeholder class="placeholder">Fecha de vencimiento</mat-placeholder>
                </mat-form-field>
              </div>
            </div>
            <!--              End tarjeta crédito Aseguradora-->
          </div>
        </div>
      </form>
    </div>

  </mat-card-content>

  <mat-card-actions class="row">
    <button mat-raised-button [disabled]="formPagos.invalid">Guardar</button>
    <button mat-raised-button (click) = "fileInput.click()">
      Guardar comprobante
      <input hidden accept="application/pdf, image/jpeg, image/png"
             type="file" #fileInput (change)="guardarEnDrive($event)"/>
    </button>
  </mat-card-actions>

</mat-card>
