.btn-guardar {
  color: white;
}

.archivo {
  background-color: #4caf50;
  color: #fff;
}

.tarjeta-creditoA {
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 0px 12px 21px #777;
  border-radius: 20px;
  margin: 20px auto;
  padding: 15px 15px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.tarjeta-creditoB {
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 0px 12px 21px #777;
  border-radius: 20px;
  margin: 20px auto;
  padding: 15px 15px;
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

.tarjeta-debito {
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 0px 12px 21px #777;
  border-radius: 20px;
  margin: 20px auto;
  padding: 15px 15px;
  background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
}

.tarjeta-creditoA input, .tarjeta-creditoB input,
.tarjeta-debito input {
  color: #fff;
  font-weight: 400 !important;
}



input {
  padding: 3px 0 !important;
}

mat-icon {
  margin-right: 5px;
  color: #fff;
}

.placeholder {
  color: #fff;
  font-weight: 400;
}

.mat-focused .placeholder {
  color: #fff;
  opacity: 0.75;
}

.switch {
  width: 100%;
}
