<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()"  class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">TRIGARANTE 2020</div>
  </div>

</div>

<div class="header-container">
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">

    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu" [name]="user?.nombre"  [picture]="user?.imagenUrl"
                nbContextMenuTag="logout"></nb-user>
    </nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>
    <nb-action >
      <nb-action
      [nbContextMenu]="items"
      [badgeText]="contadorItems"
      badgeStatus="danger"
      icon="nb-person"
      ></nb-action>
    </nb-action>
  </nb-actions>
</div>

