<mat-card class="example-form">
  <mat-card-title>RECIBOS</mat-card-title>
<!--  &lt;!&ndash;<mat-card-title *ngIf="mostrar === true">ACTUALIZAR PROSPECTO</mat-card-title>&ndash;&gt;-->

  <mat-card-content>
    <mat-card-header>
      INTRODUCE LOS SIGUIENTES DATOS CORRECTAMENTE:
    </mat-card-header>
    <form [formGroup]="reciboForm">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="form-group">
            <mat-form-field>
              <mat-label>ESTADO RECIBO *</mat-label>
              <mat-select formControlName="idEstadoRecibos">
                <mat-option *ngFor="let estadoRecibo of estadosRecibos" [value]="estadoRecibo.id"  id="idEstadoRecibos">
                  {{estadoRecibo.estdo}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!reciboForm.controls['idEstadoRecibos'].valid&&reciboForm.controls['idEstadoRecibos'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" formControlName="numero" id="numero"
                     oninput="this.value = this.value.toUpperCase()"
                     placeholder="NUMERO" onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!reciboForm.controls['numero'].valid && reciboForm.controls['numero'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" formControlName="cantidad" id="cantidad"
                     oninput="this.value = this.value.toUpperCase()"
                     placeholder="CANTIDAD" onDrop="return false" onPaste="return false" autocomplete="off"/>
              <mat-hint *ngIf="!reciboForm.controls['cantidad'].valid&&reciboForm.controls['cantidad'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA DE VIGENCIA *" class="form-control"
                     formControlName="fechaVigencia" id="fechaVigencia">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!reciboForm.controls['fechaVigencia'].valid&&reciboForm.controls['fechaVigencia'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="FECHA DE PAGO *" class="form-control"
                     formControlName="fechaLiquidacion" id="fechaLiquidacion">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-hint *ngIf="!reciboForm.controls['fechaLiquidacion'].valid&&reciboForm.controls['fechaLiquidacion'].dirty">
                Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions >
    <button mat-button (click)="crearRegistro()"
            [disabled]="!reciboForm.valid ">Registrar
    </button>
    <!--<button mat-button color="accent" (click)="fileInput.click()">-->
      <!--<mat-icon class="icon" style="margin-right: 5px;">cloud_upload</mat-icon>-->
      <!--SUBIR ARCHIVOS-->
      <!--<input hidden multiple type="file" #fileInput (change)="createNewFile($event)" />-->
    <!--</button>-->
    <!--<button mat-button  (click)="updateProspecto()"-->
    <!--[disabled]="!prospectoCreateForm.valid " *ngIf="mostrar === true">Actualizar-->
    <!--</button>-->
    <!--<button mat-button  (click)="dismiss()">Cerrar</button>-->
  </mat-card-actions>
</mat-card>
