<mat-card class="m-5">
  <mat-card-title>
    MODIFICAR DATOS
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="modificarDatosForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group"  >

            <mat-form-field class="example-full-width">
              <input class="form-control" matInput type="text" formControlName="nombreCampo"
                     placeholder="NOMBRE DEL CAMPO" id="nombreCampo"  />
              <mat-hint *ngIf="!modificarDatosForm.controls['nombreCampo'].valid&&modificarDatosForm.controls['nombreCampo'].dirty">
                NOMBRECAMPO <strong>obligatorio</strong>
              </mat-hint>
            </mat-form-field>

            <div class="form-group" *ngIf="tipodedato === 'string'" >

              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="text" formControlName="valor"
                       placeholder="VALOR" id="valor"  />
                <mat-hint *ngIf="!modificarDatosForm.controls['valor'].valid&&modificarDatosForm.controls['valor'].dirty">
                  VALOR <strong>obligatorio</strong>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="tipodedato === 'number' && campo !== 'idAseguradora' && campo !== 'idCampana'">

              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="number" formControlName="valor"
                       placeholder="VALOR" id="valor2"  />
                <mat-hint *ngIf="!modificarDatosForm.controls['valor'].valid&&modificarDatosForm.controls['valor'].dirty">
                  VALOR <strong>obligatorio</strong>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="tipodedato === 'boolean'">

              <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                                       formControlName="valor" id="valor3">
                <mat-button-toggle value="bold" *ngFor="let sel of seleccion2" [value]="sel.value">
                  {{sel.label}}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>




          </div>

        </div>
      </div>

    </form>



  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardarCampos()" [disabled]="!modificarDatosForm.valid"> Guardar</button>

    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>
