mat-card {
  width: 100%;
}

* {
  outline: none;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}


table {
  width: 70%;
  margin: 0 auto;
}

table .mat-header-cell{
  background-color: #111218;
  color: white;
}


.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
}

mat-list button {
  background-color: transparent;
  border: none;
}

.actions button::selection, .actions button:focus {
  outline: none;
}

.mat-input-element{
  color: #111218;
}


table .mat-icon{
  color: #354089;
  cursor: pointer;
}
table mat-icon:hover {
  color: #111218;
}

mat-card-content .search{
  width: 100%;
  text-align: right;
}

/*Input search*/
.mat-form-field {
  font-size: 14px;
  width: 100%;
  outline: none;
}

input:focus {
  outline: none;
}


mat-card .button-input{
  width: 70%;
  display: flex;
  margin-top: 2.5%;
  margin: 0 auto;
}



.mat-raised-button{
  background-color: #111218;
  color: #ffffff;
}

button {
  background-color: #111218;
  color: #fff;
}

button:focus {
  outline: none;
}

mat-card-title {
  width: 100%;
}

td {
  cursor: pointer;
}

td:hover {
  background-color: #E5E7E9;
}

.title {
  margin-bottom: 5%;
  color: tomato;
  font-weight: 500;
  font-size: 18px;
}

.description-text {
  color: #e7e7e7;
  font-size: 15px;
}

.description {
  margin-bottom: 40px;
}

.sidebar button {
  width: auto;
  background-color: transparent;
  outline: none;
}

.sidebar mat-icon {
  font-size: 30px;
  color: white;
}

mat-list-item p {
  font-size: 13px;
  color: white;
  margin: 0 !important;
}

mat-list-item button {
  margin: 0;
  padding: 0;
}


mat-drawer {
  width: 30%;
  padding: 3% 1%;
  text-align: center;
  background-color: #354089;
}

mat-slide-toggle {
  font-size: 13px;
  color: white;
}

.btn {
  width: 40px;
  margin-right: 10px;
  padding: 0;
  text-align: center;
}
