<mat-drawer-container hasBackdrop="true">

  <mat-drawer position="end" mode="over" >
    <ng-container>

      <div class="description">
        <p class="title">ESTADO PAGO</p>
        <p class="description-text">{{this.description}}</p>
      </div>

        <div class="sidebar">
          <p class="title">ACCIONES</p>

          <mat-list>
            <mat-list-item>
              <div class="btn">
                <button (click)="updateEstadoPago(this.id)" [disabled]="this.activo === 0">
                  <mat-icon id="short-icon" [ngStyle]="{'color': this.activo === 0 ? '#ccc' : '#fff'}"
                            pTooltip="Actualizar datos de tipo pago">update</mat-icon>
                </button>
              </div>

              <p class="text-button">ACTUALIZAR ESTADO PAGO</p>
            </mat-list-item>

            <mat-list-item>
              <div class="btn">
                <mat-slide-toggle color="warn" [checked]="this.activo === 1" mat-slide-toggle
                                  (click)="checkIn(this.activo, this.id)">
                </mat-slide-toggle>
              </div>

              <p class="text-toggle">{{this.activo === 1? 'ACTIVADO':'DESACTIVADO'}}</p>
            </mat-list-item>

          </mat-list>



          <!--              <mat-icon class="short-icon" id="delete" (click)="bajaEstadoPago(element.id)"-->
          <!--                        pTooltip="Baja de tipo pago">delete_forever</mat-icon>-->



        </div>
    </ng-container>
  </mat-drawer>

  <mat-drawer-content>
    <mat-card>
      <div class="reload-all">
        <div class="icon-all">
          <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getestadoPagos()">
        </div>
      </div>

      <div class="button-input">
        <div class="button">
          <button mat-button (click)="crearEstadoPago()"> CREAR ESTADO PAGO</button>
        </div>
        <mat-card-title>
          ESTADO PAGO
        </mat-card-title>
<<<<<<< HEAD
        <div class="input">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <!--<input matInput (keyup)="applyFilter($event.target.value)">-->
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
=======
<!--        <div class="input">-->
<!--          <mat-form-field>-->
<!--            <mat-label>Filtrar</mat-label>-->
<!--            <input matInput (keyup)="applyFilter($event.target.value)">-->
<!--            <mat-icon matSuffix>search</mat-icon>-->
<!--          </mat-form-field>-->
<!--        </div>-->
>>>>>>> origin
      </div>
      <mat-card-content>
        <div>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO PAGO</th>
              <td mat-cell (click)="openMenu(element.activo, element.id, element.description)" *matCellDef="let element" [ngStyle]="{'color': element.activo === 0 ? '#ccc' : '#000'}">
                {{element.description}}
              </td>
            </ng-container>

<!--            <ng-container matColumnDef="acciones">-->
<!--              <th mat-header-cell *matHeaderCellDef> ACCIONES</th>-->
<!--              <td mat-cell *matCellDef="let element">-->
<!--                <div class="actions">-->
<!--                  <button mat-icon-button (click)="updateEstadoPago(element.id)" [disabled]="element.activo === 0">-->
<!--                    <mat-icon id="short-icon" [ngStyle]="{'color': element.activo === 0 ? '#ccc' : '#354089'}"-->
<!--                              pTooltip="Actualizar datos de tipo pago">update-->
<!--                    </mat-icon>-->
<!--                  </button>-->

<!--                  &lt;!&ndash;              <mat-icon class="short-icon" id="delete" (click)="bajaEstadoPago(element.id)"&ndash;&gt;-->
<!--                  &lt;!&ndash;                        pTooltip="Baja de tipo pago">delete_forever</mat-icon>&ndash;&gt;-->

<!--                  <mat-slide-toggle color="warn" [checked]="element.activo === 1"-->
<!--                                    (click)="checkIn(element.activo, element.id)">-->
<!--                    &lt;!&ndash;                {{element.activo === 1? 'Desactivar':'Activar'}}&ndash;&gt;-->
<!--                  </mat-slide-toggle>-->

<!--                </div>-->
<!--              </td>-->
<!--            </ng-container>-->

            <tr mat-header-row *matHeaderRowDef="cols"></tr>
            <tr mat-row *matRowDef="let row; columns: cols;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
