<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="idTipo == 1">CREAR RAZÓN SOCIAL</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR RAZÓN SOCIAL</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4 *ngIf="razonEliminado === true" class="btn-warning text-center">¡Atención esta razón social ha sido Eliminada!</h4>
    <form [formGroup]="razonSocialCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
<!--            <label for="nombreComercial">Nombre Comercial</label>-->
<!--            <input matInput type="text"  class="form-control"-->
<!--                   formControlName="nombreComercial" oninput="this.value = this.value.toUpperCase()" maxlength="100"-->
<!--                   placeholder="Campo Obligatorio" id="nombreComercial" onDrop="return false" onPaste="return false" autocomplete="off" />-->
<!--            <mat-hint  *ngIf="!razonSocialCreateForm.controls['nombreComercial'].valid&&razonSocialCreateForm.controls['nombreComercial'].dirty">-->
<!--              El Campo es requerido </mat-hint>-->
            <mat-form-field>
              <input matInput type="text"  class="form-control" style="padding: 0;"
                     formControlName="nombreComercial" oninput="this.value = this.value.toUpperCase()" maxlength="100"
                     placeholder="NOMBRE COMERCIAL" id="nombreComercial" onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint  *ngIf="!razonSocialCreateForm.controls['nombreComercial'].valid&&razonSocialCreateForm.controls['nombreComercial'].dirty">
                El Campo es requerido </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="alias">Alias</label>-->
<!--            <input matInput type="text"  class="form-control"-->
<!--                   formControlName="alias" oninput="this.value = this.value.toUpperCase()" maxlength="100"-->
<!--                   placeholder="Campo Obligatorio" id="alias" onDrop="return false" onPaste="return false" autocomplete="off" />-->
<!--            <mat-hint  *ngIf="!razonSocialCreateForm.controls['alias'].valid&&razonSocialCreateForm.controls['alias'].dirty">-->
<!--              El Campo es requerido </mat-hint>-->
            <mat-form-field>
              <input matInput type="text"  class="form-control" style="padding: 0;"
                     formControlName="alias" oninput="this.value = this.value.toUpperCase()" maxlength="100"
                     placeholder="ALIAS" id="alias" onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint  *ngIf="!razonSocialCreateForm.controls['alias'].valid&&razonSocialCreateForm.controls['alias'].dirty">
                El Campo es requerido </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="input" *ngIf="idTipo == 1" (click)="guardarRazonSocial()" [disabled]="!razonSocialCreateForm.valid">Guardar
    </button>
    <button mat-button id="input" *ngIf="idTipo == 2" (click)="updateRazonSocial()" [disabled]="!razonSocialCreateForm.valid">Modificar
    </button>
    <button mat-button id="input" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
