<mat-card class="example-form">

    <mat-card-title *ngIf="idTipo == 1">CREAR PUESTO</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR PUESTO</mat-card-title>

  <mat-card-content>
    <h4 *ngIf="puestoEliminado === true" class="btn-warning text-center">¡Atención este puesto ha sido Eliminado!</h4>
    <form [formGroup]="puestoCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="form-group">
              <div class="form-group">
<!--                <label for="idSubarea">Sub Area</label>-->
<!--                <p-dropdown [options]="subAreas" formControlName="idSubarea" placeholder="Elija su Area"-->
<!--                            id="idSubarea" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--                <mat-form-field>-->
<!--                  <mat-label>SUB ÁREA</mat-label>-->
<!--                  <mat-select formControlName="idSubarea" id="idSubarea" style="font-weight: 500;">-->
<!--                    <mat-option *ngFor="let sub of subArea" [value]="sub.id">-->
<!--                      {{sub.subarea}}-->
<!--                    </mat-option>-->
<!--                  </mat-select>-->
<!--                </mat-form-field>-->
              </div>

              <div class="form-group">
<!--                <label for="idTipoUsuario">Tipo Usuario</label>-->
<!--                <p-dropdown [options]="tipoUsuarios" formControlName="idTipoUsuario" placeholder="Elija Tipo Usuario"-->
<!--                            id="idTipoUsuario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--                <mat-form-field>-->
<!--                  <mat-label>TIPO USUARIO</mat-label>-->
<!--                  <mat-select formControlName="idTipoUsuario" id="idTipoUsuario" style="font-weight: 500;">-->
<!--                    <mat-option *ngFor="let user of tipoUsuario" [value]="user.id">-->
<!--                      {{user.tipo}}-->
<!--                    </mat-option>-->
<!--                  </mat-select>-->
<!--                </mat-form-field>-->
              </div>

<!--              <label for="nombre">Nombre</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"-->
<!--                     placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <mat-hint status="danger" *ngIf="!puestoCreateForm.controls['nombre'].valid&&puestoCreateForm.controls['nombre'].dirty">-->
<!--                El Campo es requerido </mat-hint>-->

              <mat-form-field>
                <input matInput type="text"  class="form-control" style="padding: 0; font-weight: 500;"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="NOMBRE" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint status="danger" *ngIf="!puestoCreateForm.controls['nombre'].valid&&puestoCreateForm.controls['nombre'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarPuesto()" [disabled]="!puestoCreateForm.valid">Guardar
      </button>
      <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updatePuesto()" [disabled]="!puestoCreateForm.valid">Modificar
      </button>
      <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>

