<mat-tab-group>

  <mat-tab label="Autos">
    <div class="row">
      <div class="col-12">
        <h1>Cotizador de autos</h1>
      </div>
      <div class="col-3">
        <mat-form-field *ngIf="aseguradoras">
          <mat-label>Aseguradoras</mat-label>
          <mat-select (selectionChange)="getMarcas()" [(value)]="autoSelected.aseguradora">
            <mat-option *ngFor="let a of aseguradoras" [value]="a.value">
              {{a.aseguradora}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Selecciona el descuento</mat-label>
          <mat-select [(value)]="autoSelected.descuento" [disabled]="autoSelected.aseguradora===''">
            <mat-option *ngFor="let desc of descuentos" [value]="desc">
              {{desc}}%
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Edad del conductor</mat-label>
          <mat-select [(value)]="autoSelected.edad">
            <mat-option *ngFor="let edad of edades" [value]="edad">
              {{edad}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Codigo Postal" [formControl]="cp">
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field>
          <mat-label>Genero del conductor</mat-label>
          <mat-select [(value)]="autoSelected.genero">
            <mat-option value="MASCULINO">MASCULINO</mat-option>
            <mat-option value="FEMENINO">FEMENINO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select [(value)]="autoSelected.marca" (selectionChange)="getModelos()">
            <mat-option *ngFor="let m of marcas" [value]="m">
              {{m.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Modelos</mat-label>
          <mat-select [(value)]="autoSelected.modelo" (selectionChange)="getDescripcion()">
            <mat-option *ngFor="let o of modelos" [value]="o">
              {{o.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <mat-select [(value)]="autoSelected.descripcion" (selectionChange)="getSubdescripcion()">
            <mat-option *ngFor="let d of descripciones" [value]="d">
              {{d.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field>
          <mat-label>Subdescripcion</mat-label>
          <mat-select [(value)]="autoSelected.subdescripcion" (selectionChange)="getDetalles()">
            <mat-option *ngFor="let s of subdescripciones" [value]="s">
              {{s.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Detalles</mat-label>
          <mat-select [(value)]="autoSelected.detalle" [disabled]="autoSelected.aseguradora===''">
            <mat-option *ngFor="let d of detalles" [value]="d">
              {{d.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">

        <button (click)="cotizar()">Cotizar</button>
      </div>

      <div class="col-12" *ngIf="cotizacionResponse!=null">
        <mat-card *ngFor="let cr of cotizacionResponse">
          <mat-card-header>
            <mat-card-title>{{cr['Aseguradora']}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{cr['Cotizacion']['PrimaTotal']}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-tab>
|
  <mat-tab label="Motos">
    <div class="row">
      <div class="col-12">
        <h1>Cotizador de Motos</h1>
      </div>

      <div class="col-3">
        <mat-form-field *ngIf="aseguradoras">
          <mat-label>Aseguradoras</mat-label>
          <mat-select (selectionChange)="getMarcas()" [(value)]="autoSelected.aseguradora">
            <mat-option *ngFor="let a of aseguradorasMotos" [value]="a.value">
              {{a.aseguradora}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Selecciona el descuento</mat-label>
          <mat-select [(value)]="autoSelected.descuento" [disabled]="autoSelected.aseguradora===''">
            <mat-option *ngFor="let desc of descuentos" [value]="desc">
              {{desc}}%
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Edad del conductor</mat-label>
          <mat-select [(value)]="autoSelected.edad">
            <mat-option *ngFor="let edad of edades" [value]="edad">
              {{edad}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Codigo Postal" [formControl]="cp">
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field>
          <mat-label>Genero del conductor</mat-label>
          <mat-select [(value)]="autoSelected.genero">
            <mat-option value="MASCULINO">MASCULINO</mat-option>
            <mat-option value="FEMENINO">FEMENINO</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select [(value)]="autoSelected.marca" (selectionChange)="getModelos()">
            <mat-option *ngFor="let m of marcas" [value]="m">
              {{m.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Modelos</mat-label>
          <mat-select [(value)]="autoSelected.modelo" (selectionChange)="getDescripcion()">
            <mat-option *ngFor="let o of modelos" [value]="o">
              {{o.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <mat-select [(value)]="autoSelected.descripcion" (selectionChange)="getSubdescripcion()">
            <mat-option *ngFor="let d of descripciones" [value]="d">
              {{d.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field>
          <mat-label>Subdescripcion</mat-label>
          <mat-select [(value)]="autoSelected.subdescripcion" (selectionChange)="getDetalles()">
            <mat-option *ngFor="let s of subdescripciones" [value]="s">
              {{s.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Detalles</mat-label>
          <mat-select [(value)]="autoSelected.detalle" [disabled]="autoSelected.aseguradora===''">
            <mat-option *ngFor="let d of detalles" [value]="d">
              {{d.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">

        <button (click)="cotizar()">Cotizar</button>
      </div>

      <div class="col-12" *ngIf="cotizacionResponse!=null">
        <mat-card *ngFor="let cr of cotizacionResponse">
          <mat-card-header>
            <mat-card-title>{{cr['Aseguradora']}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{cr['Cotizacion']['PrimaTotal']}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>


