table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}

/*Globalss*/
button:disabled{
  background-color: #fff;
}

table .mat-header-cell{
  background-color: #111218;
  color: white;
}


.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.mat-input-element{
  color: #111218;
}


mat-card-content .search{
  width: 100%;
  text-align: right;
}
.mat-form-field {
  font-size: 14px;
  width: 40%;
}

mat-card .button-input{
  width: 100%;
  display: flex;
  margin-top: 2.5%;
}

mat-card .button{
  width: 50%;
}
mat-card .input{
  width: 50%;
  text-align: end;
}

.mat-raised-button{
  background-color: #111218;
  color: #ffffff;
}

button{
  background-color: #111218;
  color: #fff;
}
