<mat-card>


  <div class="button-input">
    <div class="button">
    </div>
    <mat-card-title>
      SUB ÁREA
    </mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->

        <ng-container matColumnDef="idArea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>AREA</th>
          <td mat-cell *matCellDef="let element">{{ element.idArea }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUB AREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCIÓN</th>
          <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                id="short-icon"
                (click)="updateSubArea(element.id)"
                pTooltip="Actualizar Datos de Sub Area"
              >update</mat-icon
              >
              <mat-icon
                class="short-icon"
                id="delete"
                (click)="bajaSubArea(element.id)"
                pTooltip="Baja de Sub Area"
              >delete_forever</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

