<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <!--<img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getSolicitudVN(1)">-->
    </div>
  </div>

  <div class="button-input">
    <div class="button">
      <!--<button mat-raised-button (click)="crearSolicitudVN()" > </button>-->
    </div>

    <mat-card-title style="text-align: center;">
      HISTORIAL DE LLAMADAS
    </mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <!--<input matInput (keyup)="applyFilter($event.target.value)">-->
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon (click)="verDatos(element.idProspecto, element.idProducto)" id="verDetalles"
                      pTooltip="Ver detalles" mat-raised-button>
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre + ' ' + element.apellidoPaterno + ' ' + element.apellidoMaterno}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NUMERO</th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA REGISTRO</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date: 'dd-MMM-yyyy'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TITULO</th>
          <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> COMENTARIO</th>
        <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <!--        <ng-container matColumnDef="fechaCita">-->
        <!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Cita </th>-->
        <!--          <td mat-cell *matCellDef="let element"> {{element.fechaCita | date : 'd MMM y h:mm a'}} </td>-->
        <!--        </ng-container>-->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> ACCIONES</th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <!--<mat-icon (click)="updateVacante(element.id)" pTooltip="Modificar Prospecto" mat-raised-button-->
              <!--&gt;edit-->
              <!--</mat-icon>-->
              <!--<mat-icon (click)="programarLlamada(element.id)" pTooltip="Programar Llamada" mat-raised-button-->
              <!--&gt;phone-->
              <!--</mat-icon>-->
              <mat-icon pTooltip="Historial de Llamadas" mat-raised-button [routerLink]="['/modulos/venta-nueva/historial-llamadas']"
              >phone_forwarded
              </mat-icon>
              <mat-icon pTooltip="Generar Emision" mat-raised-button>insert_drive_file</mat-icon>
              <!--<mat-icon id="delete" (click)="bajaVacante(element.id)" pTooltip="Dar de baja" mat-raised-button-->
              <!--&gt;delete_forever-->
              <!--</mat-icon>-->
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
