<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo !== 2">ASIGNAR CONVENIOS</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR CONVENIO</mat-card-title>
  <mat-card-content>
    <form [formGroup]="asignarConveniosForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="cantidad" class="form-control" id="cantidad" (keyup)="formatoNumerosConComas($event.target.value)"
                     maxlength="15" onDrop="return false" onPaste="return false" autocomplete="off" placeholder="CANTIDAD" style="padding: 0" [pKeyFilter]="numeros"/>
              <mat-hint *ngIf="!asignarConveniosForm.controls['cantidad'].valid&&asignarConveniosForm.controls['cantidad'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>

           <mat-form-field>
              <mat-label>SUB CATEGORÍA</mat-label>
              <mat-select formControlName="idSubCategoria" id="idSubCategoria">
                <mat-option *ngFor="let subcategoria of subCategioria" [value]="subcategoria.id">
                  {{subcategoria.detalle}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="form-group">
<!--            <label for="cantidad">Cantidad</label>-->
<!--            <input matInput type="text" formControlName="cantidad" class="form-control" id="cantidad" (keyup)="formatoNumerosConComas($event.target.value)"-->
<!--                   maxlength="15" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--            <mat-card-hint status="danger"-->
<!--                      *ngIf="!asignarConveniosForm.controls['cantidad'].valid&&asignarConveniosForm.controls['cantidad'].dirty">-->
<!--              Se requiere llenar el campo adecuadamente-->
<!--            </mat-card-hint>-->
            <mat-form-field>
              <mat-label>DIVISA</mat-label>
              <mat-select formControlName="idTipoDivisa" id="idTipoDivisa">
                <mat-option *ngFor="let divisas of divisa" [value]="divisas.id">
                  {{divisas.divisa}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="guardarConvenios()"
            [disabled]="!asignarConveniosForm.valid || activo === true" *ngIf="idTipo !== 2">Guardar
    </button>
    <button mat-button
            [disabled]="!asignarConveniosForm.valid" (click)="updateConvenio()" *ngIf="idTipo === 2">Actualizar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
