<mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEmpleado(1)">
    </div>
  </div>
  <mat-card-content>
    <div>
      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          ALTA IMSS
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre + ' ' + element.apellidoPaterno + ' ' + element.apellidoMaterno}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TELÉFONO</th>
          <td mat-cell *matCellDef="let element">
            {{ element.telefonoMovil }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            CORREO ELECTRÓNICO
          </th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="fechaIngreso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            FECHA DE INGRESO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fechaIngreso | date: "dd-MMM-yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <div [hidden]="!escritura" class="actions">
              <mat-icon
                (click)="
                  altaImss(
                    element.id,
                    element.fechaIngreso,
                    element.nombre,
                    element.apellidoPaterno,
                    element.apellidoMaterno
                  )
                "
                pTooltip="Asignar IMSS"
              >
                accessibility_new
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
