<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA">
    </div>
  </div>

  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button id="licenciasButton" mat-raised-button (click)="setLicencias() "routerLinkActive="active"> MODIFICAR LICENCIAS</button>
    </div>

    <mat-card-title style="text-align: center;">
      LICENCIAS
    </mat-card-title>
    <!--    <div class="title">-->
    <!--      <span style="font-size: 1.7em; font-weight: 500">VACANTES</span>-->
    <!--    </div>-->
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

<!--  <div class="button">-->
<!--    <button id="licenciasButton" mat-raised-button (click)="setLicencias() "routerLinkActive="active" style="float:right; margin: 8px"> MODIFICAR LICENCIAS</button>-->
<!--  </div>-->
  <mat-card-content>
    <div>

      <table mat-table [dataSource]="dataSource2" matSort class ="mat-elevation-z8">

        <ng-container matColumnDef="idlicencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID LICENCIA </th>
          <td mat-cell *matCellDef="let element">
            <p *ngIf="element.id === 1 ">EJECUTIVO</p>
            <p *ngIf="element.id === 2 ">AHORRA ASISTENCIAS</p>
            <p *ngIf="element.id === 3 ">ADMINISTRATIVO</p> </td>
            </ng-container>
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="libres">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> LIBRES </th>
          <td mat-cell *matCellDef="let element">
            <p *ngIf="element.id === 1 ">{{libresejecutivos}}</p>
            <p *ngIf="element.id === 2 ">{{libresasistencia}}</p>
            <p *ngIf="element.id === 3 ">{{libresadministrativos}}</p>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols2"></tr>
        <tr mat-row *matRowDef="let row; columns: cols2;"></tr>
      </table>

    </div>

  </mat-card-content>
</mat-card>



<mat-card style="margin-top: 5%;">

  <div class="button-input">
    <div class="button">
      <button mat-button (click)="setUsuariosSinCorreos()" style="margin: 8px;">SIN ASIGNAR</button>
      <button mat-button (click)="setUsuariosConCorreos()" style="margin: 8px;">ASIGNADO</button>
    </div>

    <mat-card-title>
      USUARIOS
    </mat-card-title>

    <div class="input">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
  <div>

      <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

        <ng-container matColumnDef="datosusuarios">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> DatosUsuarios </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon (click)="verDatosUsuarios(element.id, element.usuario, element.idCorreo)"
                      pTooltip="Ver detalles" mat-raised-button id="verDetalles" >
              remove_red_eye
            </mat-icon>

            <!--<nb-actions size="small">-->
              <!--<nb-action class="eva eva-eye-outline custom-icon" pTooltip="DatosUsuarios" (click)="verDatosUsuarios(element.id, element.usuario, element.idCorreo)">-->
              <!--</nb-action>-->
            <!--</nb-actions>-->
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="idcorreo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdCorreo </th>
          <td mat-cell *matCellDef="let element"> {{element.idCorreo}} </td>
        </ng-container>
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="idempleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> IdEmpleado </th>
          <td mat-cell *matCellDef="let element"> {{element.idEmpleado}} </td>
        </ng-container>
        <ng-container matColumnDef="grupousuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> GrupoUsuario </th>
          <td mat-cell *matCellDef="let element"> {{element.grupoUsuarios}} </td>
        </ng-container>
        <ng-container matColumnDef="asignado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignado </th>
          <td mat-cell *matCellDef="let element" [ngClass]="element.asignado === 0 ? 'old': 'oldred'">
            <p *ngIf="element.asignado == 0 "> No asignado</p>
            <p *ngIf="element.asignado == 1 "> Asignado </p>
             </td>
        </ng-container>
        <ng-container matColumnDef="asignaciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef mat-sort-header> Asignaciones </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon (click)="cambiarAlias(element.id, element.usuario, element.idCorreo )" pTooltip="Asignar alias" mat-raised-button
              >email
              </mat-icon>
              <mat-icon *ngIf="element.idEmpleado != null "(click)="desvincularCorreo(element.idEmpleado)" pTooltip="Desvincular correo" mat-raised-button
              id="delete" >person_add_disabled
              </mat-icon>
              <mat-icon *ngIf="element.datosUsuario != null " (click)="modificarExtension(element.id, element.datosUsuario )" pTooltip="Modificar extension" mat-raised-button>
                phone
              </mat-icon>

            </div>
          <!--<nb-action>-->
              <!--</nb-action>-->
              <!--<nb-action class="eva eva-person-delete custom-icon2"   pTooltip="Desvincular correo"  *ngIf="element.idEmpleado != null "(click)="desvincularCorreo(element.idEmpleado)">-->
              <!--</nb-action>-->
              <!--<nb-action class="eva eva-phone-missed custom-icon"  pTooltip="Modificar extension"  *ngIf="element.datosUsuario != null " (click)="modificarExtension(element.id, element.datosUsuario )">-->
              <!--</nb-action>-->

            <!--<nb-actions size="small">-->

              <!--<nb-action class="eva eva-email custom-icon"  pTooltip="Asignar alias" (click)="cambiarAlias(element.id, element.usuario, element.idCorreo )">-->

              <!--</nb-action>-->
              <!--<nb-action class="eva eva-person-delete custom-icon2"   pTooltip="Desvincular correo"  *ngIf="element.idEmpleado != null "(click)="desvincularCorreo(element.idEmpleado)">-->
              <!--</nb-action>-->
              <!--<nb-action class="eva eva-phone-missed custom-icon"  pTooltip="Desvincular extension"  *ngIf="element.datosUsuario != null " (click)="desvincularExtension(element.id, element.datosUsuario )">-->
              <!--</nb-action>-->

              <!--</nb-actions>-->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>

  </div>
  </mat-card-content>

</mat-card>
