
mat-form-field {
  width: 100%;
}



table {
  width: 80%;
  margin: auto;
}
.mat-header-cell {
  color: #fff;
}


.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  width: 80%;
  margin: auto;
}
.old{
  background-color: #d5f7bf;
}
.oldred{
  background-color: #fdcece;
}
