<mat-card class="example-form">
  <mat-card-title>
    AGREGAR TIPO
  </mat-card-title>
  <mat-card-content>


    <form [formGroup]="agregarTipoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group" >

            <mat-form-field class="example-full-width">
              <input class="form-control" matInput type="text" formControlName="tipo" oninput="this.value = this.value.toUpperCase()"
                     placeholder="TIPO" id="tipo"  />
              <mat-hint *ngIf="!agregarTipoForm.controls['tipo'].valid&&agregarTipoForm.controls['tipo'].dirty">
                TIPO <strong>obligatorio</strong>
              </mat-hint>
            </mat-form-field>

          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardarTipo()" [disabled]="!agregarTipoForm.valid"> Guardar</button>
    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>
