<mat-card>
  <mat-card-title *ngIf="idTipo === 1">ASIGNAR CATEGORIA CAMPAÑA</mat-card-title>
  <mat-card-title *ngIf="idTipo === 2">ASIGNAR CATEGORIA CAMPAÑA</mat-card-title>
  <mat-card-content>
    <form [formGroup]="categoriaCampanaForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
<!--            <label for="idCategoria">Categorias</label>-->
<!--            <p-dropdown [options]="categoria" formControlName="idCategoria" id="idCategoria"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
<!--                        placeholder="Seleccione Sub area"></p-dropdown>-->
          <mat-form-field>
            <mat-label>CATEGORIAS</mat-label>
            <mat-select formControlName="idSubRamo" id="idCategoria">
              <mat-option *ngFor="let cat of categorias" [value]="cat.id">
                {{cat.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          </div>
          <div class="form-group">
            <mat-form-field>

              <textarea matInput type="text" formControlName="comentarios" class="form-control" id="comentarios"
                       oninput="this.value = this.value.toUpperCase()" placeholder="COMENTARIOS"
                     onDrop="return false" onPaste="return false" autocomplete="off"></textarea>
              <mat-hint *ngIf="!categoriaCampanaForm.controls['comentarios'].valid&&categoriaCampanaForm.controls['comentarios'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guradarCategoriaCampana()" [disabled]="!categoriaCampanaForm.valid">GUARDAR</button>
    <button mat-button (click)="dismiss()">CERRAR</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateCategoriasCampana()" [disabled]="!categoriaCampanaForm.valid">ACTUALIZAR</button>
    <button mat-button (click)="dismiss()">CERRAR</button>
  </mat-card-actions>
</mat-card>
