//kit-cardheader {
//  border-radius: 3px;
//  padding: 1rem 15px;
//  margin-left: 15px;
//  margin-right: 15px;
//  margin-top: -30px;
//  border: 0;
//  color: white;
//}
//
//.btn-resultado {
//  color: black !important;
//  border: 1px;
//  margin-left: 10px;
//}
//
//.icons-resul {
//  font-size: 22px !important;
//}
//
//.txt-descargar {
//  color: white;
//  padding-top: 11px;
//  font-size: 25px;
//}
//
.btn-descargar {
  color: white;
}
//
//.mat-form-field {
//  width: 100% !important;
//}
//
//.mat-list-icon {
//  color: rgba(0, 0, 0, 0.54);
//}

///**
//* Hoja de estilos del componente áreas
// **/
//.estilo-kit {
//  border: 0;
//  margin-bottom: 30px;
//  margin-top: 30px;
//  border-radius: 6px;
//  color: rgba(0, 0, 0, .87);
//  background: #fff;
//  width: 100%;
//  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
//}
//
//.kit-cardheader {
//  border-radius: 3px;
//  padding: .5rem 15px;
//  margin-left: 15px;
//  margin-right: 15px;
//  margin-top: -30px;
//  border: 0;
//  color: white;
//}
//
//.txt-lista {
//  text-align: center;
//  padding-top: 15px;
//  font-size: 22px;
//  font-weight: 500;
//}
//
//.img-iconos {
//  padding: 10px;
//  border-radius: 10%;
//}
//
//.color-ruta {
//  color: white !important;
//  text-align: center;
//  font-weight: 500;
//}
//
//.btn-pink {
//  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(233, 30, 99, .6);
//  background: linear-gradient(60deg, #ec407a, #c2185b);
//  padding: 14px;
//}


* {
  box-sizing: border-box;
}

.card-header-kit {
  background-color: #354089;
}

.card-body > .subtitle {
  margin-bottom: 5%;
}

mat-card {
  padding: 0;
  font-family: 'Montserrat', Arial;
}

mat-card-content {
  padding: 0% 5%;
  padding-bottom: 3%;
}
//.title {
//  width: 100%;
//  text-align: center;
//  background-color: #354089;
//  margin-bottom: 5%;
//}
//.title .text-title {
//  position: relative;
//  display: block;
//  color: white;
//  padding: 2.5% 0%;
//  font-family: 'Montserrat', Arial;
//  font-size: 1.4em;
//  letter-spacing: 2px;
//}
.mat-button-toggle-group-appearance-standard,
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  border: none !important;
}

mat-button-toggle-group {
  width: 70%;
}

mat-button-toggle {
  width: 10%;
}
mat-button-toggle i {
  color: #ffffff;
}

mat-button-toggle[_ngcontent-tij-c13]:focus {
  opacity: 0.75 !important;
  outline: none !important;
}

mat-card > mat-card-title {
  padding: 4% 0 !important;
}

.subtitle {
  font-size: 1.3em;
  color: #354089;
  font-weight: 500;
}

.mat-header-cell {
  background-color: #111218;
  color: white;
}

//mat-form-field {
//  width: 22%;
//}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.icono, .color {
  display: flex;
  flex-direction: column;
  margin: 3% 0%;
}

.button {
  color: #fff!important;
  background-color: #354089!important;
  margin-bottom: 3% !important;
  transition: 0.7s all ease-in-out;
}

.button:disabled {
  background-color: transparent!important;
  color: #777777!important;
  border: 1px solid #777777;
}

mat-card-actions {
  text-align: center;
  margin-bottom: 4%;
}

.card-text mat-card-title {
  padding: 2% 0;
  color: white !important;
}


/* input color class */
::ng-deep input.mat-input-element {
  color: #111218!important;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #354089 !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #354089 !important;
}
.mat-form-field-invalid .mat-input-element {
  caret-color: #ccc!important;
}
