<mat-card>
  <!--  <div class="reload-all">-->
  <!--    <div class="icon-all">-->
  <!--      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA">-->
  <!--    </div>-->
  <!--  </div>-->
  <mat-card-title>
    RESULTADOS
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="resultadosForm" (ngSubmit)="filtrarPreguntas(fechaInicio.value, fechaFin.value)">
      <div class="container ctn-principal">
        <div class="row">
          <div class="col-md-12">
            <div class="card estilo-kit">
              <div class="card-header-kit">
                <div class="card-text">
                  <mat-card-title class="card-title txt-centrado">RESULTADOS OBTENIDOS.</mat-card-title>
                </div>
              </div>

              <div class="card-body">
                <span class="subtitle">Exportar a Excel.</span>
                <div class="row">
                  <div class="col-4">
                    <mat-form-field class="datepicker">
                      <input matInput #fechaInicio [matDatepicker]="picker" class="form-group"
                             formControlName="fechaInicio"
                             [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.errors }"
                             (dateChange)="filtrarFechas()" placeholder="Selecciona Fecha Inicial">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field class="datepicker">
                      <input matInput #fechaFin [min]="minDate" [matDatepicker]="picker1" class="form-group"
                             formControlName="fechaFin"
                             [ngClass]="{ 'is-invalid': submitted && f.fechaFin.errors }"
                             placeholder="Selecciona Fecha Final">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-1">
                    <button> <mat-icon>search</mat-icon></button>
                  </div>
                  <div class="col-3">
                    <button class="mat-raised-button verde-kit btn-descargar" (click)="exportAsXLSX()">DESCARGAR EXCEL
                    </button>
                  </div>
                </div>
                <table class="table">
                  <thead>
                  <tr>
                    <th>ÁREA</th>
                    <th>PREGUNTA</th>
                    <th>RESULTADOS</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let  lista of areasPreguntasRespuestas">
                  <tr>
                    <td><p class="texto-gris">{{lista.area.nombre}}</p></td>
                    <td><p class="texto-gris">{{lista.pregunta.pregunta}}</p></td>
                    <td>
                      <div class="btn-resultado" *ngFor="let r of lista.respuesta">
                        <i class="material-icons icons-resul">{{r.icono}} </i> {{r.respuestas}}
                        --> {{r.contador}}
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
