<mat-card class="view">

  <div class="header">
    <span id="titulo-modals">DATOS BAJA</span>
  </div>

  <mat-card-content>
    <div class="nombre" id="box">
      <p id="title"><span>NOMBRE:</span> {{nombre}}</p>
    </div>
<!--    <div class="nombre" id="box">-->
<!--      <p id="title"><span>ETAPA:</span> {{etapa}}</p>-->
<!--    </div>-->
<!--    <div class="nombre" id="box">-->
<!--      <p id="title"><span>SEDE:</span> {{sede}}</p>-->
<!--    </div>-->
<!--    <div class="nombre" id="box">-->
<!--      <p id="title"><span>SUBAREA:</span> {{subArea}}</p>-->
<!--    </div>-->
    <div class="apellidoPaterno" id="box">
      <p id="title"><span>FECHA DE BAJA:</span> {{fechaBaja}}</p>
    </div>

    <div class="apellidoMaterno" id="box">
      <p id="title"><span>DETALLE DE BAJA:</span> {{detalleBaja}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>

</mat-card>
