<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getTipoSubramo(1)">
    </div>
  </div>
  <div [hidden]="!escritura" class="button-input">
    <div class="button">
      <button mat-raised-button (click)="crearTipoSubramo()">CREAR TIPO SUB RAMO</button>
    </div>
    <mat-card-title>TIPO SUB RAMO</mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO</th>
          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <!-- Name Column -->

        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef style="text-align: center"> ACCIONES</th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions-comercial">
              <mat-icon (click)="updateTipoSubramo(element.id)" pTooltip="Modificar Tipo Sub Ramo" mat-raised-button
              >edit
              </mat-icon>
              <mat-icon (click)="bajaTipoSubramo(element.id)" id="delete" pTooltip="Eliminar Tipo Sub Ramo" mat-raised-button
              >delete_forever
              </mat-icon>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
