<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row" style="padding-bottom: 25px;">
          <div class="col">
            <mat-toolbar color="primary">REPORTE COMERCIAL</mat-toolbar>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-12 col-sm-12">
            <mat-card>
              <mat-card-content id="estado"></mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <mat-card>
              <mat-card-content id="prioridad"></mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-content id="presupuesto"></mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 ">
            <mat-card>
                <mat-card-header>
                      <div class="col-lg-8 col-md-12 col-sm-12">
                        <mat-card-title>
                          TOTAL DE SOCIO: {{ contadorPermisos }}
                        </mat-card-title>
                      </div>
                </mat-card-header>
            </mat-card>
            <mat-card>
                  <mat-card-content id="contrato">
                  </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>
