mat-card {
  padding: 0;
  min-width: 300px;
}

mat-card-content {
  margin: 0;
}

mat-card-actions {
  margin: 5px;
}
#actions button{
  background-color: #111218;
  color: white;
  width: 50%;
  margin-bottom: 10px;
}

#actions {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: -15px;
}

#actions mat-icon {
  align-self: flex-end;
}
