<mat-card class="example-form">
  <mat-card-title *ngIf="idTipo === 1">CREAR CAMPAÑA</mat-card-title>
  <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR CAMPAÑA</mat-card-title>
  <mat-card-content>
    <form [formGroup]="campanaMarketingForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group">
<!--            <label for="idSubarea">SUB ÁREA</label>-->
<!--            <p-dropdown [options]="subAreas" formControlName="idSubarea" id="idSubarea"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
<!--                        placeholder="Seleccione Sub area"></p-dropdown>-->
            <mat-form-field>
              <mat-label>SUB ÁREA</mat-label>
              <mat-select formControlName="idSubarea" id="idSubarea">
                <mat-option *ngFor="let sub of subarea" [value]="sub.id">
                  {{sub.subarea}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="nombre" class="form-control" id="nombre" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="NOMBRE CAMPAÑA" style="padding: 0px;"/>
              <mat-hint *ngIf="!campanaMarketingForm.controls['nombre'].valid&&campanaMarketingForm.controls['nombre'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="descripcion" class="form-control" id="descripcion"
                     oninput="this.value = this.value.toUpperCase()" placeholder="DESCRIPCIÓN"
                     onDrop="return false" onPaste="return false" autocomplete="off" style="padding: 0px;"/>
              <mat-hint *ngIf="!campanaMarketingForm.controls['descripcion'].valid&&campanaMarketingForm.controls['descripcion'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarCampanaMarketing()" [disabled]="!campanaMarketingForm.valid">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateCampanaMarketing()" [disabled]="!campanaMarketingForm.valid">Actualizar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
