<mat-card class="m-3">
  <mat-card-header >
    <mat-card-title *ngIf="idTipo == 1">CREAR BOLSA DE TRABAJO</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR BOLSA DE TRABAJO</mat-card-title>
  </mat-card-header>
 <!-- <nb-card-header *ngIf="idTipo == 3">Baja Bolsa de Trabajo</nb-card-header>-->
  <mat-card-content>
    <h4 *ngIf="bolsatrabajoEliminado === true" class="btn-warning text-center">¡Atención esta bolsa de trabajo ha sido Eliminado!</h4>
    <form [formGroup]="bolsaTrabajoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="form-group">

<!--              <label for="tipo">Seleccione Tipo</label>-->
<!--              <p-dropdown [options]="tipo" formControlName="tipo" id="tipo"-->
<!--                          [style]="{'width':'100%','border': '2px solid #dadfe6'}" placeholder="Seleccione Tipo" ></p-dropdown>-->
<!--              <nb-alert status="danger" *ngIf="!bolsaTrabajoForm.controls['tipo'].valid&&bolsaTrabajoForm.controls['tipo'].dirty">-->
<!--                Se requiere llenar el campo </nb-alert>-->

              <mat-form-field>
                <mat-label>SELECCIONE TIPO</mat-label>
                <mat-select formControlName="tipo" id="tipo">
                  <mat-option *ngFor="let type of tipo" [value]="type.value">
                    {{type.label}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!bolsaTrabajoForm.controls['tipo'].valid&&bolsaTrabajoForm.controls['tipo'].dirty">
                  Se requiere llenar el campo </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">

<!--            <label for="nombre">Nombre</label>-->
<!--            <input pInputText type="text"  class="form-control"-->
<!--                   formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"-->
<!--                   placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off" />-->
<!--            <nb-alert status="danger" *ngIf="!bolsaTrabajoForm.controls['nombre'].valid&&bolsaTrabajoForm.controls['nombre'].dirty">-->
<!--              El Campo es requerido </nb-alert>-->
              <mat-form-field>

                <input matInput type="text"  class="form-control" style="padding: 0px;"
                       formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"
                       placeholder="NOMBRE" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off" />
                <mat-hint *ngIf="!bolsaTrabajoForm.controls['nombre'].valid&&bolsaTrabajoForm.controls['nombre'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
          </div>

          <!--<div *ngIf="idTipo == 2">-->
            <!--<div class="form-group">-->
              <!--<label for="nombre">Nombre</label>-->
              <!--<input pInputText type="text"  class="form-control"-->
                     <!--formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letras"-->
                     <!--placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off" />-->
              <!--<nb-alert status="danger" *ngIf="!bolsaTrabajoForm.controls['nombre'].valid&&bolsaTrabajoForm.controls['nombre'].dirty">-->
                <!--El Campo es requerido </nb-alert>-->
            <!--</div>-->

          </div>
          <div class="form-group">
            <mat-hint status="danger" *ngIf="idTipo == 3">Se dara de baja valor de bolsa de trabajo</mat-hint>
          </div>
        </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button id="submit" mat-button *ngIf="idTipo == 1" (click)="guardarBolsaTrabajo()" [disabled]="!bolsaTrabajoForm.valid">Guardar
    </button>
    <button id="submit" mat-button *ngIf="idTipo == 2" (click)="updateBolsaTrabajo()" [disabled]="!bolsaTrabajoForm.valid">Modificar
    </button>
    <!--<button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaBolsaTrabajos()">Dar de Baja
    </button>-->
    <button id="submit" mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
