<mat-card class="example-form">
  <mat-card-title *ngIf="idTipo == 1">AÑADIR ESTADO INVENTARIO</mat-card-title>
  <mat-card-title *ngIf="idTipo == 2">MODIFICAR ESTADO INVENTARIO</mat-card-title>
  <mat-card-content>
    <form [formGroup]="estadoInventarioCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1 || idTipo == 2">
            <div class="form-group">

<!--              <label for="estado">Estado</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="estado"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!estadoInventarioCreateForm.controls['estado'].valid&&estadoInventarioCreateForm.controls['estado'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
<!--              -->
              <mat-form-field>

                <input matInput type="text" class="form-control"
                       formControlName="estado" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="ESTADO" id="estado" style="padding: 0px;"/>
                <mat-hint *ngIf="!estadoInventarioCreateForm.controls['estado'].valid&&estadoInventarioCreateForm.controls['estado'].dirty">
                  El Campo es requerido
                </mat-hint>

              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="idEstadoInventario">Estado Inventario</label>-->
<!--              <p-dropdown [options]="tiposidEstado" formControlName="idEstadoInventario"-->
<!--                          placeholder="Estado Inventario"-->
<!--                          id="idEstadoInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field>
                <mat-label>ESTADO INVENTARIO</mat-label>
                <mat-select formControlName="idEstado"
                            placeholder="Estado Inventario"
                            id="idEstadoInventario">
                  <mat-option *ngFor="let tipos of tiposidEstado" [value]="tipos.value">
                    {{tipos.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>

        <button mat-button *ngIf="idTipo == 1" (click)="guardarEstadoInventario()"[disabled]="!estadoInventarioCreateForm.valid">Guardar</button>
        <button mat-button *ngIf="idTipo == 2" (click)="updateEstadoInventario()"[disabled]="!estadoInventarioCreateForm.valid">Modificar</button>
        <button mat-button (click)="dismiss()">Cerrar</button>

  </mat-card-actions>
</mat-card>
