<mat-card class="example-form">

    <mat-card-title *ngIf="idTipo == 1"> CREAR DIADEMA </mat-card-title>
    <mat-card-title *ngIf="idTipo == 2"> MODIFICAR DIADEMA </mat-card-title>

  <mat-card-content>
    <form [formGroup]="diademaCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1 || idTipo == 2" >
            <div class="form-group">

<!--              <label for="numFolio">Numero de Folio</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="numFolio" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="numFolio" />-->
<!--              <nb-alert status="danger" *ngIf="!diademaCreateForm.controls['numFolio'].valid&&diademaCreateForm.controls['numFolio'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="numFolio" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="NÚMERO DE FOLIO" id="numFolio" style="padding: 0px;"/>
                <mat-hint *ngIf="!diademaCreateForm.controls['numFolio'].valid&&diademaCreateForm.controls['numFolio'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>

            </div>
            <div class="form-group">
<!--              <label for="marca">Marca</label>-->
              <!--<input pInputText type="text"  class="form-control"-->
                     <!--formControlName="marca" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
                     <!--placeholder="Campo Obligatorio" id="marca" />-->
<!--              <p-dropdown [options]="marca" formControlName="idMarca" placeholder="Campo Obligatorio"-->
<!--                          id="marca" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--              <nb-alert status="danger" *ngIf="!diademaCreateForm.controls['idMarca'].valid&&diademaCreateForm.controls['idMarca'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->

              <mat-form-field>
                <mat-label>MARCA</mat-label>
                <mat-select formControlName="idMarca" id="marca">
                  <mat-option *ngFor="let m of marcas" [value]="m.id">
                    {{m.nombreMarca}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!diademaCreateForm.controls['idMarca'].valid&&diademaCreateForm.controls['idMarca'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="idEstadoInventario">Estado Inventario</label>-->
<!--              <p-dropdown [options]="estadoInventario" formControlName="idEstadoInventario" placeholder="Estado Inventario"-->
<!--                          id="idEstadoInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field>
                <mat-label>ESTADO INVENTARIO</mat-label>
                <mat-select formControlName="idEstadoInventario" id="idEstadoInventario">
                  <mat-option *ngFor="let e of estado" [value]="e.id">
                    {{e.estado}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="form-group">
<!--              <label for="idObservacionesInventario">Observaciones Inventario</label>-->
<!--              <p-dropdown [options]="ObservacionesInventario" formControlName="idObservacionesInventario" placeholder="Estado Inventario"-->
<!--                          id="idObservacionesInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field>
                <mat-label>OBSERVACIONES INVENTARIO</mat-label>
                <mat-select formControlName="idObservacionesInventario" id="idObservacionesInventario">
                  <mat-option *ngFor="let o of observaciones" [value]="o.id">
                    {{o.observaciones}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="form-group" >

              <mat-form-field>
                <mat-label>ORIGEN DE EQUIPO </mat-label>
                <mat-select formControlName="origenRecurso" id="origenEquipo" >
                  <mat-option *ngFor="let origen of origenEquipos"
                              [value]="origen.value">
                    {{origen.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">

              <mat-form-field>
                <mat-label>SEDE </mat-label>
                <mat-select formControlName="idTipoSede" id="idSede" (selectionChange)="getArea($event.value)">
                  <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                    {{sede.descripcion}}
                  </mat-option>
                </mat-select>
                <mat-hint  *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
<!--              <label for="comentarios">Comentarios</label> <br>-->
<!--              <textarea pInputTextarea  id="comentarios" type="text" formControlName="comentarios" class="form-control"-->
<!--                        oninput="this.value = this.value.toUpperCase()" maxlength="30" pKeyFilter="letrasNumeros"></textarea>-->
<!--              <nb-alert status="danger" *ngIf="!diademaCreateForm.controls['comentarios'].valid&&diademaCreateForm.controls['comentarios'].dirty">-->
<!--                Se requiere llenar el campo</nb-alert>-->
              <mat-form-field>
                <textarea matInput  id="comentarios" type="text" formControlName="comentarios" class="form-control"
                          oninput="this.value = this.value.toUpperCase()" maxlength="30" pKeyFilter="letrasNumeros"
                          placeholder="COMENTARIOS" style="padding: 0;"></textarea>
                <mat-hint *ngIf="!diademaCreateForm.controls['comentarios'].valid&&diademaCreateForm.controls['comentarios'].dirty">
                  Se requiere llenar el campo</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-button *ngIf="idTipo == 1" (click)="guardarCreateDiadema()" [disabled]="!diademaCreateForm.valid">Guardar</button>
      <button mat-button *ngIf="idTipo == 2" (click)="updateDiadema()" [disabled]="!diademaCreateForm.valid">Modificar</button>
      <button mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>
