.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

input{
  border: none;
}

.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}


/* input color class */
::ng-deep input.mat-input-element {
  color: #111218;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #111218 !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #111218 !important;
}
.mat-form-field-invalid .mat-input-element{
  caret-color: #111218;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

#nombre, #apellidoPaterno, #apellidoMaterno,
#edad, #correo, #telefono, #cp {
  padding: 0px;
}

.mat-card-header {
  text-align: center;
  display: block;
  margin-bottom: 3%;
}



mat-card{
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}

.mat-hint{
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions{
  text-align: right;
}
mat-card-actions button{
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled{
  background-color: transparent;
}

textarea {
  padding: 0;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.button mat-icon {
  cursor: pointer;
  color: #111218;
  transition: all 0.8s;
}

.button mat-icon:hover {
  color: #138d75;
}



.button button {
  background-color: transparent;
  color: #111218;
  border: 1.5px solid #138d75;
  transition: all 0.5s;
}
.button button:hover {
  background-color: #138d75;
  color: white;
}

.form-group>label {
  font-weight: 500;
  text-decoration: underline;
  
}
