<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>ASISTENCIA COUCHING</mat-card-title>

    <mat-card-subtitle><div *ngIf="idTipo !==2 && activoAsistencia === true">Día {{diaCapacitacion}}</div></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4 *ngIf="teoricoEliminado === true" class="btn-warning text-center">¡Atención este couching ha sido Eliminado!</h4>
    <h1 *ngIf="activoAsistencia === false">Aún no inicia Couching</h1>
    <form [formGroup]="formAsistencia" *ngIf="activoAsistencia === true">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="idTipo !== 2">
              <div class="form-group">
                <nb-radio-group id="asistencia" (valueChange)="habilita()">
                  <nb-radio #radioSi name="si" value="1">Asistio</nb-radio>
                  <nb-radio #radioNo name="no" value="0">No Asistio</nb-radio>
                </nb-radio-group>
              </div>
              <div class="form-group" *ngIf="asistio">
                <!--<div class="form-group">-->
                  <!--<label for="horaAsistenciaG">Hora de Asistencia</label>-->
                  <!--<input nbInput type="time" (change)="habilita()" formControlName="horaAsistenciaG" shape="semi-round" min="9:00" max="17:00"-->
                         <!--id="horaAsistenciaG" fullWidth/>-->
                  <!--<mat-hint *ngIf="!formAsistencia.controls['horaAsistenciaG'].valid&&formAsistencia.controls['horaAsistenciaG'].dirty">-->
                    <!--Se requiere una hora adecuada</mat-hint>-->
                  <label for="horaAsistenciaG" style="color: #354089; font-weight: 500; font-size: 0.75em;">Hora de cita</label>
                  <input nbInput type="time" formControlName="horaAsistenciaG" (change)="habilita()" shape="semi-round" min="9:00" max="5:00"
                         id="horaAsistenciaG" fullWidth style="outline: none; border: none; padding: 0px; color: #111218;
                                            font-weight: 500; border-bottom: 1.5px solid #354089; border-radius: 0px;"/>


                  <mat-hint *ngIf="!formAsistencia.controls['horaAsistenciaG'].valid&&formAsistencia.controls['horaAsistenciaG'].dirty">
                    Se requiere una hora adecuada</mat-hint>
                <!--</div>-->
            </div>
              </div>
          <!--****************************Aqui empieza el form para actualizar las asistencias****************************************************************-->
            <div class="row" *ngIf="idTipo === 2">
              <div class="col-sm-6">
                  <div class="form-group" *ngIf="visible1">
                    <label id="diaAsistencia1">DÍA TEÓRICO: 1</label><br/>
<!--                    <label id="fecha">Fecha Teórico:</label>-->
<!--                    <input nbInput type="date" (ngModelChange)="modificarFecha(1, $event)" formControlName="fechaAsistencia1" shape="semi-round"-->
<!--                           id="fechaAsistencia1" onDrop="return false" onPaste="return false" fullWidth/>-->
<!--                    <label id="deatlle1">Comentarios Teórico:</label>-->
<!--                    <textarea nbInput type="text" (ngModelChange)="modificarDetalle(1, $event)" formControlName="detalleAsistencia1" shape="semi-round" placeholder="Detalles Asistencia"-->
<!--                              id="detalleAsistencia1" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>-->
<!--                    <nb-alert status="danger" *ngIf="!formAsistencia.controls['detalleAsistencia1'].valid && formAsistencia.controls['detalleAsistencia1'].dirty">-->
<!--                      Se requieren detalles asistencia</nb-alert>-->
<!--                    <button nbButton hero size="xsmall" status="primary" (click)="agregarAsistencia(1)" *ngIf="anadir1 !== 0">Añadir</button>-->
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" (ngModelChange)="modificarFecha(1, $event)" formControlName="fechaAsistencia1" shape="semi-round"
                             id="fechaAsistencia1" onDrop="return false" onPaste="return false" fullWidth placeholder="FECHA TEÓRICO"/>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                      <textarea matInput type="text" (ngModelChange)="modificarDetalle(1, $event)" formControlName="detalleAsistencia1" shape="semi-round" placeholder="COMENTARIOS TEÓRICO"
                                id="detalleAsistencia1" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
                    </mat-form-field>

                      <mat-hint *ngIf="!formAsistencia.controls['detalleAsistencia1'].valid && formAsistencia.controls['detalleAsistencia1'].dirty">
                        Se requieren detalles asistencia</mat-hint>

                    <div class="button" *ngIf="anadir1 !== 0">
<!--                      <button mat-button (click)="agregarAsistencia(1)" *ngIf="anadir1 !== 0">Añadir</button>-->
                      <mat-icon (click)="agregarAsistencia(1)" *ngIf="anadir1 !== 0">add_circle</mat-icon>
                      <span>Añadir</span>
                    </div>
                  </div>


                  <div class="form-group" *ngIf="visible2">
                    <label id="diaAsistencia2">DÍA TEÓRICO: 2</label><br/>
<!--                    <label id="fecha2">Fecha Teórico:</label>-->
<!--                    <input nbInput type="date" (ngModelChange)="modificarFecha(2, $event)" formControlName="fechaAsistencia2" shape="semi-round"-->
<!--                           id="fechaAsistencia2" onDrop="return false" onPaste="return false" fullWidth/>-->
<!--                    <label id="deatlle2">Comentarios Teórico:</label>-->
<!--                    <textarea nbInput type="text" (ngModelChange)="modificarDetalle(2, $event)" formControlName="detalleAsistencia2" shape="semi-round" placeholder="Detalles Asistencia"-->
<!--                              id="detalleAsistencia2" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>-->
<!--                    <nb-alert status="danger" *ngIf="!formAsistencia.controls['detalleAsistencia2'].valid && formAsistencia.controls['detalleAsistencia2'].dirty">-->
<!--                      Se requieren detalles asistencia</nb-alert>-->
<!--                    <button nbButton hero size="xsmall" status="primary" (click)="agregarAsistencia(2)" *ngIf="anadir2 !== 0">Añadir</button>-->

                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" (ngModelChange)="modificarFecha(2, $event)" formControlName="fechaAsistencia2" shape="semi-round"
                             id="fechaAsistencia2" onDrop="return false" onPaste="return false" fullWidth placeholder="FECHA TEÓRICO"/>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                      <textarea matInput type="text" (ngModelChange)="modificarDetalle(2, $event)" formControlName="detalleAsistencia2" shape="semi-round" placeholder="COMENTARIOS"
                                id="detalleAsistencia2" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
                      <mat-hint status="danger" *ngIf="!formAsistencia.controls['detalleAsistencia2'].valid && formAsistencia.controls['detalleAsistencia2'].dirty">
                        Se requieren detalles asistencia</mat-hint>
                    </mat-form-field>

                    <div class="button" *ngIf="anadir2 !== 0">
<!--                      <button mat-button (click)="agregarAsistencia(2)" *ngIf="anadir2 !== 0">Añadir</button>-->
                      <mat-icon (click)="agregarAsistencia(2)" *ngIf="anadir2 !== 0">add_circle</mat-icon>
                      <span>Añadir</span>
                    </div>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="form-group" *ngIf="visible3">
                    <label id="diaAsistencia3">DÍA TEÓRICO: 3</label><br/>
<!--                    <label id="fecha3">Fecha Teórico:</label>-->
<!--                    <input nbInput type="date" (ngModelChange)="modificarFecha(3, $event)" formControlName="fechaAsistencia3" shape="semi-round"-->
<!--                           id="fechaAsistencia3" onDrop="return false" onPaste="return false" fullWidth/>-->
<!--                    <label id="deatlle3">Comentarios Teórico:</label>-->
<!--                    <textarea nbInput (ngModelChange)="modificarDetalle(3, $event)" formControlName="detalleAsistencia3" shape="semi-round" placeholder="Detalles Asistencia"-->
<!--                              id="detalleAsistencia3" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>-->
<!--                    <nb-alert status="danger" *ngIf="!formAsistencia.controls['detalleAsistencia3'].valid && formAsistencia.controls['detalleAsistencia3'].dirty">-->
<!--                      Se requieren detalles asistencia</nb-alert>-->
<!--                    <button nbButton hero size="xsmall" status="primary" (click)="agregarAsistencia(3)" *ngIf="anadir3 !== 0">Añadir</button>-->

                    <mat-form-field>
                    <input matInput [matDatepicker]="picker" (ngModelChange)="modificarFecha(3, $event)" formControlName="fechaAsistencia3" shape="semi-round" placeholder="FECHA TEÓRICO"
                           id="fechaAsistencia3" onDrop="return false" onPaste="return false" fullWidth/>

                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                    <textarea matInput (ngModelChange)="modificarDetalle(3, $event)" formControlName="detalleAsistencia3" shape="semi-round" placeholder="COMENTARIOS"
                              id="detalleAsistencia3" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
                    <mat-hint *ngIf="!formAsistencia.controls['detalleAsistencia3'].valid && formAsistencia.controls['detalleAsistencia3'].dirty">
                      Se requieren detalles asistencia</mat-hint>
                    </mat-form-field>
                    <div class="button" *ngIf="anadir3 !== 0">
<!--                      <button mat-button (click)="agregarAsistencia(3)" *ngIf="anadir3 !== 0">Añadir</button>-->
                      <mat-icon (click)="agregarAsistencia(3)" *ngIf="anadir3 !== 0">add_circle</mat-icon>
                      <span>Añadir</span>
                    </div>

                  </div>


                  <div class="form-group"*ngIf="visible4">
                    <label id="diaAsistencia4">DÍA TEÓRICO: 4</label><br/>

<!--                    <label id="fecha4">Fecha Teórico:</label>-->
<!--                    <input nbInput type="date" (ngModelChange)="modificarFecha(4, $event)" formControlName="fechaAsistencia4" shape="semi-round"-->
<!--                           id="fechaAsistencia4" onDrop="return false" onPaste="return false" fullWidth/>-->
<!--                    <label id="deatlle4">Comentarios Teórico:</label>-->
<!--                    <textarea nbInput type="text" (ngModelChange)="modificarDetalle(4, $event)" formControlName="detalleAsistencia4" shape="semi-round" placeholder="Detalles Asistencia"-->
<!--                              id="detalleAsistencia4" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>-->
<!--                    <nb-alert status="danger" *ngIf="!formAsistencia.controls['detalleAsistencia4'].valid && formAsistencia.controls['detalleAsistencia4'].dirty">-->
<!--                      Se requieren detalles asistencia</nb-alert>-->
<!--                    <button nbButton hero size="xsmall" status="primary" (click)="agregarAsistencia(4)" *ngIf="anadir4 !== 0">Añadir</button>-->
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" (ngModelChange)="modificarFecha(4, $event)" formControlName="fechaAsistencia4" shape="semi-round" placeholder="FECHA TEÓRICO"
                             id="fechaAsistencia4" onDrop="return false" onPaste="return false" fullWidth/>

                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                    <textarea matInput (ngModelChange)="modificarDetalle(4, $event)" formControlName="detalleAsistencia4" shape="semi-round" placeholder="COMENTARIOS"
                              id="detalleAsistencia4" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
                      <mat-hint *ngIf="!formAsistencia.controls['detalleAsistencia4'].valid && formAsistencia.controls['detalleAsistencia4'].dirty">
                        Se requieren detalles asistencia</mat-hint>
                    </mat-form-field>
                    <div class="button" *ngIf="anadir4 !== 0">
<!--                      <button mat-button (click)="agregarAsistencia(4)" *ngIf="anadir3 !== 0">Añadir</button>-->
                      <mat-icon (click)="agregarAsistencia(4)" *ngIf="anadir4 !== 0">add_circle</mat-icon>
                      <span>Añadir</span>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div style="text-align: end">
      <button mat-button [disabled]="!guarTrue" (click)="generarAsistencia()" *ngIf="idTipo !== 2">Guardar</button>
      <button mat-button (click)="updateAsistencia()" *ngIf="idTipo === 2 && activoAsistencia === true">Actualizar</button>
      <button mat-button (click)="dismiss()">Cerrar</button>
    </div>
  </mat-card-actions>
</mat-card>
