
.mat-card-header {
  display: block;
  margin: 0 auto;
}

button{
  background-color: #111218;
  color: #fff;
}

button:disabled {
  background-color: white;
  color: black
}

mat-form-field{
  width: 100%;
}

mat-hint {
  color: tomato;
}
