<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>AGENDAR CITA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4 *ngIf="solicitudEliminada === true" class="btn-warning text-center">¡Atención esta solicitud ha sido Eliminada!</h4>
    <form [formGroup]="formAgendarCita">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group">

            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" formControlName="fechaCita"  shape="semi-round" placeholder="Fecha de cita" [min] ="minDate" (keyup)="validarFechaEscritaManualmente($event.target.value)"
                     id="fechaCita" fullWidth name="somedate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

<!--            <input nbInput type="date" formControlName="fechaCita"  shape="semi-round" placeholder="Fecha d e cita"-->
<!--                   id="fechaCita" fullWidth name="somedate"/>-->


<!--            <input nbInput type="date" formControlName="fechaCita"  shape="semi-round" placeholder="Fecha de cita" (keyup)="validarFechaEscritaManualmente($event.target.value)"-->
<!--                   id="fechaCita" fullWidth name="somedate"/>-->
<!--            <nb-alert status="danger" *ngIf="!formAgendarCita.controls['fechaCita'].valid&&formAgendarCita.controls['fechaCita'].dirty">-->
<!--              Se requiere una fecha adecuada</nb-alert>-->
<!--            <nb-alert status="danger" *ngIf="formAgendarCita.valid && verificarFormulario() === true">-->
<!--              Se requiere una fecha adecuada, estás escogiendo un día no laborable</nb-alert>-->
          </div>

          <div class="form-group">
            <label for="horaCita" style="color: #354089; font-weight: 500; font-size: 0.75em;">Hora de cita</label>
            <input nbInput type="time" formControlName="horaCita" shape="semi-round" min="9:00" max="17:00"
                   id="horaCita" fullWidth style="outline: none; border: none; padding: 0px; color: #111218;
                   font-weight: 500; border-bottom: 1.5px solid #354089; border-radius: 0px;"/>


            <mat-hint *ngIf="!formAgendarCita.controls['horaCita'].valid&&formAgendarCita.controls['horaCita'].dirty">
              Se requiere una hora adecuada</mat-hint>

          </div>

        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button (click)="agendarCita()" [disabled]="verificarFormulario() || inactivo === true">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
