<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEquipo()">
    </div>
  </div>

  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button mat-button (click)="crearSwitch()" *ngIf=" tipoEquipos === 'switch'"> CREAR SWITCH</button>
      <button mat-button (click)="crearServidores()" *ngIf=" tipoEquipos === 'servidores'"> CREAR SERVIDOR</button>
      <button mat-button (click)="crearTarjetaRed()" *ngIf=" tipoEquipos === 'tarjeta de red' || tipoEquipos === 'tarjetadered' "> CREAR TARJETA DE RED</button>
      <button mat-button (click)="crearTelefonoIp()" *ngIf=" tipoEquipos === 'telefonos ip' || tipoEquipos === 'telefonosip'"> CREAR TELEFONO IP</button>
      <button mat-button (click)="crearRacks()" *ngIf=" tipoEquipos === 'rack' || tipoEquipos === 'racks'"> CREAR RACK</button>
      <button mat-button (click)="crearPatchPanel()" *ngIf=" tipoEquipos === 'patch panel' || tipoEquipos === 'patch panel' "> CREAR PATCH PANEL</button>
      <button mat-button (click)="crearCharolaRack()" *ngIf=" tipoEquipos === 'charolas rack' || tipoEquipos === 'charolasrack' "> CREAR CHAROLA</button>
    </div>
  <mat-card-title>
    INVENTARIO REDES
  </mat-card-title>
    <div class="input">
      <mat-form-field>

        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <mat-tab-group (selectedTabChange)="getEquipos($event.tab.textLabel)" >
      <mat-tab label="SWITCH"> </mat-tab>
      <mat-tab label="SERVIDORES">  </mat-tab>
      <mat-tab label="TARJETA DE RED"> </mat-tab>
      <mat-tab label="TELEFONOS IP"> </mat-tab>
      <mat-tab label="RACK"> </mat-tab>
      <mat-tab label="PATCH PANEL"> </mat-tab>
      <mat-tab label="CHAROLAS RACK"> </mat-tab>
    </mat-tab-group>

    <table  mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>

      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef  style="text-align: center"> DETALLE </th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <mat-icon (click) ="verDetalles(element.id, tipoEquipos)" id="verDetalles"
                    pTooltip="Ver detalles" mat-raised-button>
            remove_red_eye
          </mat-icon>


        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let element"> <p *ngIf="element.nombre === null">NO. ASIGNADO</p> {{element.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO </th>
        <td mat-cell *matCellDef="let element"> <p *ngIf="element.usuario === null">NO. ASIGNADO</p>{{element.usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
        <td mat-cell *matCellDef="let element" > {{element.folio}}

        </td>
      </ng-container>
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MARCA </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreMarca}} </td>
      </ng-container>
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVO </th>
        <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef  style="text-align: center;"> ACCIONES </th>
        <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center">
          <mat-card-actions>
            <div class="actions">

              <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'switch' " (click) ="updateSwitch(element.id)">
                edit
              </mat-icon>


              <mat-icon pTooltip="Modificar" *ngIf=" tipoEquipos === 'servidores'" (click) ="updateServidores(element.id)">edit
              </mat-icon>
              <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'tarjeta de red'" (click) ="updateTarjetaRed(element.id)">edit
              </mat-icon>
              <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'telefonos ip'" (click) ="updateTelefonoIp(element.id)">edit
              </mat-icon>
              <mat-icon pTooltip="Modificar" *ngIf=" tipoEquipos === 'rack'"  (click) ="updateRacks(element.id)">edit
              </mat-icon>
              <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'patch panel'" (click) ="updatePatchPanel(element.id)">edit
              </mat-icon>
              <mat-icon  pTooltip="Modificar" *ngIf=" tipoEquipos === 'charolas rack'" (click) ="updateCharolasRack(element.id)">edit
              </mat-icon>

              <mat-icon pTooltip="Asignar Equipo"   *ngIf ="element.idEmpleado === null" (click)="asignarEquipo(element.id, tipoEquipos)">desktop_mac
              </mat-icon>
              <mat-icon pTooltip="Desasignar Equipo"   *ngIf ="element.idEmpleado !== null" (click)="desasignarEquipo(element.id)">phonelink_off
              </mat-icon>
              <mat-icon pTooltip="Eliminar Equipo"   *ngIf ="element.activo === 1 && element.idEmpleado === null"
                        (click)="eliminarEquipo(element.id, tipoEquipos)" id="delete">
                delete_forever
              </mat-icon>
            </div>
          </mat-card-actions>

        </td>
      </ng-container>
    </table>
    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>
