<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getEstadoEscolaridad(1)">
    </div>
  </div>
    <div class="button-input">
      <div  class="button">
        <button [hidden]="!escritura" mat-button (click)="crearEstadoEscolaridad()">CREAR ESTADO ESCOLARIDAD</button>
      </div>
      <mat-card-title>
        ESTADO ESCOLARIDAD
      </mat-card-title>
      <div class="input">
        <mat-form-field>
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                id="short-icon"
                (click)="updateEstadoEscolaridad(element.id)"
                pTooltip="Actualizar Datos de Estado Escolaridad"
                >update</mat-icon
              >
              <mat-icon
                class="short-icon"
                id="delete"
                (click)="bajaEstadoEscolaridad(element.id)"
                pTooltip="Baja de Estado Escolaridad"
                >delete_forever</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
