.custom-icon {
  color: #0bbb79;
  font-size: 20px;
}
table {
  width: 80%;
  margin: 0 auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

/*Globalss*/
button:disabled{
  background-color: #fff;
}

table .mat-header-cell {
  background-color: #111218;
  color: white;
}

mat-card-title {
  width: 100%;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}


.mat-input-element {
  color: #111218;
}

mat-card-content .search {
  width: 100%;
  text-align: right;
}
.mat-form-field {
  font-size: 14px;
  width: 70%;
}

mat-card .button-input {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

mat-card .button {
  width: 50%;
}
mat-card .input {
  width: 50%;
  text-align: end;
}

.mat-raised-button {
  background-color: #111218;
  color: #ffffff;
}

button {
  background-color: #111218;
  color: #fff;
}



