
mat-form-field {
  width: 70%;
}

hr{
  width: 70%;
  margin: 2% auto;
  opacity: 0;
}
mat-card {
  padding: 0;
  font-family: 'Montserrat', Arial;
}

.title{
  width: 100%;
  text-align: center;
  background-color: #354089;
  margin-bottom: 2%;
  border-radius: 0px 0px 15px 15px;
}
.title .text-title {
  position: relative;
  display: block;
  color: white;
  padding: 2.5% 0%;
  font-family: Montserrat, Arial;
  font-size: 1.4em;
  letter-spacing: 2px;
}

input {
  height: 35px;
  width: 100%;
  border: none;
  padding: 0;
  font-weight: 500;
  color: #111218;
}

input:focus {

  border: none;
}


.mat-hint {
  color: tomato;
}

.form-control:focus {
  border: none;
}
.form-control {
  border: none;
  padding: 0px;
  background-color: transparent;
}

#submit {
  width: 100%;
  margin: 0 auto;
  background-color: #111218;
  color: #fff;
  border: 1px solid #111218;
}
#submit:disabled {
  border: 1px solid #e21c51;
  background-color: transparent;
  color: #138d75;
  opacity: 0.6;
}

form{
  width: 90%;
  margin: 0 auto;
}

#col2, #col1 {
  text-align: center;
}

mat-option {
  font-weight: 600;
}

mat-card .campo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88%;
  color: #111218;
  margin: auto;
  margin-bottom: 5%;
}
.regresar mat-icon {
  font-size: 3.5em;
  cursor: pointer;
  color: #111218;
}
.regresar span {
  margin-top: 19px;
  margin-left: 12px;
  font-size: 0.8em;
  color: #111218;
  font-weight: bold;
}

.campo .regresar {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  margin-top: -10px;
  cursor: pointer;
}

.row {
  margin-top: 7%;
}

#datosG {
  color: #354089;
  font-weight: bold;
  text-decoration: underline;
}


