<div class="row">
  <div class="col-lg-12">
    <mat-card>
      <div class="title">
        <div class="text-title">ACTUALIZAR DATOS DEL PRE-CANDIDATO: <span style="font-weight: lighter"> {{nombre}} {{apellidoPaterno}} {{apellidoMaterno}}</span></div>
      </div>

      <mat-card-content>
        <h4 *ngIf="precandidatoEliminado === true" class="btn-warning text-center">¡Atención este pre candidato ha sido Eliminado!</h4>
        <form [formGroup]="precandidatoForm">
          <div class="campo">
            <div class="regresar" routerLink="/modulos/rrhh/precandidatos">
              <mat-icon  >keyboard_arrow_left</mat-icon><span>REGRESAR</span>
            </div>
            <span style="color: tomato;">Los campos con * son OBLIGATORIOS</span>
          </div>
          <!--          <span style="font-weight: normal; font-size: 10px;" class="align-content-right">LOS CAMPOS CON <strong style="font-size: 17px; color: #0bbb79;">*</strong> SON OBLIGATORIOS</span>-->
          <div class="row">
            <div class="col-md-6" id="col1">

              <div class="form-group" id="form-group-p">
                <span id="datosG">DATOS GENERALES</span>
                <hr>
                <!--curp-->
                <mat-form-field>
                  <input matInput placeholder="CURP *" id="curp" class="form-control" formControlName="curp"
                         maxlength="18" minlength="18" oninput="this.value = this.value.toUpperCase()"
                         (keyup)="validarCurp($event.target.value)">
                  <mat-hint
                    *ngIf="!precandidatoForm.controls['curp'].valid&&precandidatoForm.controls['curp'].dirty">
                    Se requiere un CURP correcto
                  </mat-hint>
                </mat-form-field>


                <!--NOMBRE-->
              </div>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="NOMBRE *" id="nombre" class="form-control" formControlName="nombre"
                         oninput="this.value = this.value.toUpperCase()" maxlength="50"
                         [pKeyFilter]="puntoLetras" onDrop="return false" onPaste="return false"
                         autocomplete="off">
                  <mat-hint
                    *ngIf="!precandidatoForm.controls['nombre'].valid&&precandidatoForm.controls['nombre'].dirty">
                    ¡El Nombre es requerido!
                  </mat-hint>
                </mat-form-field>

              </div>

              <!--APELLIDO PATERNO              -->
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" pKeyFilter="alpha" class="form-control"
                         formControlName="apellidoPaterno" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                         [pKeyFilter]="soloLetras"
                         placeholder="APELLIDO PATERNO *" id="apellidoPaterno" [disabled]="estadoCurp"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint
                    *ngIf="!precandidatoForm.controls['apellidoPaterno'].valid&&precandidatoForm.controls['apellidoPaterno'].dirty">
                    ¡El Apellido es requerido!
                  </mat-hint>
                </mat-form-field>
              </div>

              <!-- APELLIDO MATERNO             -->
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" pKeyFilter="alpha" class="form-control"
                         formControlName="apellidoMaterno" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                         [pKeyFilter]="soloLetras"
                         placeholder="APELLIDO MATERNO *" id="apellidoMaterno" onDrop="return false" onPaste="return false"
                         autocomplete="off"/>

                  <mat-hint
                    *ngIf="!precandidatoForm.controls['apellidoMaterno'].valid&&precandidatoForm.controls['apellidoMaterno'].dirty">
                    ¡El Apellido es requerido!
                  </mat-hint>
                </mat-form-field>
              </div>

              <!--FECHA DE NACIMIENTO-->
              <div class="form-group">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="FECHA DE NACIMIENTO *" class="form-control"
                         max="2002-01-01" formControlName="fechaNacimiento" id="fechaNacimiento">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-hint *ngIf="!precandidatoForm.controls['fechaNacimiento'].valid&&precandidatoForm.controls['fechaNacimiento'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>

              </div>

              <!--GENERO-->
              <div class="form-group">
                <mat-form-field>
                  <mat-label>SELECCIONE EL GÉNERO *</mat-label>
                  <mat-select formControlName="genero">
                    <mat-option *ngFor="let genero of genders" [value]="genero.value"  id="genero">
                      {{genero.label}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!precandidatoForm.controls['genero'].valid&&precandidatoForm.controls['genero'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
              </div>


              <!--ESTADO CIVIL              -->
              <div class="form-group">
                <mat-form-field>
                  <mat-label>ESTADO CIVIL *</mat-label>
                  <mat-select formControlName="idEstadoCivil">
                    <mat-option *ngFor="let civil of estadoCivil" [value]="civil.id"  id="estadoCivil">
                      {{civil.descripcion}}
                    </mat-option>
                  </mat-select>
                  <mat-hint status="danger"
                            *ngIf="!precandidatoForm.controls['idEstadoCivil'].valid&&precandidatoForm.controls['idEstadoCivil'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
              </div>


              <!--PAIS DE ORIGEN              -->
              <div class="form-group">
                <mat-form-field>
                  <mat-label>PAÍS DE ORIGEN *</mat-label>
                  <mat-select formControlName="idPais">
                    <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id"  id="paisOrigen">
                      {{pais.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!precandidatoForm.controls['idPais'].valid&&precandidatoForm.controls['idPais'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
              </div>


              <!--ESCOLARIDAD-->
              <div class="form-group">
                <mat-form-field>
                  <mat-label>ESCOLARIDAD *</mat-label>
                  <mat-select formControlName="idEscolaridad">
                    <mat-option *ngFor="let escolar of escolaridades" [value]="escolar.id"  id="gradoEscolaridad">
                      {{escolar.nivel}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!precandidatoForm.controls['idEscolaridad'].valid&&precandidatoForm.controls['idEscolaridad'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
              </div>


              <!--ESTADO ESCOLARIDAD              -->
              <div class="form-group">
                <mat-form-field>
                  <mat-label>ESTADO DE ESCOLARIDAD *</mat-label>
                  <mat-select formControlName="idEstadoEscolaridad">
                    <mat-option *ngFor="let estado of estadoEscolaridades" id="estadoEscolaridad" [value]="estado.id">
                      {{estado.estado}}
                    </mat-option>
                  </mat-select>
                  <mat-hint *ngIf="!precandidatoForm.controls['idEstadoEscolaridad'].valid&&precandidatoForm.controls['idEstadoEscolaridad'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
              </div>


              <!--CONTACTO-->
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="email" class="form-control"
                         formControlName="email" oninput="this.value = this.value.toUpperCase()"
                         placeholder="CORREO ELECTRÓNICO *" id="correo" onDrop="return false" onPaste="return false"
                         autocomplete="off"/>
                  <mat-hint
                    *ngIf="!precandidatoForm.controls['email'].valid&&precandidatoForm.controls['email'].dirty">
                    Se requiere un correo correcto
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>


            <div class="col-md-6" id="col2"> <!--SEGUNDA COLUMNA-->
              <div class="form-group">
                <span id="datosG" style="opacity: 0;">DATOS GENERALES</span>
                <hr>
                <div class="form-group">

                  <!--TELEFONO MOVIL                  -->
                  <mat-form-field>
                    <input matInput pInputText type="text" class="form-control"
                           formControlName="telefonoMovil" [pKeyFilter]="numero"
                           placeholder="TELÉFONO MOVIL *" id="telefonoMovil" minlength="10" maxlength="10" onDrop="return false"
                           onPaste="return false" autocomplete="off"/>
                    <mat-hint
                      *ngIf="!precandidatoForm.controls['telefonoMovil'].valid&&precandidatoForm.controls['telefonoMovil'].dirty">
                      Se requieren 10 digitos
                    </mat-hint>
                  </mat-form-field>

                  <!--TELEFONO MOVIL                  -->
                </div>
                <div class="form-group">



                  <mat-form-field>
                    <input matInput type="text" id="telefonoFijo" placeholder="TELÉFONO FIJO" minlength="10" maxlength="10"
                           class="form-control"
                           formControlName="telefonoFijo" [pKeyFilter]="numero" onDrop="return false" onPaste="return false"
                           autocomplete="off"/>
                    <mat-hint
                      *ngIf="!precandidatoForm.controls['telefonoFijo'].valid&&precandidatoForm.controls['telefonoFijo'].dirty">
                      Se requieren 10 digitos
                    </mat-hint>
                  </mat-form-field>
                </div>

                <br />
                <span id="datosG">DOMICILIO *</span>
                <hr>
                <div class="form-group">
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput type="text" formControlName="calle" class="form-control" oninput="this.value = this.value.toUpperCase()" maxlength="50" [pKeyFilter]="letrasNumeros"
                             placeholder="CALLE" id="calle" [pKeyFilter]="letrasNumeros" onDrop="return false" onPaste="return false" autocomplete="off"/>
                      <mat-hint
                        *ngIf="!precandidatoForm.controls['calle'].valid&&precandidatoForm.controls['calle'].dirty">
                        Se requiere llenar el campo
                      </mat-hint>
                    </mat-form-field>
                  </div>

                  <!--NUMERO INTERIOR-->
                  <div class="form-group">

                    <mat-form-field>
                      <input matInput type="text" formControlName="numeroInterior" class="form-control" oninput="this.value = this.value.toUpperCase()" maxlength="20"
                             [pKeyFilter]="letrasNumeros" id="numeroInterior" placeholder="NUMERO INTERIOR" onDrop="return false" onPaste="return false" autocomplete="off"/>
                      <mat-hint
                        *ngIf="!precandidatoForm.controls['numeroInterior'].valid&&precandidatoForm.controls['numeroInterior'].dirty">
                        Se requiere llenar el campo
                      </mat-hint>
                    </mat-form-field>
                  </div>

                  <!--NUMERO INTERIOR                  -->
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput type="text" formControlName="numeroExterior"
                             [pKeyFilter]="letrasNumeros" placeholder="NUMERO EXTERIOR *" id="numeroExterior" class="form-control"
                             oninput="this.value = this.value.toUpperCase()" maxlength="10" onDrop="return false" onPaste="return false" autocomplete="off"/>
                      <mat-hint
                        *ngIf="!precandidatoForm.controls['numeroExterior'].valid&&precandidatoForm.controls['numeroExterior'].dirty">
                        Se requiere llenar el campo
                      </mat-hint>
                    </mat-form-field>
                  </div>


                  <div class="form-group">
                    <!--CODIGO POSTAL                    -->
                    <mat-form-field>
                      <input matInput type="text" pKeyFilter="num" class="form-control" id="codigoPostal" formControlName="cp" placeholder="CÓDIGO POSTAL *" maxlength="5" minlength="4"
                             (keyup)="getColonias($event.target.value)" [pKeyFilter]="numero" onDrop="return false" onPaste="return false" autocomplete="off"/>
                      <mat-hint *ngIf="mostrar">
                        Se requiere llenar el campo
                      </mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="form-group">
                    <!--COLONIA                    -->
                    <mat-form-field>
                      <mat-label>COLONIA *</mat-label>
                      <mat-select formControlName="colonia">
                        <mat-option *ngFor="let colonias of coloniasSepomex" [value]="colonias.idCp"  id="idColonia">
                          {{colonias.asenta}}
                        </mat-option>
                      </mat-select>
                      <mat-hint *ngIf="!precandidatoForm.controls['colonia'].valid&&precandidatoForm.controls['colonia'].dirty">
                        Se requiere llenar el campo
                      </mat-hint>
                    </mat-form-field>

                  </div>
                </div>
              </div>

              <div class="form-group">
                <br />
                <span id="datosG">TRASLADO</span>
                <hr>
                <!--TIEMPO TRASLADO                -->
                <mat-form-field>
                  <mat-label>TIEMPO DE TRASLADO *</mat-label>
                  <mat-select formControlName="tiempoTraslado">
                    <mat-option *ngFor="let tiempo of tiempoLlegada" [value]="tiempo.value"
                                id="tiempoTraslado" placeholder="Selecciona tiempo de llegada">
                      {{tiempo.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="form-group">
                <!--MEDIO TRASLADO                -->
                <mat-form-field>
                  <mat-label>MEDIO DE TRASLADO *</mat-label>
                  <mat-select (selectionChange)="getLineas($event.value)" formControlName="idMedioTraslado">
                    <mat-option *ngFor="let medio of medioTransporte" [value]="medio.id"
                                id="medioTraslado" placeholder="Selecciona un medio de traslado" (onChange)="getLineas($event.value)">
                      {{medio.medio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="form-group" *ngIf="precandidatoForm.value.idMedioTraslado == 1 || precandidatoForm.value.idMedioTraslado == 2">
                <!--LINEA DEL METRO                -->
                <mat-form-field>
                  <mat-label>LÍNEA *</mat-label>
                  <mat-select (selectionChange)="getEstaciones($event.value)" formControlName="lineaMetro">
                    <mat-option *ngFor="let linea of lineas" [value]="linea.value"
                                id="lineaMetro" (onChange)="getEstaciones($event.value)">
                      {{linea.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!--ESTACION              -->
              <div class="form-group" *ngIf="precandidatoForm.value.idMedioTraslado == 1 || precandidatoForm.value.idMedioTraslado == 2">
                <mat-form-field>
                  <mat-label>ESTACIÓN</mat-label>
                  <mat-select formControlName="idEstacion">
                    <mat-option *ngFor="let estacion of estaciones" [value]="estacion.value"
                                id="estaciones" placeholder="Selecciona un medio de traslado">
                      {{estacion.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-3">
            <div class="form-group justify-content-center" >
              <button id="submit" mat-button type="submit" (click)="updatePrecandidato()"
                      [disabled]="verificaFormulario() || inactivo === true || !precandidatoForm.valid" class="btn-block">Guardar</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

