mat-icon:hover {
  color: #111218;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

  mat-card-title {
  width: 100%;
}
//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}
.mat-header-cell {
  background-color: #111218;
  color: white;
}

td.mat-cell {
  font-size: 12px;
}

button:disabled{
  background-color: #fff;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.search{
  width: 100%;
  text-align: right;
}
.mat-form-field {
  font-size: 14px;
  width: 50%;
}
