<mat-card>

    <div class="reload-all">
      <div class="icon-all">
        <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getPrecandidatos(1)">
      </div>
    </div>

      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          PRE CANDIDATOS
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

  <mat-card-content>
    <div>

<!--      <mat-form-field>-->
<!--        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
<!--      </mat-form-field>-->

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">
            DETALLE
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <!--            <nb-action class="eva eva-eye-outline custom-icon" (click)="verDatos(element.id)"></nb-action>-->
            <mat-icon pTooltip="Ver detalles" (click)="verDatos(element.id)" id="verDetalles"
              >remove_red_eye</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.nombre +
                " " +
                element.apellidoPaterno +
                " " +
                element.apellidoMaterno
            }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TELÉFONO</th>
          <td mat-cell *matCellDef="let element">
            {{ element.telefonoMovil }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBAREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <!--        <ng-container matColumnDef="fechaCita">-->
        <!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Cita </th>-->
        <!--          <td mat-cell *matCellDef="let element"> {{element.fechaCita | date : 'd MMM y h:mm a'}} </td>-->
        <!--        </ng-container>-->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
           <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <!--              <nb-action class="eva eva-edit custom-icon" pTooltip="Actualizar Datos de Pre Candidato"-->
              <!--                         [routerLink]="['/modulos/rrhh/updatePrecandidato',element.id]"></nb-action>-->
              <!--              <nb-action class="eva eva-person-add custom-icon" (click)="asignarCandidato(element.idEtapa, element.id,-->
              <!--              element.fechaCreacion)"-->
              <!--                         pTooltip="Crear Candidato"></nb-action>-->

              <!--              <nb-action class="eva eva-trash custom-icon" (click)="bajaPrecandidato(element.id)"-->
              <!--                         pTooltip="Baja de Pre Candidato"></nb-action>-->

              <mat-icon
                pTooltip="Actualizar Datos de Pre Candidato"
                [routerLink]="['/modulos/rrhh/updatePrecandidato', element.id]"
              >
                edit</mat-icon
              >
              <mat-icon
                (click)="
                  asignarCandidato(
                    element.idEtapa,
                    element.id,
                    element.fechaCreacion
                  )
                "
                pTooltip="Crear Candidato"
                >person_add</mat-icon
              >
              <mat-icon
                id="delete"
                (click)="bajaPrecandidato(element.id)"
                pTooltip="Baja de Pre Candidato"
                >delete_forever</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
