<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="idTipo !== 2">ASIGNAR ANÁLISIS COMPETENCIA</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR ANÁLISIS COMPETENCIA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="asignarAnalisisForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            
<!--            <label for="precios">Precios</label>-->
<!--            <input matInput type="text" formControlName="precios" class="form-control" id="precios" (keyup)="formatoNumerosConComas($event.target.value, 'precios')"-->
<!--                   maxlength="15" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--            <mat-hint status="danger"-->
<!--                      *ngIf="!asignarAnalisisForm.controls['precios'].valid&&asignarAnalisisForm.controls['precios'].dirty">-->
<!--              Se requiere llenar el campo adecuadamente-->
<!--            </mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="precios" class="form-control" id="precios" (keyup)="formatoNumerosConComas($event.target.value, 'precios')"
                     maxlength="15" onDrop="return false" onPaste="return false" autocomplete="off" placeholder="PRECIOS" style="padding: 0;" [pKeyFilter]="numeros"/>
              <mat-hint *ngIf="!asignarAnalisisForm.controls['precios'].valid&&asignarAnalisisForm.controls['precios'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
          
          <div class="form-group">
<!--            <label for="participacion">Participacion</label>-->
<!--            <input matInput type="text" formControlName="participacion" class="form-control" id="participacion" (keyup)="formatoNumerosConComas($event.target.value, 'participacion')"-->
<!--                   maxlength="15" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--            <mat-hint status="danger"-->
<!--                      *ngIf="!asignarAnalisisForm.controls['participacion'].valid&&asignarAnalisisForm.controls['participacion'].dirty">-->
<!--              Se requiere llenar el campo adecuadamente-->
<!--            </mat-hint>-->
            <mat-form-field>
              <input matInput type="text" formControlName="participacion" class="form-control" id="participacion" (keyup)="formatoNumerosConComas($event.target.value, 'participacion')"
                     maxlength="15" onDrop="return false" onPaste="return false" autocomplete="off" placeholder="PARTICIPACIÓN" style="padding: 0;" [pKeyFilter]="numeros"/>
              <mat-hint *ngIf="!asignarAnalisisForm.controls['participacion'].valid&&asignarAnalisisForm.controls['participacion'].dirty">
                Se requiere llenar el campo adecuadamente
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="guardarAnalisisSeguimiento()" *ngIf="idTipo !== 2"
            [disabled]="!asignarAnalisisForm.valid">Guardar
    </button>
    <button mat-button (click)="updateAnalisisCompetencia()" *ngIf="idTipo === 2"
            [disabled]="!asignarAnalisisForm.valid">Actualizar
    </button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
