<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo === 1">ASIGNAR FINIQUITO</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">EDITAR FINIQUITO</mat-card-title>
    <mat-card-subtitle style="font-weight: 500;">{{nombre}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="asignarFiniquitoForm">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group">
<!--            <label for="fechaFiniquito">FECHA FINIQUITO</label>-->
<!--            <input type="date" id="fechaFiniquito" formControlName="fechaFiniquito" class="form-control">-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!asignarFiniquitoForm.controls['fechaFiniquito'].valid&&asignarFiniquitoForm.controls['fechaFiniquito'].dirty">-->
<!--              Se requiere una fecha adecuada-->
<!--            </nb-alert>-->

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA DE FINIQUITO" id="fechaFiniquito" formControlName="fechaFiniquito">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!asignarFiniquitoForm.controls['fechaFiniquito'].valid&&asignarFiniquitoForm.controls['fechaFiniquito'].dirty">
                Se requiere una fecha adecuada
              </mat-hint>
            </mat-form-field>

          </div>
          <div class="form-group">

<!--            <label >ESTADO FINIQUITO</label>-->
<!--            <p-dropdown [options]="estadoFiniquito" formControlName="idEstadoFiniquito" placeholder="Seleccione estado Finiquito"-->
<!--                        id="idEstadoFiniquito"-->
<!--                        [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!asignarFiniquitoForm.controls['idEstadoFiniquito'].valid&& asignarFiniquitoForm.controls['idEstadoFiniquito'].dirty">-->
<!--              !!Se requiere un estatus¡¡-->
<!--            </nb-alert>-->

            <mat-form-field>
              <mat-label>ESTADO FINIQUITO</mat-label>
              <mat-select formControlName="idEstadoFiniquito" id="idEstadoFiniquito">
                <mat-option *ngFor="let estado of estadoFiniquito" [value]="estado.value">
                  {{estado.label}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="!asignarFiniquitoForm.controls['idEstadoFiniquito'].valid&& asignarFiniquitoForm.controls['idEstadoFiniquito'].dirty">
                !!Se requiere un estatus¡¡
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="montoFiniquito">MONTO FINIQUITO</label>-->
<!--            <input type="text" formControlName="montoFiniquito" id="montoFiniquito" class="form-control"-->
<!--                   onDrop="return false" onPaste="return false" />-->
<!--            <nb-alert status="danger"-->
<!--                      *ngIf="!asignarFiniquitoForm.controls['montoFiniquito'].valid&&asignarFiniquitoForm.controls['montoFiniquito'].dirty">-->
<!--              Se requiere un monto-->
<!--            </nb-alert>-->
            <mat-form-field>
              <input matInput type="text" formControlName="montoFiniquito" id="montoFiniquito" class="form-control" [pKeyFilter]="numeros"
                     onDrop="return false" onPaste="return false" placeholder="MONTO FINIQUITO" style="padding: 0px;"/>
              <mat-hint *ngIf="!asignarFiniquitoForm.controls['montoFiniquito'].valid&&asignarFiniquitoForm.controls['montoFiniquito'].dirty">
                Se requiere un monto
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button (click)="agragarFiniquito()" [disabled]="verificarFormulario()" *ngIf="idTipo === 1">Guardar</button>
    <button mat-button (click)="agragarFiniquito()" [disabled]="verificarFormulario()" *ngIf="idTipo === 2">Modificar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
