<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo == 1">CREAR ÁREA</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">MODIFICAR ÁREA</mat-card-title>
  <mat-card-content>
    <form [formGroup]="areaCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">

<!--            <label for="idSede">Sede</label>-->
<!--            <p-dropdown [options]="sedes" formControlName="idSede" placeholder="Elija su Sede"-->
<!--                        id="idSede" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
            <mat-form-field>
              <mat-label>SEDE</mat-label>
              <mat-select formControlName="idSede" id="idSede" >
                <mat-option *ngFor="let s of sede" [value]="s.id" >
                  {{s.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="nombre">Nombre</label>-->
<!--            <input pInputText type="text"  class="form-control"-->
<!--                   formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="100"-->
<!--                   placeholder="Campo Obligatorio" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off" />-->
<!--            <nb-alert status="danger" *ngIf="!areaCreateForm.controls['nombre'].valid&&areaCreateForm.controls['nombre'].dirty">-->
<!--              El Campo es requerido </nb-alert>-->
            <mat-form-field>

              <input matInput type="text"  class="form-control"
                     formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="100"
                     placeholder="NOMBRE" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off" />
              <mat-hint *ngIf="!areaCreateForm.controls['nombre'].valid&&areaCreateForm.controls['nombre'].dirty">
                El Campo es requerido </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group">
<!--            <label for="descripcion">Descripcion</label>-->
<!--            <input pInputText type="text"  class="form-control"-->
<!--                   formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="100"-->
<!--                   placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off" />-->
<!--            <nb-alert status="danger" *ngIf="!areaCreateForm.controls['descripcion'].valid&&areaCreateForm.controls['descripcion'].dirty">-->
<!--              El Campo es requerido </nb-alert>-->
            <mat-form-field>
              <textarea matInput type="text"  class="form-control" style="padding: 0"
                     formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="100"
                        placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off" ></textarea>
              <mat-hint *ngIf="!areaCreateForm.controls['descripcion'].valid&&areaCreateForm.controls['descripcion'].dirty">
                El Campo es requerido </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
   <div class="actions">
     <button id="submit" mat-button *ngIf="idTipo == 1" (click)="guardarArea()" [disabled]="!areaCreateForm.valid || inactivo === true">Guardar
     </button>
     <button id="submit" mat-button *ngIf="idTipo == 2" (click)="updateArea()" [disabled]="!areaCreateForm.valid || inactivo === true">Modificar
     </button>
     <button id="submit" mat-button (click)="dismiss()">Cerrar</button>
   </div>
  </mat-card-actions>
</mat-card>
