mat-card {
  font-family: 'Montserrat', Arial;
}

mat-card{
  padding: 5% 7%;
}

mat-card .mat-form-field {
  color: #111218;
  font-weight: 500; !important;
}
mat-card .mat-form-field input {
  letter-spacing: 1px; !important;
}
.mat-input-element {
  color: #111218;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}


.mat-raised-button {
  background-color: #354089;
  color: #ffffff;
}

td.mat-cell {
  font-size: 12px;
  font-weight: 600;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.actions-comercial{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

mat-card-title {
  text-align: center;
  color: #354089!important;
}
mat-card-header {
  text-align: center;
}

mat-card .mat-button:focus {
  outline: none;
}

button:disabled {
  background-color: white;

}

table #align-detail {
  text-align: center;
}


/*Globalss*/
button:disabled {
  background-color: #fff;
}

table .mat-header-cell:first-child {
  background-color: #354089;
  color: white;
  border-radius: 0px 0px 0px 10px;
}

table .mat-header-cell:last-child {
  background-color: #354089;
  color: white;
  border-radius: 0px 0px 10px 0px;
}

.mat-header-cell{
  /*background-color: #111218;*/
  background-color: #354089!important;
}


.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.mat-input-element {
  color: #111218;
}


table .mat-icon {
  color: #2266af;
  cursor: pointer;
}
mat-card .mat-icon:hover {
  color: #111218;
}

mat-card-content .search {
  width: 100%;
  text-align: right;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-card #delete {
  color: #e21c51;
  transition: all 0.5s;
}

mat-card .actions #delete:hover {
  transform: scale(1.2);
}

#short-icon {
  margin: 0 5%;
}

.short-icon {
  margin: 0 5%;
}

mat-card #actions button {
  text-transform: uppercase;
}

mat-card-actions button {
  background-color: #354089!important;
}
mat-card-actions button:disabled {
  background-color: transparent!important;
  color: #777!important;
}


/*Globals modal view*/

.view {
  width: 100%;
  border: none;
}
.view .header{
  width: 100%;
  text-align: center;
  background-color: #354089;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px 40px;
}

.view .header #titulo-modals {
  font-size: 1.15em;
  letter-spacing: 3px;
}

.view mat-card-content {
  padding: 8% 8%;
}

.view #title {
  font-size: 0.85em;
  color: #111218;
  font-weight: 400;
}

.view #title>span{
  font-weight: bold;
  color: #354089;
}

.view #box{
  margin-bottom: 3%;
}

.view #box:last-child{
  margin-bottom: 0%;
}

.view .mat-button:focus {
  outline: none;
}

.view .close {
  text-align: right;
  background-color: #354089;
}

.view .close mat-icon {
  color: white !important;
  padding-right: 3px;
  cursor: pointer;
}

.view mat-card-actions mat-icon{
  color: #111218;
  margin-bottom: 5%;
  margin-right: 5%;
  font-weight: medium;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}

.view mat-card-actions mat-icon:hover{
  color: #354089;
  font-weight: normal;
}

/* input color class */
mat-card ::ng-deep input.mat-input-element {
  color: #2266af;
}

/* Change label color on focused */
mat-card ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #2266af !important;
}

/* underline border color on focused */
mat-card ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #2266af !important;
}
mat-card .mat-form-field-invalid .mat-input-element{
  caret-color: #2266af;
}

/*End global view*/


/************DASHBOARD***********/
#dashboard{
  /*background: rgb(53,64,137);*/
  /*background: linear-gradient(115deg, rgba(53,64,137,1) 0%, rgba(34,38,64,1) 100%);*/
  /*background: rgb(17,18,24);*/
  /*background: linear-gradient(90deg, rgba(17,18,24,1) 0%, rgba(19,141,117,1) 100%);*/
  box-shadow: 0px 0px 20px #111218;
  background-color: white;
  height: 75vh;
}

#dashboard svg image:first-child {
  animation: girar 7s linear infinite;
  transform-origin: 300px 301px;
}

#dashboard svg image:last-child {
  overflow: visible;
  position: absolute;
  transform: translate(-1%, -44%);
  /* top: 51%; */
  /* left: 50%; */
  width: 73%;

}

@keyframes girar {
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}

}

.title-dashboard, .subtitle-dashboard{
  text-align: center;
  margin: 5% 0%;
}
.title-dashboard span {
  font-size: 2.4em;
  color: #fff;
}
.subtitle-dashboard span {
  font-size: 1.5em;
  color: #fff;
  opacity: 0.9;
}


#text-footer{
  color: #95A5A6;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-card-header{
  text-align: center;
  margin: 0px;
}

mat-card .nb-theme .form-control:focus{
  border: none;
}

mat-card input:focus{
  border: none;
}

[_nghost-dbg-c2] .layout-container[_ngcontent-dbg-c2] .content[_ngcontent-dbg-c2] .columns[_ngcontent-dbg-c2]{
  background-color: #111218;
}

mat-card mat-option {
  font-weight: 600;
}

mat-card .bar {
  width: 300px;
  height: 0;
  opacity: 0;
}

mat-card .button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

mat-card .button-input button {
  background-color: #354089;
  color: #fff;
}

mat-card .button-input button:hover {
  background: rgb(226,28,81);
  background: linear-gradient(90deg, rgba(226,28,81,1) 0%, rgba(53,64,137,1) 100%);
  transition: all 0.5s;
}


/***RELOAD IMG***/
.reload-all {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.icon-all {
  display: block;
}

.icon-all img {
  width: 30px;
  animation: reload 2s linear infinite;
  cursor: pointer;
}
@keyframes reload {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg); }

}


mat-card .campo {
  width: 100%;
  text-align: end;
  margin-bottom: 5%;
}
mat-card .campo span {
  color: teal;
  font-weight: 600;
}

.nb-theme-corporate nb-layout .layout nb-layout-header nav {
  background: rgb(226,28,81) !important;
  background: linear-gradient(90deg, rgba(226,28,81,1) 0%, rgba(53,64,137,1) 30%) !important;
  font-family: 'Montserrat', Arial;
}

/*nb-menu {*/
/*  background-color: #fff!important;*/

/*}*/
/*COLORES PARA BACKGROUND MATERIAL-KIT*/
.verde-kit{
  background-color: #4caf50!important;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px  rgba(76,175,80,.2)!important;
}
.azul-kit{
  background-color: #00bcd4!important;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 12px -5px rgba(0,188,212,.46)!important;
}
.rosa-kit{
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(233,30,99,.6)!important;
  background: linear-gradient(60deg,#ec407a,#c2185b)!important;
}
.naranja-kit{
  background: linear-gradient(60deg,#ffa726,#f57c00)!important;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(255,152,0,.6)!important;
}
.rojo-kit{
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6)!important;
  background: linear-gradient(60deg,#ef5350,#d32f2f)!important;
}
.morado-kit{
  background: linear-gradient(60deg,#ab47bc,#7b1fa2)!important;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6)!important;
}
.azulrey-kit {
  background-color: #0459af !important;
  box-shadow: 0 4px 20px
}
                      /*nb-menu a {*/
/*  font-family: 'Montserrat', Arial;*/
/*}*/
#verDetalles  {
  color: #e21c51!important;
}

.nb-theme-corporate nb-layout ::-webkit-scrollbar-thumb {
  background: #354089!important;
}

mat-card mat-tab-group {
  margin-bottom: 15px;
}

.title-create {
  font-weight: bold;
  border-bottom: 1.5px solid #354089;
  color: #354089;
  margin-bottom: 5%;
}

textarea {
  padding: 0px!important;
}

.button-input mat-icon {
  color: #354089!important;
}

