<mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getAsignarUrl(1)">
    </div>
  </div>
  <mat-card-content>
    <div>

      <div class="button-input">
        <div class="button">

        </div>
        <mat-card-title>ASIGNAR URL</mat-card-title>
        <div class="input">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>


      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->

        <ng-container matColumnDef="alias">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ALIAS </th>
          <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> URL</th>
          <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones" >
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef style="text-align: center"> ACCIONES </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center">

              <mat-card-actions>
                <mat-icon  (click)="updateUrl(element.id, element.idSocio)"
                           pTooltip="Actualizar Url">edit</mat-icon>
                <mat-icon  (click)="bajaUrl(element.id)"
                           pTooltip="Baja de Url" id="delete">delete_forever</mat-icon>
              </mat-card-actions>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>

