mat-card {
  width: 85%;
  margin: 0 auto;
}

mat-card-title {
  width: 100%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}

.button-input{
  width: 100%;
  display: flex;
  margin-top: 2.5%;
}

.button{
  width: 50%;
}
.input{
  width: 50%;
  text-align: end;
}
.mat-form-field{
  width: 70%;
  color: #111218;
}
.mat-input-element{
  color: #111218;
}

.mat-header-cell{
  color: white;
}

.example-user-input {
  margin-right: 8px;
}

.tooltip{
  background-color: #138d75;
  color: white;
}

button:disabled{
  background-color: #fff;
}

mat-icon {
  margin: 0 5px;
}

