<mat-card class="view">


  <div class="header">
    <span id="titulo-modals">DATOS DE CONVENIO</span>
  </div>

  <mat-card-content>

    <div class="nombre" id="box">
      <p id="title"><span>ALIAS:</span> {{alias}}</p>
    </div>

    <div class="nombre" id="box">
      <p id="title"><span>SUB CATEGORÍA:</span> {{tipoConvenio}}</p>
    </div>

    <div class="sede" id="box">
      <p id="title"><span>TIPO RAMO:</span> {{tipoGiro}}</p>
    </div>

    <div class="sede" id="box">
      <p id="title"><span>SUB RAMO:</span> {{idSubRamo}}</p>
    </div>


    <div class="apellidoMaterno" id="box">
      <p id="title"><span>NOMBRE COMERCIAL:</span> {{nombreComercial}}</p>
    </div>




    <div class="sede" id="box">
      <p id="title"><span>CANTIDAD:</span> {{cantidad}}</p>
    </div>


  </mat-card-content>
  <mat-card-actions>
    <div [hidden]="!escritura" id="actions">
      <button mat-button (click)="updateConvenios()">Actualizar</button>
      <mat-icon (click)="dismiss()">highlight_off</mat-icon>
    </div>
  </mat-card-actions>

</mat-card>

