<mat-card>


  <div class="button-input">
    <div class="button">
    </div>

    <mat-card-title>
      SEDE
    </mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef id="align-detail">DETALLE</th>
          <td mat-cell *matCellDef="let element" id="align-detail">
            <mat-icon pTooltip="Ver detalles" id="verDetalles" (click)="verDatos(element.id)"
            >remove_red_eye</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="idPais">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAÍS</th>
          <td mat-cell *matCellDef="let element">{{ element.idPais }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            CÓDIGO POSTAL
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cp }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                (click)="updaSede(element.id)"
                pTooltip="Actualizar Datos de Sede"
              >update</mat-icon
              >
              <mat-icon
                (click)="crearArea(element.id)"
                pTooltip="Crear Area"
              >spellcheck</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

