<mat-card class="example-form">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo === 1">CREAR TIPO SUB RAMO</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR TIPO SUB RAMO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="tipoSubramoCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-group">
            <!--            <label for="tipo">Tipo</label>-->
            <!--            <input matInput type="text" formControlName="tipo" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"-->
            <!--                   onDrop="return false" onPaste="return false" autocomplete="off"/>-->
            <!--            <nb-alert status="danger" *ngIf="!tipoSubramoCreateForm.controls['tipo'].valid&&tipoSubramoCreateForm.controls['tipo'].dirty">-->
            <!--              Se requiere llenar el campo</nb-alert>-->
            <mat-form-field>
              <input matInput type="text" formControlName="tipo" class="form-control" id="tipo" oninput="this.value = this.value.toUpperCase()"
                     onDrop="return false" onPaste="return false" autocomplete="off" placeholder="TIPO" style="padding: 0"/>
              <mat-hint *ngIf="!tipoSubramoCreateForm.controls['tipo'].valid&&tipoSubramoCreateForm.controls['tipo'].dirty">
                Se requiere llenar el campo</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button (click)="guardarTipoSubramo()" [disabled]="!tipoSubramoCreateForm.valid">Guardar</button> <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button (click)="updateTipoSubramo()" [disabled]="!tipoSubramoCreateForm.valid">Actualizar</button> <button mat-button (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>
