<mat-card class="m-3">
  <mat-card-title>SELECCIONE LA FECHA DE BAJA</mat-card-title>
  <mat-card-content>
    <form [formGroup]="bajaPreCandidatoForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

<!--            <mat-form-field>-->
<!--              <input matInput type="date" formControlName="fechaBaja"  shape="semi-round" placeholder="FECHA DE BAJA"-->
<!--                     id="fechaBaja" fullWidth/>-->

<!--            </mat-form-field>-->

          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="fechaBaja"  shape="semi-round" placeholder="FECHA DE BAJA"
                   id="fechaBaja" fullWidth>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="bajaPreCandidatoForm.valid && verificarFormulario() === true">
              Se requiere una fecha adecuada, estás escogiendo un día no laborable</mat-hint>
          </mat-form-field>

            <mat-form-field>
              <textarea matInput type="text" formControlName="detalleBaja"  shape="semi-round" placeholder="COMENTARIOS"
                        id="detalleBaja" onDrop="return false" onPaste="return false" oninput="this.value = this.value.toUpperCase()" fullWidth></textarea>
              <mat-hint *ngIf="bajaPreCandidatoForm.valid && verificarFormulario() === true">
                Se requiere una fecha adecuada, estás escogiendo un día no laborable</mat-hint>
            </mat-form-field>

<!--              <nb-checkbox (click)="activoRecontratable()" formControlName="recontratable">Recontratable</nb-checkbox>-->
              <mat-checkbox (click)="activoRecontratable()" formControlName="recontratable"> RECONTRATABLE!</mat-checkbox>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button (click)="bajaPrecandidato()" [disabled]="verificarFormulario()">Dar de baja</button>
    <button mat-button (click)="dismiss()">Cancelar</button>
  </mat-card-actions>
</mat-card>
