<mat-card class="example-form">
    <mat-card-title *ngIf="idTipo == 1"> CREAR TABLETA </mat-card-title>
    <mat-card-title *ngIf="idTipo == 2"> MODIFICAR TABLETA </mat-card-title>
  <mat-card-content>

    <form [formGroup]="tabletCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div *ngIf="idTipo == 1 || idTipo == 2" >
            <div class="form-group">

<!--              <label for="numFolio">Numero de Folio</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="numFolio" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="numFolio" />-->
<!--              <nb-alert status="danger" *ngIf="!tabletCreateForm.controls['numFolio'].valid&&tabletCreateForm.controls['numFolio'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="numFolio" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="NÚMERO DE FOLIO" id="numFolio" />
                <mat-hint *ngIf="!tabletCreateForm.controls['numFolio'].valid&&tabletCreateForm.controls['numFolio'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>

            </div>
            <div class="form-group">

<!--              <label for="idProcesador">Procesador</label>-->
<!--              &lt;!&ndash;<input pInputText type="text"  class="form-control"&ndash;&gt;-->
<!--                     &lt;!&ndash;formControlName="procesador" oninput="this.value = this.value.toUpperCase()" maxlength="50"&ndash;&gt;-->
<!--                     &lt;!&ndash;placeholder="Campo Obligatorio" id="procesador" />&ndash;&gt;-->
<!--              <p-dropdown [options]="procesador" formControlName="idProcesador" placeholder="Campo Obligatorio"-->
<!--                          id="idProcesador" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
<!--              <nb-alert status="danger" *ngIf="!tabletCreateForm.controls['idProcesador'].valid&&tabletCreateForm.controls['idProcesador'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->

              <mat-form-field>
                <mat-label>PROCESADOR</mat-label>
                <mat-select formControlName="idProcesador" id="idProcesador">
                  <mat-option *ngFor="let proc of procesadores" [value]="proc.id">
                    {{proc.nombreProcesador}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!tabletCreateForm.controls['idProcesador'].valid&&tabletCreateForm.controls['idProcesador'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>


            <div class="form-group">
<!--              <label for="capacidad">Capacidad</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="capacidad" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="capacidad" />-->
<!--              <nb-alert status="danger" *ngIf="!tabletCreateForm.controls['capacidad'].valid&&tabletCreateForm.controls['capacidad'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
                <input matInput type="text"  class="form-control"
                       formControlName="capacidad" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       placeholder="CAPACIDAD" id="capacidad" />
                <mat-hint *ngIf="!tabletCreateForm.controls['capacidad'].valid&&tabletCreateForm.controls['capacidad'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="ram">Ram</label>-->
<!--              <input pInputText type="text"  class="form-control"-->
<!--                     formControlName="ram" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     placeholder="Campo Obligatorio" id="ram" />-->
<!--              <nb-alert status="danger" *ngIf="!tabletCreateForm.controls['ram'].valid&&tabletCreateForm.controls['ram'].dirty">-->
<!--                El Campo es requerido </nb-alert>-->
              <mat-form-field>
              <input matInput type="text"  class="form-control"
                     formControlName="ram" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                     placeholder="RAM" id="ram" />
              <mat-hint *ngIf="!tabletCreateForm.controls['ram'].valid&&tabletCreateForm.controls['ram'].dirty">
                El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <!--              <label for="idMarca">Marca</label>-->
              <!--              &lt;!&ndash;<input pInputText type="text"  class="form-control"&ndash;&gt;-->
              <!--                     &lt;!&ndash;formControlName="marca" oninput="this.value = this.value.toUpperCase()" maxlength="50"&ndash;&gt;-->
              <!--                     &lt;!&ndash;placeholder="Campo Obligatorio" id="marca" />&ndash;&gt;-->
              <!--              <p-dropdown [options]="marca" formControlName="idMarca" placeholder="Campo Obligatorio"-->
              <!--                          id="idMarca" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
              <!--              <nb-alert status="danger" *ngIf="!tabletCreateForm.controls['idMarca'].valid&&tabletCreateForm.controls['idMarca'].dirty">-->
              <!--                El Campo es requerido </nb-alert>-->

              <mat-form-field>
                <mat-label>MARCA</mat-label>
                <mat-select formControlName="idMarca" id="idMarca">
                  <mat-option *ngFor="let marca of marcas" [value]="marca.id">
                    {{marca.nombreMarca}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!tabletCreateForm.controls['idMarca'].valid&&tabletCreateForm.controls['idMarca'].dirty">
                  El Campo es requerido </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div>

            <div class="form-group">
<!--              <label for="idEstadoInventario">Estado Inventario</label>-->
<!--              <p-dropdown [options]="estadoInventario" formControlName="idEstadoInventario" placeholder="Estado Inventario"-->
<!--                          id="idEstadoInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field style="margin-top: 8%;">
                <mat-label>ESTADO INVENTARIO</mat-label>
                <mat-select formControlName="idEstadoInventario" id="idEstadoInventario">
                  <mat-option *ngFor="let estado of estado" [value]="estado.id">
                    {{estado.estado}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
<!--              <label for="idObservacionesInventario">Observaciones Inventario</label>-->
<!--              <p-dropdown [options]="ObservacionesInventario" formControlName="idObservacionesInventario" placeholder="Estado Inventario"-->
<!--                          id="idObservacionesInventario" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

              <mat-form-field style="margin-top: 6%;">
                <mat-label>OBSERVACIONES INVENTARIO</mat-label>
                <mat-select formControlName="idObservacionesInventario" id="idObservacionesInventario">
                  <mat-option *ngFor="let obs of observaciones" [value]="obs.id">
                    {{obs.observaciones}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group" >

              <mat-form-field style="margin-top: 8%;">
                <mat-label>ORIGEN DE EQUIPO </mat-label>
                <mat-select formControlName="origenRecurso" id="origenEquipo" >
                  <mat-option *ngFor="let origen of origenEquipos"
                              [value]="origen.value">
                    {{origen.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">

              <mat-form-field style="margin-top: 3%;">
                <mat-label>SEDE (3)</mat-label>
                <mat-select formControlName="idTipoSede" id="idSede" >
                  <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                    {{sede.descripcion}}
                  </mat-option>
                </mat-select>
                <mat-hint  *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
<!--              <label for="comentarios">Comentarios</label> <br>-->
<!--              <textarea pInputTextarea  id="comentarios" type="text" formControlName="comentarios" class="form-control"-->
<!--                        oninput="this.value = this.value.toUpperCase()" maxlength="30" pKeyFilter="letrasNumeros"></textarea>-->
<!--              <nb-alert status="danger" *ngIf="!tabletCreateForm.controls['comentarios'].valid&&tabletCreateForm.controls['comentarios'].dirty">-->
<!--                Se requiere llenar el campo</nb-alert>-->
              <mat-form-field>
                <textarea matInput  id="comentarios" type="text" formControlName="comentarios" class="form-control"
                          oninput="this.value = this.value.toUpperCase()" maxlength="30" pKeyFilter="letrasNumeros"
                          placeholder="COMENTARIOS" style="padding: 0px;"></textarea>
                <mat-hint *ngIf="!tabletCreateForm.controls['comentarios'].valid&&tabletCreateForm.controls['comentarios'].dirty">
                  Se requiere llenar el campo</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
    <mat-card-actions>
      <div class="actions">
        <button mat-button *ngIf="idTipo == 1" (click)="guardarTablet()" [disabled]="!tabletCreateForm.valid">Guardar</button>
        <button mat-button *ngIf="idTipo == 2" (click)="updateTablet()" [disabled]="!tabletCreateForm.valid">Modificar</button>
        <button mat-button (click)="dismiss()">Cerrar</button>
      </div>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
