* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
mat-card {
  width: 100%;
  border: none;

}
mat-card-content {
  padding: 8% 8%;
}

#box {
  margin-bottom: 3%;
}

#box:last-child {
  margin-bottom: 0%;
}

.mat-button:focus {
  outline: none;
}

mat-card-actions mat-icon {
  color: #111218;
  margin-bottom: 5%;
  margin-right: 5%;
  font-weight: medium;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}


