<mat-card class="view">
  <div class="header">
    <span id="titulo-modals">DATOS DEL SOLICITANTE</span>
  </div>

  <mat-card-content>
    <div class="nombre" id="box">
      <p id="title"><span>NOMBRE:</span> {{nombre}}</p>
    </div>

    <div class="apellidoPaterno" id="box">
      <p id="title"><span>APELLIDO PATERNO:</span> {{apellidoPaterno}}</p>
    </div>

    <div class="apellidoMaterno" id="box">
      <p id="title"><span>APELLIDO MATERNO:</span> {{apellidoMaterno}}</p>
    </div>

    <div class="telefono" id="box">
      <p id="title"><span>TELÉFONO:</span> {{telefono}}</p>
    </div>

    <div class="vacante" id="box">
      <p id="title"><span>VACANTE:</span> {{vacante}}</p>

    </div>

    <div class="correo" id="box">
      <p id="title"><span>CORREO:</span> {{correo}}</p>

    </div>

    <div class="cp" id="box">
      <p id="title"><span>CÓDIGO POSTAL:</span> {{cp}}</p>
    </div>

    <div class="edad" id="box">
      <p id="title"><span>EDAD:</span> {{edad}}</p>
    </div>

    <div class="sede" id="box">
      <p id="title"><span>SEDE:</span> {{sede}}</p>
    </div>

    <div class="fecha" id="box">
      <p id="title" *ngIf="activoFecha"><span>FECHA / CITA:</span> {{fechaCita | date : 'd MMM y h:mm a'}}</p>
    </div>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>

</mat-card>
