<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title *ngIf="idTipo == 1">CREAR ESTADO CIVIL</mat-card-title>
    <mat-card-title *ngIf="idTipo == 2">EDITAR ESTADO CIVIL</mat-card-title>
  </mat-card-header>
  <!--<nb-card-header *ngIf="idTipo == 3">Baja Estado Civil</nb-card-header>-->
  <mat-card-content>
    <h4 *ngIf="estadocivilEliminado === true" class="btn-warning text-center">¡Atención este estado civil ha sido Eliminada!</h4>
    <form [formGroup]="estadoCicilCreateForm">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div *ngIf="idTipo == 1">
            <div class="form-group">

<!--              <label for="descripcion">Estado Civil</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!estadoCicilCreateForm.controls['descripcion'].valid&&estadoCicilCreateForm.controls['descripcion'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0"
                       formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="soloLetras"
                       placeholder="ESTADO CIVIL" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint
                          *ngIf="!estadoCicilCreateForm.controls['descripcion'].valid&&estadoCicilCreateForm.controls['descripcion'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="idTipo == 2">
            <div class="form-group">
<!--              <label for="descripcion">Estado Civil</label>-->
<!--              <input pInputText type="text" class="form-control"-->
<!--                     formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"-->
<!--                     [pKeyFilter]="soloLetras"-->
<!--                     placeholder="Campo Obligatorio" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--              <nb-alert status="danger"-->
<!--                        *ngIf="!estadoCicilCreateForm.controls['descripcion'].valid&&estadoCicilCreateForm.controls['descripcion'].dirty">-->
<!--                El Campo es requerido-->
<!--              </nb-alert>-->
              <mat-form-field>
                <input matInput type="text" class="form-control" style="padding: 0"
                       formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                       [pKeyFilter]="soloLetras"
                       placeholder="ESTADO CIVIL" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!estadoCicilCreateForm.controls['descripcion'].valid&&estadoCicilCreateForm.controls['descripcion'].dirty">
                  El Campo es requerido
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-hint *ngIf="idTipo == 3">Se dara de baja valor de Estado Civil</mat-hint>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button id="submit" *ngIf="idTipo == 1" (click)="guardarEstadoCivil()"
            [disabled]="!estadoCicilCreateForm.valid">Guardar
    </button>
    <button mat-button id="submit" *ngIf="idTipo == 2" (click)="updateEstacoCivil()"
            [disabled]="!estadoCicilCreateForm.valid">Modificar
    </button>
    <!--<button nbButton hero status="primary" *ngIf="idTipo == 3" (click)="bajaEstadoCivil()">Dar de baja
    </button>-->
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
</mat-card>

