<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getCampanasMarketing()">
    </div>
  </div>
  <div class="button-input">
    <div class="button">
      <button mat-raised-button (click)="crearCampanaMarketing()">CREAR CAMPAÑAS</button>
    </div>
    <mat-card-title>
      CAMPAÑAS
    </mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

  </div>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="idSubarea">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">SUB ÁREA</th>
          <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.subarea}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCIÓN</th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> ACCIONES</th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon  (click)="actualizarCampana(element.id )"
                         pTooltip="Editar Campana" mat-raised-button style="margin: 0px 5px"
              >edit</mat-icon>
              <mat-icon (click)="asignarCategoriaCampana(element.id)"
                        pTooltip="Asignar Categoria Campaña" mat-raised-button style="margin: 0px 5px"
              >copyright</mat-icon>
              <mat-icon (click)="asignarMediosDifusion(element.id)"
                        pTooltip="Asignar Medios de Difusion" mat-raised-button style="margin: 0px 5px" >person_add</mat-icon>
            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
