table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}

.button-input{
  width: 100%;
  display: flex;
  margin-top: 2.5%;
}

.button{
  width: 50%;
}
.input{
  width: 50%;
  text-align: end;
}
.mat-form-field{
  width: 40%;
  color: #111218;
}
.mat-input-element{
  color: #111218;
}

.mat-header-cell{
  background-color: #111218;
  color: white;
}

td.mat-cell{
  font-size: 10px;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.actions mat-icon {
  margin: 0 3%;
}
