<!--<nb-card>-->
  <!--<nb-card-header>-->
    <!--Estado Inventario-->
  <!--</nb-card-header>-->

  <!--<nb-card-body>-->
    <!--<p-table #dt [columns]="cols" [value]="estadoInventario" [scrollable]="true"  [paginator]="true"-->
             <!--[rows]="15">-->
      <!--<ng-template pTemplate="caption">-->

        <!--<div class="d-flex justify-content-between btnTop">-->
          <!--<button nbButton size="xsmall" (click)="creearEstadoInventario()"> Crear Estado Inventario</button>-->
          <!--<button nbButton size="xsmall" (click)="dt.exportCSV()">Descargar todo</button>-->
        <!--</div>-->

        <!--<div class="btnSearch">-->
          <!--<div class="bttn">-->
            <!--<i class="pi pi-search"></i>-->
            <!--<input type="text" pInputText placeholder="B&uacute;squeda Global"-->
                   <!--(input)="dt.filterGlobal($event.target.value, 'contains')"-->
                   <!--onDrop="return false" onPaste="return false">-->
          <!--</div>-->
        <!--</div>-->

      <!--</ng-template>-->
      <!--<ng-template pTemplate="colgroup" let-columns>-->
        <!--<colgroup>-->
          <!--<col *ngFor="let col of columns" class="ajuste">-->
        <!--</colgroup>-->
      <!--</ng-template>-->
      <!--<ng-template pTemplate="header" let-columns>-->
        <!--<tr>-->
          <!--<th *ngFor="let col of columns">-->
            <!--{{col.header}}-->
          <!--</th>-->
        <!--</tr>-->
      <!--</ng-template>-->
      <!--<ng-template pTemplate="body" let-estadoInventario>-->
        <!--<tr [pSelectableRow]="estadoInventario">-->
          <!--<td class="ui-resizable-column">{{estadoInventario.estado}}</td>-->
          <!--<td>-->
            <!--<nb-actions size="small">-->
              <!--<nb-action class="eva eva-edit custom-icon" (click)="updateEstadoInventario(estadoInventario.id)"-->
                         <!--pTooltip="Actualizar datos de Estado Inventario"></nb-action>-->
            <!--</nb-actions>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</ng-template>-->
    <!--</p-table>-->
  <!--</nb-card-body>-->
<!--</nb-card>-->
<mat-card class>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA">
    </div>
  </div>

  <div class="button-input">
    <div [hidden]="!escritura" class="button">
      <button mat-button style="text-align: left; float:right; margin: 8px" (click)="creearEstadoInventario()"> CREAR ESTADO INVENTARIO</button>
    </div>

  <mat-card-title>
    ESTADO INVENTARIO
  </mat-card-title>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef mat-sort-header>ACCIONES </th>
        <td [hidden]="!escritura" mat-cell *matCellDef="let element">
          <mat-card-actions size="small">
          <mat-icon (click)="updateEstadoInventario(element.id)"
          pTooltip="Actualizar datos de Estado Inventario">edit</mat-icon>
          </mat-card-actions>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
