mat-card-title {
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}
th.mat-sort-header-sorted {
  color: black;
}


/*Globalss*/
button:disabled{
  background-color: #fff;
}

table .mat-header-cell{
  background-color: #111218;
  color: white;
}

.mat-input-element{
  color: #111218;
}


table .mat-icon{
  margin: 0 5px;
}
table mat-icon:hover {
  color: #111218;
}

mat-card-content .search{
  width: 100%;
  text-align: right;
}
.mat-form-field {
  font-size: 14px;
  width: 50%;
}
