<mat-card>

  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getPrecandidatos(1)">
    </div>
  </div>

  <mat-card-content>
    <div>

      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          BAJAS RECLUTAMIENTO
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef id="align-detail">DETALLE</th>
          <td mat-cell *matCellDef="let element" id="align-detail">
            <!--            <nb-action class="eva eva-eye-outline custom-icon" ></nb-action>-->
            <mat-icon pTooltip="Ver detalles" (click)="verDatos(element.id)">remove_red_eye</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.nombre +
                " " +
                element.apellidoPaterno +
                " " +
                element.apellidoMaterno
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombreEtapa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ETAPA</th>
          <td mat-cell *matCellDef="let element">{{ element.nombreEtapa }}</td>
        </ng-container>

        <ng-container matColumnDef="estadoRH">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            DETALLE BAJA
          </th>
          <td mat-cell *matCellDef="let element">{{ element.estadoRh }}</td>
        </ng-container>

        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBAREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <ng-container matColumnDef="recontratables">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Recontratable
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.recontratables }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="align-detail">
            <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td  [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: start">
            <div class="actions">
              <mat-icon
                pTooltip="Reactivar"
                *ngIf="element.recontratable === 1"
                (click)="activarEtapa(element.id)"
                >folder_shared</mat-icon>
              <mat-icon
                pTooltip="Recontratable"
                (click)="recontratable(element.id)"
                >supervised_user_circle</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
