<!--<hdmenu></hdmenu>-->

<!--<breadcrumb (onSelectedOptionChanged)="onSelectedOptionChanged($event)" (onSelectedItemChanged)="onSelectedItemChanged($event)"-->
<!--            [items]="breadCrumbItems"></breadcrumb>-->
<div class="toolbar1">
  <button mat-button class="regresar" (click)="signOut()">
    <mat-icon>chevron_left</mat-icon> REGRESAR </button>
  <mat-card-title>EXPEDIENTE {{$state}}</mat-card-title>
  <mat-form-field class="profile">
    <mat-select [(value)]="selectedUserId">
      <mat-option *ngFor="let user of users" [value]="user.Id">
        {{user.Email}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-toolbar>
<!--  <button mat-button color="primary" (click)="createNewFolder()">Nuevo Folder</button>-->
      <button mat-button color="accent" (click)="fileInput.click()">
        <mat-icon class="icon" style="margin-right: 5px;">cloud_upload</mat-icon>
        SUBIR ARCHIVOS
        <input hidden multiple type="file" #fileInput (change)="createNewFile($event)" />
      </button>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <mat-icon>{{item.Icon}}</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
    <td mat-cell *matCellDef="let item" (click)="browse(item)" [class.folder]="item.IsFolder"> {{item.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> TIPO </th>
    <td mat-cell *matCellDef="let item" > {{item.MimeType}} </td>
  </ng-container>

  <ng-container matColumnDef="modifiedTime">
    <th mat-header-cell *matHeaderCellDef> ÚLTIMA MODIFICACIÓN </th>
    <td mat-cell *matCellDef="let item"> {{item.ModifiedTimeText}} </td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> TAMAÑO </th>
    <td mat-cell *matCellDef="let item"> {{item.SizeText}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <mat-icon class="delete" (click)="delete(item)"> delete_forever </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


