
<mat-card>
    <mat-card-title *ngIf="idTipo === 1">CREAR SOCIO</mat-card-title>
    <mat-card-title *ngIf="idTipo === 2">ACTUALIZAR SOCIO</mat-card-title>
  <mat-card-content>

    <form [formGroup]="sociosCreateForm" >
      <div class="row justify-content-center">
        <div class="col-md-6">

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="nombreComercial" class="form-control" id="nombreComercial" oninput="this.value = this.value.toUpperCase()" placeholder="NOMBRE COMERCIAL"
                     onDrop="return false" onPaste="return false" [pKeyFilter]="soloLetras"  autocomplete="off" style="padding: 0"/>
              <mat-hint  *ngIf="!sociosCreateForm.controls['nombreComercial'].valid&&sociosCreateForm.controls['nombreComercial'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>PRIORIDAD</mat-label>
              <mat-select formControlName="prioridad" id="prioridad">
                <mat-option *ngFor="let priori of prioridadVal" [value]="priori.value">
                  {{priori.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="rfc" class="form-control" id="rfc" oninput="this.value = this.value.toUpperCase()"
                     [pKeyFilter]="letrasNumeros" placeholder="RFC" style="padding: 0;"
                     onDrop="return false" maxLength="13" minLength="13" autocomplete="off"/>
              <mat-hint  *ngIf="!sociosCreateForm.controls['rfc'].valid && sociosCreateForm.controls['rfc'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>
          </div>


        </div>
        <div class="col-md-6">

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="razonSocial" class="form-control" id="razonSocial" oninput="this.value = this.value.toUpperCase()" placeholder="RAZÓN SOCIAL"
                     onDrop="return false" onPaste="return false" [pKeyFilter]="soloLetras" autocomplete="off" style="padding: 0;"/>
              <mat-hint  *ngIf="!sociosCreateForm.controls['razonSocial'].valid&&sociosCreateForm.controls['razonSocial'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" formControlName="alias" class="form-control" id="alias" oninput="this.value = this.value.toUpperCase()" placeholder="ALIAS"
                        onDrop="return false" onPaste="return false" [pKeyFilter]="soloLetras" autocomplete="off" style="padding: 0"/>
              <mat-hint  *ngIf="!sociosCreateForm.controls['alias'].valid&&sociosCreateForm.controls['alias'].dirty">
                Se requiere llenar el campo adecuadamente</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <label >Estado</label><br>
            <nb-radio-group id="activo" (valueChange)="estado()">
              <nb-radio #radioSi name="si" [checked]="chkd" value="1">Activo</nb-radio>
              <nb-radio #radioNo name="no" [checked]="chkdn" value="0">Inactivo</nb-radio>
            </nb-radio-group>
          </div>

        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="idTipo === 1">
    <button mat-button id="submit" (click)="guardarSocio()" [disabled]="!sociosCreateForm.valid || inactivo === true">Guardar</button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="idTipo === 2">
    <button mat-button id="submit" (click)="updateSocio()" [disabled]="!sociosCreateForm.valid || inactivo === true">Actualizar</button>
    <button mat-button id="submit" (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <div class="bar"></div>
</mat-card>
