<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getContratos(1)">
    </div>
  </div>
  <mat-card-content>
    <div>
      <div class="button-input">
        <div class="button">
        </div>
        <mat-card-title>CONTRATOS</mat-card-title>
        <div class="input">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->

        <ng-container matColumnDef="socio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SOCIOS</th>
          <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA INICIO</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaInicio | date: 'dd-MMM-yyyy'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fechaFin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA FINAL </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaFin | date: 'dd-MMM-yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="diasRestantes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DIAS RESTANTES </th>
          <td mat-cell *matCellDef="let element" [ngClass]="element.diasRestantes < 6 ? 'redClas': ''"> {{element.diasRestantes}} </td>
        </ng-container>
        <ng-container matColumnDef="referencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> REFERENCIA</th>
          <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef  style="text-align: center"> ACCIONES </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align: center">

            <div class="actions">
              <mat-card-actions class="justify-content-around">
                <mat-icon (click)="updaContratos(element.id)"
                           pTooltip="Actualizar Contrato">edit</mat-icon>
                <mat-icon  pTooltip="Subir Documentos">create_new_folder</mat-icon>
                <mat-icon (click)="bajaContratos(element.id)" id="delete"
                          pTooltip="Baja de Contrato">delete_forever</mat-icon>
              </mat-card-actions>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
