<mat-card>
  <mat-card-header>
    <mat-card-title >CREAR PRODUCTO</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="productoCreateForm">
      <div class="row justify-content-center">
        <div class="form-group">
          <mat-form-field>
            <mat-label>TIPO CATEGORIA</mat-label>
            <!--<mat-select (selectionChange)="getSedes($event.value)" formControlName="idTipoCategoria">-->
              <!--<mat-option *ngFor="let datos of productos" [value]="datos.id">-->
                <!--{{datos.datos}}-->
              <!--</mat-option>-->
            <!--</mat-select>-->
            <!--<mat-hint *ngIf="mostrarEmpresa">Agrega una opcion desde su catálogo</mat-hint>-->
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <!--<input matInput type="text" formControlName="datos" class="form-control" id="datos" oninput="this.value = this.value.toUpperCase()" placeholder="DATOS DE PRODUCTO"-->
                   <!--(keyup)="validaCorreo($event.target.value)" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
            <mat-hint *ngIf="!productoCreateForm.controls['datos'].valid&&productoCreateForm.controls['datos'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions >
    <!--<button mat-button  (click)="guardarProspecto()"-->
            <!--[disabled]="!productoCreateForm.valid || this.submitted === true" *ngIf="mostrar === false">Guardar-->
    <!--</button>-->
    <!--<button mat-button  (click)="updateProspecto()"-->
            <!--[disabled]="!productoCreateForm.valid || this.submitted === true" *ngIf="mostrar === true">Actualizar-->
    <!--</button>-->
    <button mat-button  (click)="dismiss()">Cerrar</button>
  </mat-card-actions>
  <!--<mat-card-actions *ngIf="idTipo === 2">-->
  <!--<button mat-button  (click)="updateEjecutivoCuenta()" [disabled]="!ejecutivoCuentaCreateForm.valid">Actualizar</button>-->
  <!--<button mat-button  (click)="dismiss()">Cerrar</button>-->
  <!--</mat-card-actions>-->
</mat-card>
