<mat-card>
  <!--  <div class="reload-all">-->
  <!--    <div class="icon-all">-->
  <!--      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA">-->
  <!--    </div>-->
  <!--  </div>-->
  <mat-card-title> ÁREA DE RESPUESTAS </mat-card-title>
  <mat-card-content>
    <form [formGroup]="respuestasForm" (ngSubmit)="agregarRes()">
      <div class="forms">
        <mat-form-field>
          <mat-label>SEDE</mat-label>
          <mat-select formControlName="sedeControl" #sede [(ngModel)]="selectedSede"
                      [ngClass]="{ 'is-invalid': submitted && f.sedeControl.errors }" class="form-group" required
                      (selectionChange)="loadAreaBySede()">
            <mat-option value="0">Selecciona una Sede
            </mat-option>
            <mat-option *ngFor="let s of sedes" [value]="s.id">
              {{s.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>ÁREA</mat-label>
          <mat-select class="form-group" formControlName="areaControl" #area [(ngModel)]="selectedArea"
                      [ngClass]="{ 'is-invalid': submitted && f.areaControl.errors }" required
                      (selectionChange)="loadQuestionsByArea()">
            <mat-option value="0">Selecciona una Área
            </mat-option>
            <mat-option *ngFor="let a of areas" [value]="a.id">
              {{a.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>SELECCIONA UNA PREGUNTA</mat-label>
          <mat-select class="form-group" formControlName="preguntaControl" #pregunta [(ngModel)]="selectedPregunta"
                      [ngClass]="{ 'is-invalid': submitted && f.preguntaControl.errors }" required
                      (selectionChange)="loadRespuestasByPregunta()">
            <mat-option value="0">Selecciona una Pregunta
            </mat-option>
            <mat-option *ngFor="let p of preguntas" [value]="p.id">
              {{p.pregunta}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput #respuesta class="form-group" placeholder="ESCRIBE UNA RESPUESTA" #respuesta
                 [ngClass]="{ 'is-invalid': submitted && f.respuestaControl.errors }"
                 formControlName="respuestaControl">
        </mat-form-field>
      </div>

      <div class="icono">
        <span class="subtitle">RESPUESTAS ACTIVAS:</span>
        <ul>
          <li *ngFor="let r of respuestas">
            {{r.respuestas}} <i class="material-icons">{{r.icono}}</i>
          </li>
        </ul>
      </div>

      <div class="icono">
        <span class="subtitle">AGREGAR UN ICONO A TU RESPUESTA:</span>
        <mat-radio-group class="form-group" formControlName="radioControl"
                         [(ngModel)]="selectedIcon" required>
          <mat-radio-button [value]="i.name" *ngFor="let i of iconos; let o=index" [checked]="i.checked===0" name="o"
                            required>
            <i class="material-icons">
              {{i.name}}
            </i>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="color">
        <span class="subtitle">SELECCIONA EL COLOR DE TU RESPUESTA:</span>
        <mat-button-toggle-group formControlName="colorControl" [(ngModel)]="selectedColor"
                                 [ngClass]="{ 'is-invalid': submitted && f.colorControl.errors }">
          <mat-button-toggle mat-mini-fab value="morado-kit" class="morado-kit"><i
            class="material-icons">{{selectedIcon}}</i>
          </mat-button-toggle>
          <mat-button-toggle mat-mini-fab value="verde-kit" class="verde-kit"><i
            class="material-icons">{{selectedIcon}}</i>
          </mat-button-toggle>
          <mat-button-toggle mat-mini-fab value="rosa-kit" class="rosa-kit"><i
            class="material-icons">{{selectedIcon}}</i>
          </mat-button-toggle>
          <mat-button-toggle mat-mini-fab value="azul-kit" class="azul-kit"><i
            class="material-icons">{{selectedIcon}}</i>
          </mat-button-toggle>
          <mat-button-toggle mat-mini-fab value="rojo-kit" class="rojo-kit"><i
            class="material-icons">{{selectedIcon}}</i>
          </mat-button-toggle>
          <mat-button-toggle mat-mini-fab value="azulrey-kit" class="azulrey-kit"><i
            class="material-icons">{{selectedIcon}}</i>
          </mat-button-toggle>
          <mat-button-toggle mat-mini-fab value="naranja-kit" class="naranja-kit"><i
            class="material-icons">{{selectedIcon}}</i>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button class="button"  [disabled]="!respuestasForm.valid" (click)="agregarRes()"> AGREGAR </button>
  </mat-card-actions>
</mat-card>
