<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getCandidato(1)">
    </div>
  </div>

      <div class="button-input">
        <div class="box" style="width: 100%;"></div>

        <mat-card-title style="text-align: center;">
          CANDIDATOS
        </mat-card-title>

        <div class="search">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

    <mat-card-content>
      <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            DETALLE
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <mat-icon
              pTooltip="Ver detalles" id="verDetalles"
              custom-icon
              (click)="verDatos(element.id)"
              >remove_red_eye</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.nombre +
                " " +
                element.apellidoPaterno +
                " " +
                element.apellidoMaterno
            }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fechaIngreso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            FECHA INGRESO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fechaIngreso | date: "d MMM y" }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sede">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SEDE</th>
          <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
        </ng-container>

        <ng-container matColumnDef="subarea">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBAREA</th>
          <td mat-cell *matCellDef="let element">{{ element.subarea }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
           <span [hidden]="!escritura">ACCIONES</span>
          </th>
          <td [hidden]="!escritura" mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                (click)="
                  updateCandidatos(
                    element.id,
                    element.idPrecandidato,
                    element.fechaIngreso
                  )
                "
                pTooltip="Actualizar Datos de Candidato"
                >edit</mat-icon
              >
              <mat-icon *ngIf="element.idPuesto === 8" (click)="asignarCapacitacion(
                    element.id,
                    element.idPrecandidato,
                    element.idEtapa,
                    element.nombre,
                    element.apellidoPaterno,
                    element.apellidoMaterno
                  )"
                pTooltip="Asignar a couching"
                >note_add</mat-icon
              >
              <mat-icon
                *ngIf="element.idPuesto !== 8"
                (click)="asignarPreempleados(element.idPrecandidato)"
                pTooltip="Asignar a Pre Empleados"
                >person_add</mat-icon
              >
              <mat-icon
                id="delete"
                (click)="bajaCandidato(element.idPrecandidato)"
                pTooltip="Baja de Candidato"
                >delete_forever</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
