<mat-card class="example-form">
<mat-card-title>
  LICENCIAS
</mat-card-title>

<mat-card-content>

  <!--<form [formGroup]="licenciasForm">-->
    <!--<div class="row justify-content-center">-->
      <!--<div class="col-md-12">-->
        <!--<div class="form-group" >-->
          <!--<label for="idLicencia">Nombre de Licencia  </label>-->
          <!--<p-dropdown [options]="licencias" formControlName="licenciacontrol" placeholder="Seleccione la licencia"-->
                      <!--id="idLicencia" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getIdLicencia($event.value)" ></p-dropdown>-->
        <!--</div>-->
       <!--<label>Dame el total de licencias</label>-->
        <!--<div class="form-group" >-->
       <!--<input pInputText type="text" formControlName="total" class="form-control" id="total"  />-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
  <form [formGroup]="licenciasForm" class="example-form">
    <div class="row">
      <div class="col-12">

        <div class="form-group">
          <mat-form-field>
            <mat-label>Nombre de Licencias</mat-label>
               <mat-select formControlName="licenciacontrol" id="idlicencia" (selectionChange)="getIdLicencia($event.value)">
                    <mat-option *ngFor="let licencia of licenciasdisponibles"
                   [value]="licencia.id">
                  {{licencia.nombre}}
             </mat-option>
          </mat-select>

          </mat-form-field>
      </div>
        <div class="form-group">
          <mat-form-field >
            <input class="form-control" matInput type="text" formControlName="total" oninput="this.value = this.value.toUpperCase()"
                   placeholder="Total de licencias" id="total"  />
            <mat-hint *ngIf="!licenciasForm.controls['total'].valid&&licenciasForm.controls['total'].dirty">
              Total
            </mat-hint>
          </mat-form-field>
        </div>


      </div>
    </div>
  </form>

</mat-card-content>

<mat-card-actions>
  <div class="actions">
    <button mat-button (click) ="guardar()" [disabled]="!licenciasForm.valid ">Guardar</button>
    <button mat-button (click)="dismiss()">Cerrar</button>
  </div>
</mat-card-actions>
</mat-card>
