.example-form {
  width: 100%;
}
.example-full-width {
  width: 100%;
}
input{
  width: 100%;
}


.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}


mat-form-field {
  width: 100%;
}
mat-card-header{
  text-align: center;
  margin: 0px auto;
}
mat-card{
  padding: 5% 7%;
  box-shadow: 5px 5px 30px black;
}
.mat-hint{
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions{
  text-align: right;
}
mat-card-actions button{
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled{
  background-color: transparent;
}

mat-card {
  min-width: 500px;
}

