<mat-card>
  <mat-card-title>
     AGREGAR CAMPOS
  </mat-card-title>
  <mat-card-content>


    <form [formGroup]="agregarForm">
      <div class="row justify-content-center">
        <div class="col-md-12">

          <div class="form-group" >
          <label id="example-radio-group-label">Selecciona el tipo de campo</label>

          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            formControlName="tipo"
            [(ngModel)]="favoriteSeason" (ngModelChange)= "getIdpagina($event)">
            <div class="buttons row">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </div>

          </mat-radio-group>


          </div>


            <div class="form-group"  >

              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="text" formControlName="nombreCampo"
                       placeholder="NOMBRE DEL CAMPO" id="nombreCampo" value =" " />
                <mat-hint *ngIf="!agregarForm.controls['nombreCampo'].valid&&agregarForm.controls['nombreCampo'].dirty">
                  NOMBRECAMPO <strong>obligatorio</strong>
                </mat-hint>
              </mat-form-field>

            <div class="form-group" *ngIf="favoriteSeason === 'TEXTO'">

              <mat-form-field class="example-full-width">
                <input class="form-control" matInput type="text" formControlName="valor"
                       placeholder="VALOR" id="valor"  />
                <mat-hint *ngIf="!agregarForm.controls['valor'].valid&&agregarForm.controls['valor'].dirty">
                  VALOR <strong>obligatorio</strong>
                </mat-hint>
              </mat-form-field>
            </div>

              <div class="form-group" *ngIf="favoriteSeason === 'NUMERO'">

                <mat-form-field class="example-full-width">
                  <input class="form-control" matInput type="number" formControlName="valor"
                         placeholder="VALOR" id="valor2"  />
                  <mat-hint *ngIf="!agregarForm.controls['valor'].valid&&agregarForm.controls['valor'].dirty">
                    VALOR <strong>obligatorio</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="form-group" *ngIf="favoriteSeason === 'TRUE/FALSE'">



                <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                                         formControlName="valor" id="valor3">
                  <mat-button-toggle value="bold" *ngFor="let sel of seleccion2" [value]="sel.value">
                    {{sel.label}}
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="form-group" *ngIf="favoriteSeason === 'CAMPAÑA'">

                <div class="form-group">
                  <mat-form-field>
                    <mat-label>GRUPO EMPRESARIAL (1)</mat-label>
                    <mat-select formControlName="idGrupo" id="idGrupo" (selectionChange)="getEmpresa($event.value)">
                      <mat-option *ngFor="let grupo of Grupos" [value]="grupo.id">
                        {{grupo.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-hint  *ngIf="mostrarGrupo">Agrega una opcion desde su catálogo</mat-hint>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>EMPRESA (2)</mat-label>
                    <mat-select formControlName="idEmpresa" id="idEmpresa" (selectionChange)="getSedes($event.value)">
                      <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
                        {{empresa.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-hint  *ngIf="mostrarEmpresa">Agrega una opcion desde su catálogo</mat-hint>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>SEDE (3)</mat-label>
                    <mat-select formControlName="idSede" id="idSede" (selectionChange)="getArea($event.value)">
                      <mat-option *ngFor="let sede of Sedes" [value]="sede.id">
                        {{sede.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-hint  *ngIf="mostrarSede">Agrega una opcion desde su catálogo</mat-hint>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>ÁREA (4)</mat-label>
                    <mat-select formControlName="idArea" id="idArea" (selectionChange)="getSubarea($event.value)">
                      <mat-option *ngFor="let area of areas" [value]="area.id">
                        {{area.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-hint  *ngIf="mostrarArea">Agrega una opcion desde su catálogo</mat-hint>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>SUBÁREA (5)</mat-label>
                    <mat-select formControlName="valor" id="idSubarea" >
                      <mat-option *ngFor="let sub of subareas" [value]="sub.id">
                        {{sub.subarea}}
                      </mat-option>
                    </mat-select>
                    <mat-hint  *ngIf="mostrarSubarea">Agrega una opcion desde su catálogo</mat-hint>
                  </mat-form-field>
                </div>

              </div>
              <div class="form-group" *ngIf="favoriteSeason === 'ASEGURADORA'">
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>SUBRAMO</mat-label>
                    <mat-select formControlName="valor" id=aseguradora >
                      <mat-option *ngFor="let cat of categorias" [value]="cat.id">
                        {{cat.nombreComercial}}
                      </mat-option>
                    </mat-select>
                    <mat-hint  *ngIf="mostrarcategorias">Agrega una opcion desde su catálogo</mat-hint>
                  </mat-form-field>
                </div>

              </div>
              <div class="form-group" *ngIf="favoriteSeason === 'PAGINA'">

                <mat-form-field class="example-full-width">
                  <input class="form-control" matInput type="number" formControlName="valor"
                         placeholder="VALOR" id="pagina"  />
                  <mat-hint *ngIf="!agregarForm.controls['valor'].valid&&agregarForm.controls['valor'].dirty">
                    VALOR <strong>obligatorio</strong>
                  </mat-hint>
                </mat-form-field>
              </div>


        </div>
      </div>
      </div>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button style="margin: 8px" (click)="guardarCampos()" [disabled]="!agregarForm.valid"> Guardar</button>
    <button mat-button style="margin: 8px" (click)="dismiss()"> Cerrar</button>
  </mat-card-actions>
</mat-card>
