<mat-card class="example-form">
  <mat-card-title *ngIf="idTipo == 1">CREAR ÁREA</mat-card-title>
  <mat-card-title *ngIf="idTipo == 2">MODIFICAR ÁREA</mat-card-title>

<mat-card-content>
  <form [formGroup]="areaCreateForm">
        <div class="form-group">
          <mat-form-field>

            <input matInput type="text"  class="form-control"
                   formControlName="nombre" oninput="this.value = this.value.toUpperCase()" maxlength="100"
                   placeholder="NOMBRE" id="nombre" onDrop="return false" onPaste="return false" autocomplete="off" />
            <mat-hint *ngIf="!areaCreateForm.controls['nombre'].valid&&areaCreateForm.controls['nombre'].dirty">
              El Campo es requerido </mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
              <textarea matInput type="text"  class="form-control" style="padding: 0"
                        formControlName="descripcion" oninput="this.value = this.value.toUpperCase()" maxlength="100"
                        placeholder="DESCRIPCIÓN" id="descripcion" onDrop="return false" onPaste="return false" autocomplete="off" ></textarea>
            <mat-hint *ngIf="!areaCreateForm.controls['descripcion'].valid&&areaCreateForm.controls['descripcion'].dirty">
              El Campo es requerido </mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput type="text" class="form-control" style="padding: 0"
                   formControlName="codigo" oninput="this.value = this.value.toUpperCase()" maxlength="10"
                   placeholder="CODIGO" id="codigo"/>
            <mat-hint
              *ngIf="!areaCreateForm.controls['codigo'].valid && areaCreateForm.controls['codigo'].dirty">
              El Campo es requerido
            </mat-hint>
          </mat-form-field>
        </div>
  </form>
</mat-card-content>
<mat-card-actions>
  <div class="actions">
    <button id="submit" mat-button *ngIf="idTipo == 1" (click)="guardarArea()" [disabled]="!areaCreateForm.valid || inactivo === true">Guardar
    </button>
    <button id="submit" mat-button *ngIf="idTipo == 2" (click)="updateArea()" [disabled]="!areaCreateForm.valid || inactivo === true">Modificar
    </button>
    <button id="submit" mat-button (click)="dismiss()">Cerrar</button>
  </div>

</mat-card-actions>
</mat-card>
