<!--<nb-card>-->
<!--<nb-card-header>-->


<!--<p> Agregar cpu</p>-->
<!--<HR>-->
<!--</nb-card-header>-->
<!--<nb-card-body>-->
<!--<form [formGroup]="userform">-->
<!--<div class="row justify-content-center">-->
<!--<div class="col-md-12">-->


<!--<div class="form-group">-->
<!--<label for="numeroSerie">Numero de serie</label>-->
<!--<input nbInput type="text" formControlName="numeroSerie" placeholder="Requerido" class="form-control"-->
<!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="numeroSerie" />-->
<!--<nb-alert status="danger" *ngIf="!userForm.controls['numeroSerie'].valid&&crearSolicitudForm.controls['numeroSerie'].dirty">-->
<!--¡El Nombre es requerido!</nb-alert>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="procesador">Procesador</label>-->
<!--<input nbInput type="text" formControlName="numeroSerie" placeholder="Requerido" class="form-control"-->
<!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="procesador" />-->
<!--<nb-alert status="danger" *ngIf="!userForm.controls['numeroSerie'].valid&&crearSolicitudForm.controls['numeroSerie'].dirty">-->
<!--¡El Nombre es requerido!</nb-alert>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="hdd">Hdd</label>-->
<!--<input nbInput type="text" formControlName="hdd" placeholder="Requerido" class="form-control"-->
<!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="hdd" />-->
<!--<nb-alert status="danger" *ngIf="!userForm.controls['numeroSerie'].valid&&crearSolicitudForm.controls['numeroSerie'].dirty">-->
<!--¡El Nombre es requerido!</nb-alert>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="ram">Ram</label>-->
<!--<input nbInput type="text" formControlName="numeroSerie" placeholder="Requerido" class="form-control"-->
<!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="ram" />-->
<!--<nb-alert status="danger" *ngIf="!userForm.controls['numeroSerie'].valid&&crearSolicitudForm.controls['numeroSerie'].dirty">-->
<!--¡El Nombre es requerido!</nb-alert>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="marca">Marca</label>-->
<!--<input nbInput type="text" formControlName="marca" placeholder="Requerido" class="form-control"-->
<!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="marca" />-->
<!--<nb-alert status="danger" *ngIf="!userForm.controls['numeroSerie'].valid&&crearSolicitudForm.controls['numeroSerie'].dirty">-->
<!--¡El Nombre es requerido!</nb-alert>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="modelo">Modelo</label>-->
<!--<input nbInput type="text" formControlName="marca" placeholder="Requerido" class="form-control"-->
<!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="modelo" />-->
<!--<nb-alert status="danger" *ngIf="!userForm.controls['numeroSerie'].valid&&crearSolicitudForm.controls['numeroSerie'].dirty">-->
<!--¡El Nombre es requerido!</nb-alert>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="fechaRecepcion">FechaRecepcion</label>-->
<!--<input nbInput type="date" formControlName="fechaRecepcion"  shape="semi-round" placeholder="Fecha de cita"-->
<!--id="fechaRecepcion" fullWidth  [min]="min"/>-->
<!--<nb-alert status="danger" *ngIf="!formAgendarCita.controls['fechaCita'].valid&&formAgendarCita.controls['fechaCita'].dirty">-->
<!--Se requiere una fecha adecuada</nb-alert>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->

<!--</form>-->
<!--</nb-card-body>-->

<!--<nb-card-footer>-->
<!--<button nbButton hero status="primary" (click)="agendarCita()">Guardar</button> <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>-->
<!--</nb-card-footer>-->
<!--</nb-card>-->
