
input{
  border: none;
  padding: 0;
}

.form-control{
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}

mat-card {
  padding: 0!important;
  min-width: 350px;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

.mat-hint{
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions {
  text-align: right;
}
mat-card-actions mat-icon{
  cursor: pointer;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled{
  background-color: transparent;
}

p b {
  color: #354089;
}

mat-card-subtitle {
  text-align: center;
  color: #354089;
  font-weight: 500;
}
