<mat-card class="view">

<!--  <mat-card-title>-->
<!--    VER DETALLES-->
<!--  </mat-card-title>-->
  <div class="header">
    <span id="titulo-modals">VER DETALLES</span>
  </div>

  <mat-card-content>

  <div *ngIf=" cpu != undefined && opcion === 'cpu'">
    <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
    <p><b>Id:</b> {{cpu.id}}</p>
    <p><b>Estado Inventario:</b> {{cpu.estadoInventario}}</p>
    <p><b>Observaciones:</b> {{cpu.observaciones}}</p>
    <p><b>NumeroSerie: </b> {{cpu.numeroSerie}}</p>
    <p><b>Marca: </b> {{cpu.nombreMarca}}</p>
    <p><b>Modelo: </b> {{cpu.modelo}}</p>
    <p><b>Procesador: </b> {{cpu.nombreProcesador}}</p>
    <p><b>Hdd: </b> {{cpu.hdd}}</p>
    <p><b>Ram: </b> {{cpu.ram}}</p>
    <p><b>Fecha de Recepcion: </b> {{cpu.fechaRecepcion | date}}</p>
    <p><b>Fecha de Salida: </b> {{cpu.fechaSalida | date}}</p>
    <p><b>Comentarios: </b> {{cpu.comentarios}}</p>
    <p><b>Sede:</b> {{cpu.sedeNombre}}</p>
    <p><b>Origen Recurso:</b> {{cpu.origenRecurso}}</p>
  </div>

    <div *ngIf=" monitor != undefined && opcion === 'monitor'">
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p><b>Id:</b> {{monitor.id}}</p>
      <p><b>Estado Inventario:</b> {{monitor.estadoInventario}}</p>
      <p><b>Observaciones:</b> {{monitor.observacionesInventario}}</p>
      <p><b>numeroSerie: </b> {{monitor.numSerie}}</p>
      <p><b>Marca: </b> {{monitor.nombreMarca}}</p>
      <p><b>Dimensiones: </b> {{monitor.dimensiones}}</p>
      <p><b>Fecha de Recepcion: </b> {{monitor.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{monitor.fechaSalida | date}}</p>
      <p><b>Comentarios: </b> {{monitor.comentarios}}</p>
      <p><b>Sede:</b> {{monitor.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{monitor.origenRecurso}}</p>
    </div>
    <div *ngIf=" laptop != undefined && opcion === 'laptop'">
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p><b>Id:</b> {{laptop.id}}</p>
      <p><b>Estado Inventario:</b> {{laptop.estadoInventario}}</p>
      <p><b>Observaciones:</b> {{laptop.observacionesInventario}}</p>
      <p><b>numeroSerie: </b> {{laptop.numeroSerie}}</p>
      <p><b>Marca: </b> {{laptop.nombreMarca}}</p>
      <p><b>Modelo: </b> {{laptop.modelo}}</p>
      <p><b>Procesador: </b> {{laptop.nombreProcesador}}</p>
      <p><b>Hdd: </b> {{laptop.hdd}}</p>
      <p><b>Ram: </b> {{laptop.ram}}</p>
      <p><b>Fecha de Recepcion: </b> {{laptop.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{laptop.fechaSalida | date}}</p>
      <p><b>Comentarios: </b> {{laptop.comentarios}}</p>
      <p><b>Sede:</b> {{laptop.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{laptop.origenRecurso}}</p>
    </div>
    <div *ngIf="tablet != undefined && opcion === 'tablet'">
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p><b>Id:</b> {{tablet.id}}</p>
      <p><b>Estado Inventario:</b> {{tablet.estadoInventario}}</p>
      <p><b>Observaciones:</b> {{tablet.observacionesInventario}}</p>
      <p><b>numeroSerie: </b> {{tablet.numFolio}}</p>
      <p><b>Marca: </b> {{tablet.nombreMarca}}</p>
      <p><b>Procesador: </b> {{tablet.nombreProcesador}}</p>
      <p><b>Capacidad: </b> {{tablet.capacidad}}</p>
      <p><b>Ram: </b> {{tablet.ram}}</p>
      <p><b>Fecha de Recepcion: </b> {{tablet.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{tablet.fechaSalida | date}}</p>
      <p><b>Comentarios: </b> {{tablet.comentarios}}</p>
      <p><b>Sede:</b> {{tablet.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{tablet.origenRecurso}}</p>
    </div>
    <div *ngIf= " teclado !== undefined &&  opcion === 'teclado'">
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p><b>Id:</b> {{teclado.id}}</p>
      <p><b>Marca: </b> {{teclado.nombreMarca}}</p>
      <p><b>Estado Inventario:</b> {{teclado.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{teclado.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{teclado.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{teclado.observacionesInventario}}</p>
      <p><b>Comentarios: </b> {{teclado.comentarios}}</p>
      <p><b>Sede:</b> {{teclado.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{teclado.origenRecurso}}</p>
    </div>
    <div *ngIf="mouse !== undefined && opcion === 'mouse'">
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p><b>Id:</b> {{mouse.id}}</p>
      <p><b>Marca: </b> {{mouse.nombreMarca}}</p>
      <p><b>Estado Inventario:</b> {{mouse.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{mouse.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{mouse.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{mouse.observacionesInventario}}</p>
      <p><b>Comentarios: </b> {{mouse.comentarios}}</p>
      <p><b>Sede:</b> {{mouse.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{mouse.origenRecurso}}</p>
    </div>

    <div *ngIf="diadema !== undefined && opcion === 'diadema' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{diadema.id}}</p>
      <p><b>Marca: </b> {{diadema.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{diadema.numFolio}}</p>
      <p><b>Estado Inventario:</b> {{diadema.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{diadema.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{diadema.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{diadema.observacionesInventario}}</p>
      <p><b>Comentarios: </b> {{diadema.comentarios}}</p>
      <p><b>Sede:</b> {{diadema.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{diadema.origenRecurso}}</p>
    </div>
    <div *ngIf="switch !== undefined && opcion === 'switch' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{switch.id}}</p>
      <p><b>Marca: </b> {{switch.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{switch.folio}}</p>
      <p><b>Estado Inventario:</b> {{switch.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{switch.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{switch.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{switch.observaciones}}</p>
      <p><b>Sede:</b> {{switch.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{switch.origenRecurso}}</p>
    </div>
    <div *ngIf="servidores !== undefined && opcion === 'servidores' ">
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p><b>Id:</b> {{servidores.id}}</p>
      <p><b>NumeroSerie: </b> {{servidores.folio}}</p>
      <p><b>Marca: </b> {{servidores.nombreMarca}}</p>
      <p><b>Estado Inventario:</b> {{servidores.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{servidores.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{servidores.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{servidores.observaciones}}</p>
      <p><b>Sede:</b> {{servidores.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{servidores.origenRecurso}}</p>

    </div>
    <div *ngIf="tarjetaRed !== undefined && opcion === 'tarjeta de red' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{tarjetaRed.id}}</p>
      <p><b>Marca: </b> {{tarjetaRed.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{tarjetaRed.folio}}</p>
      <p><b>Estado Inventario:</b> {{tarjetaRed.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{tarjetaRed.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{tarjetaRed.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{tarjetaRed.observaciones}}</p>
      <p><b>Sede:</b> {{tarjetaRed.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{tarjetaRed.origenRecurso}}</p>
    </div>
    <div *ngIf="telefonoIp !== undefined && opcion === 'telefonos ip' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{telefonoIp.id}}</p>
      <p><b>Marca: </b> {{telefonoIp.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{telefonoIp.folio}}</p>
      <p><b>Estado Inventario:</b> {{telefonoIp.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{telefonoIp.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{telefonoIp.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{telefonoIp.observaciones}}</p>
      <p><b>Sede:</b> {{telefonoIp.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{telefonoIp.origenRecurso}}</p>
    </div>
    <div *ngIf="racks !== undefined && opcion === 'rack' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{racks.id}}</p>
      <p><b>Marca: </b> {{racks.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{racks.folio}}</p>
      <p><b>Estado Inventario:</b> {{racks.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{racks.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{racks.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{racks.observaciones}}</p>
      <p><b>Sede:</b> {{racks.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{racks.origenRecurso}}</p>
    </div>
    <div *ngIf="patchPanel !== undefined && opcion === 'patch panel' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{patchPanel.id}}</p>
      <p><b>Marca: </b> {{patchPanel.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{patchPanel.folio}}</p>
      <p><b>Estado Inventario:</b> {{patchPanel.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{patchPanel.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{patchPanel.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{patchPanel.observaciones}}</p>
      <p><b>Sede:</b> {{patchPanel.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{patchPanel.origenRecurso}}</p>
    </div>
    <div *ngIf="charolaRack !== undefined && opcion === 'charolas rack' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{charolaRack.id}}</p>
      <p><b>Marca: </b> {{charolaRack.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{charolaRack.folio}}</p>
      <p><b>Estado Inventario:</b> {{charolaRack.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{charolaRack.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{charolaRack.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{charolaRack.observaciones}}</p>
      <p><b>Sede:</b> {{charolaRack.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{charolaRack.origenRecurso}}</p>
    </div>

    <div *ngIf="ddexterno !== undefined && opcion === 'disco duro externo' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{ddexterno.id}}</p>
      <p><b>Marca: </b> {{ddexterno.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{ddexterno.folio}}</p>
      <p><b>Estado Inventario:</b> {{ddexterno.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{ddexterno.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{ddexterno.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{ddexterno.observaciones}}</p>
      <p><b>Sede:</b> {{ddexterno.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{ddexterno.origenRecurso}}</p>
    </div>
    <div *ngIf="ddexterno !== undefined && opcion === 'discoduroexterno' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{ddexterno.id}}</p>
      <p><b>Marca: </b> {{ddexterno.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{ddexterno.folio}}</p>
      <p><b>Estado Inventario:</b> {{ddexterno.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{ddexterno.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{ddexterno.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{ddexterno.observaciones}}</p>
      <p><b>Sede:</b> {{ddexterno.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{ddexterno.origenRecurso}}</p>
    </div>
    <div *ngIf="ddinterno !== undefined && opcion === 'disco duro interno' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{ddinterno.id}}</p>
      <p><b>Marca: </b> {{ddinterno.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{ddinterno.folio}}</p>
      <p><b>Estado Inventario:</b> {{ddinterno.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{ddinterno.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{ddinterno.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{ddinterno.observaciones}}</p>
      <p><b>Sede:</b> {{ddinterno.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{ddinterno.origenRecurso}}</p>
    </div>
    <div *ngIf="chromeBit !== undefined && opcion === 'chrome bit' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{chromeBit.id}}</p>
      <p><b>Marca: </b> {{chromeBit.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{chromeBit.folio}}</p>
      <p><b>Estado Inventario:</b> {{chromeBit.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{chromeBit.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{chromeBit.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{chromeBit.observaciones}}</p>
      <p><b>Sede:</b> {{chromeBit.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{chromeBit.origenRecurso}}</p>
    </div>
    <div *ngIf="aps !== undefined && opcion === 'aps' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{aps.id}}</p>
      <p><b>Marca: </b> {{aps.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{aps.folio}}</p>
      <p><b>Estado Inventario:</b> {{aps.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{aps.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{aps.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{aps.observaciones}}</p>
      <p><b>Sede:</b> {{aps.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{aps.origenRecurso}}</p>
    </div>
    <div *ngIf="biometricos !== undefined && opcion === 'biometricos' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{biometricos.id}}</p>
      <p><b>Marca: </b> {{biometricos.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{biometricos.folio}}</p>
      <p><b>Estado Inventario:</b> {{biometricos.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{biometricos.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{biometricos.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{biometricos.observaciones}}</p>
      <p><b>Sede:</b> {{biometricos.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{biometricos.origenRecurso}}</p>
    </div>
    <div *ngIf="dvr !== undefined && opcion === 'dvr' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{dvr.id}}</p>
      <p><b>Marca: </b> {{dvr.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{dvr.folio}}</p>
      <p><b>Estado Inventario:</b> {{dvr.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{dvr.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{dvr.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{dvr.observaciones}}</p>
      <p><b>Sede:</b> {{dvr.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{dvr.origenRecurso}}</p>
    </div>
    <div *ngIf="camara !== undefined && opcion === 'camara' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{camara.id}}</p>
      <p><b>Marca: </b> {{camara.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{camara.folio}}</p>
      <p><b>Estado Inventario:</b> {{camara.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{camara.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{camara.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{camara.observaciones}}</p>
      <p><b>Sede:</b> {{camara.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{camara.origenRecurso}}</p>
    </div>
    <div *ngIf="barraMulti !== undefined && opcion === 'barra-multicontacto' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{barraMulti.id}}</p>
      <p><b>Marca: </b> {{barraMulti.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{barraMulti.folio}}</p>
      <p><b>Estado Inventario:</b> {{barraMulti.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{barraMulti.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{barraMulti.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{barraMulti.observaciones}}</p>
      <p><b>Sede:</b> {{barraMulti.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{barraMulti.origenRecurso}}</p>
    </div>
    <div *ngIf="corrienteCam !== undefined && opcion === 'corriente-camara' " >
      <mat-card-subtitle>{{opcion}}</mat-card-subtitle>
      <p  ><b>Id:</b> {{corrienteCam.id}}</p>
      <p><b>Marca: </b> {{corrienteCam.nombreMarca}}</p>
      <p><b>Numero de Folio: </b> {{corrienteCam.folio}}</p>
      <p><b>Estado Inventario:</b> {{corrienteCam.estadoInventario}}</p>
      <p><b>Fecha de Recepcion: </b> {{corrienteCam.fechaRecepcion | date}}</p>
      <p><b>Fecha de Salida: </b> {{corrienteCam.fechaSalida | date}}</p>
      <p><b>Observaciones:</b> {{corrienteCam.observaciones}}</p>
      <p><b>Sede:</b> {{corrienteCam.sedeNombre}}</p>
      <p><b>Origen Recurso:</b> {{corrienteCam.origenRecurso}}</p>
    </div>
  </mat-card-content>

  <mat-card-actions class="justify-content-end">
      <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>
</mat-card>
