<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/images/reload.png" pTooltip="RECARGAR PÁGINA" (click)="getSolicitudVN(1)">
    </div>
  </div>

  <div class="button-input">
    <div class="button">
      <button mat-raised-button (click)="crearSolicitudVN()" >CREAR SOLICITUD</button>
    </div>

    <mat-card-title style="text-align: center;">
      SOLICITUDES
    </mat-card-title>
    <div class="input">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        kl
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon (click)="verDatos(element.idProspecto, element.idProducto)" id="verDetalles"
                      pTooltip="Ver detalles" mat-raised-button>
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="empleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLEADO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre + ' ' + element.apellidoPaterno + ' ' + element.apellidoMaterno}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fechaSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA SOLICITUD</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaSolicitud | date: 'dd-MMM-yyyy'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="prima">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIMA</th>
          <td mat-cell *matCellDef="let element"> {{element.prima}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="estadoSolicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO SOLICITUD</th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES</th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <!--              <mat-icon (click)="updateVacante(element.id)" pTooltip="Modificar Prospecto" mat-raised-button-->
              <!--              >edit-->
              <!--              </mat-icon>-->
              <mat-icon (click)="programarLlamada(element.id)" pTooltip="Programar Llamada" mat-raised-button
              >phone
              </mat-icon>
              <mat-icon pTooltip="Historial de Llamadas" mat-raised-button [routerLink]="['/modulos/venta-nueva/historial-llamadas/', element.id]"
              >phone_forwarded
              </mat-icon>
              <mat-icon pTooltip="Generar Emision" (click)="generarEmision(element.respuesta, element.idProducto, element.id, element.idSubRamo)" mat-raised-button>insert_drive_file</mat-icon>

              <mat-icon id="estadoSolicitud" (click)="estadoSolicitud(element.id, element.idCotizacionAli, element.idEmpleado)" pTooltip="Estado de solicitud" mat-raised-button
              >settings_phone
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
