<nb-card>
<nb-card-header>
</nb-card-header>
  <nb-card-body>


      <p> AGREGAR ADMINISTRATIVO</p>
      <HR>
      <form [formGroup]="adminForm">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <div class="form-group">
              <!-- <label >{{empleado.nombre + ' ' + empleado.apellidoPaterno + ' ' + empleado.apellidoMaterno}}</label>-->
            </div>


            <div class="form-group" *ngIf="bandera === true ">
              <label for="correosdisponible">Correos disponibles</label>
              <p-dropdown [options]="correosdisponibles" formControlName="correosdisponible" placeholder="Seleccione los correos disponibles"

                          id="correosdisponible" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getcorreoprincial($event.value)"></p-dropdown>
            </div>
            <div class="form-group" *ngIf="bandera === false && banderatodosusuarios === false " >
              <label for="correoSubareas">Correos disponibles de todas las subareas</label>
              <p-dropdown [options]="correosdisponibles" formControlName="correosdisponibleSubareas" placeholder="Seleccione los correos disponibles de todas las subareas"

                          id="correoSubareas" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getcorreoprincialSubareas($event.value)"></p-dropdown>
            </div>

            <div class="form-group" >
              <label for="tiposdominios">Tipos disponibles</label>
              <p-dropdown [options]="domainss" formControlName="tiposdominio" placeholder="Seleccione los dominios disponibles"

                          id="tiposdominios" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getadmin($event.value)"></p-dropdown>
            </div>


            <div class="form-group">

            </div>
            <div class="form-group" *ngIf="estadoCorreo == false">
            <label>{{email}}</label>
            </div>
            <div class="form-group" *ngIf="estadoCorreo == false">

            </div>
            <div class="form-group" *ngIf="estadoCorreo == true">

              <label> Correo ya esta registrado se agrego otro alias -&nbsp;</label>
              <label>{{email}}</label>

            </div>

            <div class="form-group" *ngIf="estadoCorreo2 == true">

              <div class="form-group" *ngIf="estadoCorreo3 != false">
              <label for="correomodificar"> Correo ya se encuentra en uso modifica el nombre </label>
              </div>
              <input pInputText type="text" formControlName="emailmodificado" class="form-control"
                     id="correomodificar" (keyup)="getcorreofinal($event.target.value)"/>

            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == true">
              <label > {{estadofinal}} </label>

            </div>
            <div class="form-group" *ngIf="estadoCorreo3 == false">
              <label > {{estadofinal}} </label>
              <label > {{email3}} </label>

            </div>


            <div class="form-group" >
              <label for="extensioncontrol">Extension disponible  </label>
              <p-dropdown [options]="extensiones" formControlName="extensioncontrol" placeholder="Seleccione la extension disponible"
                          id="extensioncontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}" (onChange)="getextension($event.value)"></p-dropdown>
            </div>
            <div class="form-group" >
              <label for="privilegios">Permisos  </label>
              <p-dropdown [options]="grupUsuario" formControlName="privilegiocontrol" placeholder="Seleccione el permiso de grupo de usuario "
                          id="privilegios" [style]="{'width':'100%','border': '2px solid #dadfe6'}" ></p-dropdown>
            </div>

          </div>

       </div>
      </form>
    </nb-card-body>


  <nb-card-footer>

    <button nbButton hero status="primary" *ngIf="estadoCorreo3 == false" (click) ="guardar()" [disabled]="!adminForm.valid">Guardar</button>
    <button nbButton hero status="primary" (click)="dismiss()">Cerrar</button>

  </nb-card-footer>
      </nb-card>


