<mat-card class="example-form">
  <mat-card-title>PRODUCTO CLIENTE</mat-card-title>
  <!--<mat-card-title *ngIf="mostrar === true">ACTUALIZAR PROSPECTO</mat-card-title>-->

  <mat-card-content>
    <!--    <div class="title">-->
    <!--      <span>DETALLE DE SOLICITUD</span>-->
    <!--    </div>-->
    <div class="col-md-12">

      <div class="detalles col-md-12 row mb-4" *ngIf="this.productoSolicitud && this.datos !== null">

        <div class="col-4">
          <div>
            <p><span>NOMBRE: </span> {{productoSolicitud.nombre}} </p>
            <p><span>CORREO: </span> {{productoSolicitud.correo}} </p>
            <p><span>NUMERO: </span> {{productoSolicitud.numero}} </p>
            <p><span>GENERO: </span> {{datos.genero}} </p>
            <p><span>EDAD: </span> {{datos.edad}} </p>
            <p><span>FECHA DE NACIEMIENTO: </span> {{datos.fechaNacimiento}} </p>
          </div>

        </div>
        <div class="col-4">
          <div>
            <p><span>TIPO: </span> {{productoSolicitud.tipo}} </p>
            <p><span>CP: </span> {{datos.cp}} </p>
            <p><span>CLAVE: </span> {{datos.clave}} </p>
            <p><span>MARCA: </span> {{datos.marca}} </p>
            <p><span>MODELO: </span> {{datos.modelo}} </p>
            <p><span>PAQUETE: </span> {{datos.paquete}} </p>
          </div>

        </div>
        <div class="col-4">
          <div>
            <p><span>SERVICIO: </span> {{datos.servicio}} </p>
            <p><span>DESCUENTO: </span> {{datos.descuento}} </p>
            <p><span>MOVIMIENTO: </span> {{datos.movimiento}} </p>
            <p><span>ASEGURADORA: </span> {{datos.aseguradora}} </p>
            <p><span>DSCRIPCION: </span> {{datos.descripcion}} </p>
          </div>

        </div>
      </div>

      <span id="header-title mb-4">
        INTRODUCE LOS SIGUIENTES DATOS CORRECTAMENTE:
      </span>
      <form [formGroup]="datosProductoSolicitudForm">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" formControlName="numeroPlacas" id="numeroPlacas"
                       oninput="this.value = this.value.toUpperCase()" maxlength="7"
                       placeholder="NÚMERO DE PLACAS" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint *ngIf="!datosProductoSolicitudForm.controls['numeroPlacas'].valid&&
                datosProductoSolicitudForm.controls['numeroPlacas'].dirty">
                  Se requiere llenar el campo
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" formControlName="numeroMotor" id="numeroMotor" maxlength="10"
                       placeholder="NÚMERO DE MOTOR" onDrop="return false" onPaste="return false" autocomplete="off"/>
                <mat-hint
                  *ngIf="!datosProductoSolicitudForm.controls['numeroMotor'].valid&&datosProductoSolicitudForm.controls['numeroMotor'].dirty">
                  Se requiere llenar el campo
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <!--<div *ngIf="mostrar === true">-->
          <!--<mat-hint *ngIf="productoExist === false"> No hay productos existentes. Por favor cree un Nuevo Producto</mat-hint>-->
          <!--</div>-->
        </div>
      </form>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button matStepperNext (click)="crearProducto(datos.aseguradora)"
            [disabled]="!datosProductoSolicitudForm.valid ">Crear Producto
    </button>
    <!--<button mat-button  (click)="guardarProspecto()"-->
    <!--[disabled]="!prospectoCreateForm.valid || this.submitted === true" *ngIf="mostrar === false">Guardar-->
    <!--</button>-->
    <!--<button mat-button  (click)="updateProspecto()"-->
    <!--[disabled]="!prospectoCreateForm.valid " *ngIf="mostrar === true">Actualizar-->
    <!--</button>-->
    <!--<button mat-button  (click)="dismiss()">Cerrar</button>-->
  </mat-card-actions>
</mat-card>
