p span {
  color: #354089;
  font-weight: 500;
}

mat-card-title {
  margin-bottom: 4%;
}

#header-title {
  margin: 3% 0;
}

button {
  color: #fff;
}

mat-card {
  border: none !important;
  box-shadow: none !important;
}

mat-hint {
  color: tomato !important;
}

.col-4 {
  padding: 0!important;
}
