<mat-card>
  <mat-card-header>
    <mat-card-title>CLIENTE</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="valueTab($event.tab.textLabel)">
      <mat-tab label="FISICO">
        <form [formGroup]="emisionFisicaForm">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" formControlName="curp" class="form-control" placeholder="CURP"
                         oninput="this.value = this.value.toUpperCase()" maxlength="18"
                         minlength="18" id="curpf" (keyup)="validarCurp($event.target.value)"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="emisionFisicaForm.controls['curp'].invalid && emisionFisicaForm.controls['curp'].dirty">
                    ¡El CURP es requerido!
                  </mat-hint>
                </mat-form-field>
                <!--                <mat-form-field>-->
                <!--                  <input matInput type="text" formControlName="rfc" class="form-control" placeholder="RFC"-->
                <!--                         oninput="this.value = this.value.toUpperCase()" minlength="13" maxlength="13" id="rfcf"-->
                <!--                         onDrop="return false" onPaste="return false" autocomplete="off"/>-->
                <!--                  <mat-hint *ngIf="!emisionFisicaForm.controls['rfc'].valid&&emisionFisicaForm.controls['rfc'].dirty">-->
                <!--                    ¡El RFC es requerido!-->
                <!--                  </mat-hint>-->
                <!--                </mat-form-field>-->
                <mat-form-field>
                  <input matInput type="text" formControlName="paterno" class="form-control"
                         placeholder="APELLIDO PATERNO"
                         oninput="this.value = this.value.toUpperCase()" id="paterno"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint
                    *ngIf="!emisionFisicaForm.controls['paterno'].valid&&emisionFisicaForm.controls['paterno'].dirty">
                    ¡El apellido paterno es requerido!
                  </mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="materno" class="form-control"
                         placeholder="APELLIDO MATERNO"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="materno"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint
                    *ngIf="!emisionFisicaForm.controls['materno'].valid&&emisionFisicaForm.controls['materno'].dirty">
                    ¡El apellido materno es requerido!
                  </mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="nombre" class="form-control" placeholder="NOMBRE"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="numExt"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint
                    *ngIf="!emisionFisicaForm.controls['nombre'].valid&&emisionFisicaForm.controls['nombre'].dirty">
                    ¡El Nombre es requerido!
                  </mat-hint>
                </mat-form-field>

              </div>
            </div>
            <!--*************************************************COLUMNA DOS****************************************************************************-->
            <div class="col-sm-4">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" formControlName="cp" class="form-control" placeholder="CP"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="cp"
                         (keyup)="getColonias($event.target.value)"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                  <!--¡El Nombre es requerido!</mat-hint>-->
                </mat-form-field>
                <mat-form-field>
                  <mat-label>COLONIA *</mat-label>
                  <mat-select formControlName="idColonia">
                    <mat-option *ngFor="let colonia of colonias" [value]="colonia.value" id="idColoniaF">
                      {{colonia.label}}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    *ngIf="!emisionFisicaForm.controls['idColonia'].valid&&emisionFisicaForm.controls['idColonia'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="calle" class="form-control" placeholder="CALLE"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="calle"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                  <!--¡El Nombre es requerido!</mat-hint>-->
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="numInt" class="form-control"
                         placeholder="NUMERO INTERIOR"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="numInt"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                  <!--¡El Nombre es requerido!</mat-hint>-->
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="numExt" class="form-control"
                         placeholder="NUMERO EXTERIOR"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="numExtf"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                  <!--¡El Nombre es requerido!</mat-hint>-->
                </mat-form-field>
              </div>
            </div>
            <!--*************************************************COLUMNA TRES****************************************************************************-->
            <div class="col-sm-4">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>SELECCIONE EL GÉNERO *</mat-label>
                  <mat-select formControlName="genero">
                    <mat-option *ngFor="let genero of genders" [value]="genero.value" id="genero">
                      {{genero.label}}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    *ngIf="!emisionFisicaForm.controls['genero'].valid&&emisionFisicaForm.controls['genero'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="telefonoFijo" class="form-control"
                         placeholder="TELEFONO FIJO"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="telefonoFijo"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                  <!--¡El Nombre es requerido!</mat-hint>-->
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="telefonoMovil" class="form-control"
                         placeholder="TELEFONO MOVIL"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="telefonoMovil"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                  <!--¡El Nombre es requerido!</mat-hint>-->
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="FECHA DE NACIMIENTO *" class="form-control"
                         max="2002-01-01" formControlName="fechaNacimiento" id="fechaNacimiento"/>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <!--<mat-hint *ngIf="!emisionFisicaForm.controls['fechaNacimiento'].valid&&emisionFisicaForm.controls['fechaNacimiento'].dirty">-->
                  <!--Se requiere llenar el campo-->
                  <!--</mat-hint>-->
                </mat-form-field>
                <mat-form-field>
                  <mat-label>PAÍS DE ORIGEN *</mat-label>
                  <mat-select formControlName="idPais">
                    <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id" id="paisOrigenF">
                      {{pais.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    *ngIf="!emisionFisicaForm.controls['idPais'].valid&&emisionFisicaForm.controls['idPais'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="correo" class="form-control" placeholder="CORREO"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="correo"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                  <!--¡El Nombre es requerido!</mat-hint>-->
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>

      <!--------------- MORAL ---------------->
      <mat-tab label="MORAL">
        <form [formGroup]="emisionMoralForm">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" formControlName="rfc" class="form-control" placeholder="RFC"
                         minlength="13" maxlength="13" oninput="this.value = this.value.toUpperCase()" id="rfc"
                         (keyup)="validarRFC($event.target.value)"/>
                  <mat-hint *ngIf="!emisionMoralForm.controls['rfc'].valid&&emisionMoralForm.controls['rfc'].dirty">
                  ¡El RFC es requerido!</mat-hint>
                </mat-form-field>
                <!--<mat-form-field>-->
                <!--<input matInput type="text" formControlName="curp" class="form-control" placeholder="CURP"-->
                <!--oninput="this.value = this.value.toUpperCase()" maxlength="40" id="curp"-->
                <!--onDrop="return false" onPaste="return false" autocomplete="off"/>-->
                <!--&lt;!&ndash;<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">&ndash;&gt;-->
                <!--&lt;!&ndash;¡El Nombre es requerido!</mat-hint>&ndash;&gt;-->
                <!--</mat-form-field>-->
                <mat-form-field>
                  <input matInput type="email" formControlName="correo" class="form-control" placeholder="CORREO"
                         oninput="this.value = this.value.toUpperCase()" id="correoM"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="!emisionMoralForm.controls['correo'].valid&&emisionMoralForm.controls['correo'].dirty">
                  ¡El correo es requerido!</mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="cp" class="form-control" placeholder="CP"
                         oninput="this.value = this.value.toUpperCase()" maxlength="5" id="cpM"
                         (keyup)="getColonias($event.target.value)"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="emisionMoralForm.controls['cp'].errors&&emisionMoralForm.controls['cp'].dirty">
                  ¡El código postal es requerido!</mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>COLONIA *</mat-label>
                  <mat-select formControlName="idColonia">
                    <mat-option *ngFor="let colonia of colonias" [value]="colonia.value" id="idColonia">
                      {{colonia.label}}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    *ngIf="!emisionMoralForm.controls['idColonia'].valid&&emisionMoralForm.controls['idColonia'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
              </div>

            </div>
            <!--*************************************************COLUMNA DOS****************************************************************************-->
            <div class="col-sm-4">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" formControlName="calle" class="form-control" placeholder="CALLE"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="calleM"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="!emisionMoralForm.controls['calle'].valid&&emisionMoralForm.controls['calle'].dirty">
                  ¡El campo es requerido!</mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="numInt" class="form-control"
                         placeholder="NUMERO INTERIOR"
                         oninput="this.value = this.value.toUpperCase()" maxlength="5" id="numIntM"
                         [pKeyFilter]="numeros"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <!--<mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">-->
                  <!--¡El Nombre es requerido!</mat-hint>-->
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="numExt" class="form-control"
                         placeholder="NUMERO EXTERIOR"
                         oninput="this.value = this.value.toUpperCase()" maxlength="5" id="numExtM"
                         [pKeyFilter]="numeros"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="!emisionMoralForm.controls['numExt'].valid&&emisionMoralForm.controls['numExt'].dirty">
                  ¡El campo es requerido!</mat-hint>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" formControlName="nombre" class="form-control" placeholder="NOMBRE"
                         oninput="this.value = this.value.toUpperCase()" maxlength="40" id="nombreM"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="!emisionMoralForm.controls['nombre'].valid&&emisionMoralForm.controls['nombre'].dirty">
                  ¡El Nombre es requerido!</mat-hint>
                </mat-form-field>
                <!--<mat-form-field>-->
                <!--<mat-label>SELECCIONE EL GÉNERO *</mat-label>-->
                <!--<mat-select formControlName="genero">-->
                <!--<mat-option *ngFor="let genero of genders" [value]="genero.value"  id="generoM">-->
                <!--{{genero.label}}-->
                <!--</mat-option>-->
                <!--</mat-select>-->
                <!--<mat-hint *ngIf="!emisionMoralForm.controls['genero'].valid&&emisionMoralForm.controls['genero'].dirty">-->
                <!--Se requiere llenar el campo-->
                <!--</mat-hint>-->
                <!--</mat-form-field>-->
              </div>
            </div>
            <!--*************************************************COLUMNA TRES****************************************************************************-->
            <div class="col-sm-4">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" formControlName="telefonoFijo" class="form-control"
                         placeholder="TELEFONO FIJO" (keyup)="validarNumero($event)"
                         oninput="this.value = this.value.toUpperCase()" maxlength="10" id="telefonoFijoM"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="!emisionMoralForm.controls['telefonoFijo'].valid && emisionMoralForm.controls['telefonoFijo'].dirty &&
                              emisionMoralForm.controls['telefonoMovil'].value === null">
                    ¡El Teléfono fijo es requerido!
                  </mat-hint>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="text" formControlName="telefonoMovil" class="form-control"
                         placeholder="TELEFONO MOVIL"
                         oninput="this.value = this.value.toUpperCase()" maxlength="10" id="telefonoMovilM"
                         onDrop="return false" onPaste="return false" autocomplete="off"/>
                  <mat-hint *ngIf="!emisionMoralForm.controls['telefonoMovil'].valid&&emisionMoralForm.controls['telefonoMovil'].dirty
                              && emisionMoralForm.controls['telefonoFijo'].value === null">
                    ¡El Teléfono móvil es requerido!
                  </mat-hint>
                </mat-form-field>
                <!--<mat-form-field>-->
                <!--<input matInput [matDatepicker]="picker" placeholder="FECHA DE NACIMIENTO *" class="form-control"-->
                <!--max="2002-01-01" formControlName="fechaNacimiento" id="fechaNacimientoM">-->
                <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
                <!--<mat-datepicker #picker></mat-datepicker>-->
                <!--<mat-hint *ngIf="!emisionMoralForm.controls['fechaNacimiento'].valid&&emisionMoralForm.controls['fechaNacimiento'].dirty">-->
                <!--Se requiere llenar el campo-->
                <!--</mat-hint>-->
                <!--</mat-form-field>-->
                <mat-form-field>
                  <mat-label>PAÍS DE ORIGEN *</mat-label>
                  <mat-select formControlName="idPais">
                    <mat-option *ngFor="let pais of paisOrigen" [value]="pais.id" id="paisOrigen">
                      {{pais.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    *ngIf="!emisionMoralForm.controls['idPais'].valid&&emisionMoralForm.controls['idPais'].dirty">
                    Se requiere llenar el campo
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions class="">
    <button mat-button matStepperNext [disabled]="emisionMoralForm.invalid" (click)="datosProducto()"> Datos de Producto</button>
    <button mat-button *ngIf="idTipo" (click)="guardarEmsion()"> Guardar</button>
    <button mat-button *ngIf="!idTipo" (click)="actualizarEmision()"> Modificar</button>
    <!--    <button mat-button (click)="dismiss()" >  Cerrar</button>-->
  </mat-card-actions>
</mat-card>
