
mat-card {
  width: 100%;
  padding: 4% 6%;
}

mat-label {
  color: #354089!important;
  font-size: 15px!important;
}

.mat-tab-header {
  margin-bottom: 4% !important;
}


input {
  border: none;
  padding: 0!important;
}
.form-control {
  border: none;
  font-size: 1rem;
}
.form-control:focus{
  border: none;
}



//
///* input color class */
//::ng-deep input.mat-input-element {
//  color: #354089;
//}
//
///* Change label color on focused */
//::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//  color: #111218 !important;
//}
//
///* underline border color on focused */
//::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
//  background-color: #111218 !important;
//}
//.mat-form-field-invalid .mat-input-element{
//  caret-color: #111218;
//}

mat-form-field {
  margin-right: 12px;
  width: 100%;
}

.mat-card-header {
  text-align: center;
  display: block;
}


.mat-hint {
  color: tomato;
  transition: all 0.5s;
}

mat-card-actions {
  text-align: right;
}
mat-card-actions button {
  background-color: #111218;
  color: white;
}

mat-card-actions button:disabled {
  background-color: transparent;
}

button:disabled {
  background-color: transparent;
}

