<mat-card class="m-3">
  <mat-card-header >
    <mat-card-title *ngIf="idTipo == 1">ASIGNAR COUCHING A</mat-card-title>
    <mat-card-subtitle *ngIf="idTipo == 1">{{nombreCompleto}}</mat-card-subtitle>

    <mat-card-title *ngIf="idTipo == 2">ACTUALIZAR COUCHING A</mat-card-title>
    <mat-card-subtitle *ngIf="idTipo == 2">{{nombreCompleto}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <h4 *ngIf="teoricoEliminado === true" class="btn-warning text-center">¡Atención este couch ha sido Eliminado!</h4>
    <form [formGroup]="formAsiganrCapacitacion">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">

<!--            <label for="idCapacitador">Asignar Coach</label>-->
<!--            <p-dropdown [options]="reclutador" formControlName="idCapacitador" placeholder="Seleccione Coach"-->
<!--                        id="idCapacitador" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

            <mat-form-field>
              <mat-label>ASIGNAR COACH</mat-label>
              <mat-select formControlName="idCapacitador" id="idCapacitador">
                <mat-option *ngFor="let reclutador of reclutadores" [value]="reclutador.id">
                  {{reclutador.nombre + ' '+  reclutador.apellidoPaterno + ' '+  reclutador.apellidoMaterno + ' - '+ reclutador.id }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="calificacion">Calificacion de Examen Teorico</label>-->
<!--            <input pInputText type="text"  class="form-control"-->
<!--                   formControlName="calificacion" idmaxlength="50" [pKeyFilter]="numeroPunto"-->
<!--                   placeholder="Campo Obligatorio" id="calificacion" maxlength="4" onDrop="return false" onPaste="return false" autocomplete="off"/>-->
<!--            <nb-alert status="danger" *ngIf="!formAsiganrCapacitacion.controls['calificacion'].valid&&formAsiganrCapacitacion.controls['calificacion'].dirty">-->
<!--              Se requiere un numero menor a 10</nb-alert>-->

            <mat-form-field>
              <input matInput formControlName="calificacion" idmaxlength="50" [pKeyFilter]="numeroPunto"
                     placeholder="CALIFICACIÓN DE EXAMEN TEÓRICO" id="calificacion" maxlength="4" onDrop="return false"
                     onPaste="return false" autocomplete="off">
              <mat-hint *ngIf="!formAsiganrCapacitacion.controls['calificacion'].valid&&formAsiganrCapacitacion.controls['calificacion'].dirty">
                Se requiere un numero menor a 10
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
<!--            <label for="idCompetenciaCandidato">Candidato</label>-->
<!--            <p-dropdown [options]="candidatos" formControlName="idCompetenciaCandidato" placeholder="Competencias del Candidato"-->
<!--                        id="idCompetenciaCandidato" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->
            <mat-form-field>
              <mat-label>CANDIDATO</mat-label>
              <mat-select formControlName="idCompetenciaCandidato" id="idCompetenciaCandidato">
                <mat-option *ngFor="let cand of candidato" [value]="cand.id">
                  {{cand.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="form-group">
<!--            <label for="idCalificacionCompetencia">Calificacion de Competencia</label>-->
<!--            <p-dropdown [options]="competenciass" formControlName="idCalificacionCompetencia" placeholder="Calificación del Candidato"-->
<!--                        id="idCalificacionCompetencia" [style]="{'width':'100%','border': '2px solid #dadfe6'}"></p-dropdown>-->

            <mat-form-field>
              <mat-label>CALIFICACIÓN DE COMPETENCIA</mat-label>
              <mat-select formControlName="idCalificacionCompetencia" id="idCalificacionCompetencia">
                <mat-option *ngFor="let comp of competencia" [value]="comp.id">
                  {{comp.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-group">
<!--            <label for="comentarios">COMENTARIOS</label>-->
<!--            <textarea pInputTextarea formControlName="comentarios" type="text" class="form-control" id="comentarios"-->
<!--                      oninput="this.value=this.value.toUpperCase()" maxlength="30" [pKeyFilter]="letrasNumeros"-->
<!--                      onDrop="return false" onPaste="return false" autocomplete="off"></textarea>-->
<!--            <nb-alert status="danger" *ngIf="!formAsiganrCapacitacion.controls['comentarios'].valid&&formAsiganrCapacitacion.controls['comentarios'].dirty">-->
<!--              Se requiere el campo lleno</nb-alert>-->
            <mat-form-field>
              <textarea matInput formControlName="comentarios" type="text" class="form-control" id="comentarios" rows="1"
                        oninput="this.value=this.value.toUpperCase()" maxlength="100" [pKeyFilter]="letrasNumeros" style="padding: 0px;"
                        onDrop="return false" onPaste="return false" autocomplete="off" placeholder="COMENTARIOS"></textarea>
              <mat-hint *ngIf="!formAsiganrCapacitacion.controls['comentarios'].valid&&formAsiganrCapacitacion.controls['comentarios'].dirty">
                Se requiere el campo lleno</mat-hint>
            </mat-form-field>


          </div>
          <div class="form-group">
<!--            <label for="fechaIngreso">Fecha de Ingreso</label>-->
<!--            <input nbInput type="date" formControlName="fechaIngreso" shape="semi-round" placeholder="Fecha de cita" (keyup)="validarFechaEscritaManualmente($event.target.value)"-->
<!--                   id="fechaIngreso" fullWidth name="somedate" />-->
<!--            <nb-alert status="danger" *ngIf="!formAsiganrCapacitacion.controls['fechaIngreso'].valid&&formAsiganrCapacitacion.controls['fechaIngreso'].dirty">-->
<!--              Se requiere llenar el campo</nb-alert>-->

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="FECHA DE INGRESO" formControlName="fechaIngreso"
                     id="fechaIngreso" fullWidth name="somedate" shape="semi-round" (keyup)="validarFechaEscritaManualmente($event.target.value)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint *ngIf="!formAsiganrCapacitacion.controls['fechaIngreso'].valid&&formAsiganrCapacitacion.controls['fechaIngreso'].dirty">
                  Se requiere llenar el campo
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button (click)="asignarCapacitacion()" [disabled]="!formAsiganrCapacitacion.valid || inactivo === true"
            *ngIf="idTipo !== 2" [routerLink]="['/modulos/rrhh/capacitacion']">Guardar</button>
    <button mat-button (click)="updateCapacitacion()" [disabled]="!formAsiganrCapacitacion.valid || inactivo === true" *ngIf="idTipo === 2">Actualizar</button>
    <button mat-button (click)="ocultar()">Cerrar</button>
  </mat-card-actions>
</mat-card>
