<!--<nb-card>-->
  <!--<nb-card-header>-->
    <!--Supervisor-->
  <!--</nb-card-header>-->

  <!--<nb-card-body>-->

    <!--<form [formGroup]="UserForm">-->
      <!--<div class="row justify-content-center">-->
        <!--<div class="col-md-12">-->
          <!--<div class="form-group">-->
            <!--<label for="subareacontrol">Area </label>-->
            <!--<p-dropdown [options]="areas" formControlName="areacontrol" placeholder="Seleccione el area"-->

                        <!--id="areacontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
                        <!--(onChange)="getSubarea($event.value)"></p-dropdown>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="subareacontrol">Subarea </label>-->
            <!--<p-dropdown [options]="area" formControlName="subareacontrol" placeholder="Seleccione la campaña"-->

                        <!--id="subareacontrol" [style]="{'width':'100%','border': '2px solid #dadfe6'}"-->
                        <!--(onChange)="getEmpleados($event.value)"></p-dropdown>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</form>-->


    <!--<p-table #dt [columns]="cols" [value]="empleado" [scrollable]="true"  [paginator]="true"-->
             <!--[rows]="15">-->
      <!--<ng-template pTemplate="caption">-->
        <!--<div class="d-flex justify-content-between align-items-center">-->


        <!--</div>-->
        <!--<br>-->
        <!--<div class="ui-helper-clearfix mb-3">-->
          <!--<button size="xsmall" nbButton (click)="dt.exportCSV()" style="float:left">Descargar todo</button>-->
        <!--</div>-->
        <!--<div style="text-align: right">-->
          <!--<i class="fa fa-search" style="margin:4px 4px 0 0"></i>-->
          <!--<input type="text" pInputText size="50" placeholder="Busqueda Global"-->
                 <!--(input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">-->
        <!--</div>-->
      <!--</ng-template>-->
      <!--<ng-template pTemplate="colgroup" let-columns>-->
        <!--<colgroup>-->
          <!--<col *ngFor="let col of columns" class="ajuste">-->
        <!--</colgroup>-->
      <!--</ng-template>-->
      <!--<ng-template pTemplate="header" let-columns>-->
        <!--<tr>-->
          <!--<th *ngFor="let col of columns">-->
            <!--{{col.header}}-->
          <!--</th>-->
        <!--</tr>-->
      <!--</ng-template>-->

      <!--<ng-template pTemplate="body" let-empleado>-->
        <!--<tr [pSelectableRow]="empleado">-->
          <!--<td class="ui-resizable-column"> {{empleado.nombre + " " + empleado.apellidoPaterno + " " + empleado.apellidoMaterno}}</td>-->
          <!--<td class="ui-resizable-column">{{empleado.telefonoMovil}}</td>-->
          <!--<td class="ui-resizable-column">-->
            <!--<nb-action class="eva eva-email custom-icon" nbTooltip="Crear Supervisor" (click)="asignarsupervisor(empleado.idUsuario, idSubarea, empleado.id, areaprincipal)"></nb-action>-->
          <!--</td>-->


        <!--</tr>-->
      <!--</ng-template>-->
    <!--</p-table>-->
  <!--</nb-card-body>-->

<!--</nb-card>-->
<mat-card>

  <div class="button-input">
    <div  [hidden]="!permisoejecutivo" class="button">
      <button mat-button  routerLink="../ejecutivo" routerLinkActive="active" >CREAR USUARIO</button>
    </div>
    <mat-card-title>
      SUPERVISOR
    </mat-card-title>
    <div class="input">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>

  <mat-card-content>
    <div>

      <table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre + " " + element.apellidoPaterno + " " + element.apellidoMaterno}} </td>
      </ng-container>
      <ng-container matColumnDef="Telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TELÉFONO </th>
        <td mat-cell *matCellDef="let element"> {{element.telefonoMovil}} </td>
      </ng-container>
      <ng-container matColumnDef="Area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ÁREA </th>
        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
      </ng-container>
      <ng-container matColumnDef="Subarea">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SUBÁREA </th>
        <td mat-cell *matCellDef="let element"> {{element.subarea}} </td>
      </ng-container>
      <ng-container matColumnDef="Asignar Correo">
        <th [hidden]="!escritura" mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> ASIGNAR CORREO </th>
        <td [hidden]="!escritura" mat-cell *matCellDef="let element" style="text-align:center ;">
          <mat-icon pTooltip="Crear Supervisor" (click)="asignarsupervisor(element.idUsuario, element.idSubarea, element.id, element.idArea )">
            mail
          </mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
