.custom-icon {
  color: #0bbb79;
  font-size: 20px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}



td.mat-cell {
  font-size: 12px;
}

mat-card .mat-header-cell {
  color: #fff!important;
}
