<mat-card>
  <mat-card-title>
    CAMPAÑA CATEGORIA
  </mat-card-title>
  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CAMPAÑA</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="comentarios">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> COMENTARIOS</th>
          <td mat-cell *matCellDef="let element"> {{element.comentarios}} </td>
        </ng-container>
        <ng-container matColumnDef="prioridad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIORIDAD</th>
          <td mat-cell *matCellDef="let element"> {{element.prioridad}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION</th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef > ACCIONES </th>
          <td mat-cell *matCellDef="let element">
            <mat-card-actions>
              <mat-icon (click)= "actualizarCampanaCategoria(element.id)" pTooltip="Actualizar Categoria Campaña">edit</mat-icon>
            </mat-card-actions>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
